Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": ["prettier --write"],
  "src/**/*.{less,css}": ["stylelint --fix"]
}

refactor: stepper value logic
  docs/index.md
  src/components/stepper/index.md
  src/components/stepper/stepper.tsx
  src/utils/rubberband.ts
Due: prettier --write

refactor: Stepper add digits prop
  src/components/stepper/demos/index.tsx
  src/components/stepper/index.md
  src/components/stepper/stepper.tsx
  src/utils/rubberband.ts
Due: prettier --write

refactor: change the defaultValue of Stepper to 0
  src/components/stepper/stepper.tsx
Due: prettier --write

fix: Stepper digits 为0时失效
  src/components/stepper/stepper.tsx
Due: prettier --write

feat: Checkbox custom icon
  src/components/checkbox/checkbox.less
  src/components/checkbox/checkbox.tsx
  src/components/checkbox/demos/index.tsx
  src/components/checkbox/index.md
Due: prettier --write, stylelint --fix

refactor: rename Switch props
  src/components/switch/demos/index.tsx
  src/components/switch/index.md
  src/components/switch/switch.tsx
Due: prettier --write

enhance: ajust the implementation of Empty
  src/components/empty/demos/index.tsx
  src/components/empty/empty.less
  src/components/empty/empty.tsx
  src/components/empty/index.md
Due: prettier --write, stylelint --fix

chore: adjust demo import syntax in md files
  src/components/cascader/index.md
  src/components/desense-text/index.md
  src/components/divider/index.md
  src/components/dropdown/index.md
  src/components/ellipsis/index.md
  src/components/grid/index.md
  src/components/image-viewer/index.md
  src/components/image/index.md
  src/components/index-bar/index.md
  src/components/infinite-scroll/index.md
  src/components/loading/index.md
  src/components/mask/index.md
  src/components/progress-bar/index.md
  src/components/progress-circle/index.md
  src/components/rate/index.md
  src/components/result/index.md
  src/components/slider/index.md
  src/components/water-mark/index.md
Due: none

enhance: add indeterminate to Checkbox icon render prop
  src/components/checkbox/checkbox.tsx
  src/components/checkbox/demos/index.tsx
Due: prettier --write

doc: ImageUploader
  src/components/image-uploader/demos/demo1.tsx
Due: prettier --write

feat: Radio custom icon
  src/components/radio/demos/index.tsx
  src/components/radio/index.md
  src/components/radio/radio.less
  src/components/radio/radio.tsx
Due: prettier --write, stylelint --fix

enhance: format Radio demo code
  src/components/radio/demos/index.tsx
Due: prettier --write

enhance: Collapse type exporting and Panel supports native props
  src/components/collapse/collapse.tsx
  src/components/collapse/index.ts
Due: prettier --write

doc: Checkbox
  src/components/checkbox/index.md
Due: none

feat: Input add `autoCapitalize` and `autoCorrect` props
  src/components/input/index.md
  src/components/input/input.tsx
Due: prettier --write

chore: update version
  package.json
Due: none

feat: Tag 标签增加通用类型并支持 css 变量
  src/components/tag/demos/index.tsx
  src/components/tag/tag.tsx
Due: prettier --write

feat: Result icon
  src/components/result/demos/index.tsx
  src/components/result/index.md
  src/components/result/result.tsx
Due: prettier --write

fix: IndexBar children type
  src/components/index-bar/index-bar.tsx
Due: prettier --write

docs: 更新 Tag 标签文档
  src/components/tag/index.md
Due: none

refactor: extract `bound` to a standalone file
  src/components/image-viewer/slides.tsx
  src/components/picker/column.tsx
  src/components/stepper/stepper.tsx
  src/components/swiper/swiper.tsx
  src/utils/bound.ts
  src/utils/rubberband.ts
Due: prettier --write

doc: add CONTRIBUTING.md
  .github/CONTRIBUTING.md
  README.md
  docs/index.md
Due: none

doc: add SECURITY.md
  .github/SECURITY.md
Due: none

doc: add CODE_OF_CONDUCT.md
  .github/CODE_OF_CONDUCT.md
Due: none

doc: update menu links
  config/config.ts
Due: none

fix: Slider & Switch use CSS variables
  src/components/slider/demos/index.less
  src/components/slider/demos/index.tsx
  src/components/slider/index.md
  src/components/slider/slider.less
  src/components/slider/slider.tsx
  src/components/switch/demos/index.less
  src/components/switch/demos/index.tsx
  src/components/switch/index.md
  src/components/switch/switch.less
  src/components/switch/switch.tsx
Due: prettier --write, stylelint --fix

fix: (ImageUploader) image cannot be uploaded when maxCount is 0
  src/components/image-uploader/image-uploader.tsx
Due: prettier --write

enhance: (ImageUploader) preview image fit mode change to cover
  src/components/image-uploader/preview-item.tsx
Due: prettier --write

feat: add basic support for ssr
  src/global/index.ts
  src/utils/can-use-dom.ts
  src/utils/convert-px.ts
Due: prettier --write

doc: update nav config
  config/config.ts
  docs/index.md
Due: none

doc: add ssr guide
  config/config.ts
  docs/guide/ssr.md
Due: none

fix: (Input) enterKeyHint typing in React 16
  src/components/input/input.tsx
  yarn.lock
Due: prettier --write

chore: update lint rules
  .eslintrc.js
Due: none

doc: update ssr guide
  docs/guide/ssr.md
Due: none

fix: (Input) enterKeyHint prop type
  src/components/input/input.tsx
Due: prettier --write

doc: Rearrange component menu items
  config/config.ts
Due: none

feat(Space): add justify prop
  src/components/space/demos/index.tsx
  src/components/space/index.md
  src/components/space/space.less
  src/components/space/space.tsx
Due: prettier --write, stylelint --fix

doc: InfiniteScroll
  src/components/infinite-scroll/index.md
Due: none

feat: selector add css variable
  src/components/selector/demos/demo1.tsx
  src/components/selector/demos/index.less
  src/components/selector/index.md
  src/components/selector/selector.less
  src/components/selector/selector.tsx
Due: prettier --write, stylelint --fix
