Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

doc: added language list
  docs/guide/i18n.en.md
  docs/guide/i18n.zh.md
Due: none

feat(Popup & CenterPopup): add `closeOnMaskClick` `onClose` `showCloseButton` props
  src/components/center-popup/center-popup.less
  src/components/center-popup/center-popup.tsx
  src/components/modal/modal.less
  src/components/modal/modal.tsx
  src/components/popup/demos/demo1.tsx
  src/components/popup/popup-base-props.ts
  src/components/popup/popup.less
  src/components/popup/popup.tsx
Due: prettier --write, stylelint --fix

feat(Popup): add `disableBodyScroll` prop
  src/components/center-popup/center-popup.tsx
  src/components/popup/popup-base-props.ts
  src/components/popup/popup.tsx
Due: prettier --write

doc(Popup & CenterPopup): update props table
  src/components/popup/index.en.md
  src/components/popup/index.zh.md
Due: none

feat: add id-ID locale
  src/locales/id-ID.ts
Due: prettier --write

fix(Popup): fix the lost of first animation of mask due to the refactor of `ShouldRender`
  src/components/center-popup/center-popup.tsx
  src/components/popup/popup.tsx
Due: prettier --write

test: fix some failed tests and update snapshots
  src/components/action-sheet/tests/__snapshots__/action-sheet.test.tsx.snap
  src/components/config-provider/tests/__snapshots__/config-provider.test.tsx.snap
  src/components/modal/tests/modal.test.tsx
  src/components/number-keyboard/number-keyboard.tsx
  src/components/number-keyboard/tests/numberic-keyboard.test.tsx
Due: prettier --write

test: update snapshots
  src/components/config-provider/tests/__snapshots__/config-provider.test.tsx.snap
Due: none

enhance(Slider): use aria propss to improve a11y
  src/components/slider/slider.tsx
  src/components/slider/tests/__snapshots__/slider.test.tsx.snap
  src/components/slider/tests/slider.test.tsx
  src/components/slider/thumb.tsx
  src/locales/base.ts
  src/locales/zh-CN.ts
Due: prettier --write

doc(Input): add input password visible demo
  src/components/input/demos/demo1.less
  src/components/input/demos/demo1.tsx
  src/components/input/input.less
Due: prettier --write, stylelint --fix

feat: add id-ID locale (#5357)
  docs/guide/i18n.en.md
  docs/guide/i18n.zh.md
  src/components/config-provider/tests/__snapshots__/config-provider.test.tsx.snap
  src/components/config-provider/tests/config-provider.test.tsx
  src/locales/id-ID.ts
Due: prettier --write

chore: update README
  README.md
Due: none

chore: update CONTRIBUTING.md
  .github/CONTRIBUTING.md
Due: none

doc(Input): add input password visible demo (#5362)
  src/components/input/demos/demo1.less
  src/components/input/demos/demo1.tsx
  src/components/input/input.less
Due: prettier --write, stylelint --fix

enhance(Slider): use aria props to improve a11y (#5359)
  src/components/slider/slider.tsx
  src/components/slider/tests/__snapshots__/slider.test.tsx.snap
  src/components/slider/tests/slider.test.tsx
  src/components/slider/thumb.tsx
  src/locales/base.ts
  src/locales/zh-CN.ts
Due: prettier --write

fix: remove unused import
  src/components/number-keyboard/number-keyboard.tsx
Due: prettier --write

doc(Input): add password input demo with `Form.Item`
  src/components/input/demos/demo2.less
  src/components/input/demos/demo2.tsx
Due: prettier --write, stylelint --fix

doc(Tabs): add custom header demo
  src/components/tabs/demos/demo2.less
  src/components/tabs/demos/demo2.tsx
Due: prettier --write, stylelint --fix

fix: features img
  docs/components/home-page.tsx
Due: none

doc: fix features img (#5367)
  docs/components/home-page.tsx
Due: none

doc(Input): add password input demo with `Form.Item` (#5363)
  src/components/input/demos/demo2.less
  src/components/input/demos/demo2.tsx
Due: prettier --write, stylelint --fix

doc(Tabs): add custom header demo (#5364)
  src/components/tabs/demos/demo2.less
  src/components/tabs/demos/demo2.tsx
Due: prettier --write, stylelint --fix

enhance(Input): add aria props
  src/components/input/input.tsx
Due: prettier --write

enhance(Stepper): use aria propss to improve a11y
  src/components/stepper/stepper.tsx
  src/components/stepper/tests/stepper.test.tsx
  src/locales/base.ts
  src/locales/zh-CN.ts
Due: prettier --write

enhance(ProgressBar): adjust the default track width to 8px
  src/components/progress-bar/demos/demo1.tsx
  src/components/progress-bar/index.en.md
  src/components/progress-bar/index.zh.md
  src/components/progress-bar/progress-bar.less
Due: prettier --write, stylelint --fix

feat(ProgressBar): add `rounded` prop
  src/components/progress-bar/demos/demo1.tsx
  src/components/progress-bar/index.en.md
  src/components/progress-bar/index.zh.md
  src/components/progress-bar/progress-bar.less
  src/components/progress-bar/progress-bar.tsx
Due: prettier --write, stylelint --fix

feat(List): list support nativeElement ref
  src/components/list/index.en.md
  src/components/list/index.zh.md
  src/components/list/list.tsx
Due: prettier --write

feat(ProgressBar): add `text` prop and `--text-width` CSS variable
  src/components/progress-bar/demos/demo1.tsx
  src/components/progress-bar/index.en.md
  src/components/progress-bar/index.zh.md
  src/components/progress-bar/progress-bar.less
  src/components/progress-bar/progress-bar.tsx
Due: prettier --write, stylelint --fix

doc(ProgressBar): split the demos
  src/components/progress-bar/demos/demo1.tsx
  src/components/progress-bar/demos/demo2.tsx
  src/components/progress-bar/index.en.md
  src/components/progress-bar/index.zh.md
Due: prettier --write

chore: add some test
  src/components/list/tests/list.test.tsx
Due: prettier --write

fix: fix
  src/components/list/tests/__snapshots__/list.test.tsx.snap
  src/components/list/tests/list.test.tsx
Due: prettier --write

fix(Picker): picker component accessibility issues on android
  src/components/picker-view/picker-view.less
  src/components/picker-view/wheel.tsx
  src/components/picker/picker.tsx
Due: prettier --write, stylelint --fix

style: (steps) dark mode bg show black
  src/components/steps/steps.less
Due: stylelint --fix

fix(Steps): icon background should be black in dark mode (#5371)
  src/components/steps/steps.less
Due: stylelint --fix

test(Picker): fix failed tests and update some snapshots
  src/components/cascade-picker-view/tests/cascade-picker-view.test.tsx
  src/components/config-provider/tests/__snapshots__/config-provider.test.tsx.snap
  src/components/picker-view/tests/picker-view.test.tsx
Due: prettier --write

fix: fix code
  src/components/list/index.ts
  src/components/list/list.tsx
Due: prettier --write

feat(List): list support nativeElement ref (#5369)
  src/components/list/index.en.md
  src/components/list/index.ts
  src/components/list/index.zh.md
  src/components/list/list.tsx
  src/components/list/tests/__snapshots__/list.test.tsx.snap
  src/components/list/tests/list.test.tsx
Due: prettier --write

chore: update doc-site workflow
  .github/workflows/doc-site.yml
Due: none

feat(Cascader): add a new actions param to children render function
  src/components/cascader/cascader.tsx
  src/components/cascader/demos/demo1.tsx
  src/components/cascader/index.en.md
  src/components/cascader/index.ts
  src/components/cascader/index.zh.md
Due: prettier --write

Path conditions:
  prettier --write: any of: src/**/*.{ts,tsx}
  stylelint --fix: any of: src/**/*.{less,css}
