Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": ["prettier --write"],
  "src/**/*.{less,css}": ["stylelint --fix"]
}

chore: simplify ci logic which will test on all branches
  .github/workflows/check.yml
Due: none

test: update tese case
  src/components/image-viewer/tests/image-viewer.test.tsx
Due: prettier --write

feat(ImageView): `maxZoom` support `max` (#5709)
  src/components/image-viewer/image-viewer.tsx
  src/components/image-viewer/index.en.md
  src/components/image-viewer/index.zh.md
  src/components/image-viewer/slide.tsx
  src/components/image-viewer/tests/image-viewer.test.tsx
Due: prettier --write

feat: adjust fast swipe logic
  src/components/image-viewer/slide.tsx
Due: prettier --write

feat: add ja-JP locale (#5707)
  docs/guide/i18n.en.md
  docs/guide/i18n.zh.md
  src/components/config-provider/tests/__snapshots__/config-provider.test.tsx.snap
  src/components/config-provider/tests/config-provider.test.tsx
  src/locales/ja-JP.ts
Due: prettier --write

fix(Slider): value should be formatted when step is a decimal
  src/components/slider/slider.tsx
  src/components/slider/tests/slider.test.tsx
Due: prettier --write

test: update
  src/components/slider/tests/slider.test.tsx
Due: prettier --write

fix: accuracy of float num sum and update the handling of decimals
  src/components/slider/slider.tsx
Due: prettier --write

test: add test
  src/components/slider/tests/slider.test.tsx
Due: prettier --write

fix(Slider): value should be formatted when step is a decimal (#5706)
  src/components/slider/slider.tsx
  src/components/slider/tests/slider.test.tsx
Due: prettier --write

enhance(NavBar): back support ReactNode
  src/components/nav-bar/index.en.md
  src/components/nav-bar/index.zh.md
  src/components/nav-bar/nav-bar.tsx
Due: prettier --write

fix: back remove null
  src/components/nav-bar/nav-bar.tsx
Due: prettier --write

feat: (FloatingBubble) add drag end Callback event and default drag offset position
  src/components/floating-bubble/demos/demo4.tsx
  src/components/floating-bubble/floating-bubble.tsx
  src/components/floating-bubble/index.en.md
  src/components/floating-bubble/index.zh.md
Due: prettier --write

enhance(NavBar): back support ReactNode (#5715)
  src/components/nav-bar/index.en.md
  src/components/nav-bar/index.zh.md
  src/components/nav-bar/nav-bar.tsx
Due: prettier --write

fix: zoomed picture slide on pc
  src/components/image-viewer/slide.tsx
Due: prettier --write

fix(ellipsis): content could be undefined
  src/components/ellipsis/ellipsis.tsx
  src/components/ellipsis/tests/ellipsis.test.tsx
Due: prettier --write

feat(ImageUploader): add and other css props
  src/components/image-uploader/demos/demo2.tsx
  src/components/image-uploader/image-uploader.less
  src/components/image-uploader/image-uploader.tsx
  src/components/image-uploader/index.en.md
  src/components/image-uploader/index.zh.md
Due: prettier --write, stylelint --fix

chore: move to defaultProps
  src/components/ellipsis/ellipsis.tsx
Due: prettier --write

test: fix ellipsis test case
  src/components/ellipsis/tests/ellipsis.test.tsx
Due: prettier --write

doc: support codesandbox open
  .dumi/theme/builtins/preview-default/Previewer.tsx
  .dumi/theme/builtins/preview-default/use-code-sandbox.tsx
Due: none

chore: add deps
  package.json
Due: none

fix(ellipsis): content could be undefined (#5727)
  src/components/ellipsis/ellipsis.tsx
  src/components/ellipsis/tests/ellipsis.test.tsx
Due: prettier --write

chore: update lock file
  pnpm-lock.yaml
Due: none

doc: support codesandbox open (#5729)
  .dumi/theme/builtins/preview-default/Previewer.tsx
  .dumi/theme/builtins/preview-default/use-code-sandbox.tsx
  package.json
  pnpm-lock.yaml
Due: none

chore: upgrade `dumi` `@umijs/types`
  package.json
  pnpm-lock.yaml
Due: none

chore: upgrade some deps (#5730)
  package.json
  pnpm-lock.yaml
Due: none

chore: use webpack build compatible umd
  gulpfile.js
Due: none

fix: ios picker view scroll height not correct
  src/components/picker/picker.less
Due: stylelint --fix

fix: ios picker view scroll height not correct (#5734)
  src/components/picker/picker.less
Due: stylelint --fix

fix: dot in huawei not circle
  src/components/passcode-input/passcode-input.less
Due: stylelint --fix

fix: dot in huawei not circle (#5737)
  src/components/passcode-input/passcode-input.less
Due: stylelint --fix

feat(ImageViewer): 支持背景色跟随图片颜色变化
  package.json
  pnpm-lock.yaml
  src/components/image-viewer/demos/demo1.tsx
  src/components/image-viewer/demos/images.tsx
  src/components/image-viewer/image-viewer.tsx
  src/components/image-viewer/slide.tsx
  src/components/image-viewer/slides.tsx
  src/components/mask/mask.tsx
Due: prettier --write

fix: popup strict prevent default to fix with IOS12
  src/components/popup/popup.tsx
  src/utils/dev-log.ts
  src/utils/use-lock-scroll.ts
Due: prettier --write

chore: 添加报错图片/纯白图片demo
  src/components/image-viewer/demos/demo1.tsx
  src/components/image-viewer/demos/images.tsx
  src/components/image-viewer/image-viewer.tsx
  src/components/image-viewer/slide.tsx
Due: prettier --write

chore: clean up
  src/utils/use-lock-scroll.ts
Due: prettier --write

feat(ImageUploader): add FAQ about grid
  src/components/image-uploader/index.en.md
  src/components/image-uploader/index.zh.md
Due: none

fix: not block scrollable content in body
  src/utils/use-lock-scroll.ts
Due: prettier --write

chore: prevent transform `rgba()` to `#RGBA`
  gulpfile.js
Due: none

feat: 新增 props averageColor 控制及文档说明
  src/components/image-viewer/demos/demo1.tsx
  src/components/image-viewer/demos/images.tsx
  src/components/image-viewer/image-viewer.tsx
  src/components/image-viewer/index.en.md
  src/components/image-viewer/index.zh.md
  src/components/image-viewer/slides.tsx
Due: prettier --write

chore: prevent transform `rgba()` to `#RGBA` (#5739)
  gulpfile.js
Due: none
