Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": ["prettier --write"],
  "src/**/*.{less,css}": ["stylelint --fix"]
}

refactor: 一些组件替换为 useNewControllableValue
  src/components/cascader/cascader.tsx
  src/components/cascader/multiple.tsx
  src/components/collapse/collapse.tsx
  src/components/input/input.tsx
Due: prettier --write

fix: useNewControllableValue
  src/components/input/input.tsx
  src/utils/use-controllable-value.ts
Due: prettier --write

refactor: 一些组件替换为 useNewControllableValue
  src/components/checkbox/checkbox.tsx
  src/components/checkbox/group.tsx
  src/components/picker/picker.tsx
  src/components/radio/group.tsx
  src/components/radio/radio.tsx
  src/components/selector/selector.tsx
  src/components/switch/switch.tsx
Due: prettier --write

enhance: Form 和 List 的部分间距微调
  src/components/form/demos/demo1.tsx
  src/components/form/form-item.less
  src/components/form/form.tsx
  src/components/list/list.less
Due: prettier --write, stylelint --fix

chore: 增加 antd-mobile-v5-count 依赖用来统计 v5 版本的下载量
  package.json
  yarn.lock
Due: none

refactor: isDev
  README.md
  docs/index.md
  src/components/notice-bar/notice-bar.tsx
  src/utils/is-dev.ts
Due: prettier --write

feat: 部分组件的 controllable value 逻辑重构
  src/components/date-picker/date-picker.tsx
  src/components/desense-text/desense-text.tsx
  src/components/form/demos/demo1.tsx
  src/components/form/demos/demo2.tsx
  src/components/rate/rate.tsx
  src/components/search/search.tsx
  src/components/slider/slider.tsx
  src/components/tab-bar/index.md
  src/components/tab-bar/tab-bar.tsx
  src/components/tabs/tabs.tsx
  src/components/text-area/text-area.tsx
Due: prettier --write

chore: 更新版本号
  package.json
Due: none

chore: 更新 README
  README.md
  package.json
Due: none

feat: NoticeBar 支持了一些 CSS 变量
  src/components/notice-bar/index.md
  src/components/notice-bar/notice-bar.tsx
Due: prettier --write

feat: Popover 增加 trigger 属性
  src/components/popover/demos/index.tsx
  src/components/popover/index.md
  src/components/popover/popover.tsx
Due: prettier --write

chore: Button 小调整
  src/components/button/button.less
Due: stylelint --fix

feat: Popover.Menu 的 Action 增加了 onClick 方法
  src/components/popover/index.ts
  src/components/popover/pop-menu.tsx
Due: prettier --write

chore: 更新文档
  docs/index.md
Due: none

enhance: Button loading 时不再自动 disabled
  src/components/button/button.less
  src/components/button/button.tsx
Due: prettier --write, stylelint --fix

enhance: Button loading 样式调整
  src/components/button/button.less
  src/components/button/button.tsx
  src/components/loading/loading.less
Due: prettier --write, stylelint --fix

enhance: 优化 Popover.Menu 的边框样式
  src/components/popover/popover.less
Due: stylelint --fix

chore: 更新版本号
  docs/index.md
  package.json
Due: none

typo
  docs/index.md
Due: none

fix: Mask 内容 overflow 无法滚动
  package.json
  src/components/mask/mask.tsx
  yarn.lock
Due: prettier --write

chore: 移除 body-scroll-lock 依赖
  package.json
  yarn.lock
Due: none

chore: 调整结构
  src/components/image-uploader/image-uploader.less
  src/components/image-uploader/image-uploader.tsx
  src/index.ts
Due: prettier --write, stylelint --fix

refacotr: ImageUploader
  src/components/image-uploader/image-uploader.tsx
  src/components/image-uploader/index.ts
  src/index.ts
Due: prettier --write

fix: ImageUploader
  config/config.ts
  src/components/image-uploader/demos/demo2.tsx
  src/components/image-uploader/image-uploader.tsx
  src/components/image-uploader/index.md
Due: prettier --write

fix: ImageViewer.Multi.show 时动画效果缺失
  src/components/image-viewer/image-viewer.tsx
Due: prettier --write

doc: 更新文档
  config/config.ts
  docs/guide/faq.md
  docs/index.md
  src/components/button/demos/index.tsx
Due: prettier --write

feat(Form): 错误表单写法新增提示
  src/components/form/demos/demo-error.tsx
  src/components/form/form-item.tsx
  src/components/form/index.md
  src/utils/dev-log.ts
Due: prettier --write

doc: Swiper
  src/components/swiper/index.md
Due: none

doc: 更新版本号至 beta & 更新文档
  README.md
  docs/guide/faq.md
  docs/guide/quick-start.md
  docs/index.md
  package.json
Due: none

style: CSS颜色值简写
  src/components/action-sheet/action-sheet.less
  src/components/card/card.less
  src/components/checkbox/checkbox.less
  src/components/list/list.less
  src/components/notice-bar/notice-bar.less
  src/components/popover/popover.less
  src/components/popup/popup.less
  src/components/radio/radio.less
  src/components/tag/tag.less
  src/global/theme.less
Due: stylelint --fix

doc: 更新文档推荐在安装时使用 next tag
  README.md
  docs/guide/faq.md
  docs/guide/quick-start.md
  docs/index.md
Due: none

style: 删除多余的 CSS 代码
  src/components/picker/picker.less
Due: stylelint --fix

fix: ImageUploader 命名相关
  src/components/image-uploader/image-uploader.less
  src/components/image-uploader/image-uploader.tsx
  src/components/image-uploader/preview-item.tsx
Due: prettier --write, stylelint --fix

refactor: ImageUploader
  package.json
  src/components/image-uploader/demos/demo1.tsx
  src/components/image-uploader/demos/demo2.tsx
  src/components/image-uploader/image-uploader.less
  src/components/image-uploader/image-uploader.tsx
  src/components/image-uploader/index.md
  src/components/image-uploader/index.ts
  src/components/image-uploader/preview-item.tsx
  src/components/image-uploader/util.ts
  src/demos/index.ts
  yarn.lock
Due: prettier --write, stylelint --fix

enhance: ImageUploader
  src/components/image-uploader/image-uploader.less
  src/components/image-uploader/image-uploader.tsx
  src/components/image-uploader/index.md
  src/components/image-uploader/preview-item.tsx
  src/components/image-uploader/util.ts
Due: prettier --write, stylelint --fix

enhance: 优化 ImageUploader
  src/components/image-uploader/demos/demo1.tsx
  src/components/image-uploader/image-uploader.less
  src/components/image-uploader/image-uploader.tsx
  src/components/image-uploader/preview-item.tsx
  src/utils/is-promise.ts
  src/utils/validate.ts
Due: prettier --write, stylelint --fix

feat: ImageUploader 增加 maxCount 和 onCountExceed
  src/components/image-uploader/demos/demo1.tsx
  src/components/image-uploader/image-uploader.tsx
  src/components/image-uploader/index.md
Due: prettier --write
