Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": ["prettier --write"],
  "src/**/*.{less,css}": ["stylelint --fix"]
}

chore: upgrade typescript to 4.6
  package.json
  yarn.lock
Due: none

chore: upgrade yarn and yarn plugins
  .yarn/plugins/@yarnpkg/plugin-outdated.cjs
  .yarn/releases/yarn-3.2.0.cjs
  .yarn/releases/yarn-3.2.1.cjs
  .yarnrc.yml
  yarn.lock
Due: none

doc: update FAQ
  docs/guide/faq.en.md
  docs/guide/faq.zh.md
Due: none

fix(Ellipsis): middle mode has more characters on the right than on the left
  src/components/ellipsis/ellipsis.tsx
Due: prettier --write

test(Modal & Dialog): add some tests
  src/components/dialog/tests/dialog.test.tsx
  src/components/modal/tests/modal.test.tsx
Due: prettier --write

enhance(Modal & Dialog): clear close set when call `clear` method
  src/components/dialog/clear.ts
  src/components/modal/clear.ts
Due: prettier --write

chore: seperate navs and menus configs
  config/config.ts
  config/menus.tsx
  config/navs.ts
Due: none

doc: fix i18n doc
  docs/guide/i18n.en.md
  docs/guide/i18n.zh.md
Due: none

fix(Ellipsis): middle mode has more characters on right than on left (#5253)
  src/components/ellipsis/ellipsis.tsx
Due: prettier --write

test: test
  src/components/image-uploader/tests/image-uploader.test.tsx
  src/tests/setup.ts
Due: prettier --write

test(Modal & Dialog): add some tests (#5252)
  src/components/dialog/tests/dialog.test.tsx
  src/components/modal/tests/modal.test.tsx
Due: prettier --write

feat: add `reduceMotion` and `restoreMotion` & apply `reduceMotion` to tests
  src/components/action-sheet/tests/action-sheet.test.tsx
  src/components/dialog/tests/dialog.test.tsx
  src/components/floating-panel/tests/floating-panel.test.tsx
  src/components/modal/tests/modal.test.tsx
  src/components/spin-loading/demos/demo1.tsx
  src/components/spin-loading/spin-loading.tsx
  src/index.ts
  src/tests/setup.ts
  src/tests/testing.tsx
  src/utils/reduce-and-restore-motion.ts
Due: prettier --write

test: fix some failed tests
  src/components/dialog/tests/dialog.test.tsx
  src/components/modal/tests/modal.test.tsx
Due: prettier --write

enhance: improve some error messages about measuring css length
  src/utils/measure-css-length.ts
Due: prettier --write

doc: add reduce motion guide
  config/menus.tsx
  docs/guide/reduce-motion.en.md
  docs/guide/reduce-motion.zh.md
  src/utils/demos/reduce-motion/demo1.tsx
  src/utils/demos/reduce-motion/demo2.tsx
Due: prettier --write

refactor: add `useMotionReduced` to prevent infinite animation calculation in react-spring
  package.json
  src/components/spin-loading/spin-loading.tsx
  src/utils/reduce-and-restore-motion.ts
  yarn.lock
Due: prettier --write

doc: move HD out of the experimental features
  config/menus.tsx
  docs/guide/hd.en.md
  docs/guide/hd.zh.md
Due: none

chore: change version
  package.json
Due: none

deploy: afccbddb1af1757bf5bd7487d064582529b74be5
  404.html
  index.html
  umi.5811fbd7.css
  umi.6b3625e7.css
  umi.9cecf46d.js
  umi.c2203773.js
Due: none

feat: add a new component CenterPopup
  src/components/center-popup/center-popup.less
  src/components/center-popup/center-popup.tsx
  src/components/center-popup/demos/demo1.less
  src/components/center-popup/demos/demo1.tsx
  src/components/center-popup/index.ts
  src/components/popup/index.en.md
  src/components/popup/index.zh.md
  src/components/popup/popup.tsx
  src/index.ts
Due: prettier --write, stylelint --fix

doc: update some FAQ and demo
  src/components/center-popup/demos/demo1.tsx
  src/components/modal/index.en.md
  src/components/modal/index.zh.md
Due: prettier --write

refactor(Dialog & Modal): reimplement Dialog and Modal with CenterPopup under the hood
  src/components/dialog/dialog.less
  src/components/dialog/dialog.tsx
  src/components/modal/modal.less
  src/components/modal/modal.tsx
Due: prettier --write, stylelint --fix

test: fix failed tests and add `actClick` helper
  src/components/dialog/tests/dialog.test.tsx
  src/components/modal/tests/modal.test.tsx
  src/tests/testing.tsx
Due: prettier --write

test: fix `actClick`
  src/components/modal/tests/modal.test.tsx
  src/tests/testing.tsx
Due: prettier --write

doc(Input): update FAQ
  src/components/input/index.en.md
  src/components/input/index.zh.md
Due: none

test: fix `actClick`
  src/tests/testing.tsx
Due: prettier --write

feat: add css var patch style build toolchain
  gulpfile.js
  src/components/button/button.patch.less
Due: stylelint --fix

fix(Cascader): isLeaf predicate
  src/components/cascader-view/use-cascader-value-extend.tsx
Due: prettier --write

fix(Cascader): fix `isLeaf` may get wrong value (#5259)
  src/components/cascader-view/use-cascader-value-extend.tsx
Due: prettier --write

test(Ellipsis): add some tests
  src/components/ellipsis/tests/__snapshots__/ellipsis.test.tsx.snap
  src/components/ellipsis/tests/ellipsis.test.tsx
Due: prettier --write

test: replace `replaceAll` with `replace`
  src/components/ellipsis/tests/ellipsis.test.tsx
Due: prettier --write

refactor: remove deprecated style property `webkitBoxOrient`
  src/components/ellipsis/ellipsis.tsx
Due: prettier --write

test(Ellipsis): add some tests (#5260)
  src/components/ellipsis/tests/__snapshots__/ellipsis.test.tsx.snap
  src/components/ellipsis/tests/ellipsis.test.tsx
Due: prettier --write

refactor(Ellipsis): remove deprecated style property `webkitBoxOrient` (#5262)
  src/components/ellipsis/ellipsis.tsx
Due: prettier --write

test(Input): add useImperativeHandle test
  src/components/input/tests/input.test.tsx
Due: prettier --write

style(TabBar): adjust style with larger icon
  src/components/tab-bar/tab-bar.less
  src/components/tab-bar/tab-bar.tsx
Due: prettier --write, stylelint --fix

style(Slider): adjust style
  src/components/slider/demos/demo1.less
  src/components/slider/demos/demo1.tsx
  src/components/slider/slider.less
  src/components/slider/thumb-icon.tsx
Due: prettier --write, stylelint --fix

test(Input): add useImperativeHandle test (#5265)
  src/components/input/tests/input.test.tsx
Due: prettier --write
