Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": ["prettier --write"],
  "src/**/*.{less,css}": ["stylelint --fix"]
}

doc: add HOW_TO_ASK_QUESTIONS
  .github/workflows/HOW_TO_ASK_QUESTIONS.md
Due: none

chore: update HOW_TO_ASK_QUESTIONS
  .github/HOW_TO_ASK_QUESTIONS.md
  .github/ISSUE_TEMPLATE/bug-report.yml
Due: none

chore: update HOW_TO_ASK_QUESTIONS
  .github/HOW_TO_ASK_QUESTIONS.md
Due: none

Update hd.zh.md
  docs/guide/hd.zh.md
Due: none

Update hd.en.md
  docs/guide/hd.en.md
Due: none

feat: (Form) `Form.Item` add `arrow` prop (#4537)
  src/components/form/demos/demo2.tsx
  src/components/form/form-item.tsx
  src/components/form/index.en.md
  src/components/form/index.zh.md
Due: prettier --write

doc: update hd doc (#4749)
  docs/guide/hd.en.md
  docs/guide/hd.zh.md
Due: none

chore: add codeql-analysis workflow
  .github/workflows/codeql-analysis.yml
Due: none

chore: update SECURITY.md
  .github/SECURITY.md
Due: none

chore: add codeql config
  .github/codeql/codeql-config.yml
  .github/workflows/codeql-analysis.yml
Due: none

doc: (Picker) demo for custom style
  src/components/picker/demos/columns-data.tsx
  src/components/picker/demos/demo1.tsx
  src/components/picker/demos/demo2.tsx
  src/components/picker/index.en.md
  src/components/picker/index.zh.md
Due: prettier --write

refactor: (Picker) change `--button-font-size` to `--header-button-font-size`
  src/components/picker/demos/demo2.tsx
  src/components/picker/index.en.md
  src/components/picker/index.zh.md
  src/components/picker/picker.less
  src/components/picker/picker.tsx
Due: prettier --write, stylelint --fix

feat: (Picker & PickerView) doc and props type for CSS variables
  src/components/cascade-picker-view/cascade-picker-view.tsx
  src/components/date-picker-view/date-picker-view.tsx
  src/components/date-picker/date-picker.tsx
  src/components/picker-view/index.en.md
  src/components/picker-view/index.zh.md
  src/components/picker/index.en.md
  src/components/picker/index.zh.md
Due: prettier --write

refactor: (Picker & PickerView) refactor the way to pass --item-font-size from Picker to PickerView
  src/components/picker/picker.less
  src/components/picker/picker.tsx
Due: prettier --write, stylelint --fix

Apply suggestions from code review
  src/components/badge/index.en.md
  src/components/badge/index.zh.md
Due: none

doc: (Badge) add bordered property (#4747)
  src/components/badge/index.en.md
  src/components/badge/index.zh.md
Due: none

enhance: (Popover) adjust style
  src/components/popover/arrow.tsx
  src/components/popover/demos/demo1.tsx
  src/components/popover/popover.less
  src/components/popover/popover.tsx
Due: prettier --write, stylelint --fix

doc: (Popover) update demo
  src/components/popover/demos/demo1.tsx
  src/components/popover/popover.tsx
Due: prettier --write

fix: (TextArea) maxLength behavior when value contains emoji
  src/components/text-area/text-area.tsx
Due: prettier --write

feat: (Input & TextArea) add `onCompositionStart` and `onCompositionEnd` props
  src/components/input/index.en.md
  src/components/input/index.zh.md
  src/components/input/input.tsx
  src/components/text-area/index.en.md
  src/components/text-area/index.zh.md
  src/components/text-area/text-area.tsx
Due: prettier --write

refactor: (TextArea) adjust class names
  src/components/cascade-picker-view/cascade-picker-view.tsx
  src/components/text-area/text-area.less
  src/components/text-area/text-area.tsx
Due: prettier --write, stylelint --fix

enhance: (Popover & Popover.Menu) adjust props types
  src/components/popover/index.ts
  src/components/popover/popover-menu.tsx
  src/components/popover/popover.tsx
Due: prettier --write

doc: Popover
  src/components/popover/index.en.md
  src/components/popover/index.zh.md
Due: none

fix: (Popover.Menu) props type
  src/components/popover/popover-menu.tsx
Due: prettier --write

doc: (Popover) split demos
  src/components/popover/demos/demo1.tsx
  src/components/popover/demos/demo2.tsx
  src/components/popover/index.en.md
  src/components/popover/index.zh.md
Due: prettier --write

refactor: (Popover.Menu) re-implement the style of Popover.Menu
  src/components/list/list.less
  src/components/popover/animation.less
  src/components/popover/index.ts
  src/components/popover/popover-menu.less
  src/components/popover/popover-menu.tsx
  src/components/popover/popover.less
Due: prettier --write, stylelint --fix

fix: (Popover) adjust the type definition to match with doc
  src/components/popover/popover-menu.tsx
  src/components/popover/popover.tsx
Due: prettier --write

doc: (Popover.Menu) update demo
  src/components/popover/demos/demo1.tsx
  src/components/popover/demos/demo2.tsx
Due: prettier --write

chore: update README
  README.md
Due: none

enhance: (Form) adjust style
  src/components/form/form-item.less
  src/components/form/form.less
  src/components/input/demos/demo2.less
Due: stylelint --fix

doc: add discord link
  README.md
  docs/guide/quick-start.en.md
  docs/guide/quick-start.zh.md
Due: none

fix: (Form) add label margin in vertical mode
  src/components/form/form-item.less
Due: stylelint --fix

doc: (Form) update demos
  src/components/form/demos/demo2.tsx
  src/components/form/demos/demo3.tsx
  src/components/form/demos/demo4.tsx
  src/components/form/index.en.md
  src/components/form/index.zh.md
Due: prettier --write

doc: (Form) update doc and ts type definitions of Form and Form.Item
  src/components/form/form-item.tsx
  src/components/form/form.tsx
  src/components/form/index.en.md
  src/components/form/index.tsx
  src/components/form/index.zh.md
Due: prettier --write

chore: change version
  package.json
Due: none

deploy: df44279c25ff5443644e1f0cc23afc74192b306a
  404.html
  index.html
  umi.061b4551.css
  umi.7b765921.js
  umi.c1a46da9.css
  umi.c6742de5.js
Due: none

fix: floating-bubble --edge-distance限制气泡范围功能表现异常
  src/components/floating-bubble/floating-bubble.less
Due: stylelint --fix

fix: (FloatingBubble) `--edge-distance` not working properly (#4753)
  src/components/floating-bubble/floating-bubble.less
Due: stylelint --fix

fix: (TextArea) `placeholder` prop not working
  src/components/text-area/text-area.tsx
Due: prettier --write

chore: upgrade dependencies
  package.json
  yarn.lock
Due: none
