Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": ["prettier --write"],
  "src/**/*.{less,css}": ["stylelint --fix"]
}

enhance: NavBar style and dom structure
  src/components/nav-bar/nav-bar.less
  src/components/nav-bar/nav-bar.tsx
Due: prettier --write, stylelint --fix

chore: upgrade dependencies
  package.json
  yarn.lock
Due: none

feat: add Icon
  config/config.ts
  docs/components/icon/demo-all.less
  docs/components/icon/demo-all.tsx
  docs/components/icon/demo-single.tsx
  docs/components/icon/index.md
  package.json
  yarn.lock
Due: none

enhance: Stepper icons use antd-mobile-icons
  src/components/stepper/stepper.tsx
Due: prettier --write

enhance: Navbar icons use antd-mobile-icons
  src/components/nav-bar/demos/index.tsx
  src/components/nav-bar/nav-bar.tsx
Due: prettier --write

enhance: Button demo icons use antd-mobile-icons
  src/components/button/demos/index.tsx
Due: prettier --write

enhance: Checkbox icons use antd-mobile-icons
  src/components/checkbox/checkbox.less
  src/components/checkbox/checkbox.tsx
  src/components/checkbox/demos/index.tsx
Due: prettier --write, stylelint --fix

enhance: CheckList icons use antd-mobile-icons
  src/components/check-list/check-list-item.tsx
Due: prettier --write

enhance: Switch demo icons use antd-mobile-icons
  src/components/switch/demos/index.tsx
Due: prettier --write

enhance: Result icons use antd-mobile-icons
  src/components/result/demos/index.tsx
  src/components/result/result.less
  src/components/result/result.tsx
Due: prettier --write, stylelint --fix

enhance: Rate icons use antd-mobile-icons
  src/components/rate/demos/index.tsx
  src/components/rate/rate.tsx
Due: prettier --write

enhance: Search icons use antd-mobile-icons
  src/components/search/search.tsx
Due: prettier --write

enhance: Input icons use antd-mobile-icons
  src/components/input/input.less
  src/components/input/input.tsx
Due: prettier --write, stylelint --fix

enhance: Image icons use antd-mobile-icons
  src/components/image/image.less
  src/components/image/image.tsx
Due: prettier --write, stylelint --fix

enhance: Radio icons use antd-mobile-icons
  src/components/radio/demos/index.tsx
  src/components/radio/radio.less
  src/components/radio/radio.tsx
Due: prettier --write, stylelint --fix

chore: remove Button duplicate test
  src/components/button/tests/button.test.tsx
Due: prettier --write

fix: upgrade antd-mobile-icons to support node environment
  package.json
  yarn.lock
Due: none

enhance: Badge demo icon use antd-mobile-icons
  src/components/badge/demos/index.tsx
Due: prettier --write

enhance: Card demo icon use antd-mobile-icons
  src/components/card/demos/index.tsx
Due: prettier --write

enhance: Card test icon use antd-mobile-icons
  src/components/card/tests/card.test.tsx
Due: prettier --write

enhance: Collapse icon use antd-mobile-icons
  src/components/collapse/collapse.tsx
Due: prettier --write

enhance: Dialog demo icon use antd-mobile-icons
  src/components/dialog/demos/index.tsx
Due: prettier --write

enhance: Empty demo icon use antd-mobile-icons
  src/components/empty/demos/index.tsx
Due: prettier --write

enhance: ImageUpload icon use antd-mobile-icons
  src/components/image-uploader/image-uploader.tsx
Due: prettier --write

enhance: ListItem icon use antd-mobile-icons
  src/components/list/list-item.tsx
Due: prettier --write

doc: update logo
  .dumi/theme/components/Navbar.less
  .dumi/theme/layouts/layout.tsx
  README.md
  config/config.ts
  docs/index.md
Due: none

enhance: Toast demo icon use antd-mobile-icons
  src/components/toast/demos/index.tsx
Due: prettier --write

enhance: Toast icon use antd-mobile-icons
  src/components/toast/toast.tsx
Due: prettier --write

enhance: TabBar demo icon use antd-mobile-icons
  src/components/tab-bar/demos/index.tsx
Due: prettier --write

enhance: Steps demo icon use antd-mobile-icons
  src/components/steps/demos/index.tsx
Due: prettier --write

enhance: ProgressCircle demo icon use antd-mobile-icons
  src/components/progress-circle/demos/index.tsx
Due: prettier --write

enhance: Popover demo icon use antd-mobile-icons
  src/components/popover/demos/index.tsx
Due: prettier --write

enhance: NoticeBar demo icon use antd-mobile-icons
  src/components/notice-bar/demos/index.tsx
Due: prettier --write

enhance: List demo icon use antd-mobile-icons
  src/components/list/demos/index.tsx
Due: prettier --write

enhance: NoticeBar icon use antd-mobile-icons
  src/components/notice-bar/notice-bar.tsx
Due: prettier --write

enhance: ImageUploader/PreviewItem icon use antd-mobile-icons
  src/components/image-uploader/image-uploader.less
  src/components/image-uploader/preview-item.tsx
Due: prettier --write, stylelint --fix

enhance: DesenseText icon use antd-mobile-icons
  src/components/desense-text/desense-text.tsx
Due: prettier --write

enhance: use antd-mobile-icons replace Icon
  src/components/icons/icon-eye-close.tsx
  src/components/icons/icon-eye.tsx
Due: prettier --write

chore: remove @ant-design/icons
  package.json
  yarn.lock
Due: none

enhance: change Steps icon class name
  src/components/steps/steps.less
Due: stylelint --fix
