Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

chore: migrate to pnpm from yarn
  .github/CONTRIBUTING.md
  .github/workflows/check.yml
  .github/workflows/doc-site.yml
  .github/workflows/preview-build.yml
  .husky/commit-msg
  .husky/pre-commit
  .npmrc
  .prettierignore
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/releases/yarn-3.2.1.cjs
  .yarnrc.yml
  README.md
  docs/components/icon/index.en.md
  docs/components/icon/index.zh.md
  docs/guide/i18n.en.md
  docs/guide/i18n.zh.md
  docs/guide/migration.en.md
  docs/guide/migration.zh.md
  docs/guide/quick-start.en.md
  docs/guide/quick-start.zh.md
  docs/guide/ssr.en.md
  docs/guide/ssr.zh.md
  package.json
  pnpm-lock.yaml
  src/components/picker-view/wheel.tsx
  src/tests/setup.ts
  src/tests/testing.tsx
  tsconfig.json
  yarn.lock
Due: prettier --write

doc(Picker): update demo
  src/components/picker/demos/demo2.tsx
Due: prettier --write

chore: change version
  package.json
Due: none

chore: adjust npm scripts
  package.json
Due: none

fix(Picker): in some circumstances wheel may not scroll to the correct position
  src/components/picker-view/wheel.tsx
Due: prettier --write

doc(Radio): update demos
  src/components/radio/demos/demo1.less
  src/components/radio/demos/demo1.tsx
  src/components/radio/demos/demo2.tsx
Due: prettier --write, stylelint --fix

fix(TextArea): fix TextArea height adaptation
  src/components/text-area/text-area.tsx
Due: prettier --write

fix(TextArea): revert 86c70fcf to fix the problem of height not changing when content get deleted (#5427)
  src/components/text-area/text-area.tsx
Due: prettier --write

style(floatingPanel): fix border-radius is invalid
  src/components/floating-panel/floating-panel.less
Due: stylelint --fix

fix: fix code
  src/components/floating-panel/floating-panel.less
Due: stylelint --fix

chore: fix github actions
  .github/workflows/preview-build.yml
Due: none

test(PickerView): add test
  src/components/picker-view/tests/picker-view.test.tsx
Due: prettier --write

test(Picker): adjust test
  src/components/picker/tests/picker.test.tsx
Due: prettier --write

test(PickerView): add test (#5431)
  src/components/picker-view/tests/picker-view.test.tsx
  src/components/picker/tests/picker.test.tsx
Due: prettier --write

fix(FloatingPanel): fix `--border-radius` applying to the wrong element (#5432)
  src/components/floating-panel/floating-panel.less
Due: stylelint --fix

style(FloatingPanel): fix the background color in dark mode
  src/components/floating-panel/floating-panel.less
Due: stylelint --fix

doc: fix jump links
  docs/guide/faq.en.md
  docs/guide/faq.zh.md
  docs/guide/quick-start.en.md
  docs/guide/quick-start.zh.md
  docs/guide/theming.en.md
  docs/guide/theming.zh.md
  src/components/avatar/index.en.md
  src/components/avatar/index.zh.md
  src/components/capsule-tabs/index.en.md
  src/components/capsule-tabs/index.zh.md
  src/components/cascader-view/index.en.md
  src/components/cascader-view/index.zh.md
  src/components/check-list/index.en.md
  src/components/check-list/index.zh.md
  src/components/form/index.en.md
  src/components/form/index.zh.md
  src/components/image-uploader/index.en.md
  src/components/image-uploader/index.zh.md
  src/components/infinite-scroll/index.en.md
  src/components/infinite-scroll/index.zh.md
  src/components/jumbo-tabs/index.en.md
  src/components/jumbo-tabs/index.zh.md
  src/components/modal/index.en.md
  src/components/modal/index.zh.md
  src/components/number-keyboard/index.en.md
  src/components/number-keyboard/index.zh.md
  src/components/picker-view/index.en.md
  src/components/picker-view/index.zh.md
  src/components/picker/index.en.md
  src/components/picker/index.zh.md
  src/components/pull-to-refresh/index.en.md
  src/components/pull-to-refresh/index.zh.md
  src/components/search-bar/index.en.md
  src/components/search-bar/index.zh.md
  src/components/swiper/index.en.md
  src/components/swiper/index.zh.md
  src/components/tab-bar/index.en.md
  src/components/tab-bar/index.zh.md
Due: none

docs: import line
  docs/guide/i18n.zh.md
Due: none

docs:import line
  docs/guide/i18n.en.md
Due: none

chore: fix missing types
  package.json
  pnpm-lock.yaml
Due: none

doc: update i18n (#5436)
  docs/guide/i18n.zh.md
Due: none

doc: update i18n (#5437)
  docs/guide/i18n.en.md
Due: none

chore: upgrade some dependencies
  .dumi/theme/components/device.tsx
  .dumi/theme/global.d.ts
  package.json
  pnpm-lock.yaml
Due: none

enhance: upgrade `rc-field-form` to 1.27 and `@use-gesture/react` to 10.2.16
  package.json
  pnpm-lock.yaml
Due: none

doc: adding domestic mirror navigation
  .dumi/theme/components/Navbar.tsx
  config/navs.ts
Due: none

doc: organizing the import
  .dumi/theme/components/Navbar.tsx
Due: none

doc: add Legacy Versions nav back
  config/navs.ts
Due: none

fix(calendar): calendar ref typo
  src/components/calendar/calendar.tsx
  src/components/calendar/index.ts
Due: prettier --write

fix(Calendar): `CalendarRef` used to be misspelled as `CalenderRef` (#5443)
  src/components/calendar/calendar.tsx
  src/components/calendar/index.ts
Due: prettier --write

test(Selector): add somet tests
  src/components/selector/tests/selector.test.tsx
Due: prettier --write

fix(Calendar): replace `CalenderRef` with `CalendarRef`
  src/components/calendar/calendar.tsx
  src/components/calendar/tests/calendar.test.tsx
Due: prettier --write

fix(notice-bar): 扩大 notice-bar close 的点击区域
  src/components/notice-bar/notice-bar.less
  src/components/notice-bar/notice-bar.tsx
Due: prettier --write, stylelint --fix

fix(Form): `Form.Item` now supports native props
  src/components/form/form-item.tsx
Due: prettier --write

Path conditions:
  prettier --write: any of: src/**/*.{ts,tsx}
  stylelint --fix: any of: src/**/*.{less,css}
