Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": ["prettier --write"],
  "src/**/*.{less,css}": ["stylelint --fix"]
}

fix: (InfiniteScroll) loadmore threshold (#4290)
  src/components/infinite-scroll/infinite-scroll.tsx
Due: prettier --write

doc: English version of SideBar doc (#4302)
  src/components/side-bar/index.en.md
  src/components/side-bar/index.zh.md
Due: none

fix: set pointer.touch to true to fix drag gesture on some mobile
  src/components/image-viewer/slides.tsx
  src/components/picker-view/column.tsx
  src/components/slider/thumb.tsx
  src/components/swipe-action/swipe-action.tsx
Due: prettier --write

refactor: (NoticeBar) refactor the animation logic to make sure the text is in the right animation state
  src/components/notice-bar/demos/index.tsx
  src/components/notice-bar/notice-bar.tsx
  src/utils/use-resize-effect.tsx
Due: prettier --write

chore: update version
  package.json
Due: none

refactor:(action-sheet) use mergeProps replace withDefaultProps
  src/components/action-sheet/action-sheet.tsx
Due: prettier --write

refactor:(date-picker) use mergeProps replace withDefaultProps
  src/components/date-picker/date-picker.tsx
Due: prettier --write

refactor:(ellipsis) use mergeProps replace withDefaultProps
  src/components/ellipsis/ellipsis.tsx
Due: prettier --write

refactor:(error-block) use mergeProps replace withDefaultProps
  src/components/error-block/error-block.tsx
Due: prettier --write

refactor:(grid) use mergeProps replace withDefaultProps
  src/components/grid/grid.tsx
Due: prettier --write

refactor:(group) use mergeProps replace withDefaultProps
  src/components/checkbox/group.tsx
Due: prettier --write

refactor:(image-viewer) use mergeProps replace withDefaultProps
  src/components/image-viewer/image-viewer.tsx
Due: prettier --write

deploy: d7dcc5cacbc392b3eed11fd93bb1c62e07c6dc86
  umi.css
  umi.js
Due: none

refactor:(infinite-scroll) use mergeProps replace withDefaultProps
  src/components/infinite-scroll/infinite-scroll.tsx
Due: prettier --write

refactor:(nav-bar) use mergeProps replace withDefaultProps
  src/components/nav-bar/nav-bar.tsx
Due: prettier --write

refactor:(progress-bar) use mergeProps replace withDefaultProps
  src/components/progress-bar/progress-bar.tsx
Due: prettier --write

refactor:(progress-circle) use mergeProps replace withDefaultProps
  src/components/progress-circle/progress-circle.tsx
Due: prettier --write

refactor:(pull-to-refresh) use mergeProps replace withDefaultProps
  src/components/pull-to-refresh/pull-to-refresh.tsx
Due: prettier --write

refactor:(tree-select) use mergeProps replace withDefaultProps
  src/components/tree-select/tree-select.tsx
Due: prettier --write

refactor:(radio group) use mergeProps replace withDefaultProps
  src/components/radio/group.tsx
Due: prettier --write

refactor:(rate) use mergeProps replace withDefaultProps
  src/components/rate/rate.tsx
Due: prettier --write

refactor:(slider) use mergeProps replace withDefaultProps
  src/components/slider/slider.tsx
Due: prettier --write

refactor:(stepper) use mergeProps replace withDefaultProps
  src/components/stepper/stepper.tsx
Due: prettier --write

refactor:(stepper) use mergeProps replace withDefaultProps
  src/components/steps/steps.tsx
Due: prettier --write

chore: remove bundle size workflow
  .github/workflows/bundle-size.yml
Due: none

refactor:(multiple) use mergeProps replace withDefaultProps
  src/components/tree-select/multiple.tsx
Due: prettier --write

refactor:(badge) use mergeProps replace withDefaultProps
  src/components/badge/badge.tsx
Due: prettier --write

refactor:(withDefaultProps) delete withDefaultProps
  src/utils/with-default-props.tsx
Due: prettier --write

chore: add some issue templates
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
Due: none

chore: update issue templates
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
Due: none

chore: update issue templates
  .github/ISSUE_TEMPLATE/general.yml
  .github/ISSUE_TEMPLATE/question.yml
Due: none

Update index.en.md
  src/components/error-block/index.en.md
Due: none

feat: (SwipeAction) remove warning when dragging
  src/components/swipe-action/swipe-action.less
Due: stylelint --fix

fix:(space) justify-content does not take baseline values (#4293)
  src/components/space/index.en.md
  src/components/space/index.zh.md
  src/components/space/space.less
  src/components/space/space.tsx
  src/components/space/tests/space.test.tsx
Due: prettier --write, stylelint --fix

refactor: replace `withDefaultProps` with `mergeProps` (#4305)
  src/components/action-sheet/action-sheet.tsx
  src/components/badge/badge.tsx
  src/components/checkbox/group.tsx
  src/components/date-picker/date-picker.tsx
  src/components/ellipsis/ellipsis.tsx
  src/components/error-block/error-block.tsx
  src/components/grid/grid.tsx
  src/components/image-viewer/image-viewer.tsx
  src/components/infinite-scroll/infinite-scroll.tsx
  src/components/nav-bar/nav-bar.tsx
  src/components/progress-bar/progress-bar.tsx
  src/components/progress-circle/progress-circle.tsx
  src/components/pull-to-refresh/pull-to-refresh.tsx
  src/components/radio/group.tsx
  src/components/rate/rate.tsx
  src/components/slider/slider.tsx
  src/components/stepper/stepper.tsx
  src/components/steps/steps.tsx
  src/components/tree-select/multiple.tsx
  src/components/tree-select/tree-select.tsx
  src/utils/with-default-props.tsx
Due: prettier --write

doc: ErrorBlock
  src/components/error-block/index.zh.md
Due: none

doc: (ErrorBlock) `status` prop type (#4308)
  src/components/error-block/index.en.md
  src/components/error-block/index.zh.md
Due: none

fix: (SwipeAction) change the value of touch-action to pan-y to allow vertical scrolling
  src/components/swipe-action/swipe-action.less
Due: stylelint --fix

fix: tabs dynamically switch child elements
  src/components/tabs/tabs.tsx
Due: prettier --write

feat: (Ellipsis) add expand feature
  src/components/ellipsis/ellipsis.tsx
  src/utils/use-resize-effect.tsx
Due: prettier --write
