Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

feat: Collapse.Panel move the onClick prop to title
  src/components/collapse/collapse.tsx
Due: prettier --write

doc: Collapse.Panel
  src/components/collapse/index.md
Due: none

fix:picker关闭时触发onSelect
  src/components/picker/picker.tsx
Due: prettier --write

doc: Button update the default of type prop
  src/components/button/index.en.md
  src/components/button/index.zh.md
Due: none

feat: List.Item change prop type
  src/components/list/list-item.tsx
Due: prettier --write

feat(ellipsis): use ResizeObeserver
  src/components/ellipsis/ellipsis.tsx
Due: prettier --write

fix: ResizeObserver type error
  package.json
  yarn.lock
Due: none

doc: fix some english version docs
  src/components/collapse/index.en.md
  src/components/dialog/index.en.md
  src/components/dropdown/index.en.md
  src/components/form/index.en.md
  src/components/rate/index.cn.md
  src/components/rate/index.en.md
Due: none

deploy: 19e1a3fe13e3f9cbbe7397a38097df1014d794b2
  umi.js
Due: none

enhance: (Picker & PickerView) avoid redundant trigger of onSelect
  src/components/picker-view/column.tsx
Due: prettier --write

fix: Dropdown.Item forceRender not working
  src/components/dropdown/dropdown.tsx
Due: prettier --write

feat: Dropdown.Item add destroyOnClose prop
  src/components/dropdown/dropdown.less
  src/components/dropdown/dropdown.tsx
  src/components/dropdown/index.zh.md
  src/components/dropdown/item.tsx
Due: prettier --write, stylelint --fix

docs: update Dropdown en
  src/components/dropdown/index.en.md
Due: none

feat: upgrade react-use-gesture to @use-gesture/react
  package.json
  src/components/floating-panel/floating-panel.tsx
  src/components/image-viewer/slide.tsx
  src/components/image-viewer/slides.tsx
  src/components/picker-view/column.tsx
  src/components/pull-to-refresh/pull-to-refresh.tsx
  src/components/slider/thumb.tsx
  src/components/swipe-action/swipe-action.tsx
  src/components/swiper/swiper.tsx
  yarn.lock
Due: prettier --write

fix: correct links
  docs/index.zh.md
Due: none

doc: Collapse.Panel update en doc
  src/components/collapse/index.en.md
Due: none

doc: correct misspelled words in Input
  src/components/input/index.en.md
  src/components/input/index.zh.md
Due: none

doc: migration guide
  config/config.ts
  docs/guide/faq.en.md
  docs/guide/faq.zh.md
  docs/guide/migration.en.md
  docs/guide/migration.zh.md
Due: none

enhance: list item
  src/components/list/list-item.tsx
Due: prettier --write

feat: Picker change onSelect and onConfirm prop params
  src/components/picker/index.en.md
  src/components/picker/index.zh.md
  src/components/picker/picker.tsx
Due: prettier --write

chore: upgrade yarn and dependencies
  .yarn/releases/yarn-3.0.2.cjs
  .yarn/releases/yarn-berry.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: none

feat: Card change click event type
  src/components/card/card.tsx
  src/components/card/index.en.md
  src/components/card/index.zh.md
Due: prettier --write

feat: Selector change onChange prop params
  src/components/selector/demos/demo1.tsx
  src/components/selector/index.en.md
  src/components/selector/index.zh.md
  src/components/selector/selector.tsx
Due: prettier --write

refactor: (Selector) onChange with controllable value hook
  src/components/selector/selector.tsx
Due: prettier --write

doc: Ellipsis update doc title
  src/components/ellipsis/index.zh.md
Due: none

feat: Image change onClick event type and doc
  src/components/image/image.tsx
  src/components/image/index.en.md
  src/components/image/index.zh.md
Due: prettier --write

doc: Popover
  src/components/popover/index.en.md
  src/components/popover/index.zh.md
Due: none

chore: add umi-plugin-mobile-dumi
  package.json
  yarn.lock
Due: none

chore: add okteto preview workflow
  .github/workflows/preview.yml
Due: none

chore: update workflows
  .github/workflows/preview-cleanup.yml
Due: none

chore: update preview workflows
  .github/workflows/preview-cleanup.yml
  .github/workflows/preview.yml
Due: none

chore: remvoe okteto workflows
  .github/workflows/preview-cleanup.yml
  .github/workflows/preview.yml
Due: none

feat: TextArea `showCount` supports render prop
  src/components/text-area/index.en.md
  src/components/text-area/index.zh.md
  src/components/text-area/text-area.tsx
Due: prettier --write

chore: add surge preview workflows
  .github/workflows/preview-build.yml
  .github/workflows/preview-deploy.yml
Due: none

chore: remove umi-plugin-mobile-dumi
  package.json
  yarn.lock
Due: none

feat: (Checkbox) improve icon style & add some css variables
  src/components/checkbox/check-icon.tsx
  src/components/checkbox/checkbox.less
  src/components/checkbox/checkbox.tsx
  src/components/checkbox/demos/index.tsx
  src/components/checkbox/index.en.md
  src/components/checkbox/index.zh.md
  src/components/picker/demos/index.tsx
Due: prettier --write, stylelint --fix

feat: (Radio) improve icon style & add some css variables
  src/components/checkbox/index.en.md
  src/components/checkbox/index.zh.md
  src/components/radio/demos/index.tsx
  src/components/radio/index.en.md
  src/components/radio/index.zh.md
  src/components/radio/radio.less
  src/components/radio/radio.tsx
Due: prettier --write, stylelint --fix

Path conditions:
  prettier --write: any of: src/**/*.{ts,tsx}
  stylelint --fix: any of: src/**/*.{less,css}
