Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

chore: 增加actionSheet、number-keyborad、selector、tabs和virtual-input组件的无障碍提示 (#6070)
  src/components/action-sheet/action-sheet.tsx
  src/components/number-keyboard/number-keyboard.tsx
  src/components/selector/selector.tsx
  src/components/tabs/tabs.tsx
  src/components/virtual-input/virtual-input.tsx
Due: prettier --write

chore: 修复actionSheet、selector和tabs组件aria-label拼写错误问题
  src/components/action-sheet/action-sheet.tsx
  src/components/selector/selector.tsx
  src/components/tabs/tabs.tsx
Due: prettier --write

doc(ellipsis): add defaultExpanded props
  src/components/ellipsis/index.en.md
  src/components/ellipsis/index.zh.md
Due: none

doc(ellipsis): add defaultExpanded props (#6080)
  src/components/ellipsis/index.en.md
  src/components/ellipsis/index.zh.md
Due: none

fix: code review for checklist extra props
  src/components/check-list/check-list-item.tsx
  src/components/check-list/check-list.tsx
  src/components/check-list/demos/demo1.tsx
  src/components/check-list/tests/check-list.test.tsx
Due: prettier --write

fix(ellipsis): fix only collapseText without expandText
  src/components/ellipsis/ellipsis.tsx
Due: prettier --write

chore: 修复actionSheet、selector和tabs组件aria-label拼写错误问题
  src/components/action-sheet/action-sheet.tsx
Due: prettier --write

chore: 修复actionSheet、selector和tabs组件aria-label拼写错误问题
  src/components/number-keyboard/number-keyboard.tsx
Due: prettier --write

enhance(Selector): add role and Selector name
  src/components/selector/selector.tsx
  src/locales/base.ts
  src/locales/zh-CN.ts
Due: prettier --write

enhance(Tabs): add role to improve a11y
  src/components/tabs/tabs.tsx
Due: prettier --write

test: update snap
  src/components/action-sheet/tests/__snapshots__/action-sheet.test.tsx.snap
  src/components/tabs/tests/__snapshots__/tabs.test.tsx.snap
Due: none

fix: miss title and update snap
  src/components/cascader-view/tests/__snapshots__/cascader-view.test.tsx.snap
  src/components/number-keyboard/number-keyboard.tsx
Due: prettier --write

fix(VirtualInput): revert root tabIndex
  src/components/virtual-input/virtual-input.tsx
Due: prettier --write

fix: `aria-label` spell error and some error (#6078)
  src/components/action-sheet/action-sheet.tsx
  src/components/action-sheet/tests/__snapshots__/action-sheet.test.tsx.snap
  src/components/cascader-view/tests/__snapshots__/cascader-view.test.tsx.snap
  src/components/number-keyboard/number-keyboard.tsx
  src/components/selector/selector.tsx
  src/components/tabs/tabs.tsx
  src/components/tabs/tests/__snapshots__/tabs.test.tsx.snap
  src/components/virtual-input/virtual-input.tsx
  src/locales/base.ts
  src/locales/zh-CN.ts
Due: prettier --write

test: update snap
  src/components/check-list/tests/__snapshots__/check-list.test.tsx.snap
Due: none

doc(Avatar): add onLoad prop
  src/components/avatar/avatar.tsx
  src/components/avatar/index.en.md
  src/components/avatar/index.zh.md
Due: prettier --write

enhance(CheckList): add extra props (#6067)
  src/components/check-list/check-list-item.tsx
  src/components/check-list/check-list.tsx
  src/components/check-list/context.tsx
  src/components/check-list/demos/demo1.tsx
  src/components/check-list/index.en.md
  src/components/check-list/index.zh.md
  src/components/check-list/tests/check-list.test.tsx
Due: prettier --write

feat(Avatar): add `onLoad` (#6047)
  src/components/avatar/avatar.tsx
  src/components/avatar/index.en.md
  src/components/avatar/index.zh.md
Due: prettier --write

feat(popup): swipe for all popup not only body
  src/components/popup/demos/demo1.tsx
  src/components/popup/popup.less
  src/components/popup/popup.tsx
  src/components/popup/tests/popup.test.tsx
Due: prettier --write, stylelint --fix

fix(ellipsis): fix only collapseText without expandText (#6082)
  src/components/ellipsis/ellipsis.tsx
Due: prettier --write

feat(popup): closeWhenClose to swiptToClose and minus swipe distance
  src/components/popup/demos/demo1.tsx
  src/components/popup/index.en.md
  src/components/popup/index.zh.md
  src/components/popup/popup.tsx
  src/components/popup/tests/popup.test.tsx
Due: prettier --write

fix(popup): reset distance
  src/components/popup/popup.tsx
Due: prettier --write

feat: update document
  src/components/popover/index.en.md
  src/components/popover/index.zh.md
Due: none

feat: keep original format style
  src/components/popover/index.zh.md
Due: none

doc: update arrow size default value
  src/components/popover/index.en.md
  src/components/popover/index.zh.md
Due: none

chore: update popover types
  src/components/popover/popover.tsx
Due: prettier --write

feat(Popover): support custom arrow size (#6072)
  src/components/popover/index.en.md
  src/components/popover/index.zh.md
  src/components/popover/popover.less
  src/components/popover/popover.tsx
Due: prettier --write, stylelint --fix

chore: bump 5.29.0
  package.json
Due: none

feat(popup): swipeToClose default to true
  src/components/popup/popup.tsx
  src/components/popup/tests/popup.test.tsx
Due: prettier --write

doc(popup): swipeToClose default to true
  src/components/popup/index.en.md
  src/components/popup/index.zh.md
Due: none

fix(Popup): omit transform to fixed nested fixed position (#6052)
  src/components/action-sheet/tests/__snapshots__/action-sheet.test.tsx.snap
  src/components/action-sheet/tests/action-sheet.test.tsx
  src/components/popup/popup.tsx
Due: prettier --write

feat(popup): remove swipeX
  src/components/popup/index.en.md
  src/components/popup/index.zh.md
  src/components/popup/popup.tsx
  src/components/popup/tests/popup.test.tsx
Due: prettier --write

doc(popup): remove useless demo
  src/components/popup/demos/demo1.tsx
Due: prettier --write

fix(popup): touch action
  src/components/popup/popup.less
  src/components/popup/popup.tsx
Due: prettier --write, stylelint --fix

fix(popup): remove swipeToClose prop
  src/components/popup/index.en.md
  src/components/popup/index.zh.md
  src/components/popup/popup.tsx
  src/components/popup/tests/popup.test.tsx
Due: prettier --write

fix(popup): remove useless symbol
  src/components/popup/popup.tsx
Due: prettier --write

fix(popup): velocity use default value
  src/components/popup/popup.tsx
Due: prettier --write

doc(popup): remove useless onClose
  src/components/popup/demos/demo1.tsx
Due: prettier --write

Path conditions:
  prettier --write: any of: src/**/*.{ts,tsx}
  stylelint --fix: any of: src/**/*.{less,css}
