Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

doc: (Dialog.confirm) update doc
  src/components/dialog/index.en.md
  src/components/dialog/index.zh.md
Due: none

enhance: (Dialog.show) imperative usage
  src/components/dialog/demos/index.tsx
  src/components/dialog/index.ts
  src/components/dialog/show.tsx
Due: prettier --write

doc: (Dialog.confirm) update doc (#4244)
  src/components/dialog/index.en.md
  src/components/dialog/index.zh.md
Due: none

enhance: (Dialog.show) imperative usage (#4246)
  src/components/dialog/demos/index.tsx
  src/components/dialog/index.ts
  src/components/dialog/show.tsx
Due: prettier --write

feat: (WaterMark) add `fullPage` prop
  src/components/water-mark/demos/demo2.tsx
  src/components/water-mark/index.en.md
  src/components/water-mark/index.ts
  src/components/water-mark/index.zh.md
  src/components/water-mark/water-mark.less
  src/components/water-mark/water-mark.tsx
Due: prettier --write, stylelint --fix

refactor: move some global z-index CSS variables into the related component itself
  docs/guide/theming.en.md
  docs/guide/theming.zh.md
  src/components/floating-panel/floating-panel.less
  src/components/floating-panel/floating-panel.tsx
  src/components/floating-panel/index.en.md
  src/components/floating-panel/index.zh.md
  src/components/mask/index.en.md
  src/components/mask/index.zh.md
  src/components/mask/mask.less
  src/components/mask/mask.tsx
  src/components/number-keyboard/index.en.md
  src/components/number-keyboard/index.zh.md
  src/components/number-keyboard/number-keyboard.less
  src/components/number-keyboard/number-keyboard.tsx
  src/components/popover/index.en.md
  src/components/popover/index.zh.md
  src/components/popover/popover.less
  src/components/popover/popover.tsx
  src/components/popup/index.en.md
  src/components/popup/index.zh.md
  src/components/popup/popup.less
  src/components/popup/popup.tsx
  src/global/theme.less
Due: prettier --write, stylelint --fix

feat: (WaterMark) add `--z-index` CSS variable
  src/components/water-mark/index.en.md
  src/components/water-mark/index.zh.md
  src/components/water-mark/water-mark.less
  src/components/water-mark/water-mark.tsx
Due: prettier --write, stylelint --fix

fix: (FloatingPanel) class prefix
  src/components/floating-panel/floating-panel.less
  src/components/floating-panel/floating-panel.tsx
Due: prettier --write, stylelint --fix

feat:tabBar新增路由用法
  src/components/tab-bar/demos/index.tsx
Due: prettier --write

feat: Input add onEnterPress and onKeyDown props
  src/components/input/index.en.md
  src/components/input/index.zh.md
  src/components/input/input.tsx
Due: prettier --write

fix: (SwipeAction) imperative method show
  src/components/swipe-action/swipe-action.tsx
Due: prettier --write

enhance(Search): implement `onSearch` with Input's `onEnterPress` prop
  src/components/search/search.tsx
Due: prettier --write

feat: (Tabs) add switching animation
  src/components/tabs/demos/index.tsx
  src/components/tabs/tabs.less
  src/components/tabs/tabs.tsx
Due: prettier --write, stylelint --fix

fix: (Tabs) needScroll
  src/components/tabs/tabs.tsx
Due: prettier --write

fix: wrap Dialog onConfirm handle with try catch when fail
  src/components/dialog/confirm.tsx
Due: prettier --write

enhance: Input add onKeyUp native prop
  src/components/input/index.en.md
  src/components/input/index.zh.md
  src/components/input/input.tsx
Due: prettier --write

feat: (List.Item) remove unused div
  src/components/list/list-item.tsx
Due: prettier --write

fix: event.target is null inside the callback because React recycles events objects
  src/components/image-uploader/image-uploader.tsx
Due: prettier --write

fix(utils):mergeProps have redundant execute _.assignWith
  src/utils/with-default-props.tsx
Due: prettier --write

feat:给gridItem添加事件
  src/components/grid/demos/index.tsx
  src/components/grid/grid.tsx
  src/components/grid/index.en.md
  src/components/grid/index.zh.md
Due: prettier --write

fix: (utils) mergeProps have redundant execution of _.assignWith (#4264)
  src/utils/with-default-props.tsx
Due: prettier --write

doc: (TabBar) demo with router
  src/components/tab-bar/demos/demo1.tsx
  src/components/tab-bar/demos/demo2.less
  src/components/tab-bar/demos/demo2.tsx
  src/components/tab-bar/index.en.md
  src/components/tab-bar/index.zh.md
Due: prettier --write, stylelint --fix

docs: (TabBar) demo with router (#4249)
  src/components/tab-bar/demos/demo1.tsx
  src/components/tab-bar/demos/demo2.less
  src/components/tab-bar/demos/demo2.tsx
  src/components/tab-bar/index.en.md
  src/components/tab-bar/index.zh.md
Due: prettier --write, stylelint --fix

doc: fix NavBar doc
  src/components/nav-bar/index.en.md
  src/components/nav-bar/index.zh.md
Due: none

fix: (SwipeAction) imperative method show (#4251)
  src/components/swipe-action/swipe-action.tsx
Due: prettier --write

feat: `Grid.Item` 新增 `onClick` 事件
  src/components/grid/grid.tsx
  src/components/grid/index.en.md
  src/components/grid/index.zh.md
Due: prettier --write

fix:(utils) withStopPropagation miss event param of props.onClick
  src/utils/with-stop-propagation.tsx
Due: prettier --write

refactor: (Tabs) animation related logic
  src/components/tabs/demos/index.tsx
  src/components/tabs/tabs.tsx
Due: prettier --write

fix: (Tabs) fix lint issues
  src/components/tabs/tabs.tsx
Due: prettier --write

enhance: (List.Item) remove unused div (#4258)
  src/components/list/list-item.tsx
Due: prettier --write

fix: 优化细节
  src/components/grid/grid.tsx
Due: prettier --write

fix: (ImageUploader) event.target is null inside callback due to React event pooling (#4267)
  src/components/image-uploader/image-uploader.tsx
Due: prettier --write

feat: (Grid) `Grid.Item` add `onClick` prop (#4269)
  src/components/grid/grid.tsx
  src/components/grid/index.en.md
  src/components/grid/index.zh.md
Due: prettier --write

fix: (utils) withStopPropagation miss event param of props.onClick (#4270)
  src/utils/with-stop-propagation.tsx
Due: prettier --write

enhance: (Ellipsis) improve the usage of resize observer
  src/components/ellipsis/ellipsis.tsx
Due: prettier --write

chore: fix dependencies
  package.json
  yarn.lock
Due: none

feat: (Form.Item) add `layout` prop
  src/components/form/form-item.tsx
  src/components/form/index.en.md
  src/components/form/index.zh.md
Due: prettier --write

feat: list & form add border prop
  src/components/form/demos/demo1.tsx
  src/components/form/form.tsx
  src/components/form/index.en.md
  src/components/form/index.zh.md
  src/components/list/demos/index.tsx
  src/components/list/index.en.md
  src/components/list/index.zh.md
  src/components/list/list.less
  src/components/list/list.tsx
Due: prettier --write, stylelint --fix

fix:(docs) popover doc use wrong Type for props.children
  src/components/popover/index.en.md
  src/components/popover/index.zh.md
Due: none

Path conditions:
  prettier --write: any of: src/**/*.{ts,tsx}
  stylelint --fix: any of: src/**/*.{less,css}
