Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

chore: upgrade dependencies
  package.json
  yarn.lock
Due: none

fix: (Picker) add safe area to prevent dragging from stucking when switching between apps on iOS
  src/components/picker/picker.tsx
Due: prettier --write

chore: change version
  package.json
Due: none

deploy: 614fb9e4cec5bc96667abe76cf3fcfb8b87fd6f1
  404.html
  index.html
  umi.863a0204.js
  umi.db273658.js
Due: none

feat: (Form) add `Form.Header`
  src/components/form/demos/demo1.tsx
  src/components/form/form.tsx
  src/components/form/header.tsx
  src/components/form/index.tsx
Due: prettier --write

fix: (CheckList) add class name
  src/components/cascader-view/cascader-view.less
  src/components/check-list/check-list.tsx
Due: prettier --write, stylelint --fix

fix: (CheckList & Cascader & CascaderView) item may bounce when get selected due to line-height
  src/components/check-list/check-list-item.tsx
  src/components/check-list/check-list.less
Due: prettier --write, stylelint --fix

fix: (Cascader) height & overflow effect
  src/components/cascader-view/cascader-view.less
  src/components/cascader/cascader.less
Due: stylelint --fix

enhance: (Cascader & CascadePicker) remove the check of whether children is empty array
  src/components/cascade-picker/use-cascade-picker-options.tsx
  src/components/cascader-view/cascader-view.tsx
Due: prettier --write

deploy: 4b6c5044f60e4fbb5514d28732bb8d35b81849d9
  404.html
  index.html
  umi.2f6fd791.css
  umi.863a0204.js
  umi.8ac40594.css
  umi.bef2d5fa.js
Due: none

doc: (Loading) update
  src/components/loading/index.en.md
  src/components/loading/index.zh.md
Due: none

doc: (Loading) update (#4662)
  src/components/loading/index.en.md
  src/components/loading/index.zh.md
Due: none

doc: Swiper
  src/components/swiper/index.en.md
  src/components/swiper/index.zh.md
Due: none

refactor: rename Loading to DotLoading while still keep Loading reference
  src/components/button/button.tsx
  src/components/dot-loading/demos/demo1.tsx
  src/components/dot-loading/dot-loading.less
  src/components/dot-loading/dot-loading.tsx
  src/components/dot-loading/index.ts
  src/components/image-uploader/preview-item.tsx
  src/components/infinite-scroll/infinite-scroll.tsx
  src/components/loading/index.en.md
  src/components/loading/index.ts
  src/components/loading/index.zh.md
  src/components/loading/loading.less
  src/components/toast/toast.tsx
  src/index.ts
Due: prettier --write, stylelint --fix

doc: DotLoading
  src/components/dot-loading/demos/demo1.tsx
  src/components/loading/index.en.md
  src/components/loading/index.zh.md
  src/index.ts
Due: prettier --write

fix: (DotLoading) change class prefix to `dot-loading`
  src/components/dot-loading/dot-loading.less
  src/components/dot-loading/dot-loading.tsx
Due: prettier --write, stylelint --fix

feat: add SpinLoading
  .dumi/theme/style/markdown.less
  src/components/dot-loading/dot-loading.tsx
  src/components/loading/index.en.md
  src/components/loading/index.zh.md
  src/components/spin-loading/demos/demo1.tsx
  src/components/spin-loading/index.ts
  src/components/spin-loading/spin-loading.less
  src/components/spin-loading/spin-loading.tsx
  src/index.ts
Due: prettier --write, stylelint --fix

enhance: (Toast) change the loading icon to spin
  src/components/toast/toast.less
  src/components/toast/toast.tsx
Due: prettier --write, stylelint --fix

refactor: adjust the usage of Loading
  src/components/button/button.tsx
  src/components/collapse/demos/demo1.tsx
  src/components/image-uploader/demos/utils.tsx
  src/components/image-uploader/image-uploader.less
  src/components/image-uploader/preview-item.tsx
  src/components/image/demos/demo2.tsx
  src/components/infinite-scroll/demos/content.tsx
  src/components/infinite-scroll/demos/demo3.tsx
  src/components/infinite-scroll/infinite-scroll.tsx
  src/components/toast/toast.tsx
Due: prettier --write, stylelint --fix

chore: move SafeArea and Skeleton out of experimental list
  config/components.ts
Due: none

doc: adjust doc theme
  .dumi/theme/components/LocaleSelect.tsx
  .dumi/theme/components/SearchBar.less
Due: none

fix: (utils) useTabListScroll not work when activeIndex value is 0
  src/utils/use-tab-list-scroll.ts
Due: prettier --write

feat: popover组件添加api：阻止冒泡
  src/components/popover/index.en.md
  src/components/popover/index.zh.md
  src/components/popover/popover.tsx
Due: prettier --write

enhance: (Image) make Image as block element
  src/components/image/image.less
Due: stylelint --fix

feat: add Avatar component
  config/components.ts
  src/components/avatar/avatar.less
  src/components/avatar/avatar.tsx
  src/components/avatar/demos/demo1.tsx
  src/components/avatar/fallback.tsx
  src/components/avatar/index.en.md
  src/components/avatar/index.ts
  src/components/avatar/index.zh.md
  src/index.ts
Due: prettier --write, stylelint --fix

feat: (Popover) add `stopPropagation` prop which defaults to `['click']` (#4670)
  src/components/popover/index.en.md
  src/components/popover/index.zh.md
  src/components/popover/popover.tsx
Due: prettier --write

enhance: useTabListScroll
  src/utils/use-tab-list-scroll.ts
Due: prettier --write

fix: (utils) useTabListScroll not work when activeIndex value is 0 (#4665)
  src/utils/use-tab-list-scroll.ts
Due: prettier --write

doc: (Tabs) add FAQ
  src/components/tabs/index.en.md
  src/components/tabs/index.zh.md
Due: none

doc: (Dropdown) fix doc
  src/components/dropdown/index.en.md
  src/components/dropdown/index.zh.md
Due: none

feat: (Dropdown) add `closeOnClickAway`
  src/components/dropdown/demos/demo3.tsx
  src/components/dropdown/dropdown.tsx
  src/components/dropdown/index.en.md
  src/components/dropdown/index.zh.md
Due: prettier --write

doc: fix Toast doc
  src/components/toast/index.en.md
  src/components/toast/index.zh.md
Due: none

fix: import path
  src/components/popover/popover.tsx
Due: prettier --write

deploy: 692b41e4fb04a6dec71f268e5a036ab79401d7a9
  404.html
  index.html
  umi.81271d7b.css
  umi.8ac40594.css
  umi.8de9250f.js
  umi.bef2d5fa.js
Due: none

feat: (SearchBar) add `--height` and `--icon-padding-left` css variables
  src/components/search-bar/demos/demo1.tsx
  src/components/search-bar/index.en.md
  src/components/search-bar/index.zh.md
  src/components/search-bar/search-bar.less
  src/components/search-bar/search-bar.tsx
Due: prettier --write, stylelint --fix

feat(Badge): move badge default color to css
  docs/guide/theming.en.md
  docs/guide/theming.zh.md
  src/components/badge/badge.less
  src/components/badge/badge.tsx
  src/components/badge/index.en.md
  src/components/badge/index.zh.md
  src/global/theme.less
Due: prettier --write, stylelint --fix

chore: remove `Search` alias
  src/index.ts
Due: prettier --write

feat: (Input) add `inputMode`
  src/components/input/input.tsx
Due: prettier --write

Path conditions:
  prettier --write: any of: src/**/*.{ts,tsx}
  stylelint --fix: any of: src/**/*.{less,css}
