Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

fix: Space嵌套使用时padding异常
  src/components/space/index.less
Due: stylelint --fix

chore: 更新版本号
  package.json
Due: none

refactor: Steps
  src/components/steps/demos/index.tsx
  src/components/steps/index.less
  src/components/steps/index.md
  src/components/steps/step.tsx
  src/components/steps/steps.tsx
  src/index.less
Due: prettier --write, stylelint --fix

fix: Step标题字体颜色
  src/components/steps/index.less
Due: stylelint --fix

fix: Steps默认显示小圆点图标
  src/components/steps/demos/index.tsx
  src/components/steps/index.less
  src/components/steps/steps.tsx
Due: prettier --write, stylelint --fix

chore: 更新CI
  .github/workflows/gh-pages.yml
Due: none

chore: 升级ESLint相关的依赖
  .eslintrc.js
  package.json
  src/components/tab-bar/index.tsx
  src/components/tabs/index.tsx
  src/components/toast/index.tsx
  src/utils/attach-properties-to-component.ts
  src/utils/element-props.ts
  yarn.lock
Due: prettier --write

feat: 基本的TextArea
  config/config.ts
  src/components/tab-bar/index.tsx
  src/components/text-area/demos/index.tsx
  src/components/text-area/index.less
  src/components/text-area/index.md
  src/components/text-area/index.tsx
  src/index.less
  src/index.ts
Due: prettier --write, stylelint --fix

feat: TextArea支持showCount
  src/components/text-area/demos/index.tsx
  src/components/text-area/index.less
  src/components/text-area/index.md
  src/components/text-area/index.tsx
Due: prettier --write, stylelint --fix

fix: 调整Input和TextArea的placeholder文字颜色
  src/components/input/index.less
  src/components/tab-bar/index.tsx
  src/components/text-area/index.less
Due: prettier --write, stylelint --fix

feat: 图片上传
  config/config.ts
  src/components/image-uploader/demos/demo1.tsx
  src/components/image-uploader/index.less
  src/components/image-uploader/index.md
  src/components/image-uploader/index.tsx
  src/components/image-uploader/util.ts
  src/index.less
  src/index.ts
  src/utils/validate.ts
Due: prettier --write, stylelint --fix

feat: TextArea增加了autoSize功能
  src/components/text-area/demos/index.tsx
  src/components/text-area/index.md
  src/components/text-area/index.tsx
Due: prettier --write

feat: 支持umd打包 & 构建产物目录调整
  .gitignore
  gulpfile.js
  package.json
  umd.html
  webpack.config.js
  yarn.lock
Due: none

feat: 支持GravityCDN
  package.json
Due: none

enhance: react-spring替换为@react-spring/web包
  gulpfile.js
  package.json
  yarn.lock
Due: none

feat: custom InfiniteScroll content
  src/components/infinite-scroll/demos/content.tsx
  src/components/infinite-scroll/index.md
  src/components/infinite-scroll/index.tsx
Due: prettier --write

chore: code style
  src/components/infinite-scroll/index.tsx
Due: prettier --write

docs: InfiniteScroll docs
  src/components/infinite-scroll/index.md
Due: none

doc: 更新文档
  src/components/image-uploader/index.less
  src/components/image-uploader/index.md
  src/components/image-uploader/index.tsx
Due: prettier --write, stylelint --fix

feat: 增加 maxCount 和 disabled API 的功能
  src/components/image-uploader/demos/demo1.tsx
  src/components/image-uploader/index.md
  src/components/image-uploader/index.tsx
Due: prettier --write

feat: clickPreview 功能
  src/components/image-uploader/index.md
  src/components/image-uploader/index.tsx
Due: prettier --write

feat: content no inject hasMore
  src/components/infinite-scroll/demos/content.tsx
  src/components/infinite-scroll/index.md
  src/components/infinite-scroll/index.tsx
Due: prettier --write

chore: 升级husky
  .husky/pre-commit
  package.json
  yarn.lock
Due: none

chore: 调整文档配置
  config/config.ts
  docs/guide/quick-start.md
  docs/index.md
Due: none

doc: 增加首页和FAQ文档
  README.md
  config/config.ts
  docs/guide/faq.md
  docs/guide/quick-start.md
  docs/index.md
Due: none

chore: 更新文档
  docs/index.md
Due: none

feat: getNativeAttributes
  .dumi/theme/builtins/SupportsNativeAttributes.tsx
  src/components/button/index.md
  src/components/button/index.tsx
  src/components/tabs/index.md
  src/components/tabs/index.tsx
  src/utils/get-native-attributes.ts
  tsconfig.json
Due: prettier --write

doc: 更新文档
  docs/index.md
Due: none

Create gh-pages-next.yml
  .github/workflows/gh-pages-next.yml
Due: none

fix: SupportsNativeAttributes
  .dumi/theme/builtins/SupportsNativeAttributes.tsx
Due: none

chore: gh-pages-next.yml
  .github/workflows/gh-pages-next.yml
Due: none

feat: 删除功能
  src/components/image-uploader/demos/demo1.tsx
  src/components/image-uploader/index.less
  src/components/image-uploader/index.md
  src/components/image-uploader/index.tsx
Due: prettier --write, stylelint --fix

fix: Tabs.TabPane getNativeAttributes
  src/components/tabs/index.tsx
Due: prettier --write

fix: Button & Popover.Menu样式
  src/components/button/demos/index.tsx
  src/components/button/index.less
  src/components/popover/index.less
Due: prettier --write, stylelint --fix

chore: 更新版本号和文档
  config/config.ts
  package.json
Due: none

feat: Drawer组件
  config/config.ts
  src/components/drawer/demos/index.tsx
  src/components/drawer/index.less
  src/components/drawer/index.md
  src/components/drawer/index.tsx
  src/index.less
  src/index.ts
  src/theme.less
Due: prettier --write, stylelint --fix

refactor: Drawer改名为FloatingPanel
  config/config.ts
  src/components/floating-panel/demos/index.tsx
  src/components/floating-panel/index.less
  src/components/floating-panel/index.md
  src/components/floating-panel/index.tsx
  src/index.less
  src/index.ts
Due: prettier --write, stylelint --fix

enhance: 优化FloatingPanel
  src/components/floating-panel/demos/index.tsx
  src/components/floating-panel/index.tsx
Due: prettier --write

Path conditions:
  prettier --write: any of: src/**/*.{ts,tsx}
  stylelint --fix: any of: src/**/*.{less,css}
