Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

feat(NoticeBar): optimize the style
  src/components/notice-bar/demos/demo1.tsx
  src/components/notice-bar/index.en.md
  src/components/notice-bar/index.zh.md
  src/components/notice-bar/notice-bar.less
  src/components/notice-bar/notice-bar.tsx
Due: prettier --write, stylelint --fix

feat(NoticeBar): optimize the code
  src/components/notice-bar/demos/demo1.tsx
  src/components/notice-bar/index.en.md
  src/components/notice-bar/index.zh.md
  src/components/notice-bar/notice-bar.less
  src/components/notice-bar/notice-bar.tsx
Due: prettier --write, stylelint --fix

feat(NoticeBar): word wrap when speed equals 0 and text is too long
  src/components/notice-bar/demos/demo1.tsx
  src/components/notice-bar/index.en.md
  src/components/notice-bar/index.zh.md
  src/components/notice-bar/notice-bar.less
  src/components/notice-bar/notice-bar.tsx
Due: prettier --write, stylelint --fix

feat(NoticeBar): add wrap prop
  src/components/notice-bar/demos/demo1.tsx
  src/components/notice-bar/index.en.md
  src/components/notice-bar/index.zh.md
  src/components/notice-bar/notice-bar.tsx
Due: prettier --write

chore: remove props comments
  src/components/notice-bar/notice-bar.tsx
Due: prettier --write

refactor: adjust wrap style
  src/components/notice-bar/demos/demo1.tsx
  src/components/notice-bar/index.en.md
  src/components/notice-bar/index.zh.md
  src/components/notice-bar/notice-bar.less
  src/components/notice-bar/notice-bar.tsx
Due: prettier --write, stylelint --fix

chore: remove comments
  src/components/notice-bar/demos/demo1.tsx
Due: prettier --write

refactor: order for feature prepare
  src/components/stepper/stepper.tsx
Due: prettier --write

refactor: order for feature prepare (#5827)
  src/components/stepper/stepper.tsx
Due: prettier --write

feat: adjust wrap style
  src/components/notice-bar/notice-bar.less
Due: stylelint --fix

doc: update demo content
  src/components/notice-bar/demos/demo1.tsx
Due: prettier --write

enhance: adjust height and line-height
  src/components/notice-bar/notice-bar.less
Due: stylelint --fix

doc: update height default
  src/components/notice-bar/index.en.md
  src/components/notice-bar/index.zh.md
Due: none

refactor: base format
  src/components/stepper/stepper.tsx
Due: prettier --write

chore: remove unused ts
  src/components/notice-bar/notice-bar.tsx
Due: prettier --write

chore: change Chinese comment to English
  src/components/notice-bar/notice-bar.tsx
Due: prettier --write

feat: support format
  src/components/stepper/stepper.tsx
Due: prettier --write

test: update test case
  src/components/stepper/demos/demo1.tsx
  src/components/stepper/stepper.tsx
  src/components/stepper/tests/stepper.test.tsx
Due: prettier --write

test: add some test
  src/components/image-uploader/tests/image-uploader.test.tsx
Due: prettier --write

doc: update doc & version
  .prettierrc.js
  src/components/stepper/index.en.md
  src/components/stepper/index.zh.md
Due: none

doc: add more desc
  src/components/stepper/index.en.md
  src/components/stepper/index.zh.md
Due: none

feat: stepper support `formatter` & `parser` (#5828)
  .prettierrc.js
  src/components/stepper/demos/demo1.tsx
  src/components/stepper/index.en.md
  src/components/stepper/index.zh.md
  src/components/stepper/stepper.tsx
  src/components/stepper/tests/stepper.test.tsx
Due: prettier --write

doc(Stepper): update
  src/components/stepper/index.en.md
  src/components/stepper/index.zh.md
Due: none

doc(Stepper): update (#5830)
  src/components/stepper/index.en.md
  src/components/stepper/index.zh.md
Due: none

test: add warp test
  src/components/notice-bar/tests/notice-bar.test.tsx
Due: prettier --write

fix(ImageUploader): revokeObjectURL while file change (#5815)
  src/components/image-uploader/preview-item.tsx
  src/components/image-uploader/tests/image-uploader.test.tsx
Due: prettier --write

feat(NoticeBar): add `wrap` props (#5810)
  src/components/notice-bar/demos/demo1.tsx
  src/components/notice-bar/index.en.md
  src/components/notice-bar/index.zh.md
  src/components/notice-bar/notice-bar.less
  src/components/notice-bar/notice-bar.tsx
  src/components/notice-bar/tests/notice-bar.test.tsx
Due: prettier --write, stylelint --fix

chore: bump 5.26.0
  package.json
Due: none

doc(CascaderView): fix Props placeholder
  src/components/cascader-view/index.en.md
  src/components/cascader-view/index.zh.md
Due: none

doc(CascaderView): fix Props placeholder (#5842)
  src/components/cascader-view/index.en.md
  src/components/cascader-view/index.zh.md
Due: none

doc: add next 13 guide
  docs/guide/ssr.en.md
  docs/guide/ssr.zh.md
Due: none

chore: update gitignore
  .gitignore
Due: none

doc: add next 13 guide (#5845)
  docs/guide/ssr.en.md
  docs/guide/ssr.zh.md
Due: none

chore: remove pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

chore: update gitignore (#5846)
  .gitignore
  pnpm-lock.yaml
Due: none

chore: upgrade `postcss`
  package.json
Due: none

Revert "chore: update gitignore (#5846)"
  .gitignore
  pnpm-lock.yaml
Due: none

Revert "chore: update gitignore" (#5851)
  .gitignore
  pnpm-lock.yaml
Due: none

chore: upgrade postcss
  package.json
  pnpm-lock.yaml
Due: none

Path conditions:
  prettier --write: any of: src/**/*.{ts,tsx}
  stylelint --fix: any of: src/**/*.{less,css}
