Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

Update demo-array.tsx
  src/components/form/demos/demo-array.tsx
Due: prettier --write

enhance: (Collapse) adjust animation config
  src/components/collapse/collapse.tsx
Due: prettier --write

doc: (Form.Array) update demo (#4932)
  src/components/form/demos/demo-array.tsx
Due: prettier --write

enhance: (Result) `title` and `description` support ReactNode
  src/components/result/index.en.md
  src/components/result/index.zh.md
  src/components/result/result.tsx
Due: prettier --write

doc: (Picker) add some note
  src/components/picker/index.en.md
  src/components/picker/index.zh.md
Due: none

fix: fix footerGroups title in home-page
  docs/components/home-page.tsx
Due: none

docs: modify footerGroups title in home-page
  docs/components/home-page.tsx
Due: none

fix: (VirtualInput) trigger the `onInput` `onDelete` `onClose` props of passed in `keyboard`
  src/components/virtual-input/virtual-input.tsx
Due: prettier --write

chore: change version
  package.json
Due: none

deploy: 0fd3555ca8dfaae6350f09534498da99635e614f
  404.html
  index.html
  umi.66d77626.js
  umi.eb2b3b82.js
Due: none

docs: modify footerGroups title in home-page (#4935)
  docs/components/home-page.tsx
Due: none

fix: passcodeInput
  src/components/passcode-input/passcode-input.tsx
Due: prettier --write

fix(passcodeinput): 修复 onFill 事件重复触发的问题
  src/components/passcode-input/passcode-input.tsx
Due: prettier --write

fix: (PasscodeInput) redundant trigger of `onFill` (#4936)
  src/components/passcode-input/passcode-input.tsx
Due: prettier --write

doc: update gallery
  .dumi/plugin-gallery/gallery.tsx
  .dumi/plugin-gallery/index.ts
Due: none

feat:新增香港繁体和台湾繁体
  src/components/config-provider/demos/demo1.tsx
  src/locales/zh-HK.ts
  src/locales/zh-TW.ts
Due: prettier --write

feat:下拉刷新\弹窗\对话框支持多语言
  src/components/dialog/confirm.tsx
  src/components/modal/confirm.tsx
  src/components/pull-to-refresh/pull-to-refresh.tsx
  src/locales/base.ts
  src/locales/zh-CN.ts
Due: prettier --write

fix: (Popover) does't show in label element
  src/components/popover/popover.tsx
Due: prettier --write

chore: add persian language
  src/components/config-provider/demos/demo1.tsx
  src/locales/fa-IR.ts
Due: prettier --write

doc: update gallery (#4943)
  .dumi/plugin-gallery/gallery.tsx
  .dumi/plugin-gallery/index.ts
Due: none

feat: add Persian language (#4950)
  src/components/config-provider/demos/demo1.tsx
  src/locales/fa-IR.ts
Due: prettier --write

fix: (Dialog & Modal) replace `useLocale` with `getDefaultLocale`
  src/components/dialog/confirm.tsx
  src/components/modal/confirm.tsx
Due: prettier --write

fix: (Form) help icon popover not working
  src/components/form/form-item.tsx
Due: prettier --write

deploy: ee22384c8b724a5ca8aa112a56c58f10eb93083f
  404.html
  index.html
  umi.66d77626.js
  umi.9d720d00.js
Due: none

feat: add property of `nativeElement` ref to use native input instance
  src/components/input/input.tsx
Due: prettier --write

test: add test cases
  src/components/input/tests/input.test.tsx
Due: prettier --write

feat: add renderLabel property for user-defined render label
  src/components/picker-view/picker-view.tsx
  src/components/picker-view/wheel.tsx
  src/components/picker/picker-utils.ts
  src/components/picker/picker.tsx
Due: prettier --write

test: add test cases for renderLabel
  src/components/picker/tests/picker.test.tsx
Due: prettier --write

docs: add nativeElement relate docs
  src/components/input/index.en.md
  src/components/input/index.zh.md
Due: none

test: update test
  src/components/input/tests/input.test.tsx
Due: prettier --write

docs: update `renderLabel` related docs
  src/components/picker/index.en.md
  src/components/picker/index.zh.md
Due: none

feat: generate bundle files for remix
  gulpfile.js
  package.json
  yarn.lock
Due: none

chore: bundle build error
  src/components/popover/popover.tsx
Due: prettier --write

enhance: (Modal & Dialog) adjust the spring configs
  src/components/dialog/dialog.tsx
  src/components/modal/modal.tsx
Due: prettier --write

chore: rm test script
  package.json
Due: none

chore: use pkg name for bundle build
  gulpfile.js
Due: none

feat: (Slider) support icon Props
  src/components/slider/demos/demo1.less
  src/components/slider/demos/demo1.tsx
  src/components/slider/index.en.md
  src/components/slider/index.zh.md
  src/components/slider/slider.tsx
  src/components/slider/thumb.tsx
Due: prettier --write, stylelint --fix

Path conditions:
  prettier --write: any of: src/**/*.{ts,tsx}
  stylelint --fix: any of: src/**/*.{less,css}
