Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

feat: add basic a11y support for Mask
  src/components/mask/demos/demo1.tsx
  src/components/mask/mask.less
  src/components/mask/mask.tsx
  src/locales/base.ts
  src/locales/zh-CN.ts
Due: prettier --write, stylelint --fix

doc: update Button css variable
  src/components/button/index.md
Due: none

doc: update Input css variable
  src/components/input/index.md
Due: none

doc: update Search css variable
  src/components/search/index.md
Due: none

enhance: change Popover trigger/placement prop type and PopMenu onAction
  src/components/popover/demos/index.tsx
  src/components/popover/index.md
  src/components/popover/pop-menu.tsx
  src/components/popover/popover.tsx
Due: prettier --write

fix: Mask and Dialog
  src/components/dialog/dialog.less
  src/components/mask/mask.tsx
Due: prettier --write, stylelint --fix

refactor: implement the animation of Popup with react-spring
  src/components/popup/popup.less
  src/components/popup/popup.tsx
Due: prettier --write, stylelint --fix

fix: Popup missing className
  src/components/popup/popup.tsx
Due: prettier --write

fix: ActionSheet tests
  src/components/action-sheet/tests/action-sheet.test.tsx
Due: prettier --write

chore: remove unused code
  src/components/popup/popup.tsx
Due: prettier --write

doc: update Dialog doc
  src/components/dialog/index.md
  src/components/dialog/show.tsx
Due: prettier --write

doc: update Dialog doc (#4034)
  src/components/dialog/index.md
  src/components/dialog/show.tsx
Due: prettier --write

enhance: Mask and Popup animation
  src/components/mask/mask.tsx
  src/components/popup/popup.tsx
Due: prettier --write

feat: Mask add afterShow prop
  src/components/mask/index.md
  src/components/mask/mask.tsx
Due: prettier --write

doc: fix README link
  README.md
Due: none

fix: Popup related tests
  src/components/action-sheet/tests/action-sheet.test.tsx
  src/components/date-picker/tests/date-picker.test.tsx
  src/components/popup/popup.tsx
Due: prettier --write

chore: update version
  package.json
Due: none

Update index.html
  index.html
Due: none

fix: Toast position error
  src/components/toast/toast.less
Due: stylelint --fix

fix: Toast loading icon size
  src/components/toast/toast.tsx
Due: prettier --write

refactor: Picker.Cascader -> CascadePicker
  src/components/cascade-picker/cascade-picker.tsx
  src/components/cascade-picker/index.ts
  src/components/cascade-picker/prompt.tsx
  src/components/picker/demos/index.tsx
  src/components/picker/index.ts
  src/index.ts
Due: prettier --write

fix: Stepper value error
  src/components/stepper/stepper.tsx
Due: prettier --write

doc: Picker
  .dumi/theme/builtins/Previewer.less
  config/components.ts
  src/components/date-picker/index.md
  src/components/picker/demos/cascade-picker-demo.tsx
  src/components/picker/demos/date-picker-demo.tsx
  src/components/picker/demos/index.tsx
  src/components/picker/index.md
Due: prettier --write

refactor: seperate the body of Picker to PickerView
  src/components/picker-view/column.tsx
  src/components/picker-view/index.md
  src/components/picker-view/index.ts
  src/components/picker-view/picker-view.less
  src/components/picker-view/picker-view.tsx
  src/components/picker-view/use-columns.tsx
  src/components/picker/index.md
  src/components/picker/index.ts
  src/components/picker/picker.less
  src/components/picker/picker.tsx
Due: prettier --write, stylelint --fix

fix: PickerView layout style
  config/components.ts
  src/components/picker-view/demos/basic.tsx
  src/components/picker-view/index.md
  src/components/picker-view/picker-view.less
  src/components/picker-view/picker-view.tsx
  src/components/picker/picker.less
  src/index.ts
Due: prettier --write, stylelint --fix

fix: PickerView mask leaks a small gap
  src/components/picker-view/demos/basic.tsx
  src/components/picker-view/picker-view.less
Due: prettier --write, stylelint --fix

fix: PickerView height in Picker
  src/components/picker/picker.less
Due: stylelint --fix

enhance: the behavior of PickerView in controlled mode
  src/components/picker-view/column.tsx
  src/components/picker-view/demos/basic.tsx
Due: prettier --write

doc: PickerView
  src/components/picker-view/index.md
Due: none

fix: wrong type import path in picker prompt
  src/components/picker/prompt.tsx
Due: prettier --write

enhance: expose event param in SwipeAction.Action.onClick
  src/components/swipe-action/index.md
  src/components/swipe-action/swipe-action.tsx
Due: prettier --write

enhance(PullToRefresh): add class to children wrap for cumstom styling
  src/components/pull-to-refresh/pull-to-refresh.tsx
Due: prettier --write

feat: adjust Mask.opacity presets to default, thin and thick
  src/components/mask/demos/demo1.tsx
  src/components/mask/mask.tsx
Due: prettier --write

feat: Mask add color prop
  src/components/mask/demos/demo1.tsx
  src/components/mask/index.md
  src/components/mask/mask.tsx
Due: prettier --write

fix: Mask usage in ImagePicker
  src/components/image-viewer/image-viewer.tsx
Due: prettier --write

enhance: SSR adaption on renderToContainer
  src/utils/render-to-container.ts
  src/utils/use-mounted.ts
Due: prettier --write

Path conditions:
  prettier --write: any of: src/**/*.{ts,tsx}
  stylelint --fix: any of: src/**/*.{less,css}
