Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

refactor(SwipeAction): adjust the implementation of `onActionsReveal`
  src/components/swipe-action/swipe-action.tsx
Due: prettier --write

doc: update SwipeAction demo
  src/components/swipe-action/demos/demo1.tsx
Due: prettier --write

feat(rate): delete ref
  src/components/rate/rate.less
  src/components/rate/rate.tsx
Due: prettier --write, stylelint --fix

fix(hook): fix Hook useResizeEffect,avoid ResizeObserver loop limit exceeded
  src/utils/use-resize-effect.tsx
Due: prettier --write

test(rate): fix test case
  src/components/rate/rate.tsx
  src/components/rate/tests/rate.test.tsx
Due: prettier --write

refactor(SwipeAction): optimization onActionsReveal
  src/components/swipe-action/swipe-action.tsx
Due: prettier --write

test(SwipeAction): add test for onActionsReveal prop
  src/components/swipe-action/tests/swipe-action.test.tsx
Due: prettier --write

feat(ResultPage): add ResultPage
  config/components.ts
  src/components/result-page/demos/demo1.tsx
  src/components/result-page/demos/demo2.tsx
  src/components/result-page/demos/demo3.tsx
  src/components/result-page/demos/demo4.tsx
  src/components/result-page/demos/demo5.tsx
  src/components/result-page/index.en.md
  src/components/result-page/index.ts
  src/components/result-page/index.zh.md
  src/components/result-page/result-page.less
  src/components/result-page/result-page.tsx
  src/index.ts
Due: prettier --write, stylelint --fix

feat(rate): support slide
  src/components/rate/rate.less
  src/components/rate/rate.tsx
Due: prettier --write, stylelint --fix

refactor(infinite-scroll): useIntersectionObserver refactor infinite scroll improve performance
  src/components/infinite-scroll/infinite-scroll.tsx
Due: prettier --write

feat(rate): useDrag replace raw events
  src/components/rate/rate.tsx
Due: prettier --write

fix(ellipsis): continuous english word break all
  src/components/ellipsis/ellipsis.less
Due: stylelint --fix

test(ellipsis): continuous english word break all
  src/components/ellipsis/tests/ellipsis.test.tsx
Due: prettier --write

fix(iinfinite-scroll): cancel intersectionObserver unobserve
  src/components/infinite-scroll/infinite-scroll.tsx
Due: prettier --write

test(FloatingBubble): add some tests
  src/components/floating-bubble/tests/floating-bubble.test.tsx
Due: prettier --write

enhance(FloatingBubble): adjust ts definition
  src/components/floating-bubble/floating-bubble.tsx
Due: prettier --write

test(FloatingBubble): add some tests (#5502)
  src/components/floating-bubble/floating-bubble.tsx
  src/components/floating-bubble/tests/floating-bubble.test.tsx
Due: prettier --write

test(Image): add some tests
  src/components/image/test/image.test.tsx
Due: prettier --write

refactor(Rate): adjust the gesture logic
  src/components/rate/rate.less
  src/components/rate/rate.tsx
Due: prettier --write, stylelint --fix

test(Image): add some tests (#5503)
  src/components/image/test/image.test.tsx
Due: prettier --write

feat(Rate): support slide gesture (#5497)
  src/components/rate/rate.less
  src/components/rate/rate.tsx
Due: prettier --write, stylelint --fix

fix(rate): add boundary judgements and replace default count to prop
  src/components/rate/rate.tsx
Due: prettier --write

chore: improve useResizeEffect
  src/utils/use-resize-effect.tsx
Due: prettier --write

fix(useResizeEffect): avoid `ResizeObserver loop limit exceeded` error (#5491)
  src/utils/use-resize-effect.tsx
Due: prettier --write

fix(Rate): add boundary judgements and replace default count to prop (#5505)
  src/components/rate/rate.tsx
Due: prettier --write

refactor(Rate): adjust the logic of value out of range check
  src/components/rate/rate.tsx
Due: prettier --write

test(Dropdown): add some tests
  src/components/dropdown/tests/dropdown.test.tsx
Due: prettier --write

test(Dropdown): add some tests (#5506)
  src/components/dropdown/tests/dropdown.test.tsx
Due: prettier --write

doc: update resource card icons
  docs/resources.en.md
  docs/resources.zh.md
Due: none

test: mock drag util
  src/tests/testing.tsx
Due: prettier --write

test(ImageViewer): adjust and add some tests
  src/components/image-viewer/tests/__snapshots__/image-viewer.test.tsx.snap
  src/components/image-viewer/tests/image-viewer.test.tsx
Due: prettier --write

enhance: upgrade `@use-gesture/react` to `10.2.17`
  package.json
  pnpm-lock.yaml
Due: none

fix(Swiper): fix a dragging gesture bug when imperatively call `jumpTo` in the `onClick` event of `Swiper.Item`
  src/components/swiper/swiper.tsx
Due: prettier --write

fix(SwipeAction): swipe animation
  src/components/swipe-action/swipe-action.tsx
Due: prettier --write

fix(SwipAction): remove console.log
  src/components/swipe-action/swipe-action.tsx
Due: prettier --write

fix(SwipeAction): fix position blink sometimes (like #5490)
  src/components/swipe-action/swipe-action.tsx
Due: prettier --write

refactor(Swiper): adjust some implementation
  src/components/swiper/swiper.tsx
Due: prettier --write

fix(SwipeAction): fix close on touch outside and interaction between SwipeActions
  src/components/swipe-action/swipe-action.tsx
Due: prettier --write

Path conditions:
  prettier --write: any of: src/**/*.{ts,tsx}
  stylelint --fix: any of: src/**/*.{less,css}
