Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": ["prettier --write"],
  "src/**/*.{less,css}": ["stylelint --fix"]
}

test: update test case
  src/components/swiper/tests/__snapshots__/swiper.test.tsx.snap
  src/components/swiper/tests/swiper.test.tsx
Due: prettier --write

fix: update time 2022 to 2024
  docs/components/components/Footer/index.tsx
Due: none

docs: update time 2022 to 2024 (#6505)
  docs/components/components/Footer/index.tsx
Due: none

feat(Swiper): support virtual scroll (#6504)
  package.json
  pnpm-lock.yaml
  src/components/stepper/stepper.tsx
  src/components/swiper/demos/demo8.less
  src/components/swiper/demos/demo8.tsx
  src/components/swiper/index.en.md
  src/components/swiper/index.zh.md
  src/components/swiper/swiper.less
  src/components/swiper/swiper.tsx
  src/components/swiper/tests/__snapshots__/swiper.test.tsx.snap
  src/components/swiper/tests/swiper.test.tsx
Due: prettier --write, stylelint --fix

chore: bump 5.33.4
  package.json
Due: none

Update text-area.less
  src/components/text-area/text-area.less
Due: stylelint --fix

fix(TextArea): readOnly should be scrollable (#6509)
  src/components/text-area/text-area.less
Due: stylelint --fix

fix(Cascader): 弹层样式与picker保持一致
  src/components/cascader/cascader.less
  src/components/cascader/cascader.tsx
Due: prettier --write, stylelint --fix

feat: add calendar scrollTo
  src/components/calendar-picker-view/calendar-picker-view.tsx
  src/components/calendar-picker/calendar-picker.tsx
Due: prettier --write

feat: add calendar-picker-view scrollTo
  src/components/calendar-picker-view/calendar-picker-view.tsx
  src/components/calendar-picker-view/tests/__snapshots__/calendar-picker-view.test.tsx.snap
  src/components/config-provider/tests/__snapshots__/config-provider.test.tsx.snap
Due: prettier --write

fix: 修复Radio组件隐藏所有input的问题 (#6492)
  src/components/checkbox/native-input.tsx
  src/components/radio/radio.less
  src/components/radio/radio.tsx
Due: prettier --write, stylelint --fix

feat: `TextArea` add `setSelectionRange `
  src/components/text-area/text-area.tsx
Due: prettier --write

fix: add `TextAreaRef` members
  src/components/text-area/text-area.tsx
Due: prettier --write

test: add test case for `TextArea` `setSelectionRange`
  src/components/text-area/tests/text-area.test.tsx
Due: prettier --write

docs: add doc for `TextArea` `setSelectionRange`
  src/components/text-area/index.en.md
  src/components/text-area/index.zh.md
Due: none

refactor: replace lodash/memoize with nano-memoize
  package.json
  pnpm-lock.yaml
  src/components/cascader-view/use-cascader-value-extend.tsx
Due: prettier --write

refactor: replace lodash/merge with deepmerge
  package.json
  pnpm-lock.yaml
  src/components/form/form.tsx
Due: prettier --write

refactor: replace lodash/isEqual with react-fast-compare
  package.json
  pnpm-lock.yaml
  src/components/picker-view/wheel.tsx
Due: prettier --write

refactor: replace lodash/assignWith with deepmerge
  src/utils/with-default-props.tsx
Due: prettier --write

feat: add calendar scrollTo
  src/components/calendar-picker-view/calendar-picker-view.tsx
  src/components/calendar-picker-view/calendar-picker-view.zh.md
  src/components/calendar-picker-view/tests/__snapshots__/calendar-picker-view.test.tsx.snap
  src/components/calendar-picker-view/tests/calendar-picker-view.test.tsx
  src/components/calendar-picker/calendar-picker.zh.md
  src/components/calendar-picker/tests/calendar-picker.test.tsx
  src/components/config-provider/tests/__snapshots__/config-provider.test.tsx.snap
Due: prettier --write

refactor: replace lodash/isEqual with react-fast-compare (#6526)
  package.json
  pnpm-lock.yaml
  src/components/picker-view/wheel.tsx
Due: prettier --write

feat(CalendarPickerView): 设置min值并且设置了value/defaultValue时，视图优先渲染value/defaultValue值，新增scrollTo API支持跳转到指定日期
  src/components/calendar-picker-view/calendar-picker-view.tsx
  src/components/calendar-picker/calendar-picker.tsx
Due: prettier --write

test: 测试用例
  src/components/calendar-picker-view/tests/__snapshots__/calendar-picker-view.test.tsx.snap
  src/components/calendar-picker-view/tests/calendar-picker-view.test.tsx
  src/components/calendar-picker/calendar-picker.tsx
  src/components/calendar-picker/tests/calendar-picker.test.tsx
  src/components/config-provider/tests/__snapshots__/config-provider.test.tsx.snap
Due: prettier --write

feat: 修改scrollTo 调用时机
  src/components/calendar-picker-view/calendar-picker-view.tsx
  src/components/calendar-picker/calendar-picker.tsx
Due: prettier --write

fix: test 报错
  src/components/calendar-picker-view/calendar-picker-view.tsx
Due: prettier --write

Update demo1.tsx
  src/components/slider/demos/demo1.tsx
Due: prettier --write

Update demo2.tsx
  src/components/slider/demos/demo2.tsx
Due: prettier --write

refactor(infinite-scroll): optimize error handling in scroll functions
  src/components/infinite-scroll/infinite-scroll.tsx
Due: prettier --write

feat: add th-TH locale
  docs/guide/i18n.en.md
  docs/guide/i18n.zh.md
  src/components/config-provider/tests/__snapshots__/config-provider.test.tsx.snap
  src/components/config-provider/tests/config-provider.test.tsx
  src/locales/th-TH.ts
Due: prettier --write

feat: add th-TH locale (#6533)
  docs/guide/i18n.en.md
  docs/guide/i18n.zh.md
  src/components/config-provider/tests/__snapshots__/config-provider.test.tsx.snap
  src/components/config-provider/tests/config-provider.test.tsx
  src/locales/th-TH.ts
Due: prettier --write

refactor: @rc-component/mini-decimal -> big.js
  package.json
  src/components/slider/slider.tsx
  src/components/stepper/stepper.tsx
Due: prettier --write

fix: memoize equal
  package.json
  src/components/cascader-view/use-cascader-value-extend.tsx
Due: prettier --write

fix: memoize equal
  pnpm-lock.yaml
Due: none

refactor: import
  src/components/cascader-view/use-cascader-value-extend.tsx
Due: prettier --write

chore: simplify logic
  src/components/infinite-scroll/infinite-scroll.tsx
Due: prettier --write

fix: pick strictly equal
  src/components/picker-view/wheel.tsx
Due: prettier --write

refactor(infinite-scroll): optimize error handling in scroll functions (#6531)
  src/components/infinite-scroll/infinite-scroll.tsx
Due: prettier --write

docs: update slider demo1.tsx (#6529)
  src/components/slider/demos/demo1.tsx
Due: prettier --write
