Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

fix: cascade-picker same value childen is overwritten
  src/components/cascade-picker/cascade-picker-utils.ts
  src/components/cascade-picker/demos/demo1.tsx
  src/components/cascade-picker/use-cascade-picker-options.tsx
Due: prettier --write

fix: (Swiper) fix component type missing after build
  src/components/swiper/swiper.tsx
Due: prettier --write

fix: (CascadePicker) same value children is overwritten (#5132)
  src/components/cascade-picker/cascade-picker-utils.ts
  src/components/cascade-picker/demos/demo1.tsx
  src/components/cascade-picker/use-cascade-picker-options.tsx
Due: prettier --write

refactor: (CascadePicker) replace `generateCascadePickerColumns` and `useCascadePickerOptions` with `useColumnsFn`
  src/components/cascade-picker-view/cascade-picker-view.tsx
  src/components/cascade-picker/cascade-picker-utils.ts
  src/components/cascade-picker/cascade-picker.tsx
  src/components/cascade-picker/use-cascade-picker-options.tsx
Due: prettier --write

chore: change version
  package.json
Due: none

deploy: 563803cda69a929715781c1310dc9be6df520425
  404.html
  index.html
  umi.902ecc52.js
  umi.ac9b746d.js
Due: none

enhance: (ImageUploader) add aria-label
  src/components/image-uploader/image-uploader.tsx
  src/locales/base.ts
  src/locales/zh-CN.ts
Due: prettier --write

test: (ImageUploader) add some tests
  src/components/image-uploader/tests/__snapshots__/image-uploader.test.tsx.snap
  src/components/image-uploader/tests/image-uploader.test.tsx
Due: prettier --write

test: (ConfigProvider) add `ImageUploader` locale tests
  src/components/config-provider/tests/__snapshots__/config-provider.test.tsx.snap
  src/components/config-provider/tests/config-provider.test.tsx
Due: prettier --write

fix: (VirtualInput) prevent long press to make the input element lose focus
  src/components/virtual-input/virtual-input.tsx
Due: prettier --write

enhance: add isNodeWithContentCheck to prevent rendering number `0` in List.Item
  src/components/list/list-item.tsx
  src/utils/is-node-with-content.ts
Due: prettier --write

fix: TextArea 在 useLayoutEffect 中操作 dom 变更
  src/components/text-area/text-area.tsx
Due: prettier --write

fix: (TextArea) replace useEffect with useLayoutEffect since there is DOM mutation (#5139)
  src/components/text-area/text-area.tsx
Due: prettier --write

deploy: c772141c9e01665d61942008f0c8309c7d86094a
  404.html
  index.html
  umi.8265ee33.js
  umi.ac9b746d.js
Due: none

fix: (Tabs & JumboTabs & CapsuleTabs) auto scroll fail when the parent element is a flex layout
  src/components/capsule-tabs/capsule-tabs.less
  src/components/jumbo-tabs/jumbo-tabs.less
  src/components/tabs/tabs.less
Due: stylelint --fix

feat: (Calendar) add month and year arrow button classname
  src/components/calendar/calendar.tsx
Due: prettier --write

test: (Calendar) update snapshots
  src/components/calendar/tests/__snapshots__/calendar.test.tsx.snap
Due: none

fix: (Tabs & JumboTabs & CapsuleTabs) auto scroll fail when the parent element is a flex layout (#5145)
  src/components/capsule-tabs/capsule-tabs.less
  src/components/jumbo-tabs/jumbo-tabs.less
  src/components/tabs/tabs.less
Due: stylelint --fix

enhance: (Calendar) add month and year arrow button classname (#5146)
  src/components/calendar/calendar.tsx
  src/components/calendar/tests/__snapshots__/calendar.test.tsx.snap
Due: prettier --write

test: fix snapshot
  src/components/config-provider/tests/__snapshots__/config-provider.test.tsx.snap
Due: none

enhance: (TextArea) replace useLayoutEffect with useIsomorphicLayoutEffect
  src/components/text-area/text-area.tsx
Due: prettier --write

feat:(calendar)support custome of navigation label
  src/components/calendar/calendar.en.md
  src/components/calendar/calendar.tsx
  src/components/calendar/calendar.zh.md
  src/components/calendar/demos/demo1.tsx
Due: prettier --write

fix: fix code
  src/components/calendar/calendar.en.md
  src/components/calendar/calendar.tsx
  src/components/calendar/calendar.zh.md
  src/components/calendar/demos/demo1.tsx
Due: prettier --write

fix: remove code
  src/components/calendar/demos/demo1.tsx
Due: prettier --write

doc: (Popover) add demo with close icon
  src/components/popover/demos/demo4.less
  src/components/popover/demos/demo4.tsx
  src/components/popover/index.en.md
  src/components/popover/index.zh.md
Due: prettier --write, stylelint --fix

doc: adjust nav popover
  .dumi/theme/components/Navbar.tsx
  config/config.ts
Due: none

chore: remove some unused imports
  .dumi/theme/components/Navbar.tsx
  .dumi/theme/layouts/index.tsx
  src/components/cascader-view/tests/cascader-view.test.tsx
  src/components/error-block/tests/error-block.test.tsx
  src/components/form/tests/form.test.tsx
  src/components/input/tests/input.test.tsx
  src/components/picker/tests/picker.test.tsx
Due: prettier --write

test: (Tabs & CapsuleTabs & JumboTabs) add some tests
  src/components/capsule-tabs/tests/capsule-tabs.test.tsx
  src/components/jumbo-tabs/tests/jumbo-tabs.test.tsx
  src/components/tabs/tests/__snapshots__/tabs.test.tsx.snap
  src/components/tabs/tests/tabs.test.tsx
Due: prettier --write

test: (Tabs & CapsuleTabs & JumboTabs) add some tests (#5151)
  src/components/capsule-tabs/tests/capsule-tabs.test.tsx
  src/components/jumbo-tabs/tests/jumbo-tabs.test.tsx
  src/components/tabs/tests/__snapshots__/tabs.test.tsx.snap
  src/components/tabs/tests/tabs.test.tsx
Due: prettier --write

feat:(Picker) add popupClassName & popupStyle prop
  src/components/picker/index.en.md
  src/components/picker/index.zh.md
  src/components/picker/picker.tsx
Due: prettier --write

fix: fix code
  src/components/picker/index.en.md
  src/components/picker/index.zh.md
Due: none

doc: (Popover) update FAQ
  src/components/popover/index.en.md
  src/components/popover/index.zh.md
Due: none

Apply suggestions from code review
  src/components/picker/index.en.md
  src/components/picker/index.zh.md
Due: none

feat: (Picker) add popupClassName & popupStyle props (#5156)
  src/components/picker/index.en.md
  src/components/picker/index.zh.md
  src/components/picker/picker.tsx
Due: prettier --write

feat: (Calendar) support custom navigation label (#5149)
  src/components/calendar/calendar.en.md
  src/components/calendar/calendar.tsx
  src/components/calendar/calendar.zh.md
  src/components/calendar/demos/demo1.tsx
Due: prettier --write

feat: (Input & TextArea) support native `name` prop
  src/components/input/input.tsx
  src/components/text-area/text-area.tsx
Due: prettier --write

fix: (CascadePicker, DatePicker) use Picker Ref. Add more demos
  src/components/cascade-picker/cascade-picker.tsx
  src/components/cascade-picker/demos/demo1.tsx
  src/components/date-picker/date-picker.tsx
  src/components/date-picker/demos/demo1.tsx
  src/components/picker/demos/demo1.tsx
Due: prettier --write

feat: (Picker, DatePicker, CascadePicker) enhance children
  src/components/cascade-picker/cascade-picker.tsx
  src/components/cascade-picker/index.ts
  src/components/date-picker/date-picker.tsx
  src/components/date-picker/index.ts
  src/components/picker/demos/demo1.tsx
  src/components/picker/index.en.md
  src/components/picker/index.ts
  src/components/picker/index.zh.md
  src/components/picker/picker.tsx
  src/utils/use-controllable-visible.ts
Due: prettier --write

fix: (ImageUploader) fix the same file doesn't trigger beforeUpload
  src/components/image-uploader/image-uploader.tsx
Due: prettier --write

Path conditions:
  prettier --write: any of: src/**/*.{ts,tsx}
  stylelint --fix: any of: src/**/*.{less,css}
