Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": ["prettier --write"],
  "src/**/*.{less,css}": ["stylelint --fix"]
}

feat(input): 完善 enterKeyHint 类型定义 (#7072)
  src/components/input/input.tsx
  src/components/input/tests/input.test.tsx
  src/components/text-area/tests/text-area.test.tsx
  src/components/text-area/text-area.tsx
Due: prettier --write

fix(popover): 修复点击外部触发 ref.show() 时弹窗关闭问题
  src/components/popover/popover.tsx
  src/components/popover/tests/popover.test.tsx
Due: prettier --write

feat(popover): 添加定时器清理逻辑
  src/components/popover/popover.tsx
Due: prettier --write

chore(popover): 添加功能注释
  src/components/popover/popover.tsx
Due: prettier --write

fix(ci): align workflow Node.js version with package engines
  .github/workflows/check.yml
  .github/workflows/doc-site.yml
  .github/workflows/pkg.pr.new.yml
  .github/workflows/preview-build.yml
Due: none

fix(ci): keep dumi doc/preview builds on Node 16
  .github/workflows/doc-site.yml
  .github/workflows/preview-build.yml
Due: none

refactor(error-block): 将图片素材封装为内部 useId 的组件
  src/components/error-block/create-error-block.tsx
  src/components/error-block/error-block.tsx
  src/components/error-block/images/busy.tsx
  src/components/error-block/images/default.tsx
  src/components/error-block/images/disconnected.tsx
  src/components/error-block/images/empty.tsx
  src/components/error-block/images/index.tsx
  src/components/error-block/index.ts
Due: prettier --write

fix(error-block): 恢复 image prop 的工厂函数支持
  src/components/error-block/create-error-block.tsx
  src/components/error-block/index.ts
Due: prettier --write

fix(error-block): 还原 createErrorBlock 为不感知 id 的原始逻辑
  src/components/error-block/create-error-block.tsx
  src/components/error-block/index.ts
Due: prettier --write

feat(error-block): 支持动态生成svg元素id (#7063)
  src/components/config-provider/tests/__snapshots__/config-provider.test.tsx.snap
  src/components/error-block/create-error-block.tsx
  src/components/error-block/error-block.tsx
  src/components/error-block/images/busy.tsx
  src/components/error-block/images/default.tsx
  src/components/error-block/images/disconnected.tsx
  src/components/error-block/images/empty.tsx
  src/components/error-block/images/index.tsx
  src/components/error-block/tests/__snapshots__/error-block.test.tsx.snap
Due: prettier --write

fix(form): support single child wrapped in array
  src/components/form/form-item.tsx
  src/components/form/tests/form.test.tsx
Due: prettier --write

fix(form): support single child wrapped in array (#7075)
  src/components/form/form-item.tsx
  src/components/form/tests/form.test.tsx
Due: prettier --write

test(Popup): cover visibility resume cleanup
  src/components/center-popup/tests/center-popup.test.tsx
  src/components/popup/tests/popup.test.tsx
  src/components/popup/tests/use-spring-resume-on-visible.test.ts
Due: prettier --write

refactor(Popup): simplify visibility resume hook
  src/components/center-popup/center-popup.tsx
  src/components/mask/mask.tsx
  src/components/popup/popup.tsx
  src/components/popup/tests/use-spring-resume-on-visible.test.ts
  src/utils/use-spring-resume-on-visible.ts
Due: prettier --write

refactor(Popup): centralize spring lifecycle
  src/components/center-popup/center-popup.tsx
  src/components/mask/mask.tsx
  src/components/mask/tests/mask.test.tsx
  src/components/popup/popup.tsx
  src/components/popup/tests/use-popup-spring-lifecycle.test.ts
  src/components/popup/tests/use-spring-resume-on-visible.test.ts
  src/utils/use-popup-spring-lifecycle.ts
  src/utils/use-spring-resume-on-visible.ts
Due: prettier --write

refactor(Popup): decouple visibility handling
  src/components/center-popup/center-popup.tsx
  src/components/mask/mask.tsx
  src/components/modal/tests/modal.test.tsx
  src/components/popup/popup.tsx
  src/components/popup/tests/use-popup-spring-lifecycle.test.ts
  src/utils/tests/use-on-page-visible.test.ts
  src/utils/use-on-page-visible.ts
  src/utils/use-popup-spring-lifecycle.ts
Due: prettier --write

fix(calendar-picker): 修复 convertPageToDayjs 月末跨月滚动并细化边界比较
  src/components/calendar-picker-view/calendar-picker-view.tsx
  src/components/calendar-picker-view/convert.ts
  src/components/calendar-picker-view/tests/calendar-picker-view.test.tsx
Due: prettier --write

fix(docs): localize iframe demos
  .dumi/theme/components/device.tsx
  .dumi/theme/layouts/demo.tsx
  .dumi/theme/utils/demo-locale.test.ts
  .dumi/theme/utils/demo-locale.ts
Due: none

feat(Tabs): expose header border variable
  src/components/tabs/index.en.md
  src/components/tabs/index.zh.md
  src/components/tabs/tabs.less
  src/components/tabs/tabs.tsx
Due: prettier --write, stylelint --fix

fix(Toast): ignore outdated handler close
  src/components/toast/methods.tsx
  src/components/toast/tests/toast.test.tsx
Due: prettier --write

fix(Toast): cancel cleared timeout
  src/components/toast/methods.tsx
Due: prettier --write

fix(docs): address demo locale review
  .dumi/theme/components/device.tsx
  .dumi/theme/utils/demo-locale.test.ts
Due: none

fix(NavBar): make back control keyboard accessible
  src/components/nav-bar/nav-bar.less
  src/components/nav-bar/nav-bar.tsx
  src/components/nav-bar/tests/nav-bar.test.tsx
Due: prettier --write, stylelint --fix

fix(NavBar): address accessibility review
  src/components/nav-bar/nav-bar.less
  src/components/nav-bar/nav-bar.tsx
  src/components/nav-bar/tests/nav-bar.test.tsx
  src/locales/ar-SA.ts
  src/locales/base.ts
  src/locales/cnr-ME.ts
  src/locales/da-DK.ts
  src/locales/de-DE.ts
  src/locales/es-ES.ts
  src/locales/fa-IR.ts
  src/locales/fr-FR.ts
  src/locales/hr-HR.ts
  src/locales/hu-HU.ts
  src/locales/id-ID.ts
  src/locales/in-ID.ts
  src/locales/it-IT.ts
  src/locales/ja-JP.ts
  src/locales/kk-KZ.ts
  src/locales/ko-KR.ts
  src/locales/ms-MY.ts
  src/locales/nb-NO.ts
  src/locales/nl-NL.ts
  src/locales/pt-BR.ts
  src/locales/ru-RU.ts
  src/locales/sr-RS.ts
  src/locales/th-TH.ts
  src/locales/tr-TR.ts
  src/locales/vi-VN.ts
  src/locales/zh-CN.ts
  src/locales/zh-HK.ts
  src/locales/zh-TW.ts
Due: prettier --write, stylelint --fix

fix(Popup): make close controls keyboard accessible
  src/components/center-popup/center-popup.less
  src/components/center-popup/center-popup.tsx
  src/components/center-popup/tests/center-popup.test.tsx
  src/components/popup/popup.less
  src/components/popup/popup.tsx
  src/components/popup/tests/popup.test.tsx
Due: prettier --write, stylelint --fix

fix: make picker header actions keyboard accessible
  src/components/cascader/cascader.less
  src/components/cascader/cascader.tsx
  src/components/cascader/tests/cascader.test.tsx
  src/components/picker/picker.less
  src/components/picker/picker.tsx
  src/components/picker/tests/picker.test.tsx
Due: prettier --write, stylelint --fix

docs: add release skill
  .agents/skills/antd-mobile-release/SKILL.md
Due: none

docs: clarify release preparation workflow
  .agents/skills/antd-mobile-release/SKILL.md
Due: none

chore: change version
  package.json
Due: none

docs: require versioned release commit title
  .agents/skills/antd-mobile-release/SKILL.md
Due: none

docs: correct release handoff sequence
  .agents/skills/antd-mobile-release/SKILL.md
Due: none

docs: account for npm publish delay
  .agents/skills/antd-mobile-release/SKILL.md
Due: none
