Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

feat: expand/collapse text support custom element
  src/components/ellipsis/demos/demo1.tsx
  src/components/ellipsis/ellipsis.less
  src/components/ellipsis/ellipsis.tsx
Due: prettier --write, stylelint --fix

refactor: adjust code
  src/components/ellipsis/ellipsis.tsx
Due: prettier --write

test: update test
  src/components/ellipsis/tests/__snapshots__/ellipsis.test.tsx.snap
  src/components/ellipsis/tests/ellipsis.test.tsx
Due: prettier --write

refactor: remove hidden logic
  src/components/ellipsis/ellipsis.less
  src/components/ellipsis/ellipsis.tsx
Due: prettier --write, stylelint --fix

test: update
  src/components/ellipsis/tests/__snapshots__/ellipsis.test.tsx.snap
  src/components/ellipsis/tests/ellipsis.test.tsx
Due: prettier --write

refactor: delete args
  src/components/notice-bar/notice-bar.tsx
Due: prettier --write

test: add click test
  src/components/notice-bar/tests/notice-bar.test.tsx
Due: prettier --write

doc: delete args type
  src/components/notice-bar/index.en.md
  src/components/notice-bar/index.zh.md
Due: none

doc: click update
  src/components/notice-bar/index.en.md
  src/components/notice-bar/index.zh.md
Due: none

feat(Ellipsis): add icon (#6134)
  src/components/ellipsis/demos/demo1.tsx
  src/components/ellipsis/ellipsis.tsx
  src/components/ellipsis/index.en.md
  src/components/ellipsis/index.zh.md
  src/components/ellipsis/tests/ellipsis.test.tsx
Due: prettier --write

feat(notice-bar): add click event (#6140)
  src/components/notice-bar/index.en.md
  src/components/notice-bar/index.zh.md
  src/components/notice-bar/notice-bar.tsx
  src/components/notice-bar/tests/notice-bar.test.tsx
Due: prettier --write

fix(swiper): repair onIndexChange trigger #6143
  src/components/swiper/swiper.tsx
Due: prettier --write

fix: first run
  src/components/swiper/swiper.tsx
Due: prettier --write

doc: autoplay loop
  src/components/swiper/demos/demo1.tsx
Due: prettier --write

style: nomal
  src/components/swiper/demos/demo1.tsx
Due: prettier --write

Update Qcode of DingTalk group in README.md
  README.md
Due: none

Update Qcode of DingTalk group in README.md (#6148)
  README.md
Due: none

fix(InfiniteScroll): fixing error when updating state after releasing a component
  src/components/infinite-scroll/infinite-scroll.tsx
Due: prettier --write

docs: update the description of the css-variables.zh/en.md
  docs/guide/css-variables.en.md
  docs/guide/css-variables.zh.md
Due: none

docs: update the description of the css-variables.zh/en.md (#6152)
  docs/guide/css-variables.en.md
  docs/guide/css-variables.zh.md
Due: none

fix: smooth of pull2refresh
  src/components/pull-to-refresh/pull-to-refresh.tsx
Due: prettier --write

fix(PullToRefresh): fix shaking when in high resolution screen (#6153)
  src/components/pull-to-refresh/pull-to-refresh.tsx
Due: prettier --write

fix(swiper): repair onIndexChange trigger #6143 (#6144)
  src/components/swiper/demos/demo1.tsx
  src/components/swiper/swiper.tsx
Due: prettier --write

enhance: ellipsis display glint
  src/components/ellipsis/ellipsis.tsx
Due: prettier --write

style: simplify code
  src/components/ellipsis/ellipsis.tsx
Due: prettier --write

enhance: ellipsis display glint (#6155)
  src/components/ellipsis/ellipsis.tsx
  src/components/ellipsis/tests/__snapshots__/ellipsis.test.tsx.snap
  src/components/ellipsis/tests/ellipsis.test.tsx
Due: prettier --write

fix: ListItemProps.onClick type
  src/components/list/list-item.tsx
Due: prettier --write

chore: 不是 loop 循环时也添加 active class
  src/components/swiper/swiper.tsx
Due: prettier --write

feat(Swiper): add active class when not a loop (#6159)
  src/components/swiper/swiper.tsx
Due: prettier --write

enhance(List): ListItem `onClick` type completion (#6158)
  src/components/list/list-item.tsx
Due: prettier --write

style: import优化&注释的老旧代码删除
  .dumi/theme/builtins/preview-default/Previewer.tsx
  .dumi/theme/builtins/preview-default/use-code-sandbox.tsx
  .dumi/theme/components/SideMenu.tsx
  .dumi/theme/components/device.tsx
  .dumi/theme/components/slug-list.tsx
  .dumi/theme/layouts/index.tsx
  config/config.ts
  src/components/avatar/avatar.tsx
Due: prettier --write

style: code simplify (#6161)
  .dumi/theme/builtins/preview-default/Previewer.tsx
  .dumi/theme/builtins/preview-default/use-code-sandbox.tsx
  .dumi/theme/components/SideMenu.tsx
  .dumi/theme/components/device.tsx
  .dumi/theme/components/slug-list.tsx
  .dumi/theme/layouts/index.tsx
  config/config.ts
  src/components/avatar/avatar.tsx
Due: prettier --write

style: 修复多出push(child)的提示&import React处优化
  src/components/capsule-tabs/capsule-tabs.tsx
  src/components/collapse/collapse.tsx
  src/components/dropdown/dropdown.tsx
  src/components/jumbo-tabs/jumbo-tabs.tsx
  src/components/rate/star.tsx
  src/components/safe-area/safe-area.tsx
  src/components/side-bar/side-bar.tsx
  src/components/skeleton/skeleton.tsx
  src/components/tab-bar/tab-bar.tsx
  src/components/tabs/tabs.tsx
Due: prettier --write

style: 重复的if语句合并
  src/components/calendar/convert.ts
Due: prettier --write

feat: update calendar
  src/components/calendar/calendar.en.md
  src/components/calendar/calendar.less
  src/components/calendar/calendar.tsx
  src/components/calendar/calendar.zh.md
  src/components/calendar/demos/demo1.tsx
  src/components/calendar/demos/demo2.tsx
  src/components/calendar/demos/demo3.less
  src/components/calendar/demos/demo3.tsx
  src/components/calendar/demos/demo4.tsx
  src/components/calendar/demos/demo5.less
  src/components/calendar/demos/demo5.tsx
  src/components/calendar/tests/__snapshots__/calendar.test.tsx.snap
  src/components/calendar/tests/calendar.test.tsx
  src/locales/base.ts
  src/locales/zh-CN.ts
Due: prettier --write, stylelint --fix

feat: add id
  src/components/button/button.tsx
  src/components/image/image.tsx
  src/components/input/input.tsx
Due: prettier --write

fix: `useSyncExternalStore` causes error on ssr
  src/utils/reduce-and-restore-motion.ts
Due: prettier --write

fix: `useSyncExternalStore` causes error on ssr (#6177)
  src/utils/reduce-and-restore-motion.ts
Due: prettier --write

feat: Button Image Input add id (#6176)
  src/components/button/button.tsx
  src/components/image/image.tsx
  src/components/input/input.tsx
Due: prettier --write

Path conditions:
  prettier --write: any of: src/**/*.{ts,tsx}
  stylelint --fix: any of: src/**/*.{less,css}
