Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

docs: update title type doc
  src/components/calendar-picker/calendar-picker.en.md
  src/components/calendar-picker/calendar-picker.zh.md
Due: none

docs(CalenderPickerView): update title type doc
  src/components/calendar-picker-view/calendar-picker-view.en.md
  src/components/calendar-picker-view/calendar-picker-view.zh.md
Due: none

docs(CalenderPickerView): update title type doc (#6696)
  src/components/calendar-picker-view/calendar-picker-view.en.md
  src/components/calendar-picker-view/calendar-picker-view.zh.md
Due: none

feat(notice-bar): shape and bordered prop
  src/components/notice-bar/demos/demo1.tsx
  src/components/notice-bar/index.en.md
  src/components/notice-bar/index.zh.md
  src/components/notice-bar/notice-bar.less
  src/components/notice-bar/notice-bar.tsx
  src/components/notice-bar/tests/__snapshots__/notice-bar.test.tsx.snap
Due: prettier --write, stylelint --fix

feat(notice-bar): shape and bordered prop (#6691)
  src/components/notice-bar/demos/demo1.tsx
  src/components/notice-bar/index.en.md
  src/components/notice-bar/index.zh.md
  src/components/notice-bar/notice-bar.less
  src/components/notice-bar/notice-bar.tsx
  src/components/notice-bar/tests/__snapshots__/notice-bar.test.tsx.snap
Due: prettier --write, stylelint --fix

docs: update deps to antd-mobile
  docs/components/components/Main/MainSection/index.local.less
  docs/components/components/Main/MainSection/index.tsx
  docs/components/components/Main/index.local.less
  docs/components/components/Main/index.tsx
  package.json
  pnpm-lock.yaml
Due: none

chore: clean up
  docs/components/home-page.tsx
Due: none

docs: update deps to antd-mobile (#6699)
  docs/components/components/Main/MainSection/index.local.less
  docs/components/components/Main/MainSection/index.tsx
  docs/components/components/Main/index.local.less
  docs/components/components/Main/index.tsx
  docs/components/home-page.tsx
  package.json
  pnpm-lock.yaml
Due: none

feat: new component Segmented
  config/components.ts
  package.json
  src/components/segmented/demos/demo1.tsx
  src/components/segmented/index.en.md
  src/components/segmented/index.ts
  src/components/segmented/index.zh.md
  src/components/segmented/segmented.less
  src/components/segmented/segmented.tsx
  src/components/segmented/tests/__snapshots__/segmented.test.tsx.snap
  src/components/segmented/tests/segmented.test.tsx
  src/index.ts
Due: prettier --write, stylelint --fix

feat: update css vars
  src/components/segmented/index.en.md
  src/components/segmented/index.zh.md
  src/components/segmented/segmented.less
Due: stylelint --fix

feat: update rc-segmented to support a11y
  package.json
Due: none

test: update test cases
  src/components/segmented/tests/__snapshots__/segmented.test.tsx.snap
Due: none

test: update snapshot
  package.json
  src/components/segmented/tests/segmented.test.tsx
Due: prettier --write

feat: update types
  src/components/segmented/segmented.less
  src/components/segmented/segmented.tsx
Due: prettier --write, stylelint --fix

test: update snapshot
  src/components/segmented/tests/__snapshots__/segmented.test.tsx.snap
Due: none

chore: update pnpm lock yaml
  pnpm-lock.yaml
Due: none

docs: update version flag
  src/components/segmented/index.en.md
  src/components/segmented/index.zh.md
Due: none

docs: update segmented docs
  src/components/segmented/index.zh.md
Due: none

docs: update segmented docs
  src/components/segmented/index.en.md
  src/components/segmented/index.zh.md
Due: none

feat(TabBar): add onClick props to the TabBar.Item
  src/components/tab-bar/demos/demo1.tsx
  src/components/tab-bar/index.en.md
  src/components/tab-bar/index.zh.md
  src/components/tab-bar/tab-bar.tsx
Due: prettier --write

test(TabBar): add item onClick test
  src/components/tab-bar/tests/tab-bar.test.tsx
Due: prettier --write

docs: remove item onClick demo
  src/components/tab-bar/demos/demo1.tsx
Due: prettier --write

docs(TabBar): optimize version information
  src/components/tab-bar/demos/demo1.tsx
  src/components/tab-bar/index.en.md
  src/components/tab-bar/index.zh.md
Due: prettier --write

refactor: remove onClick key params
  src/components/tab-bar/tab-bar.tsx
Due: prettier --write

feat(TabBar): add onClick props to the TabBar.Item (#6702)
  src/components/tab-bar/index.en.md
  src/components/tab-bar/index.zh.md
  src/components/tab-bar/tab-bar.tsx
  src/components/tab-bar/tests/tab-bar.test.tsx
Due: prettier --write

feat: add css-var prefix
  src/components/segmented/index.en.md
  src/components/segmented/index.zh.md
  src/components/segmented/segmented.less
  src/components/segmented/segmented.tsx
Due: prettier --write, stylelint --fix

feat: new component Segmented (#6697)
  config/components.ts
  package.json
  pnpm-lock.yaml
  src/components/segmented/demos/demo1.tsx
  src/components/segmented/index.en.md
  src/components/segmented/index.ts
  src/components/segmented/index.zh.md
  src/components/segmented/segmented.less
  src/components/segmented/segmented.tsx
  src/components/segmented/tests/__snapshots__/segmented.test.tsx.snap
  src/components/segmented/tests/segmented.test.tsx
  src/index.ts
Due: prettier --write, stylelint --fix

feat: support segmented fallback less
  src/components/segmented/segmented.patch.less
  src/global/css-vars-patch.less
Due: stylelint --fix

chore: update
  src/components/segmented/segmented.patch.less
Due: stylelint --fix

feat: support segmented fallback less (#6703)
  src/components/segmented/segmented.patch.less
  src/global/css-vars-patch.less
Due: stylelint --fix

fix: input component invalid props
  src/components/input/input.tsx
Due: prettier --write

feat(SearchBar): support autoFocus
  src/components/search-bar/demos/demo1.tsx
  src/components/search-bar/index.en.md
  src/components/search-bar/index.zh.md
  src/components/search-bar/search-bar.tsx
Due: prettier --write

chore: adjust order
  src/components/search-bar/search-bar.tsx
Due: prettier --write

docs(Tabbar): improve md format
  src/components/tab-bar/index.en.md
Due: none

feat(SearchBar): support autoFocus (#6714)
  src/components/search-bar/demos/demo1.tsx
  src/components/search-bar/index.en.md
  src/components/search-bar/index.zh.md
  src/components/search-bar/search-bar.tsx
Due: prettier --write

Update tab-bar.less
  src/components/tab-bar/tab-bar.less
Due: stylelint --fix

Added onpaste event/feature in <input/> tag
  src/components/input/input.tsx
Due: prettier --write

Updated the onPaste event
  src/components/input/input.tsx
Due: prettier --write

Added onpaste event/feature in <input/> tag (#6719)
  src/components/input/input.tsx
Due: prettier --write

Path conditions:
  prettier --write: any of: src/**/*.{ts,tsx}
  stylelint --fix: any of: src/**/*.{less,css}
