Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

refactor: rename Cascader to TreeSelect and deprecate TreeSelect.Multiple
  config/components.ts
  src/components/cascader/index.md
  src/components/cascader/index.ts
  src/components/tree-select/demos/demo1.tsx
  src/components/tree-select/index.md
  src/components/tree-select/index.ts
  src/components/tree-select/multiple.tsx
  src/components/tree-select/tests/tree-select.test.tsx
  src/components/tree-select/tree-select.less
  src/components/tree-select/tree-select.tsx
  src/index.ts
  src/utils/with-default-props.tsx
Due: prettier --write, stylelint --fix

feat: ImageUploader add `onDelete` prop
  src/components/image-uploader/image-uploader.tsx
  src/components/image-uploader/index.md
Due: prettier --write

chore: upgrade dependencies
  package.json
  yarn.lock
Due: none

chore: upgrade jest
  package.json
  yarn.lock
Due: none

enhance: adjust ImageUploader.capture type
  src/components/image-uploader/image-uploader.tsx
  src/components/image-uploader/index.md
Due: prettier --write

doc: add job info
  config/config.ts
  package.json
Due: none

enhance: Form ref
  src/components/form/demos/demo2.tsx
  src/components/form/form.tsx
  src/components/form/index.tsx
Due: prettier --write

feat: ImageUploader add onDelete prop
  src/components/image-uploader/demos/demo1.tsx
  src/components/image-uploader/image-uploader.tsx
  src/components/image-uploader/index.md
Due: prettier --write

fix: ImageUploader delete task failed
  src/components/image-uploader/image-uploader.tsx
Due: prettier --write

doc: ImageUploader
  src/components/image-uploader/demos/demo1.tsx
  src/components/image-uploader/index.md
Due: prettier --write

fix: ImageUploader
  src/components/image-uploader/image-uploader.tsx
Due: prettier --write

chore: fix lock file
  yarn.lock
Due: none

chore: update version
  package.json
Due: none

doc: English version of button doc
  src/components/button/index.en.md
  src/components/button/index.zh.md
Due: none

chore: update gh-pages workflow
  .github/workflows/gh-pages.yml
Due: none

feat: Badge add hideDot prop
  src/components/badge/badge.tsx
  src/components/badge/demos/index.tsx
  src/components/badge/index.md
Due: prettier --write

fix: the height of Collapse.Panel content is not calculated correctly when content is dynamic
  src/components/collapse/collapse.tsx
Due: prettier --write

feat: Stepper add `onFocus` & `onBlur` prop
  src/components/stepper/demos/index.tsx
  src/components/stepper/index.md
  src/components/stepper/stepper.tsx
Due: prettier --write

feat: add dynamic content demo for Collapse
  src/components/collapse/collapse.tsx
  src/components/collapse/demos/index.tsx
Due: prettier --write

feat: Swiper centered display item
  src/components/swiper/demos/demo1.tsx
  src/components/swiper/index.md
  src/components/swiper/swiper.tsx
Due: prettier --write

chore: delete dead code
  src/components/swiper/swiper.tsx
Due: prettier --write

test:添加数字键盘测试用例(WIP)
  src/components/numberic-keyboard/demos/index.tsx
  src/components/numberic-keyboard/numberic-keyboard.tsx
  src/components/numberic-keyboard/tests/numberic-keyboard.test.tsx
Due: prettier --write

enhance: refactor the animation logic of Collapse
  src/components/collapse/collapse.tsx
  src/components/collapse/demos/index.tsx
Due: prettier --write

feat: (Swiper) remove `centered` prop and add `--track-offset` css variable
  src/components/swiper/demos/demo1.tsx
  src/components/swiper/index.md
  src/components/swiper/swiper.less
  src/components/swiper/swiper.tsx
Due: prettier --write, stylelint --fix

fix: Swiper
  src/components/swiper/swiper.tsx
Due: prettier --write

enhance: export Stepper `onFocus` `onBlur` event
  src/components/stepper/index.md
  src/components/stepper/stepper.tsx
Due: prettier --write

enhance: Search `onFocus` `onBlur` export event
  src/components/search/index.md
  src/components/search/search.tsx
Due: prettier --write

doc: English version of Space doc
  src/components/space/index.en.md
  src/components/space/index.zh.md
Due: none

test:添加numbericBoard测试用例
  src/assets/backspace.svg
  src/components/numberic-keyboard/numberic-keyboard.less
  src/components/numberic-keyboard/numberic-keyboard.tsx
  src/components/numberic-keyboard/tests/numberic-keyboard.test.tsx
Due: prettier --write, stylelint --fix

refactor: (Badge) adjust the logic of `content` and add `Badge.dot`
  .dumi/theme/style/markdown.less
  src/components/badge/badge.less
  src/components/badge/badge.tsx
  src/components/badge/demos/index.tsx
  src/components/badge/index.md
  src/components/badge/index.ts
Due: prettier --write, stylelint --fix

fix:修复lint错误
  src/utils/shuffle.ts
Due: prettier --write

refactor: (Badge) remove `offset` prop and add `--right` `--top` css variables
  src/components/badge/badge.less
  src/components/badge/badge.tsx
  src/components/badge/demos/index.less
  src/components/badge/demos/index.tsx
  src/components/badge/index.md
  src/components/badge/tests/badge.test.tsx
Due: prettier --write, stylelint --fix

fix: TabBar click area and badge
  src/components/tab-bar/tab-bar.less
  src/components/tab-bar/tab-bar.tsx
Due: prettier --write, stylelint --fix

enhance: automatically disable Button when loading
  src/components/button/button.tsx
Due: prettier --write

doc: English version of Icon doc
  docs/components/icon/index.en.md
  docs/components/icon/index.zh.md
Due: none

test:增加demo示例
  src/components/numberic-keyboard/tests/numberic-keyboard.test.tsx
Due: prettier --write

fix:修改组件名称
  config/components.ts
  src/components/list/list-item.tsx
  src/components/number-keyboard/demos/index.tsx
  src/components/number-keyboard/index.md
  src/components/number-keyboard/index.ts
  src/components/number-keyboard/number-keyboard.less
  src/components/number-keyboard/number-keyboard.tsx
  src/components/number-keyboard/tests/numberic-keyboard.test.tsx
  src/components/numberic-keyboard/demos/index.tsx
  src/components/numberic-keyboard/index.ts
  src/global/theme.less
  src/index.ts
Due: prettier --write, stylelint --fix

doc: English version of List doc
  src/components/list/index.en.md
  src/components/list/index.md
  src/components/list/index.zh.md
Due: none

Path conditions:
  prettier --write: any of: src/**/*.{ts,tsx}
  stylelint --fix: any of: src/**/*.{less,css}
