Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": ["prettier --write"],
  "src/**/*.{less,css}": ["stylelint --fix"]
}

chore: bump 5.41.1
  package.json
Due: none

feat: 解决 VirtualInput 无障碍读屏时会读出键盘内容的问题
  src/components/virtual-input/virtual-input.less
  src/components/virtual-input/virtual-input.tsx
Due: prettier --write, stylelint --fix

feat: 弃用 ahooks 自行实现捕获阶段的 clickOutside
  src/components/virtual-input/use-click-outside.tsx
  src/components/virtual-input/virtual-input.tsx
Due: prettier --write

test: 修正单测
  src/components/virtual-input/tests/virtual-input.test.tsx
Due: prettier --write

fix: 解决 iOS 旁白模式下聚焦到输入框光标自动定位到最前面的问题
  src/components/virtual-input/virtual-input.less
  src/components/virtual-input/virtual-input.tsx
Due: prettier --write, stylelint --fix

fix: 重新暴露 onClick props、修正单测
  src/components/virtual-input/tests/virtual-input.test.tsx
  src/components/virtual-input/virtual-input.less
  src/components/virtual-input/virtual-input.tsx
Due: prettier --write, stylelint --fix

fix: type
  src/components/virtual-input/virtual-input.tsx
Due: prettier --write

fix: 陷阱元素不能禁用指针事件，否则无法命中陷阱
  src/components/virtual-input/virtual-input.less
Due: stylelint --fix

fix: span
  src/components/virtual-input/virtual-input.tsx
Due: prettier --write

fix: lint
  src/components/virtual-input/use-click-outside.tsx
Due: prettier --write

fix: add missing CSS properties for `Modal` and `Dialog`
  src/components/dialog/dialog.tsx
  src/components/modal/modal.tsx
Due: prettier --write

fix: add missing CSS variables for `Modal` and `Dialog` (#6955)
  src/components/dialog/dialog.tsx
  src/components/modal/modal.tsx
Due: prettier --write

feat: 重新整理 NumberKeyboard 事件处理，去掉 preventDefault，从而让 virtual-input-content 的 blur 事件可以触发
  src/components/number-keyboard/number-keyboard.tsx
  src/components/virtual-input/virtual-input.tsx
Due: prettier --write

feat: 注释
  src/components/virtual-input/use-click-outside.tsx
Due: prettier --write

fix: cr
  src/components/number-keyboard/number-keyboard.tsx
  src/components/virtual-input/virtual-input.tsx
Due: prettier --write

feat: 考虑系统弹窗等使得 touchend 不触发的情况，使用 touchcancel 兜底
  src/components/number-keyboard/number-keyboard.tsx
Due: prettier --write

fix: remove console.log
  src/components/number-keyboard/number-keyboard.tsx
Due: prettier --write

fix: 修正输入内容超长时，无法自动滚到最右侧的问题
  src/components/virtual-input/virtual-input.tsx
Due: prettier --write

test: 补充 scrollToEnd 的单测
  src/components/virtual-input/tests/virtual-input.test.tsx
  src/components/virtual-input/virtual-input.tsx
Due: prettier --write

feat: 解决 VirtualInput 无障碍读屏时会读出键盘内容的问题 (#6954)
  src/components/number-keyboard/number-keyboard.tsx
  src/components/virtual-input/tests/virtual-input.test.tsx
  src/components/virtual-input/use-click-outside.tsx
  src/components/virtual-input/virtual-input.less
  src/components/virtual-input/virtual-input.tsx
Due: prettier --write, stylelint --fix

feat: 数字键盘 customKey 支持单独定制 title，用于无障碍读屏
  src/components/number-keyboard/index.zh.md
  src/components/number-keyboard/number-keyboard.tsx
  src/components/number-keyboard/tests/number-keyboard.test.tsx
  src/components/virtual-input/demos/demo1.tsx
Due: prettier --write

fix: cr
  src/components/number-keyboard/index.zh.md
  src/components/number-keyboard/number-keyboard.tsx
Due: prettier --write

feat: 简化对 key 配置的消费逻辑
  src/components/number-keyboard/index.en.md
  src/components/number-keyboard/number-keyboard.tsx
Due: prettier --write

docs: update english docs
  src/components/virtual-input/index.en.md
Due: none

fix: cr
  src/components/number-keyboard/number-keyboard.tsx
Due: prettier --write

feat: 补充 aria-label
  src/components/number-keyboard/number-keyboard.tsx
Due: prettier --write

feat: 数字键盘 customKey 支持单独定制 title，用于无障碍读屏 (#6956)
  src/components/number-keyboard/index.en.md
  src/components/number-keyboard/index.zh.md
  src/components/number-keyboard/number-keyboard.tsx
  src/components/number-keyboard/tests/number-keyboard.test.tsx
  src/components/virtual-input/demos/demo1.tsx
  src/components/virtual-input/index.en.md
Due: prettier --write

feat: 数字键盘的 confirmText 支持换行展示
  src/components/number-keyboard/demos/demo1.tsx
  src/components/number-keyboard/number-keyboard.less
Due: prettier --write, stylelint --fix

fix: typo
  src/components/number-keyboard/demos/demo1.tsx
Due: prettier --write

feat(Collapse configProvider): unified provision of custom prefixCls
  package.json
  src/components/collapse/collapse.tsx
  src/components/config-provider/config-provider.tsx
  src/components/config-provider/index.en.md
  src/components/config-provider/index.zh.md
  src/components/config-provider/tests/config-provider.test.tsx
Due: prettier --write

chore: remove cross-env
  package.json
Due: none

feat(Collapse configProvider): unified provision of custom prefixCls
  src/components/collapse/collapse.tsx
  src/components/config-provider/config-provider.tsx
  src/components/config-provider/index.en.md
  src/components/config-provider/index.zh.md
  src/components/config-provider/tests/config-provider.test.tsx
Due: prettier --write

Update src/components/config-provider/index.zh.md
  src/components/config-provider/index.zh.md
Due: none

test: collapse test
  src/components/collapse/tests/collapse.test.tsx
  src/components/config-provider/tests/config-provider.test.tsx
Due: prettier --write

test: collapse test
  src/components/collapse/tests/collapse.test.tsx
  src/components/config-provider/config-provider.tsx
  src/components/config-provider/tests/config-provider.test.tsx
Due: prettier --write

feat: add callback to getPrefixCls
  src/components/config-provider/config-provider.tsx
Due: prettier --write

fix: 恢复原本事件属性位置
  src/components/image-viewer/image-viewer.tsx
  src/components/image-viewer/index.en.md
  src/components/image-viewer/index.zh.md
  src/components/image-viewer/methods.tsx
Due: prettier --write

fix: 新增test code
  .hintrc
  src/components/image-viewer/image-viewer.less
  src/components/image-viewer/index.en.md
  src/components/image-viewer/index.zh.md
  src/components/image-viewer/tests/image-viewer.test.tsx
Due: prettier --write, stylelint --fix

fix: 文档少一个列添加
  src/components/image-viewer/index.en.md
  src/components/image-viewer/index.zh.md
Due: none
