Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": ["prettier --write"],
  "src/**/*.{less,css}": ["stylelint --fix"]
}

feat: (picker) add forceRender & destroyOnClose prop
  src/components/picker/index.en.md
  src/components/picker/index.zh.md
  src/components/picker/picker.tsx
Due: prettier --write

fix: fix code
  src/components/picker/picker.tsx
Due: prettier --write

fix:(list) fix css
  src/components/list/list.less
Due: stylelint --fix

feat: (Form) enhance Item onClick event
  src/components/form/demos/demo6.tsx
  src/components/form/form-item.tsx
  src/components/form/index.en.md
  src/components/form/index.zh.md
  src/components/form/utils.ts
Due: prettier --write

chore: fix demo error
  src/components/form/demos/demo6.tsx
Due: prettier --write

fix: (ImageUploader) fix the same file doesn't trigger beforeUpload (#5163)
  src/components/image-uploader/image-uploader.tsx
Due: prettier --write

refactor: (ImageUploader) clear e.target.value immediately after retrieving files
  src/components/image-uploader/demos/utils.tsx
  src/components/image-uploader/image-uploader.tsx
Due: prettier --write

refactor: (Picker) adjust the type definition of ref and actions & refactor the implementation of actions
  src/components/cascade-picker/cascade-picker.tsx
  src/components/cascade-picker/index.ts
  src/components/date-picker/date-picker.tsx
  src/components/date-picker/index.ts
  src/components/picker/index.en.md
  src/components/picker/index.ts
  src/components/picker/index.zh.md
  src/components/picker/picker.tsx
  src/utils/use-controllable-visible.ts
Due: prettier --write

fix: (Picker) add memo
  src/components/picker/picker.tsx
Due: prettier --write

fix: (Picker) memo
  src/components/picker/picker.tsx
Due: prettier --write

doc: (Picker) update demos
  src/components/cascade-picker/demos/demo1.tsx
  src/components/date-picker/demos/demo1.tsx
  src/components/picker/demos/demo1.tsx
Due: prettier --write

doc: (Picker) update doc
  src/components/picker/index.en.md
  src/components/picker/index.zh.md
Due: none

test: fix failed tests
  src/components/action-sheet/tests/__snapshots__/action-sheet.test.tsx.snap
  src/components/action-sheet/tests/action-sheet.test.tsx
  src/components/button/tests/button.test.tsx
  src/components/form/tests/form.test.tsx
  src/components/image-uploader/tests/image-uploader.test.tsx
  src/components/stepper/tests/stepper.test.tsx
  src/components/switch/tests/switch.test.tsx
Due: prettier --write

chore: revert @testing-library/user-event
  package.json
  yarn.lock
Due: none

chore: upgrade @testing-library
  package.json
  yarn.lock
Due: none

refactor: add render util to support legacy and concurrent render
  src/components/toast/methods.tsx
  src/utils/render-to-body.ts
  src/utils/render.ts
Due: prettier --write

chore: add eslint disable mark
  src/utils/render.ts
Due: prettier --write

chore: upgrade react18
  package.json
  yarn.lock
Due: none

chore: update peerDependencies
  package.json
  yarn.lock
Due: none

test: fix failed tests
  src/components/action-sheet/tests/__snapshots__/action-sheet.test.tsx.snap
  src/components/action-sheet/tests/action-sheet.test.tsx
Due: prettier --write

enhance: `useDrag` ts error definition
  src/components/floating-bubble/floating-bubble.tsx
  src/components/floating-panel/floating-panel.tsx
  src/components/picker-view/wheel.tsx
  src/components/pull-to-refresh/pull-to-refresh.tsx
Due: prettier --write

fix: upgrade some dependencies and fix some ts issues
  package.json
  src/components/floating-bubble/floating-bubble.tsx
  src/components/floating-panel/floating-panel.tsx
  src/components/picker-view/wheel.tsx
  src/components/pull-to-refresh/pull-to-refresh.tsx
  yarn.lock
Due: prettier --write

chore: update preview-deploy workflow
  .github/workflows/preview-deploy.yml
Due: none

Update src/components/list/list.less
  src/components/list/list.less
Due: stylelint --fix

enhance: (List) adjust line-height (#5165)
  src/components/list/list.less
Due: stylelint --fix

feat: (Picker) add forceRender & destroyOnClose props (#5164)
  src/components/picker/index.en.md
  src/components/picker/index.zh.md
  src/components/picker/picker.tsx
Due: prettier --write

chore: fix preview-deploy workflow
  .github/workflows/preview-deploy.yml
Due: none

Apply suggestions from code review
  src/components/form/index.en.md
  src/components/form/index.zh.md
Due: none

feat: (Form) enhance item onClick event, collect children ref (#5166)
  src/components/form/demos/demo6.tsx
  src/components/form/form-item.tsx
  src/components/form/index.en.md
  src/components/form/index.zh.md
  src/components/form/utils.ts
Due: prettier --write

fix: (Form.Item) add `onClick` prop check before passing click function down to List.Item
  src/components/form/form-item.tsx
Due: prettier --write

chore: upgrade dependencies
  package.json
  yarn.lock
Due: none

Revert "fix: (Tabs & JumboTabs & CapsuleTabs) auto scroll fail when the parent element is a flex layout (#5145)"
  src/components/capsule-tabs/capsule-tabs.less
  src/components/jumbo-tabs/jumbo-tabs.less
  src/components/tabs/tabs.less
Due: stylelint --fix

doc: remove cnzz
  config/config.ts
Due: none

doc: update notes for React 18
  docs/guide/quick-start.en.md
  docs/guide/quick-start.zh.md
Due: none

doc: (Form) add FAQ about usage with Picker
  src/components/form/demos/demo1.tsx
  src/components/form/index.en.md
  src/components/form/index.zh.md
Due: prettier --write

doc: update code block style
  .dumi/theme/builtins/SourceCode.less
Due: none

fix: (Tabs & JumboTabs & CapsuleTabs) auto scroll fail when the parent element is a flex layout
  src/components/capsule-tabs/capsule-tabs.less
  src/components/jumbo-tabs/jumbo-tabs.less
  src/components/tabs/tabs.less
Due: stylelint --fix
