Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": ["prettier --write"],
  "src/**/*.{less,css}": ["stylelint --fix"]
}

chore: use webpack build compatible umd (#5735)
  gulpfile.js
Due: none

fix: popup strict prevent default to fix with IOS12 (#5738)
  src/components/popup/popup.tsx
  src/utils/dev-log.ts
  src/utils/use-lock-scroll.ts
Due: prettier --write

style: :lipstick: 提取hook useAverageColor
  src/components/image-viewer/demos/demo1.tsx
  src/components/image-viewer/demos/images.tsx
  src/components/image-viewer/image-viewer.tsx
  src/components/image-viewer/slide.tsx
  src/components/image-viewer/slides.tsx
Due: prettier --write

chore: bump 5.24.1
  package.json
Due: none

chore: fix get-container util ts def
  src/utils/get-container.ts
Due: prettier --write

feat(homePage): add new homePage
  docs/components/components/Footer/footerMobile.less
  docs/components/components/Footer/index.local.less
  docs/components/components/Footer/index.tsx
  docs/components/components/Main/MainSection/index.local.less
  docs/components/components/Main/MainSection/index.tsx
  docs/components/components/Main/config.ts
  docs/components/components/Main/index.local.less
  docs/components/components/Main/index.tsx
  docs/components/globalMobile.less
  docs/components/globalPC.less
  docs/components/home-page.less
  docs/components/home-page.tsx
  package.json
Due: none

chore: update pnpm lock
  pnpm-lock.yaml
Due: none

doc: part of home
  docs/components/components/Main/MainSection/index.tsx
  docs/hooks/useTrans.ts
Due: none

chore: add `@ant-design/icons`
  package.json
  pnpm-lock.yaml
Due: none

doc: update title ande desc
  docs/components/components/Main/MainSection/index.tsx
Due: none

fix(Picker): position offset in a11y
  src/components/picker-view/picker-view.less
Due: stylelint --fix

fix(Picker): position offset in a11y (#5746)
  src/components/picker-view/picker-view.less
Due: stylelint --fix

feat(ImageUploader): remove redundant code
  src/components/image-uploader/image-uploader.less
  src/components/image-uploader/image-uploader.tsx
Due: prettier --write, stylelint --fix

doc: more trans
  docs/components/components/Main/config.ts
  docs/components/components/Main/index.tsx
  docs/hooks/useTrans.ts
Due: none

doc: footer desc
  docs/components/components/Footer/index.tsx
  docs/components/components/Main/config.ts
  docs/components/components/Main/index.local.less
  docs/components/components/Main/index.tsx
  docs/hooks/useTrans.ts
Due: none

feat(ImageUploader): calc cell-size by js & remove serial number in FAQ
  src/components/image-uploader/image-uploader.less
  src/components/image-uploader/image-uploader.tsx
  src/components/image-uploader/index.en.md
  src/components/image-uploader/index.zh.md
Due: prettier --write, stylelint --fix

fix(Slider): points should contain max
  src/components/slider/slider.tsx
  src/components/slider/tests/slider.test.tsx
Due: prettier --write

fix(Slider): points should contain max (#5751)
  src/components/slider/slider.tsx
  src/components/slider/tests/slider.test.tsx
Due: prettier --write

chore: bump 5.24.2
  package.json
Due: none

feat(image-uploader): optimize the calculation method of --cell-size
  src/components/image-uploader/image-uploader.tsx
Due: prettier --write

chore: adjust demo
  src/components/popup/popup.less
Due: stylelint --fix

chore: rm style
  src/components/popup/popup.less
Due: stylelint --fix

doc: adjust demo of popup with close icon (#5699)
  src/components/popup/demos/demo1.tsx
  src/components/popup/popup.less
Due: prettier --write, stylelint --fix

doc: lotties
  docs/components/components/Main/MainSection/index.local.less
  docs/components/components/Main/MainSection/index.tsx
  docs/components/components/Main/index.tsx
Due: none

chore: adjust link
  docs/components/components/Main/MainSection/index.tsx
  docs/components/components/Main/config.ts
Due: none

chore: home page
  .dumi/theme/components/Navbar.tsx
  .dumi/theme/components/NavbarHome.less
  .dumi/theme/components/SearchBar.less
  .dumi/theme/layouts/index.less
  .dumi/theme/layouts/index.tsx
  docs/components/components/Main/MainSection/index.tsx
  docs/components/components/Main/index.local.less
  docs/components/components/Main/index.tsx
  docs/components/home-page.less
Due: none

doc: update footer
  docs/components/components/Footer/index.tsx
Due: none

refactor: adjust cell size calculation logic
  src/components/image-uploader/demos/demo2.tsx
  src/components/image-uploader/image-uploader.less
  src/components/image-uploader/image-uploader.tsx
  src/components/image-uploader/index.en.md
  src/components/image-uploader/index.zh.md
Due: prettier --write, stylelint --fix

feat: `Space` layout support CSS Variables `--gap`
  src/components/image-uploader/image-uploader.less
  src/components/image-uploader/image-uploader.tsx
  src/components/image-uploader/index.en.md
  src/components/image-uploader/index.zh.md
Due: prettier --write, stylelint --fix

doc: update ding group img
  docs/guide/quick-start.en.md
  docs/guide/quick-start.zh.md
Due: none

fix(Slider): adjust popover import path
  src/components/slider/thumb.tsx
Due: prettier --write

doc: update ding group img (#5758)
  docs/guide/quick-start.en.md
  docs/guide/quick-start.zh.md
Due: none

fix(Slider): adjust popover import path (#5759)
  src/components/slider/thumb.tsx
Due: prettier --write

doc: replace svg of cal
  docs/components/components/Main/MainSection/index.tsx
Due: none

doc: fix svg err
  docs/components/components/Main/MainSection/index.tsx
Due: none

chore: update img
  docs/components/components/Main/MainSection/index.tsx
Due: none

doc: align of desc
  docs/components/components/Main/index.local.less
Due: none

doc: adjust img
  docs/components/components/Main/MainSection/index.tsx
Due: none
