Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": ["prettier --write"],
  "src/**/*.{less,css}": ["stylelint --fix"]
}

chore: fix ts
  src/components/slider/demos/demo2.tsx
Due: prettier --write

docs: update slider demo2.tsx (#6530)
  src/components/slider/demos/demo2.tsx
Due: prettier --write

refactor: replace lodash/merge with deepmerge
  package.json
  pnpm-lock.yaml
  src/components/form/form.tsx
Due: prettier --write

refactor: replace lodash/memoize with nano-memoize (#6524)
  package.json
  pnpm-lock.yaml
  src/components/cascader-view/use-cascader-value-extend.tsx
Due: prettier --write

refactor: replace lodash/merge with deepmerge (#6542)
  package.json
  pnpm-lock.yaml
  src/components/form/form.tsx
Due: prettier --write

Create dependabot.yml
  .github/dependabot.yml
Due: none

fix: (FormItem) help icon click stopPropagation
  src/components/form/form-item.tsx
Due: prettier --write

fix: treeshaking 导致样式丢失
  src/components/error-block/create-error-block.tsx
  src/components/error-block/index.ts
Due: prettier --write

fix: createErrorBlock will lost the style cause treeshaking (#6551)
  src/components/error-block/create-error-block.tsx
  src/components/error-block/index.ts
Due: prettier --write

Added hungarian locale
  docs/guide/i18n.en.md
  src/components/config-provider/tests/__snapshots__/config-provider.test.tsx.snap
  src/components/config-provider/tests/config-provider.test.tsx
  src/locales/hu-HU.ts
Due: prettier --write

feat: Added hungarian locale (#6555)
  docs/guide/i18n.en.md
  src/components/config-provider/tests/__snapshots__/config-provider.test.tsx.snap
  src/components/config-provider/tests/config-provider.test.tsx
  src/locales/hu-HU.ts
Due: prettier --write

fix: result page dark theme
  src/components/result-page/result-page.less
Due: stylelint --fix

fix: result page dark theme (#6557)
  src/components/result-page/result-page.less
Due: stylelint --fix

test: add test case
  .gitignore
  package.json
  src/components/form/tests/form.test.tsx
Due: prettier --write

chore: clean up
  .gitignore
  package.json
Due: none

fix: (FormItem) help icon click stopPropagation (#6549)
  src/components/form/form-item.tsx
  src/components/form/tests/form.test.tsx
Due: prettier --write

chore: test & limit exceed
  src/components/config-provider/config-provider.tsx
  src/components/config-provider/tests/config-provider.test.tsx
Due: prettier --write

Update index.en.md
  src/components/tabs/index.en.md
Due: none

feat: export useConfig (#6501)
  src/components/config-provider/config-provider.tsx
  src/components/config-provider/tests/config-provider.test.tsx
  src/index.ts
Due: prettier --write

docs:Remove duplicate CSS variables in the English documentation of the Tabs component (#6558)
  src/components/tabs/index.en.md
Due: none

feat: add th-TH locale
  src/locales/pt-BR.ts
Due: prettier --write

fix: notice bar close and not propagate
  src/components/notice-bar/notice-bar.tsx
  src/components/notice-bar/tests/notice-bar.test.tsx
Due: prettier --write

fix: onClose onClick props event
  src/components/notice-bar/index.en.md
  src/components/notice-bar/index.zh.md
  src/components/notice-bar/notice-bar.tsx
  src/components/notice-bar/tests/notice-bar.test.tsx
Due: prettier --write

fix: button patch danger color
  src/components/button/button.patch.less
Due: stylelint --fix

fix: button patch danger color (#6568)
  src/components/button/button.patch.less
Due: stylelint --fix

fix: calendar-picker-view empty cell bug
  src/components/calendar-picker-view/calendar-picker-view.tsx
Due: prettier --write

chore: test case
  src/components/calendar-picker-view/tests/__snapshots__/calendar-picker-view.test.tsx.snap
  src/components/config-provider/tests/__snapshots__/config-provider.test.tsx.snap
Due: none

Update index.zh.md
  src/components/selector/index.zh.md
Due: none

docs: Update index.zh.md (#6571)
  src/components/selector/index.zh.md
Due: none

chore: size-limit
  .github/workflows/size-limit.yml
  package.json
  pnpm-lock.yaml
Due: none

chore: add size-limit.yml workflow (#6573)
  .github/workflows/size-limit.yml
  package.json
  pnpm-lock.yaml
Due: none

refactor: replace lodash/assignWith with vanilla js
  package.json
  pnpm-lock.yaml
  src/utils/with-default-props.tsx
Due: prettier --write

feat: add toggle callback to Ellipsis component
  src/components/ellipsis/demos/demo1.tsx
  src/components/ellipsis/ellipsis.tsx
  src/components/ellipsis/index.en.md
  src/components/ellipsis/index.zh.md
  src/components/ellipsis/tests/ellipsis.test.tsx
Due: prettier --write

feat(utils): add touchstart event to PropagationEvent
  src/utils/with-stop-propagation.tsx
Due: prettier --write

feat(utils): add touchstart event to PropagationEvent (#6578)
  src/utils/with-stop-propagation.tsx
Due: prettier --write

fix: size limit
  .github/workflows/size-limit.yml
Due: none

refactor: replace lodash/assignWith with vanilla js (#6581)
  .github/workflows/size-limit.yml
  package.json
  pnpm-lock.yaml
  src/utils/with-default-props.tsx
Due: prettier --write
