Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

feat: pick-view add active class (#6427)
  src/components/picker-view/tests/picker-view.test.tsx
  src/components/picker-view/wheel.tsx
Due: prettier --write

feat: switch 支持 RTL
  src/components/config-provider/config-provider.tsx
  src/components/switch/switch.less
  src/components/switch/switch.tsx
  src/components/switch/tests/switch.test.tsx
Due: prettier --write, stylelint --fix

feat(swiper): support RTL mode
  src/components/swiper/demos/demo8.tsx
  src/components/swiper/index.en.md
  src/components/swiper/index.zh.md
  src/components/swiper/swiper.tsx
  src/components/swiper/tests/__snapshots__/swiper.test.tsx.snap
  src/components/swiper/tests/swiper.test.tsx
Due: prettier --write

feat: locale 属性可选
  src/components/config-provider/config-provider.tsx
Due: prettier --write

feat(swiper): simplify document
  src/components/swiper/demos/demo8.tsx
  src/components/swiper/index.en.md
  src/components/swiper/index.zh.md
Due: prettier --write

feat: 类型声明修改
  src/components/config-provider/config-provider.tsx
Due: prettier --write

fix: pass getContainer down to popup
  src/components/calendar-picker/calendar-picker.en.md
  src/components/calendar-picker/calendar-picker.tsx
Due: prettier --write

fix: rename getPopupContainer to getContainer
  src/components/calendar-picker/calendar-picker.tsx
Due: prettier --write

fix: pass getContainer down to popup (#6460)
  src/components/calendar-picker/calendar-picker.en.md
  src/components/calendar-picker/calendar-picker.tsx
Due: prettier --write

feat: support selector
  package.json
  src/components/form/form-subscribe.tsx
Due: prettier --write

feat: support selector
  src/components/form/form-subscribe.tsx
Due: prettier --write

feat: get
  pnpm-lock.yaml
  src/components/form/form-subscribe.tsx
Due: prettier --write

feat: pick
  src/components/form/form-subscribe.tsx
Due: prettier --write

feat: cloneByNamePathList
  src/components/form/form-subscribe.tsx
Due: prettier --write

feat: test
  src/components/form/form-subscribe.tsx
  src/components/form/utils.ts
Due: prettier --write

feat: as React.ReactElement
  src/components/form/form-subscribe.tsx
Due: prettier --write

feat: reduce
  src/components/form/utils.ts
Due: prettier --write

fix: can not close when long press on Android
  src/components/virtual-input/virtual-input.tsx
Due: prettier --write

fix: title in renderHeader code fix
  src/components/number-keyboard/number-keyboard.tsx
Due: prettier --write

fix: title in renderHeader code fix (#6475)
  src/components/number-keyboard/number-keyboard.tsx
Due: prettier --write

fix(VirtualInput): should not block of long press
  src/components/number-keyboard/number-keyboard.tsx
  src/components/virtual-input/virtual-input.tsx
Due: prettier --write

chore: adjust blur logic
  src/components/virtual-input/virtual-input.tsx
Due: prettier --write

fix(VirtualInput): should not block of long press (#6477)
  src/components/number-keyboard/number-keyboard.tsx
  src/components/virtual-input/virtual-input.tsx
Due: prettier --write

chore: bump 5.33.1
  package.json
Due: none

fix(Dropdown.Item): trigger the click event of "Dropdown. Item" (#6480)
  src/components/dropdown/dropdown.tsx
Due: prettier --write

test(Dropdown.Item): add Dropdown.Item click test
  src/components/dropdown/tests/dropdown.test.tsx
Due: prettier --write

doc(Dropdown.Item): add click event description
  src/components/dropdown/index.en.md
  src/components/dropdown/index.zh.md
Due: none

doc: number-keyboard add tips
  src/components/number-keyboard/index.en.md
  src/components/number-keyboard/index.zh.md
Due: none

docs: number-keyboard add tips (#6482)
  src/components/number-keyboard/index.en.md
  src/components/number-keyboard/index.zh.md
Due: none

chore: doc commitlint to docs
  commitlint.config.js
Due: none

chore: doc commitlint to docs (#6483)
  commitlint.config.js
Due: none

fix(Dropdown.Item): trigger the click event of "Dropdown. Item" (#6480) (#6481)
  src/components/dropdown/dropdown.tsx
  src/components/dropdown/index.en.md
  src/components/dropdown/index.zh.md
  src/components/dropdown/tests/dropdown.test.tsx
Due: prettier --write

fix: print more pages
  src/global/global.less
Due: stylelint --fix

fix: resolve where measuring elements would cause the browser to print an extra blank page (#6488)
  src/global/global.less
Due: stylelint --fix

feat: feat manual tigger PullToRefresh
  src/components/pull-to-refresh/index.en.md
  src/components/pull-to-refresh/index.zh.md
  src/components/pull-to-refresh/pull-to-refresh.tsx
Due: prettier --write

fix: fix type and refresh
  src/components/pull-to-refresh/index.en.md
  src/components/pull-to-refresh/index.zh.md
  src/components/pull-to-refresh/pull-to-refresh.tsx
Due: prettier --write

fix: update export name
  src/components/pull-to-refresh/index.en.md
  src/components/pull-to-refresh/index.zh.md
  src/components/pull-to-refresh/pull-to-refresh.tsx
Due: prettier --write

fix: 修复Radio组件隐藏所有input的问题
  src/components/checkbox/native-input.tsx
  src/components/radio/radio.less
  src/components/radio/radio.tsx
Due: prettier --write, stylelint --fix

Path conditions:
  prettier --write: any of: src/**/*.{ts,tsx}
  stylelint --fix: any of: src/**/*.{less,css}
