Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

feat: (DropDown) add `closeOnMaskClick` prop
  src/components/dropdown/demos/demo1.tsx
  src/components/dropdown/dropdown.tsx
  src/components/dropdown/index.en.md
  src/components/dropdown/index.zh.md
Due: prettier --write

feat: (Ellipsis) add i18n support
  src/components/ellipsis/ellipsis.tsx
  src/components/ellipsis/index.en.md
  src/components/ellipsis/index.zh.md
  src/locales/base.ts
  src/locales/zh-CN.ts
Due: prettier --write

fix: (Tabs) the strange behavior of active line when panes change
  src/components/tabs/tabs.tsx
Due: prettier --write

refactor: (Image) seperate a LazyDetector component to improve performance while keeping ref stay the same
  src/components/image/image.tsx
  src/components/image/lazy-detector.tsx
Due: prettier --write

fix: (Ellipsis) update expansion logic
  src/components/ellipsis/ellipsis.tsx
Due: prettier --write

fix: set pointer.touch to true to fix drag gesture on some mobile (#4304)
  src/components/image-viewer/slides.tsx
  src/components/picker-view/column.tsx
  src/components/slider/thumb.tsx
  src/components/swipe-action/swipe-action.tsx
Due: prettier --write

feat: (SwipeAction) remove warning when dragging (#4309)
  src/components/swipe-action/swipe-action.less
Due: stylelint --fix

feat: (Search) customize the display of the cancel button
  src/components/search/demos/demo1.tsx
  src/components/search/index.en.md
  src/components/search/index.zh.md
  src/components/search/search.tsx
Due: prettier --write

feat: (DropDown) set the `closeOnMaskClick` prop default to `true`
  src/components/dropdown/demos/demo1.tsx
  src/components/dropdown/dropdown.tsx
Due: prettier --write

feat: (DropDown) set the `closeOnMaskClick` prop default to `true`
  src/components/dropdown/index.en.md
  src/components/dropdown/index.zh.md
Due: none

refactor: (Ellipsis) action button
  src/components/ellipsis/demos/index.tsx
  src/components/ellipsis/ellipsis.tsx
  src/components/ellipsis/index.en.md
  src/components/ellipsis/index.zh.md
  src/locales/base.ts
  src/locales/zh-CN.ts
  src/utils/use-resize-effect.tsx
Due: prettier --write

refactor: (Ellipsis) improve the logic of EllipsisedValue
  src/components/ellipsis/ellipsis.tsx
  src/utils/use-resize-effect.tsx
Due: prettier --write

fix: (Ellipsis) wrong behavior when resizing
  src/components/ellipsis/ellipsis.tsx
Due: prettier --write

feat: (Search) customize the display of the cancel button (#4317)
  src/components/search/demos/demo1.tsx
  src/components/search/index.en.md
  src/components/search/index.zh.md
  src/components/search/search.tsx
Due: prettier --write

feat: (Dropdown) add `closeOnMaskClick` prop (#4313)
  src/components/dropdown/dropdown.tsx
  src/components/dropdown/index.en.md
  src/components/dropdown/index.zh.md
Due: prettier --write

doc: update some compatibility docs
  docs/guide/faq.en.md
  docs/guide/faq.zh.md
  src/components/grid/index.en.md
  src/components/grid/index.zh.md
Due: none

doc: (Form) add demo
  src/components/form/demos/demo3.tsx
  src/components/form/index.en.md
  src/components/form/index.zh.md
Due: prettier --write

enhance(Form.Item): normal item collects sub noStyle items errors
  src/components/form/context.tsx
  src/components/form/form-item.tsx
Due: prettier --write

enhance: (Form) normal item collects sub noStyle items errors (#4319)
  src/components/form/context.tsx
  src/components/form/form-item.tsx
Due: prettier --write

enhance: (Dialog) only auto center content when it is string
  src/components/dialog/dialog.tsx
Due: prettier --write

refactor: seperate AutoCenter component
  src/components/auto-center/auto-center.less
  src/components/auto-center/auto-center.tsx
  src/components/auto-center/index.tsx
  src/components/dialog/dialog.less
  src/components/dialog/dialog.tsx
Due: prettier --write, stylelint --fix

doc: AutoCenter
  config/components.ts
  src/components/auto-center/demos/demo1.tsx
  src/components/auto-center/index.en.md
  src/components/auto-center/index.zh.md
  src/index.ts
Due: prettier --write

chore: update version
  package.json
Due: none

deploy: b5ff8b2a6933c5f09ebe24a235e05252aa6d313e
  umi.css
  umi.js
Due: none

feat: (Tabs) add a mask layer to the left and right
  src/components/tabs/tabs.less
  src/components/tabs/tabs.tsx
Due: prettier --write, stylelint --fix

refactor: (Tabs) merge two mask animation spring into one
  src/components/tabs/tabs.tsx
Due: prettier --write

refactor: (Tabs) mask animation
  src/components/tabs/demos/index.tsx
  src/components/tabs/tabs.less
  src/components/tabs/tabs.tsx
Due: prettier --write, stylelint --fix

fix: (ImageViewer) unable to drag with React 16
  package.json
  src/components/image-viewer/slide.tsx
  src/components/image-viewer/slides.tsx
  yarn.lock
Due: prettier --write

doc: (Swiper) split demos
  src/components/swiper/demos/demo1.tsx
  src/components/swiper/demos/demo2.less
  src/components/swiper/demos/demo2.tsx
  src/components/swiper/demos/demo3.less
  src/components/swiper/demos/demo3.tsx
  src/components/swiper/index.en.md
  src/components/swiper/index.zh.md
Due: prettier --write, stylelint --fix

fix: (ImageUploader) miscalculation of files length
  src/components/image-uploader/image-uploader.tsx
Due: prettier --write

fix:修改css变量和demo阻止原生键盘
  src/components/number-keyboard/demos/index.tsx
  src/components/number-keyboard/index.md
Due: prettier --write

doc:文档内添加z-index默认值
  src/components/number-keyboard/index.md
Due: none

feat: (PageIndicator) add `direction` prop
  src/components/page-indicator/demos/demo1.tsx
  src/components/page-indicator/index.en.md
  src/components/page-indicator/index.zh.md
  src/components/page-indicator/page-indicator.less
  src/components/page-indicator/page-indicator.tsx
Due: prettier --write, stylelint --fix

feat: (Swiper) add `direction` prop and `--slide-height`
  src/components/swiper/demos/demo1.tsx
  src/components/swiper/index.en.md
  src/components/swiper/index.zh.md
  src/components/swiper/swiper.less
  src/components/swiper/swiper.tsx
Due: prettier --write, stylelint --fix

doc: Swiper
  src/components/swiper/index.en.md
  src/components/swiper/index.zh.md
Due: none

fix: (ImageViewer) dragLockRef
  src/components/image-viewer/slide.tsx
Due: prettier --write

deploy: 4b1c0bf162fd1408017d48bcbd2df249ee3cfd53
  umi.css
  umi.js
Due: none

fix: (Image) changing src doesn't work after entering the failed state
  src/components/image/demos/demo2.tsx
  src/components/image/image.tsx
  src/components/image/index.en.md
  src/components/image/index.zh.md
Due: prettier --write

fix: (ImageUploader) miscalculation of files length (#4330)
  src/components/image-uploader/image-uploader.tsx
Due: prettier --write

Path conditions:
  prettier --write: any of: src/**/*.{ts,tsx}
  stylelint --fix: any of: src/**/*.{less,css}
