Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": ["prettier --write"],
  "src/**/*.{less,css}": ["stylelint --fix"]
}

chore: upgrade dependencies
  package.json
  yarn.lock
Due: none

chore: change version
  package.json
Due: none

deploy: e3076367b0e7efcb9d2f9685d4cb5e1b589a3f23
  404.html
  index.html
  umi.45e81f4a.css
  umi.480356c8.js
  umi.5c73cb45.js
  umi.e226fb9d.css
Due: none

enhance: (Toast) add box-sizing
  src/components/toast/toast.less
Due: stylelint --fix

doc: fix Toast demo
  src/components/toast/demos/demo1.tsx
Due: prettier --write

feat: (ImageUploader) add `extra` property to `ImageUploadItem`
  src/components/image-uploader/image-uploader.tsx
  src/components/image-uploader/index.en.md
  src/components/image-uploader/index.zh.md
Due: prettier --write

fix: (Cascader) scroll error
  src/components/cascader-view/cascader-view.less
Due: stylelint --fix

feat: init modal code with a copy of dialog
  config/components.ts
  src/components/modal/alert.tsx
  src/components/modal/confirm.tsx
  src/components/modal/demos/demo1.tsx
  src/components/modal/index.en.md
  src/components/modal/index.ts
  src/components/modal/index.zh.md
  src/components/modal/modal-action-button.tsx
  src/components/modal/modal.less
  src/components/modal/modal.tsx
  src/components/modal/show.tsx
  src/index.ts
  src/locales/base.ts
  src/locales/zh-CN.ts
Due: prettier --write, stylelint --fix

fix: (Cascader) unable to scroll when list height exceeds (#4523)
  src/components/cascader-view/cascader-view.less
Due: stylelint --fix

feat: (ImageViewer) support `ImageViewer.clear()`
  src/components/image-viewer/image-viewer.tsx
  src/components/image-viewer/index.ts
  src/components/image-viewer/methods.tsx
Due: prettier --write

feat: (Collapse) add arrow render-prop
  src/components/collapse/collapse.tsx
  src/components/collapse/demos/demo1.tsx
  src/components/collapse/index.en.md
  src/components/collapse/index.zh.md
Due: prettier --write

refactor: (Collapse) use custom arrow alone
  src/components/collapse/collapse.tsx
Due: prettier --write

feat: (Dropdown) add arrow prop
  src/components/dropdown/demos/demo1.tsx
  src/components/dropdown/dropdown.less
  src/components/dropdown/dropdown.tsx
  src/components/dropdown/item.tsx
Due: prettier --write, stylelint --fix

doc: (Dropdown) update doc
  src/components/dropdown/index.en.md
  src/components/dropdown/index.zh.md
Due: none

doc: (Collapse) update doc
  src/components/collapse/index.en.md
  src/components/collapse/index.zh.md
Due: none

feat: add Modal component
  src/components/dialog/index.zh.md
  src/components/modal/alert.tsx
  src/components/modal/confirm.tsx
  src/components/modal/demos/demo1.tsx
  src/components/modal/modal-action-button.tsx
  src/components/modal/modal.less
  src/components/modal/modal.tsx
Due: prettier --write, stylelint --fix

doc: (Modal) fix doc
  src/components/modal/index.en.md
  src/components/modal/index.zh.md
Due: none

feat: (ImageViewer) unmount other imageViewers when use `ImageViewer.show`
  src/components/image-viewer/methods.tsx
Due: prettier --write

doc: fix Modal and Dialog doc
  src/components/dialog/index.en.md
  src/components/dialog/index.zh.md
  src/components/modal/index.en.md
  src/components/modal/index.zh.md
Due: none

enhance: (ImageViewer) imperative methods
  src/components/image-viewer/methods.tsx
Due: prettier --write

doc: ImageViewer
  src/components/image-viewer/index.en.md
  src/components/image-viewer/index.zh.md
Due: none

refactor: (Collapse) refactor the implementation logic of arrow
  src/components/collapse/collapse.tsx
  src/components/collapse/demos/demo1.tsx
  src/components/collapse/index.en.md
  src/components/collapse/index.zh.md
Due: prettier --write

refactor: (Dropdown) refactor the implementation logic of arrow
  src/components/dropdown/demos/demo1.tsx
  src/components/dropdown/dropdown.less
  src/components/dropdown/dropdown.tsx
  src/components/dropdown/item.tsx
Due: prettier --write, stylelint --fix

feat: (Switch) add some CSS variables
  src/components/switch/demos/demo1.tsx
  src/components/switch/index.en.md
  src/components/switch/index.zh.md
  src/components/switch/switch.less
  src/components/switch/switch.tsx
Due: prettier --write, stylelint --fix

fix: (Dropdown) replace `??` with `=== undefined`
  src/components/dropdown/dropdown.tsx
  src/components/dropdown/item.tsx
Due: prettier --write

fix: (Collapse) modify the judgment logic of arrow
  src/components/collapse/collapse.tsx
Due: prettier --write

refactor: (DatePicker) simplify `generateColumn`
  src/components/date-picker/date-picker-date-utils.ts
  src/components/date-picker/date-picker-week-utils.ts
Due: prettier --write

refactor: (DatePicker) wrap `date` param of `filter` with a `extend` object
  src/components/date-picker-view/demos/demo2.tsx
  src/components/date-picker-view/index.ts
  src/components/date-picker/date-picker-date-utils.ts
  src/components/date-picker/date-picker-utils.ts
  src/components/date-picker/date-picker-week-utils.ts
  src/components/date-picker/date-picker.tsx
  src/components/picker-view/index.en.md
  src/components/picker-view/index.zh.md
  src/components/picker/index.en.md
  src/components/picker/index.zh.md
Due: prettier --write

feat: (Collapse) add arrow prop (#4525)
  src/components/collapse/collapse.tsx
  src/components/collapse/demos/demo1.tsx
  src/components/collapse/index.en.md
  src/components/collapse/index.zh.md
Due: prettier --write

fix: (NumberKeyboard) 用户 customerKey 不填入时点击按键不触发 onInput
  src/components/number-keyboard/number-keyboard.tsx
  src/components/number-keyboard/tests/numberic-keyboard.test.tsx
Due: prettier --write

fix: (NumberKeyboard) avoid `onInput` being triggered with empty key (#4534)
  src/components/number-keyboard/number-keyboard.tsx
  src/components/number-keyboard/tests/numberic-keyboard.test.tsx
Due: prettier --write

fix: (VirtualInput) prevent call `onClick` when click the clear icon
  src/components/virtual-input/virtual-input.tsx
Due: prettier --write

fix: (VirtualInput) prevent call `onClick` when click the clear icon (#4535)
  src/components/virtual-input/virtual-input.tsx
Due: prettier --write

feat: (Form) add arrow to Form.Item
  src/components/form/demos/demo1.less
  src/components/form/demos/demo1.tsx
  src/components/form/form-item.tsx
  src/components/form/index.en.md
  src/components/form/index.zh.md
Due: prettier --write, stylelint --fix

doc: (Form) update demo (#3)
  src/components/form/demos/demo1.less
  src/components/form/demos/demo1.tsx
  src/components/form/demos/demo2.tsx
Due: prettier --write, stylelint --fix

chore: complie umd pack with babel preset env
  gulpfile.js
Due: none

doc: update doc about compatibility
  docs/guide/faq.en.md
  docs/guide/faq.zh.md
  docs/guide/quick-start.en.md
  docs/guide/quick-start.zh.md
Due: none

refactor: remove DesenseText component
  config/components.ts
  src/components/desense-text/demos/demo1.tsx
  src/components/desense-text/desense-text.less
  src/components/desense-text/desense-text.tsx
  src/components/desense-text/index.en.md
  src/components/desense-text/index.ts
  src/components/desense-text/index.zh.md
  src/index.ts
Due: prettier --write, stylelint --fix
