Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": ["prettier --write"],
  "src/**/*.{less,css}": ["stylelint --fix"]
}

doc: update compatibility guide
  docs/guide/quick-start.en.md
  docs/guide/quick-start.zh.md
Due: none

doc: (TabBar) fix demo typo
  src/components/tab-bar/demos/demo2.tsx
Due: prettier --write

chore: update HOW_TO_ASK_QUESTIONS.md
  .github/HOW_TO_ASK_QUESTIONS.md
Due: none

doc: (Dialog) add some notes to Dialog doc
  src/components/dialog/index.en.md
  src/components/dialog/index.zh.md
Due: none

doc: add navigator.language detection
  .dumi/theme/components/LocaleSelect.tsx
Due: none

doc: (Result) update demo
  src/components/result/demos/demo1.tsx
Due: prettier --write

doc: (Button) update demo1 and remove debug demo2
  src/components/button/demos/demo1.tsx
  src/components/button/demos/demo2.tsx
  src/components/button/index.en.md
  src/components/button/index.zh.md
Due: prettier --write

enhance: (Dialog) adjust body padding top with image above
  src/components/dialog/dialog.less
Due: stylelint --fix

doc: (Form) update demo
  src/components/form/demos/demo3.tsx
Due: prettier --write

style: image width style error
  src/components/empty/empty.less
Due: stylelint --fix

fix: (Form) the top margin of error messages in horizontal layout forms
  src/components/form/form-item.less
Due: stylelint --fix

enhance: (List & Form) adjust header style
  src/components/list/index.en.md
  src/components/list/index.zh.md
  src/components/list/list.less
Due: stylelint --fix

doc: (List) update demo
  src/components/list/demos/demo3.tsx
Due: prettier --write

feat: (Picker & CascadePicker & DatePicker) add `closeOnMaskClick` prop
  src/components/date-picker/date-picker.tsx
  src/components/picker/index.en.md
  src/components/picker/index.zh.md
  src/components/picker/picker.tsx
Due: prettier --write

refactor: (Radio) remove props className & style
  src/components/radio/radio.tsx
Due: prettier --write

refactor: (Radio) remove props className & style (#4767)
  src/components/radio/radio.tsx
Due: prettier --write

fix: (Empty) fix image className (#4766)
  src/components/empty/empty.less
Due: stylelint --fix

enhance: (Input) `min` `max` props
  src/components/input/index.en.md
  src/components/input/index.zh.md
  src/components/input/input.tsx
Due: prettier --write

doc: quick start
  docs/guide/quick-start.en.md
  docs/guide/quick-start.zh.md
Due: none

chore: upgrade dependencies
  package.json
  yarn.lock
Due: none

enhance: (ImageViewer) update useGesture config and element css to prevent warnings in console
  src/components/image-viewer/image-viewer.less
  src/components/image-viewer/slide.tsx
Due: prettier --write, stylelint --fix

fix: (ImageViewer) prevent ImageViewer to close when long pressing the image
  src/components/image-viewer/slide.tsx
Due: prettier --write

chore: change version
  package.json
Due: none

deploy: 764c0d04875a07c3240e9079d5b52d7c70a40870
  404.html
  index.html
  umi.240e1bf4.css
  umi.a7bb4eec.css
  umi.bc1cc277.js
  umi.fbc8bbcf.js
Due: none

doc: (Popover) move demos up
  src/components/popover/index.en.md
  src/components/popover/index.zh.md
Due: none

enhance: (ImageUploader) onPreview add item params
  src/components/image-uploader/image-uploader.tsx
  src/components/image-uploader/index.en.md
  src/components/image-uploader/index.zh.md
Due: prettier --write

feat: (ImageUploader) onPreview add item params (#4772)
  src/components/image-uploader/image-uploader.tsx
  src/components/image-uploader/index.en.md
  src/components/image-uploader/index.zh.md
Due: prettier --write

doc: fix gallery layout
  .dumi/plugin-gallery/gallery.less
Due: none

test: Radio
  src/components/radio/tests/radio.test.tsx
Due: prettier --write

doc: (NumberKeyboard) remove css variables
  src/components/number-keyboard/index.en.md
  src/components/number-keyboard/index.zh.md
Due: none

test: (Radio) add some tests (#4774)
  src/components/radio/tests/radio.test.tsx
Due: prettier --write

doc: (NumberKeyboard) remove css variables (#4775)
  src/components/number-keyboard/index.en.md
  src/components/number-keyboard/index.zh.md
Due: none

test: (Radio) group radio tests with `describe`
  src/components/radio/tests/radio.test.tsx
Due: prettier --write

chore: upgrade yarn
  .yarn/releases/yarn-3.0.2.cjs
  .yarn/releases/yarn-3.1.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: none

feat:(Rate) does not support configuring the original fill color (#4771)
  src/components/rate/demos/demo1.tsx
  src/components/rate/index.en.md
  src/components/rate/index.zh.md
  src/components/rate/rate.less
  src/components/rate/rate.tsx
Due: prettier --write, stylelint --fix

doc: (Radio) update
  src/components/radio/index.en.md
  src/components/radio/index.zh.md
Due: none

enhance: (Radio) usage warning when use with Radio.Group
  src/components/radio/radio.tsx
Due: prettier --write

test: add some tests for Input and TextArea
  src/components/input/tests/__snapshots__/input.test.tsx.snap
  src/components/input/tests/input.test.tsx
  src/components/radio/tests/radio.test.tsx
  src/components/text-area/tests/input.test.tsx
Due: prettier --write

enhance: (TextArea) add `null` check for `value`
  src/components/text-area/tests/__snapshots__/textarea.test.tsx.snap
  src/components/text-area/tests/textarea.test.tsx
  src/components/text-area/text-area.tsx
  src/utils/is-dev.ts
Due: prettier --write
