Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": ["prettier --write"],
  "src/**/*.{less,css}": ["stylelint --fix"]
}

chore: remove normalize.css
  packages/antd-mobile-styles/src/base/index.js
  packages/antd-mobile/src/Button/index.tsx
  packages/antd-mobile/src/rmc/Labelable/index.tsx
Due: none

chore: update snap
  packages/antd-mobile/src/Switch/__test__/__snapshots__/index.test.tsx.snap
  packages/antd-mobile/src/Terms/__test__/__snapshots__/index.test.tsx.snap
Due: none

Implementing fixed node prop on tab-bar
  components/tab-bar/PropsType.tsx
  components/tab-bar/__tests__/__snapshots__/demo.test.js.snap
  components/tab-bar/demo/fixed-node.md
  components/tab-bar/index.en-US.md
  components/tab-bar/index.tsx
  components/tab-bar/index.zh-CN.md
Due: none

feat: support ReactNode
  components/swipe-action/PropsType.tsx
Due: none

docs: update SwipeAction text type
  components/swipe-action/index.en-US.md
  components/swipe-action/index.zh-CN.md
Due: none

feat: 添加 tab-bar 对于传入的 className 的处理
  components/tab-bar/index.tsx
Due: none

继续修复Tab组件中children不能包含null的问题
  components/tab-bar/index.tsx
Due: none

fix: some base64 file type cannot be show
  components/image-picker/index.tsx
Due: none

fix:fix bugs in demo
  components/tabs/demo/fixedheight.md
  components/tabs/demo/sticky.md
  components/tabs/demo/vertical.md
Due: none

fix: actionSheetOptions补充cancelButtonText ts类型
  .history/components/action-sheet/index_20210608144033.tsx
  .history/components/action-sheet/index_20210608144434.tsx
Due: none

fix: update carousel version to resolve passvie evts,see https://github.com/FormidableLabs/nuka-carousel/pull/765/files
  package.json
Due: none

refactor: remove dayjs objectSupport
  src/index.ts
Due: prettier --write

fix: side effects
  package.json
  src/index.ts
  src/utils/init.ts
Due: prettier --write

fix: toolchain config
  .gitignore
  config/config.ts
  tsconfig.json
Due: none

fix: dialog getContainer
  src/components/dialog/index.tsx
  src/utils/get-container.ts
  src/utils/render-to-container.ts
Due: prettier --write

fix: toast container
  src/components/toast/index.tsx
Due: prettier --write

chore: update build script
  gulpfile.js
  src/components/infinite-scroll/index.tsx
  src/components/toast/index.tsx
  tsconfig.json
Due: prettier --write

chore: update DesensText demo
  src/components/desens-text/demos/index.tsx
Due: prettier --write

chore: adjust demos folders name
  src/components/ellipsis/demos/index.tsx
  src/components/ellipsis/index.md
  src/components/empty/demos/index.tsx
  src/components/empty/index.md
  src/components/error/demos/demo1.tsx
  src/components/error/demos/demo2.tsx
  src/components/error/index.md
  src/components/form/demos/demo1.tsx
  src/components/form/demos/demo2.tsx
  src/components/form/index.md
  src/components/index-bar/demos/demo1.tsx
  src/components/index-bar/index.md
  src/components/search/demos/demo1.tsx
  src/components/search/index.md
  src/components/selector/demos/demo1.tsx
  src/components/selector/index.md
Due: prettier --write

fix: imports in Dialog
  src/components/dialog/index.tsx
Due: prettier --write

chore: update version
  package.json
Due: none

chore: add github action for deploying doc
  .github/workflows/gh-pages.yml
  package.json
Due: none

chore: update lockfile
  yarn.lock
Due: none

chore: migrate to yarn v2
  .gitignore
  .prettierignore
  .yarn/releases/yarn-berry.cjs
  .yarnrc
  .yarnrc.yml
  package.json
  yarn.lock
Due: none

chore: update gh-pages ci
  .github/workflows/gh-pages.yml
Due: none

Update README.md
  README.md
Due: none

fix: add github action "check"
  .github/workflows/check.yml
  .github/workflows/gh-pages.yml
Due: none

chore: update doc publish branch
  .github/workflows/gh-pages.yml
Due: none

chore: add cname
  .github/workflows/gh-pages.yml
Due: none

chore: remove style imports in demo components
  src/components/action-sheet/demos/index.tsx
  src/components/badge/demos/index.tsx
  src/components/button/demos/index.tsx
  src/components/dialog/demos/index.tsx
  src/components/divider/demos/index.tsx
  src/components/dropdown/demos/demo1.tsx
  src/components/ellipsis/demos/index.tsx
  src/components/empty/demos/index.tsx
  src/components/error/demos/demo1.tsx
  src/components/error/demos/demo2.tsx
  src/components/form/demos/demo1.tsx
  src/components/form/demos/demo2.tsx
  src/components/index-bar/demos/demo1.tsx
  src/components/input/demos/index.tsx
  src/components/list/demos/demo1.tsx
  src/components/loading/demos/index.tsx
  src/components/mask/demos/demo1.tsx
  src/components/notice-bar/demos/index.tsx
  src/components/popover/demos/index.tsx
  src/components/progress-bar/demos/index.tsx
  src/components/progress-circle/demos/index.tsx
  src/components/result/demos/index.tsx
  src/components/search/demos/demo1.tsx
  src/components/selector/demos/demo1.tsx
  src/components/slider/demos/index.tsx
  src/components/steps/demos/demo1.tsx
  src/components/switch/demos/index.tsx
  src/components/toast/demos/index.tsx
  src/demos/demo-block/index.tsx
Due: prettier --write

fix: eslint issues
  .eslintrc.js
  src/components/action-sheet/index.tsx
  src/components/badge/demos/index.tsx
  src/components/cascader/multiple.tsx
  src/components/checkbox/index.tsx
  src/components/date-picker/index.tsx
  src/components/desens-text/index.tsx
  src/components/dialog/index.tsx
  src/components/divider/index.tsx
  src/components/image-viewer/index.tsx
  src/components/image/index.tsx
  src/components/index-bar/demos/demo1.tsx
  src/components/index-bar/sidebar.tsx
  src/components/infinite-scroll/index.tsx
  src/components/input/index.tsx
  src/components/list/index.tsx
  src/components/notice-bar/index.tsx
  src/components/picker/cascader.tsx
  src/components/picker/column.tsx
  src/components/popover/demos/index.tsx
  src/components/popup/demos/index.tsx
  src/components/progress-bar/demos/index.less
  src/components/progress-bar/demos/index.tsx
  src/components/pull-to-refresh/demos/index.tsx
  src/components/pull-to-refresh/index.tsx
  src/components/radio/index.tsx
  src/components/slider/thumb.tsx
  src/components/space/index.tsx
  src/components/switch/index.tsx
  src/components/tag/index.tsx
  src/utils/tree.ts
Due: prettier --write, stylelint --fix

feat:新增组件Rate
  config/config.ts
  src/components/rate/demo/index.tsx
  src/components/rate/index.less
  src/components/rate/index.md
  src/components/rate/index.tsx
  src/index.less
  src/index.ts
Due: prettier --write, stylelint --fix

fix:删除多余文案
  src/components/rate/demo/index.tsx
Due: prettier --write

chore: upgrade dependencies and add 750 dev config
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-outdated.cjs
  .yarnrc.yml
  config/config.ts
  package.json
  yarn.lock
Due: none

fix: convertPx not working when called immediately after page load
  src/components/index-bar/index.tsx
  src/components/picker/column.tsx
  src/components/progress-bar/index.tsx
  src/components/progress-circle/index.tsx
  src/components/pull-to-refresh/index.tsx
  src/index.less
  src/utils/convert-px.ts
Due: prettier --write, stylelint --fix

refactor: Rate
  src/components/rate/demo/index.tsx
  src/components/rate/demos/index.tsx
  src/components/rate/index.less
  src/components/rate/index.md
  src/components/rate/index.tsx
  src/utils/element-props.ts
Due: prettier --write, stylelint --fix
