Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": ["prettier --write"],
  "src/**/*.{less,css}": ["stylelint --fix"]
}

feat:提交
  src/utils/native-props.ts
  src/utils/nearest.ts
  src/utils/render-to-body.ts
  src/utils/render-to-container.ts
  src/utils/sleep.ts
  src/utils/to-css-length.ts
  src/utils/use-lock-scroll.ts
  src/utils/use-touch.ts
  src/utils/with-stop-propagation.tsx
Due: prettier --write

解决slider圆点不够居中问题
  src/components/slider/slider.less
Due: stylelint --fix

feat: (IndexBar) add `brief` prop to IndexBar.Panel
  src/components/index-bar/index-bar.tsx
  src/components/index-bar/index.en.md
  src/components/index-bar/index.zh.md
  src/components/index-bar/panel.tsx
  src/components/index-bar/sidebar.tsx
Due: prettier --write

enhance: (IndexBar) export IndexBarPanelProps type
  src/components/index-bar/index.ts
  src/components/index-bar/panel.tsx
Due: prettier --write

feat: (IndexBar) change the type of `brief` and `title` props to `ReactNode`
  src/components/index-bar/index-bar.tsx
  src/components/index-bar/index.en.md
  src/components/index-bar/index.zh.md
  src/components/index-bar/panel.tsx
  src/components/index-bar/sidebar.tsx
Due: prettier --write

doc: (TabBar) update FAQ
  src/components/tab-bar/index.en.md
  src/components/tab-bar/index.zh.md
Due: none

doc: (Picker) fix px (#4817)
  src/components/picker/demos/demo2.tsx
Due: prettier --write

fix: (Slider) alignment of ticks (#4820)
  src/components/slider/slider.less
Due: stylelint --fix

doc: update README
  README.md
Due: none

feat:添加注释
  src/components/action-sheet/action-sheet.tsx
  src/components/auto-center/auto-center.tsx
  src/components/config-provider/config-provider.tsx
  src/components/dot-loading/dot-loading.tsx
  src/components/empty/empty.tsx
  src/components/image-uploader/image-uploader.tsx
  src/components/image-uploader/preview-item.tsx
  src/components/image-viewer/image-viewer.tsx
  src/components/image-viewer/methods.tsx
  src/components/image/image.tsx
  src/components/image/lazy-detector.tsx
  src/components/infinite-scroll/infinite-scroll.tsx
  src/components/input/input.tsx
  src/components/mask/mask.tsx
  src/components/rate/rate.tsx
  src/components/virtual-input/virtual-input.tsx
  src/components/water-mark/water-mark.tsx
Due: prettier --write

doc: (Form) update demo about Form.Subscription
  src/components/form/demos/demo-subscribe.tsx
  src/components/form/demos/subscribe-demo.tsx
  src/components/form/index.en.md
  src/components/form/index.zh.md
Due: prettier --write

doc: (Form) update api doc
  src/components/form/index.en.md
  src/components/form/index.zh.md
Due: none

feat: (Form) add Form.Subscribe component (#4816)
  src/components/form/demos/demo-subscribe.tsx
  src/components/form/form-subscribe.tsx
  src/components/form/index.en.md
  src/components/form/index.tsx
  src/components/form/index.zh.md
Due: prettier --write

doc: (Form) update demos and add description about Form.Header
  src/components/form/demos/demo-error.tsx
  src/components/form/demos/demo3.tsx
  src/components/form/index.en.md
  src/components/form/index.zh.md
Due: prettier --write

feat: (Dialog & Modal) add `clear` method
  src/components/dialog/clear.ts
  src/components/dialog/demos/demo1.tsx
  src/components/dialog/dialog.tsx
  src/components/dialog/index.en.md
  src/components/dialog/index.ts
  src/components/dialog/index.zh.md
  src/components/dialog/show.tsx
  src/components/modal/clear.ts
  src/components/modal/demos/demo1.tsx
  src/components/modal/index.en.md
  src/components/modal/index.ts
  src/components/modal/index.zh.md
  src/components/modal/modal.tsx
  src/components/modal/show.tsx
Due: prettier --write

feat: add ref to calender component
  src/components/calendar/calendar.en.md
  src/components/calendar/calendar.tsx
  src/components/calendar/calendar.zh.md
  src/components/calendar/demos/demo1.tsx
Due: prettier --write

fix: if you double click the same date, it will still selected, not cancel
  src/components/calendar/calendar.tsx
  src/components/calendar/demos/demo1.tsx
Due: prettier --write

chore: change version
  package.json
Due: none

fix: (Form) wrong import code
  src/components/form/form-subscribe.tsx
Due: prettier --write

deploy: f5af6f145561cdfa25d63807ff380a4ba69ebedb
  404.html
  index.html
  umi.6cdb8293.css
  umi.9e81737b.css
  umi.ab018bdd.js
  umi.ebae5f0f.js
Due: none

enhance: (Form) add CSS variables border
  src/components/form/demos/demo-error.tsx
  src/components/form/form-item.tsx
  src/components/form/form.less
  src/components/form/form.tsx
  src/components/form/index.en.md
  src/components/form/index.zh.md
Due: prettier --write, stylelint --fix

refactor: (Form.Item) remove CSS variables
  src/components/form/demos/demo-error.tsx
  src/components/form/form-item.tsx
  src/components/form/index.en.md
  src/components/form/index.zh.md
Due: prettier --write

fix: 细节调整
  src/components/calendar/calendar.en.md
  src/components/calendar/calendar.tsx
  src/components/calendar/calendar.zh.md
  src/components/calendar/demos/demo1.tsx
  src/components/calendar/index.ts
Due: prettier --write

feat: (Form) add CSS variables of borders (#4823)
  src/components/form/form.less
  src/components/form/form.tsx
  src/components/form/index.en.md
  src/components/form/index.zh.md
Due: prettier --write, stylelint --fix

fix: 删除多余引用
  src/components/calendar/demos/demo1.tsx
Due: prettier --write

refactor: (Calendar) ref
  src/components/calendar/calendar.en.md
  src/components/calendar/calendar.tsx
  src/components/calendar/calendar.zh.md
Due: prettier --write

feat: (Calendar) add ref to calendar component (#4826)
  src/components/calendar/calendar.en.md
  src/components/calendar/calendar.tsx
  src/components/calendar/calendar.zh.md
  src/components/calendar/index.ts
Due: prettier --write

refactor: (Dialog & Modal) clear method
  src/components/dialog/clear.ts
  src/components/dialog/dialog.tsx
  src/components/dialog/index.en.md
  src/components/dialog/index.zh.md
  src/components/dialog/show.tsx
  src/components/modal/clear.ts
  src/components/modal/index.en.md
  src/components/modal/index.zh.md
  src/components/modal/modal.tsx
  src/components/modal/show.tsx
Due: prettier --write

feat: (Image) add `inline` prop
  src/components/image/image.less
  src/components/image/image.tsx
  src/components/image/index.en.md
  src/components/image/index.zh.md
Due: prettier --write, stylelint --fix

feat: (Stepper) add `allowEmpty` prop
  src/components/stepper/demos/demo1.tsx
  src/components/stepper/demos/demo2.less
  src/components/stepper/demos/demo2.tsx
  src/components/stepper/index.en.md
  src/components/stepper/index.zh.md
  src/components/stepper/stepper.tsx
Due: prettier --write, stylelint --fix

fix: (Dropdown) fix height (drop open)
  src/components/dropdown/dropdown.less
Due: stylelint --fix

feat: (Stepper) add `allowEmpty` prop (#4840)
  src/components/stepper/demos/demo1.tsx
  src/components/stepper/demos/demo2.less
  src/components/stepper/demos/demo2.tsx
  src/components/stepper/index.en.md
  src/components/stepper/index.zh.md
  src/components/stepper/stepper.tsx
Due: prettier --write, stylelint --fix

chore: upgrade ahooks
  package.json
  src/utils/use-isomorphic-update-layout-effect.tsx
  yarn.lock
Due: prettier --write

enchance: replace useUpdateLayoutEffect with useIsomorphicUpdateLayouEffect
  src/components/collapse/collapse.tsx
  src/components/tabs/tabs.tsx
  src/utils/use-tab-list-scroll.ts
Due: prettier --write

fix: (Picker & PickerView) refactor the item height calc logic to prevent getting 0 if element is not displayed
  src/components/picker-view/picker-view.less
  src/components/picker-view/wheel.tsx
  src/components/picker/demos/demo2.tsx
  src/utils/measure-css-length.ts
Due: prettier --write, stylelint --fix

deploy: 165e962dae77e71f4c1bb6aee0bb1d7b6bdbdb56
  404.html
  index.html
  umi.393ed806.css
  umi.3a8fd526.js
  umi.6cdb8293.css
  umi.ebae5f0f.js
Due: none

enhance: (Stepper) Infer the type of `value` through `allowEmpty`
  src/components/stepper/stepper.tsx
Due: prettier --write

refactor: upgrade typescript to 4.5
  package.json
  src/components/search-bar/search-bar.tsx
  src/components/text-area/text-area.tsx
  src/utils/validate.ts
  yarn.lock
Due: prettier --write
