Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

test: (NoticeBar) add some tests
  src/components/notice-bar/tests/__snapshots__/notice-bar.test.tsx.snap
  src/components/notice-bar/tests/notice-bar.test.tsx
Due: prettier --write

enhance: (Badge) adjust ts definition
  src/components/badge/badge.tsx
  src/components/badge/index.ts
Due: prettier --write

refactor: adjust ts definition
  src/components/badge/badge.tsx
Due: prettier --write

enhance: (Badge) adjust ts definition (#5195)
  src/components/badge/badge.tsx
  src/components/badge/index.ts
Due: prettier --write

chore: add commitlint
  .husky/commit-msg
  commitlint.config.js
  package.json
  yarn.lock
Due: none

feat:(Calendar) props中添加disabledDate用于设置不可选的日期，优先级高于max和min判定
  src/components/calendar/calendar.tsx
Due: prettier --write

fix: downgrade @use-gesture/react to 10.2.12 to fix body get scroll locked after open a new page
  package.json
  yarn.lock
Due: none

chore: change version
  package.json
Due: none

deploy: 9ae2a61a16ee1afa02d1c678c7ad760822fa5497
  404.html
  index.html
  umi.2a34caf8.js
  umi.6276a8ba.css
  umi.b2a05283.js
  umi.d92fcc3a.css
Due: none

chore: upgrade @use-gesture/react to 10.2.14
  package.json
  yarn.lock
Due: none

doc: remove the border of demo block
  src/demos/demo-block/index.less
Due: stylelint --fix

enhance(Badge): adjust the implementation of Badge.dot to prevent ts errors
  src/components/badge/badge.tsx
  src/components/badge/index.ts
  src/components/side-bar/index.en.md
  src/components/side-bar/index.zh.md
Due: prettier --write

doc(Card): fix demo ts error
  src/components/card/demos/demo1.tsx
Due: prettier --write

doc: adjust doc style
  .dumi/theme/style/markdown.less
Due: none

chore: fix lint issues
  src/components/checkbox/demos/demo1.tsx
  src/components/side-bar/demos/tabs.ts
Due: prettier --write

feat:(Calendar) disabledDate修改为shouldDisableDate;调整禁止选择同时被范围选择选中的cell样式;修改calendar.zh.md和calendar.en.md描述
  src/components/calendar/calendar.en.md
  src/components/calendar/calendar.less
  src/components/calendar/calendar.tsx
  src/components/calendar/calendar.zh.md
Due: prettier --write, stylelint --fix

fix(InfiniteScroll): if the scroll parent changes, InfiniteScroll should move the event handler to the new scroll parent
  src/components/infinite-scroll/infinite-scroll.tsx
Due: prettier --write

chore: update commitlint rule
  commitlint.config.js
Due: none

fix(SearchBar): delay focus state update to make sure `onCancel` can be triggerred (#5201)
  src/components/search-bar/search-bar.tsx
Due: prettier --write

refactor:(Calendar) disable时判断逻辑漏洞修复。
  src/components/calendar/calendar.tsx
Due: prettier --write

refactor:(Calendar) props.shouldDisableDate(d.toDate()) 去掉 === true判断。
  src/components/calendar/calendar.tsx
Due: prettier --write

style(Image): update the loading and broken placeholder icon
  src/components/image/broken-image-icon.tsx
  src/components/image/image-icon.tsx
  src/components/image/image.less
  src/components/image/image.tsx
Due: prettier --write, stylelint --fix

enhance(Button): adjust the type of `onClick`
  src/components/button/button.tsx
Due: prettier --write

feat(Button): supports native `onMouseDown` `onMouseUp` `onTouchStart` `onTouchEnd` props
  src/components/button/button.tsx
  src/components/button/index.en.md
  src/components/button/index.zh.md
Due: prettier --write

fix(SearchBar): revert b66911e commit and use preventDefault of mouse down event to make sure `onCancel` can be triggered
  src/components/search-bar/search-bar.tsx
Due: prettier --write

test: update snapshots
  src/components/config-provider/tests/__snapshots__/config-provider.test.tsx.snap
  src/components/image-uploader/tests/__snapshots__/image-uploader.test.tsx.snap
Due: none

style(Toast): update max-width
  src/components/toast/toast.less
Due: stylelint --fix

deploy: 72371086692b012aa186cb62d8271911e046f647
  404.html
  index.html
  umi.1730d8c1.js
  umi.2a34caf8.js
  umi.d18ced0c.css
  umi.d92fcc3a.css
Due: none

feat(Calendar): add `shouldDisableDate` prop (#5198)
  src/components/calendar/calendar.en.md
  src/components/calendar/calendar.less
  src/components/calendar/calendar.tsx
  src/components/calendar/calendar.zh.md
Due: prettier --write, stylelint --fix

chore: add postcss-disable-css-vars
  config/config.ts
  scripts/postcss-disable-css-vars.js
  yarn.lock
Due: none

chore: disable postcssDisableCSSVars
  config/config.ts
Due: none

feat(Image): add `draggable` props which defaults to `false`
  src/components/image/demos/demo1.tsx
  src/components/image/image.tsx
  src/components/image/index.en.md
  src/components/image/index.zh.md
Due: prettier --write

doc(InfiniteScroll): add infinite virtualized list
  src/components/infinite-scroll/demos/demo2.tsx
  src/components/infinite-scroll/index.en.md
  src/components/infinite-scroll/index.zh.md
Due: prettier --write

refactor(ActionSheet): refactor the implementation and adjust style
  src/components/action-sheet/action-sheet.less
  src/components/action-sheet/action-sheet.tsx
Due: prettier --write, stylelint --fix

doc(InfiniteScroll): add infinite virtualized list (#5205)
  src/components/infinite-scroll/demos/demo2.tsx
  src/components/infinite-scroll/index.en.md
  src/components/infinite-scroll/index.zh.md
Due: prettier --write

refactor(ActionSheet): adjust DOM structure and update tests
  src/components/action-sheet/action-sheet.less
  src/components/action-sheet/action-sheet.tsx
  src/components/action-sheet/tests/__snapshots__/action-sheet.test.tsx.snap
  src/components/action-sheet/tests/action-sheet.test.tsx
Due: prettier --write, stylelint --fix

test: add jest setup
  jest.config.js
  src/tests/setup.ts
Due: prettier --write

Path conditions:
  prettier --write: any of: src/**/*.{ts,tsx}
  stylelint --fix: any of: src/**/*.{less,css}
