Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

refactor(CapsuleTabs & JumboTabs): reuse `useTabListScroll` hook
  src/components/capsule-tabs/capsule-tabs.tsx
  src/components/jumbo-tabs/jumbo-tabs.tsx
  src/utils/use-tab-list-scroll.ts
Due: prettier --write

feat: (Swiper) add `stuckAtBoundary` `trackOffset` `slideSize` and remove `--slide-width` `--slide-height` `--track-offset`
  src/components/swiper/demos/demo1.less
  src/components/swiper/demos/demo1.tsx
  src/components/swiper/index.en.md
  src/components/swiper/index.zh.md
  src/components/swiper/swiper.less
  src/components/swiper/swiper.tsx
Due: prettier --write, stylelint --fix

doc: (Swiper) adjust demos
  src/components/swiper/demos/demo1.tsx
  src/components/swiper/demos/demo4.tsx
  src/components/swiper/demos/demo5.less
  src/components/swiper/demos/demo5.tsx
  src/components/swiper/index.en.md
  src/components/swiper/index.zh.md
  src/components/swiper/swiper.tsx
Due: prettier --write, stylelint --fix

doc: (Swiper) add demo6
  src/components/swiper/demos/demo6.tsx
  src/components/swiper/index.en.md
  src/components/swiper/index.zh.md
Due: prettier --write

fix: (Swiper) auto swipe to max index when index exceeds
  src/components/swiper/demos/demo1.tsx
  src/components/swiper/demos/demo6.tsx
  src/components/swiper/demos/demo7.tsx
  src/components/swiper/index.en.md
  src/components/swiper/index.zh.md
  src/components/swiper/swiper.tsx
Due: prettier --write

fix: (Swiper) loop
  src/components/swiper/demos/demo7.tsx
  src/components/swiper/swiper.tsx
Due: prettier --write

feat: (Tag) add `onClick` prop (#4363)
  src/components/tag/index.en.md
  src/components/tag/index.zh.md
  src/components/tag/tag.tsx
Due: prettier --write

feat: add new experimental component ScrollMask
  config/components.ts
  src/components/scroll-mask/demos/index.tsx
  src/components/scroll-mask/index.en.md
  src/components/scroll-mask/index.ts
  src/components/scroll-mask/index.zh.md
  src/components/scroll-mask/scroll-mask.less
  src/components/scroll-mask/scroll-mask.tsx
  src/index.ts
Due: prettier --write, stylelint --fix

refactor(CapsuleTabs): reuse `ScrollMask` component
  src/components/capsule-tabs/capsule-tabs.tsx
Due: prettier --write

refactor(JumboTabs): reuse `ScrollMask` component
  src/components/jumbo-tabs/jumbo-tabs.tsx
Due: prettier --write

feat: (NumberKeyboard) add `safeArea` prop which is enabled by default
  config/config.ts
  src/components/number-keyboard/demos/index.tsx
  src/components/number-keyboard/index.en.md
  src/components/number-keyboard/index.zh.md
  src/components/number-keyboard/number-keyboard.less
  src/components/number-keyboard/number-keyboard.tsx
  src/components/safe-area/demos/demo1.tsx
Due: prettier --write, stylelint --fix

doc: NumberKeyboard
  src/components/number-keyboard/index.en.md
Due: none

chore: update version
  package.json
Due: none

deploy: 535cbc9733b6c7df27d9138088f93583dae3977c
  404.html
  index.html
  umi.css
  umi.js
Due: none

fix: (Checkbox) disabled unchecked icon style
  src/components/checkbox/checkbox.less
Due: stylelint --fix

doc: fix typo
  README.md
  docs/index.md
Due: none

fix: (Picker) `onSelect` `onConfirm` upgrade `context` param
  src/components/picker/picker.tsx
  src/utils/use-lazy-memo.tsx
Due: prettier --write

doc: remove ScrollMask from documentation
  config/components.ts
Due: none

refactor: rename `XXXTabPane` to `Tab`
  src/components/capsule-tabs/capsule-tabs.tsx
  src/components/capsule-tabs/demos/index.tsx
  src/components/capsule-tabs/index.en.md
  src/components/capsule-tabs/index.ts
  src/components/capsule-tabs/index.zh.md
  src/components/jumbo-tabs/demos/index.tsx
  src/components/jumbo-tabs/index.en.md
  src/components/jumbo-tabs/index.ts
  src/components/jumbo-tabs/index.zh.md
  src/components/jumbo-tabs/jumbo-tabs.tsx
  src/components/tabs/demos/index.tsx
  src/components/tabs/index.en.md
  src/components/tabs/index.ts
  src/components/tabs/index.zh.md
  src/components/tabs/tabs.tsx
Due: prettier --write

doc: JumboTabs
  src/components/jumbo-tabs/index.en.md
  src/components/jumbo-tabs/index.zh.md
Due: none

refactor: (Picker) rename some functions in Picker and remove useLazyMemo
  src/components/picker/demos/index.tsx
  src/components/picker/picker.tsx
  src/utils/use-lazy-memo.tsx
Due: prettier --write

doc: Picker
  src/components/picker/demos/index.tsx
  src/components/picker/picker.tsx
Due: prettier --write

refactor: (Checkbox) refactor the implementation of check icon
  src/components/checkbox/checkbox.less
  src/components/checkbox/checkbox.tsx
Due: prettier --write, stylelint --fix

fix: (Checkbox) fix the behavior in disable state when indeterminate is true
  src/components/checkbox/checkbox.less
  src/components/checkbox/demos/index.tsx
Due: prettier --write, stylelint --fix

fix: (Checkbox) indeterminate and checked at the same time
  src/components/checkbox/checkbox.tsx
  src/components/checkbox/demos/index.tsx
Due: prettier --write

fix: (Radio) disabled style
  src/components/radio/radio.less
  src/components/radio/radio.tsx
Due: prettier --write, stylelint --fix

enhance: (CascadePicker) ignore children with empty array
  src/components/cascade-picker/cascade-picker.tsx
Due: prettier --write

enhance: (Popover) export some props types
  src/components/popover/index.ts
  src/components/popover/pop-menu.tsx
  src/components/popover/popover.tsx
Due: prettier --write

fix: 修复在Popup中的input点击清除按钮会触发useClickAway，导致关闭Popup的问题
  src/components/input/input.tsx
Due: prettier --write

chore: upgrade dependencies
  package.json
  yarn.lock
Due: none

chore: (VirtualInput) `start` -> `flex-start`
  src/components/virtual-input/virtual-input.less
Due: stylelint --fix

chore: upgrade @use-gesture/react
  package.json
  yarn.lock
Due: none

enhance: add px test validating logic (only in dev)
  src/global/index.ts
  src/utils/convert-px.ts
  src/utils/dev-log.ts
Due: prettier --write

fix: forget to import global.less
  src/global/index.ts
Due: prettier --write

feat: (PickerView) onChange add context param
  src/components/picker-view/demos/basic.tsx
  src/components/picker-view/index.en.md
  src/components/picker-view/index.ts
  src/components/picker-view/index.zh.md
  src/components/picker-view/picker-view.tsx
  src/components/picker-view/use-picker-context.tsx
  src/components/picker/index.ts
  src/components/picker/picker.tsx
Due: prettier --write

doc: (Picker) add anchor link
  src/components/picker/index.en.md
Due: none

doc: English version of VirtualInput doc
  src/components/virtual-input/index.en.md
Due: none

doc: English version of VirtualInput doc (#4383)
  src/components/virtual-input/index.en.md
Due: none

feat: Button组件新增API shape
  src/components/button/button.less
  src/components/button/button.tsx
  src/components/button/demos/demo1.tsx
  src/components/button/demos/demo2.tsx
  src/components/button/index.en.md
  src/components/button/index.zh.md
Due: prettier --write, stylelint --fix

doc:English version of Popover doc
  src/components/popover/index.en.md
Due: none

Path conditions:
  prettier --write: any of: src/**/*.{ts,tsx}
  stylelint --fix: any of: src/**/*.{less,css}
