Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

refactor: (Dropdown) change activeKey type to `string | null`
  src/components/dropdown/dropdown.tsx
  src/components/dropdown/index.en.md
  src/components/dropdown/index.zh.md
Due: prettier --write

refactor: rename useNewControllableValue to usePropsValue
  src/components/check-list/check-list.tsx
  src/components/checkbox/checkbox.tsx
  src/components/checkbox/group.tsx
  src/components/collapse/collapse.tsx
  src/components/date-picker/date-picker.tsx
  src/components/desense-text/desense-text.tsx
  src/components/dropdown/dropdown.tsx
  src/components/image-uploader/image-uploader.tsx
  src/components/input/input.tsx
  src/components/number-keyboard/number-keyboard.tsx
  src/components/picker-view/picker-view.tsx
  src/components/picker/picker.tsx
  src/components/popover/popover.tsx
  src/components/radio/group.tsx
  src/components/radio/radio.tsx
  src/components/rate/rate.tsx
  src/components/search/search.tsx
  src/components/selector/selector.tsx
  src/components/side-bar/side-bar.tsx
  src/components/slider/slider.tsx
  src/components/stepper/stepper.tsx
  src/components/switch/switch.tsx
  src/components/tab-bar/tab-bar.tsx
  src/components/tabs/tabs.tsx
  src/components/text-area/text-area.tsx
  src/components/tree-select/multiple.tsx
  src/components/tree-select/tree-select.tsx
  src/utils/use-props-value.ts
Due: prettier --write

doc: (Search) maxLength
  src/components/search/index.en.md
  src/components/search/index.zh.md
Due: none

refactor: (ProgressBar) remove `strokeWidth` `strokeColor` props, add `--track-width` `--fill-color` css variables
  src/components/progress-bar/demos/index.tsx
  src/components/progress-bar/index.en.md
  src/components/progress-bar/index.zh.md
  src/components/progress-bar/progress-bar.less
  src/components/progress-bar/progress-bar.tsx
Due: prettier --write, stylelint --fix

fix: (ErroBlock) image too large
  src/assets/busy.svg
  src/assets/default.svg
  src/assets/disconnected.svg
  src/assets/empty.svg
  src/components/error-block/demos/demo-basic.tsx
  src/components/error-block/error-block.less
Due: prettier --write, stylelint --fix

feat: (ErrorBlock) add `--image-width` `--image-width-full-page`
  src/components/error-block/error-block.less
  src/components/error-block/index.en.md
  src/components/error-block/index.zh.md
Due: stylelint --fix

feat: (ErrorBlock) add some global CSS variables
  src/components/error-block/error-block.less
  src/components/error-block/index.en.md
  src/components/error-block/index.zh.md
Due: stylelint --fix

refactor: (IndexBar) remove `stickyOffsetTop` prop and add `--sticky-offset-top`
  src/components/index-bar/index-bar.less
  src/components/index-bar/index-bar.tsx
  src/components/index-bar/index.en.md
  src/components/index-bar/index.zh.md
Due: prettier --write, stylelint --fix

feat: (Grid) add `--gap` `--gap-vertical` `--gap-horizontal`
  src/components/grid/demos/index.tsx
  src/components/grid/grid.less
  src/components/grid/grid.tsx
  src/components/grid/index.en.md
  src/components/grid/index.zh.md
Due: prettier --write, stylelint --fix

refactor: (Space) rename `--horizontal-gap` `--vertical-gap` to `--gap-horizontal` `--gap-vertical`
  src/components/config-provider/config-provider.tsx
  src/components/space/index.en.md
  src/components/space/index.zh.md
  src/components/space/space.less
  src/components/space/space.tsx
Due: prettier --write, stylelint --fix

enhance: prevent List.Item pointer event when disabled
  src/components/list/list.less
Due: stylelint --fix

enhance: (List) adjust the disabled logic so that every field component can be disabled
  src/components/form/form-item.less
  src/components/form/form-item.tsx
Due: prettier --write, stylelint --fix

enhance: (Slider & Swiper) touch-action
  src/components/slider/slider.less
  src/components/swiper/swiper.less
  src/components/swiper/swiper.tsx
Due: prettier --write, stylelint --fix

enhance: (Swiper) improve dragging experience
  src/components/swiper/swiper.tsx
Due: prettier --write

feat: (CheckList & CheckList.Item) add `disabled` and `readOnly` prop
  src/components/check-list/check-list-item.tsx
  src/components/check-list/check-list.less
  src/components/check-list/check-list.tsx
  src/components/check-list/context.tsx
  src/components/check-list/demos/demo1.tsx
  src/components/check-list/index.en.md
  src/components/check-list/index.zh.md
Due: prettier --write, stylelint --fix

feat: (Rate) rename `readOnly` prop
  src/components/rate/demos/index.tsx
  src/components/rate/index.en.md
  src/components/rate/index.zh.md
  src/components/rate/rate.tsx
Due: prettier --write

feat: (Rate) rename `readonly` prop to `readOnly` (#4231)
  src/components/rate/demos/index.tsx
  src/components/rate/index.en.md
  src/components/rate/index.zh.md
  src/components/rate/rate.tsx
Due: prettier --write

refactor: (Form.Item) `onClick` prop
  src/components/form/form-item.tsx
Due: prettier --write

refactor: (Form.Item) `onClick` prop (#4232)
  src/components/form/form-item.tsx
Due: prettier --write

refactor: (ProgressCircle) reimplement ProgressCircle
  src/components/progress-circle/progress-circle.less
  src/components/progress-circle/progress-circle.tsx
Due: prettier --write, stylelint --fix

refactor: (ProgressCircle) remove `strokeColor` `strokeWidth` `size` props and add `--size` `--track-width` `--track-color` `--fill-color`
  package.json
  src/components/progress-circle/demos/index.tsx
  src/components/progress-circle/index.en.md
  src/components/progress-circle/index.zh.md
  src/components/progress-circle/progress-circle.tsx
  yarn.lock
Due: prettier --write

chore: update version
  package.json
Due: none

deploy: 84a32f1fdfef7920a88cd09f8f6022ef61113b3b
  static/busy.782b6cc4.svg
  static/busy.c4668539.svg
  static/default.1f281972.svg
  static/default.b3c5970b.svg
  static/disconnected.9c7ea75e.svg
  static/disconnected.ce612307.svg
  static/empty.6a8cfdcf.svg
  static/empty.f2b844b2.svg
  umi.css
  umi.js
Due: none

feat: (CheckList) add `readOnly` prop
  src/components/check-list/check-list-item.tsx
  src/components/check-list/check-list.tsx
  src/components/check-list/context.tsx
  src/components/check-list/demos/demo1.tsx
Due: prettier --write

doc: (CheckList) add `readOnly` prop
  src/components/check-list/index.en.md
  src/components/check-list/index.zh.md
Due: none

feat: (CheckList) remove unused className
  src/components/check-list/check-list.tsx
Due: prettier --write

fix: document is not defined in ssr
  src/utils/can-use-dom.ts
Due: prettier --write

fix: (Toast) `pointerEvents` default value
  src/components/toast/toast.tsx
Due: prettier --write

fix: document is not defined in ssr (#4235)
  src/utils/can-use-dom.ts
Due: prettier --write

fix: (Toast) `pointerEvents` default value (#4238)
  src/components/toast/toast.tsx
Due: prettier --write

feat: (Mask & Toast) reuse `GetContainer` type
  src/components/mask/mask.tsx
  src/components/toast/index.en.md
  src/components/toast/index.zh.md
  src/components/toast/toast.tsx
Due: prettier --write

docs: optimize the English version of SSR guide
  docs/guide/ssr.en.md
Due: none

docs: optimize the English version of SSR guide (#4241)
  docs/guide/ssr.en.md
Due: none

enhance: (Mask & Toast) reuse `GetContainer` type (#4240)
  src/components/mask/mask.tsx
  src/components/toast/index.en.md
  src/components/toast/index.zh.md
  src/components/toast/toast.tsx
Due: prettier --write

enhance: (ActionSheet) imperative usage
  src/components/action-sheet/action-sheet.tsx
  src/components/action-sheet/demos/index.tsx
  src/components/action-sheet/index.ts
Due: prettier --write

doc: (ActionSheet) update `cancelText` prop type
  src/components/action-sheet/index.en.md
  src/components/action-sheet/index.zh.md
Due: none

enhance: (ActionSheet) imperative usage (#4242)
  src/components/action-sheet/action-sheet.tsx
  src/components/action-sheet/demos/index.tsx
  src/components/action-sheet/index.en.md
  src/components/action-sheet/index.ts
  src/components/action-sheet/index.zh.md
Due: prettier --write

enhance: ActionSheet
  src/components/action-sheet/action-sheet.tsx
  src/components/action-sheet/demos/index.tsx
Due: prettier --write

doc: (Dialog) update doc
  src/components/dialog/index.en.md
  src/components/dialog/index.zh.md
Due: none

doc: (Dialog) update doc (#4243)
  src/components/dialog/index.en.md
  src/components/dialog/index.zh.md
Due: none

Path conditions:
  prettier --write: any of: src/**/*.{ts,tsx}
  stylelint --fix: any of: src/**/*.{less,css}
