Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": ["prettier --write"],
  "src/**/*.{less,css}": ["stylelint --fix"]
}

doc: fix is home page
  .dumi/theme/components/Navbar.tsx
Due: none

doc: adjust button target
  docs/components/components/Main/config.ts
  docs/components/components/Main/index.tsx
Due: none

doc: replace `resize-observer-polyfill` with `useSize`
  docs/components/components/Main/MainSection/index.tsx
  docs/components/components/Main/index.tsx
  package.json
  pnpm-lock.yaml
Due: none

chore: fix script build
  gulpfile.js
Due: none

doc(ImageViewer): fix `maxZoom` type error
  src/components/image-viewer/index.en.md
Due: none

doc(ImageViewer): fix `maxZoom` type error (#5782)
  src/components/image-viewer/index.en.md
Due: none

chore: check for miss
  gulpfile.js
  package.json
Due: none

chore: update lock file
  pnpm-lock.yaml
Due: none

chore: fix script build (#5781)
  gulpfile.js
  package.json
  pnpm-lock.yaml
Due: none

chore: bump 5.25.1
  package.json
Due: none

fix: fix typo
  src/components/image-uploader/index.zh.md
Due: none

fix(Selector): fix typo
  src/components/selector/index.zh.md
Due: none

doc(Selector): fix typo (#5784)
  src/components/selector/index.zh.md
Due: none

chore: update lock
  pnpm-lock.yaml
Due: none

test(ImageViewer): fix failed test
  src/components/image-viewer/tests/image-viewer.test.tsx
Due: prettier --write

test(ImageViewer): fix failed test (#5786)
  src/components/image-viewer/tests/image-viewer.test.tsx
Due: prettier --write

feat(homePage): add new homePage (#5745)
  .dumi/theme/components/Navbar.tsx
  .dumi/theme/components/NavbarHome.less
  .dumi/theme/components/SearchBar.less
  .dumi/theme/layouts/index.less
  .dumi/theme/layouts/index.tsx
  docs/components/components/Footer/footerMobile.less
  docs/components/components/Footer/index.local.less
  docs/components/components/Footer/index.tsx
  docs/components/components/Main/MainSection/index.local.less
  docs/components/components/Main/MainSection/index.tsx
  docs/components/components/Main/config.ts
  docs/components/components/Main/index.local.less
  docs/components/components/Main/index.tsx
  docs/components/globalMobile.less
  docs/components/globalPC.less
  docs/components/home-page.less
  docs/components/home-page.tsx
  docs/hooks/useTrans.ts
  package.json
  pnpm-lock.yaml
  src/components/cascader-view/index.en.md
  src/components/cascader-view/index.zh.md
Due: none

feat(FloatingBubble): refactoring code
  src/components/floating-bubble/demos/demo4.tsx
  src/components/floating-bubble/floating-bubble.tsx
  src/components/floating-bubble/index.en.md
  src/components/floating-bubble/index.zh.md
Due: prettier --write

feat(mask): props color support custom rgba value
  src/components/mask/demos/demo1.tsx
  src/components/mask/mask.tsx
  src/components/mask/tests/mask.test.tsx
Due: prettier --write

feat(FloatingBubble): add onDragEnd event
  src/components/floating-bubble/floating-bubble.tsx
  src/components/floating-bubble/index.en.md
  src/components/floating-bubble/index.zh.md
Due: prettier --write

feat(ImageViewer): img to Image
  src/components/image-viewer/demos/demo1.less
  src/components/image-viewer/demos/demo1.tsx
  src/components/image-viewer/image-viewer.less
  src/components/image-viewer/image-viewer.tsx
  src/components/image-viewer/index.en.md
  src/components/image-viewer/index.zh.md
  src/components/image-viewer/slide.tsx
  src/components/image-viewer/slides.tsx
  src/components/image/image.tsx
Due: prettier --write, stylelint --fix

doc(Mask): :memo 补充文档 color 取值
  src/components/mask/demos/demo1.tsx
  src/components/mask/index.en.md
  src/components/mask/index.zh.md
  src/components/mask/tests/mask.test.tsx
Due: prettier --write

fix: 日历组件选中后每一行开头与结尾添加一个空class用于支持自定义样式
  src/components/calendar/calendar.en.md
  src/components/calendar/calendar.tsx
  src/components/calendar/calendar.zh.md
  src/components/calendar/demos/demo4.less
  src/components/calendar/demos/demo4.tsx
Due: prettier --write, stylelint --fix

test: update snapshots
  src/components/calendar/tests/__snapshots__/calendar.test.tsx.snap
Due: none

chore: resolve comments
  src/components/image-viewer/image-viewer.tsx
  src/components/image-viewer/index.en.md
  src/components/image-viewer/index.zh.md
  src/components/image/image.tsx
Due: prettier --write

feat(Image): export nativeElement
  src/components/image-viewer/slide.tsx
  src/components/image/image.tsx
  src/components/image/index.en.md
  src/components/image/index.zh.md
Due: prettier --write

enhance(Mask): support customized color (#5789)
  src/components/mask/demos/demo1.tsx
  src/components/mask/index.en.md
  src/components/mask/index.zh.md
  src/components/mask/mask.tsx
  src/components/mask/tests/mask.test.tsx
Due: prettier --write

feat(ImageUploader): add another layout mode by `grid` (#5728)
  src/components/image-uploader/demos/demo2.tsx
  src/components/image-uploader/image-uploader.less
  src/components/image-uploader/image-uploader.tsx
  src/components/image-uploader/index.en.md
  src/components/image-uploader/index.zh.md
Due: prettier --write, stylelint --fix

fix(image): rename tests folder
  src/components/image/tests/image.test.tsx
Due: prettier --write

test(image): rename tests folder (#5794)
  src/components/image/tests/image.test.tsx
Due: prettier --write

test: update
  src/components/image-viewer/tests/image-viewer.test.tsx
Due: prettier --write

feat(WaterMark): add rows content watermark and test
  src/components/water-mark/tests/__snapshots__/water-mark.test.tsx.snap
  src/components/water-mark/tests/water-mark.test.tsx
Due: prettier --write

fix: windows build
  gulpfile.js
  package.json
  pnpm-lock.yaml
  src/components/mask/mask.tsx
  src/components/tree-select/multiple.tsx
  src/components/tree-select/tree-select.tsx
Due: prettier --write

feat(watermark): add rows content watermark and test
  src/components/water-mark/water-mark.tsx
Due: prettier --write

enhance: adjust offset logic
  src/components/floating-bubble/floating-bubble.tsx
Due: prettier --write

doc: update demo
  src/components/floating-bubble/demos/demo4.tsx
Due: prettier --write

test(FloatingBubble): add some tests
  src/components/floating-bubble/index.ts
  src/components/floating-bubble/tests/floating-bubble.test.tsx
Due: prettier --write

doc: update
  src/components/floating-bubble/index.en.md
  src/components/floating-bubble/index.zh.md
Due: none
