Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": ["prettier --write"],
  "src/**/*.{less,css}": ["stylelint --fix"]
}

enhance: (Picker) better performance
  src/components/date-picker/demos/demo2.tsx
  src/components/picker-view/column.tsx
  src/components/picker-view/picker-view.less
  src/components/picker-view/picker-view.tsx
  src/components/picker/index.zh.md
  src/components/picker/picker.tsx
Due: prettier --write, stylelint --fix

fix: progress-bar style
  src/components/progress-bar/progress-bar.less
Due: stylelint --fix

doc: update doc about using with umi
  docs/guide/faq.en.md
  docs/guide/faq.zh.md
  docs/guide/hd.en.md
  docs/guide/hd.zh.md
Due: none

fix: progress-bar style (#4566)
  src/components/progress-bar/progress-bar.less
Due: stylelint --fix

feat: (SearchBar) add `showSearchIcon` prop
  src/components/search-bar/demos/demo1.tsx
  src/components/search-bar/index.en.md
  src/components/search-bar/index.zh.md
  src/components/search-bar/search-bar.less
  src/components/search-bar/search-bar.tsx
Due: prettier --write, stylelint --fix

feat(deps): update ahooks v3
  package.json
  src/components/date-picker/date-picker.tsx
  src/components/image-uploader/image-uploader.tsx
  src/components/infinite-scroll/infinite-scroll.tsx
  src/components/number-keyboard/number-keyboard.tsx
  src/components/picker/picker.tsx
  src/components/switch/demos/demo1.tsx
  src/utils/use-mutation-effect.tsx
  src/utils/use-props-value.ts
  src/utils/use-resize-effect.tsx
Due: prettier --write

fix: (DatePicker) does not render correctly when `precision` and `visible` are updated at the same time
  src/components/picker-view/column.tsx
  src/components/picker/picker.tsx
Due: prettier --write

fix: (VirtualInput) replace `scrollTo` with `scrollLeft` due to compatibility issue
  src/components/virtual-input/virtual-input.tsx
Due: prettier --write

feat: (Dialog & Modal) add `afterShow` prop
  src/components/dialog/dialog.tsx
  src/components/dialog/index.en.md
  src/components/dialog/index.zh.md
  src/components/mask/index.en.md
  src/components/modal/index.en.md
  src/components/modal/index.zh.md
  src/components/modal/modal.tsx
Due: prettier --write

chore: change version
  package.json
Due: none

deploy: 13684729d6cd493e2368d30e23d43f68b9978904
  404.html
  index.html
  umi.44c275c2.js
  umi.8e1a2599.css
  umi.af8d0eb7.js
  umi.e54eacfe.css
Due: none

Revert "feat: (SearchBar) add `showSearchIcon` prop"
  src/components/search-bar/demos/demo1.tsx
  src/components/search-bar/index.en.md
  src/components/search-bar/index.zh.md
  src/components/search-bar/search-bar.less
  src/components/search-bar/search-bar.tsx
Due: prettier --write, stylelint --fix

index
  docs/components/home-page.tsx
  docs/components/hone-page.less
Due: none

feat: (SearchBar) add `icon` prop
  src/components/search-bar/demos/demo1.tsx
  src/components/search-bar/index.en.md
  src/components/search-bar/index.zh.md
  src/components/search-bar/search-bar.less
  src/components/search-bar/search-bar.tsx
Due: prettier --write, stylelint --fix

doc: (SearchBar) fix english doc
  src/components/search-bar/index.en.md
Due: none

feat: (ProgressBar) add `--track-color`
  src/components/progress-bar/demos/demo1.tsx
  src/components/progress-bar/index.en.md
  src/components/progress-bar/index.zh.md
  src/components/progress-bar/progress-bar.less
  src/components/progress-bar/progress-bar.tsx
Due: prettier --write, stylelint --fix

chore: upgrade dependencies
  package.json
  yarn.lock
Due: none

doc: home page (#4576)
  docs/components/home-page.tsx
  docs/components/hone-page.less
Due: none

feat: (ProgressBar) add `--track-color` (#4577)
  src/components/progress-bar/demos/demo1.tsx
  src/components/progress-bar/index.en.md
  src/components/progress-bar/index.zh.md
  src/components/progress-bar/progress-bar.less
  src/components/progress-bar/progress-bar.tsx
Due: prettier --write, stylelint --fix

refactor: (SearchBar) icon related class name
  src/components/search-bar/search-bar.less
  src/components/search-bar/search-bar.tsx
Due: prettier --write, stylelint --fix

doc: SearchBar
  src/components/search-bar/index.en.md
Due: none

feat: (SearchBar) add `icon` prop (#4567)
  src/components/search-bar/demos/demo1.tsx
  src/components/search-bar/index.en.md
  src/components/search-bar/index.zh.md
  src/components/search-bar/search-bar.less
  src/components/search-bar/search-bar.tsx
Due: prettier --write, stylelint --fix

feat: (Input) add `inputMode` prop
  src/components/input/index.en.md
  src/components/input/index.zh.md
  src/components/input/input.tsx
Due: prettier --write

feat: (Input) add `inputMode` prop (#4583)
  src/components/input/index.en.md
  src/components/input/index.zh.md
  src/components/input/input.tsx
Due: prettier --write

doc: home page style
  docs/components/home-page.less
  docs/components/home-page.tsx
  docs/components/hone-page.less
  docs/temp-home.en.md
  src/components/card/demos/demo1.less
  src/components/pull-to-refresh/demos/demo3.less
  src/components/swiper/demos/demo1.less
  src/components/swiper/demos/demo2.less
  src/demos/demo-block/index.less
Due: stylelint --fix

doc: translation for home page
  docs/components/home-page.less
  docs/components/home-page.tsx
Due: none

doc: new home page
  docs/components/home-page.less
  docs/components/home-page.tsx
  docs/index.en.md
  docs/index.zh.md
  docs/temp-home.en.md
  docs/temp-home.zh.md
Due: none

doc: auto jump to the previous selected locale
  .dumi/theme/components/LocaleSelect.tsx
  .dumi/theme/components/SideMenu.tsx
  docs/components/home-page.tsx
Due: none

doc: minor adjustment
  .dumi/theme/components/LocaleSelect.tsx
  .dumi/theme/components/Navbar.less
  docs/components/home-page.less
Due: none

doc: update README
  README.md
Due: none

doc: fix DemoBlock style
  src/demos/demo-block/index.tsx
Due: prettier --write

doc: fix demo css classes
  src/components/card/demos/demo1.less
  src/components/pull-to-refresh/demos/demo3.less
  src/components/swiper/demos/demo1.less
  src/components/swiper/demos/demo2.less
Due: stylelint --fix

enhance: remove global `box-sizing: border-box`
  src/components/notice-bar/notice-bar.less
  src/components/rate/rate.less
  src/components/search-bar/search-bar.less
  src/components/side-bar/side-bar.less
  src/components/tree-select/tree-select.less
  src/global/global.less
Due: stylelint --fix

doc: correct misspelled words
  src/components/radio/index.en.md
  src/components/selector/index.en.md
Due: none

fix: (Form.Item) hidden may not working due to CSS priority
  src/components/form/form-item.less
Due: stylelint --fix

doc: Selector
  src/components/selector/index.en.md
Due: none

doc: correct misspelled words (#4586)
  src/components/radio/index.en.md
  src/components/selector/index.en.md
Due: none

doc: improve home page
  docs/components/home-page.less
  docs/components/home-page.tsx
Due: none

doc: update guide
  docs/guide/migration.en.md
  docs/guide/migration.zh.md
  docs/guide/quick-start.en.md
  docs/guide/quick-start.zh.md
Due: none
