Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": ["prettier --write"],
  "src/**/*.{less,css}": ["stylelint --fix"]
}

test(image-viewer): fill slide with pinched test case
  src/components/image-viewer/image-viewer.tsx
  src/components/image-viewer/slide.tsx
  src/components/image-viewer/tests/image-viewer.test.tsx
Due: prettier --write

test: use base64 replace network img
  src/components/image-viewer/tests/__snapshots__/image-viewer.test.tsx.snap
  src/components/image-viewer/tests/image-viewer.test.tsx
  src/components/image-viewer/tests/image.json
Due: prettier --write

feat(image-viewer): support zoomed picture slide (#5701)
  src/components/image-viewer/image-viewer.tsx
  src/components/image-viewer/slide.tsx
  src/components/image-viewer/tests/__snapshots__/image-viewer.test.tsx.snap
  src/components/image-viewer/tests/image-viewer.test.tsx
  src/components/image-viewer/tests/image.json
Due: prettier --write

chore: type and code optimize
  src/components/image-viewer/image-viewer.tsx
  src/components/image-viewer/slide.tsx
  src/components/image-viewer/slides.tsx
Due: prettier --write

feat: update @use-gesture/react
  package.json
Due: none

feat: update lock file
  pnpm-lock.yaml
Due: none

fix: testcase
  src/components/image-viewer/tests/image-viewer.test.tsx
Due: prettier --write

feat: update @use-gesture/react (#6379)
  package.json
  pnpm-lock.yaml
Due: none

chore: type and code optimize (#6378)
  src/components/image-viewer/image-viewer.tsx
  src/components/image-viewer/slide.tsx
  src/components/image-viewer/slides.tsx
Due: prettier --write

feat: add tr-TR locale
  docs/guide/i18n.en.md
  docs/guide/i18n.zh.md
  src/components/config-provider/tests/__snapshots__/config-provider.test.tsx.snap
  src/components/config-provider/tests/config-provider.test.tsx
  src/locales/tr-TR.ts
Due: prettier --write

translation updated
  src/components/config-provider/tests/__snapshots__/config-provider.test.tsx.snap
  src/locales/tr-TR.ts
Due: prettier --write

feat: form translation updated
  src/locales/tr-TR.ts
Due: prettier --write

feat: add tr-TR locale (#6382)
  docs/guide/i18n.en.md
  docs/guide/i18n.zh.md
  src/components/config-provider/tests/__snapshots__/config-provider.test.tsx.snap
  src/components/config-provider/tests/config-provider.test.tsx
  src/locales/tr-TR.ts
Due: prettier --write

fix(result-page): allow details to be null
  src/components/result-page/result-page.tsx
Due: prettier --write

fix: hide footer when no btn text
  src/components/result-page/result-page.tsx
Due: prettier --write

fix: add test case
  src/components/result-page/tests/result-page.test.tsx
Due: prettier --write

fix: result page enhancement (#6387)
  src/components/result-page/result-page.tsx
  src/components/result-page/tests/result-page.test.tsx
Due: prettier --write

doc: 文档更新
  src/components/tab-bar/index.zh.md
Due: none

Update src/components/tab-bar/index.zh.md
  src/components/tab-bar/index.zh.md
Due: none

doc: 文档更新 (#6389)
  src/components/tab-bar/index.zh.md
Due: none

fix(image-viewer): testcase (#6380)
  src/components/image-viewer/tests/image-viewer.test.tsx
Due: prettier --write

doc: add installation instructions for bun (#6315)
  README.md
  docs/components/icon/index.en.md
  docs/components/icon/index.zh.md
  docs/guide/quick-start.en.md
  docs/guide/quick-start.zh.md
  docs/guide/ssr.en.md
  docs/guide/ssr.zh.md
Due: none

feat: add bottom arrow
  src/components/popover/popover-menu.tsx
  src/components/popover/popover.less
  src/components/popover/popover.tsx
Due: prettier --write, stylelint --fix

fix: license field is missing on npmjs.com #6392
  package.json
Due: none

fix: license field is missing on npmjs.com #6392 (#6393)
  package.json
Due: none

feat: add scroll-bar
  src/components/popover/popover-menu.less
  src/components/popover/popover-menu.tsx
  src/components/popover/popover.less
  src/components/popover/popover.tsx
Due: prettier --write, stylelint --fix

style: arrow functions optimization
  src/components/action-sheet/action-sheet.tsx
  src/components/auto-center/auto-center.tsx
Due: prettier --write

style: arrow functions optimization (#6395)
  src/components/action-sheet/action-sheet.tsx
  src/components/auto-center/auto-center.tsx
Due: prettier --write

style: className optimization
  src/components/badge/badge.tsx
  src/components/button/button.tsx
Due: prettier --write

fix(TextArea): when the maximum number of words is reached, content can still be entered at a non-tail cursor
  src/components/text-area/text-area.tsx
Due: prettier --write

style: className optimization (#6396)
  src/components/badge/badge.tsx
  src/components/button/button.tsx
Due: prettier --write

feat: add maxCount to Popover.Menu (#6373)
  pnpm-lock.yaml
  src/components/popover/demos/demo2.tsx
  src/components/popover/index.en.md
  src/components/popover/index.zh.md
  src/components/popover/popover-menu.less
  src/components/popover/popover-menu.tsx
  src/components/popover/popover.tsx
Due: prettier --write, stylelint --fix

feat(form): inherit props types from rc-field-form
  src/components/form/form.tsx
Due: prettier --write

fix: use selectionEnd instead of selectionStart
  src/components/text-area/text-area.tsx
Due: prettier --write

chore: mv
  config/components.ts
  src/components/calendar-picker-view/arrow-left-double.tsx
  src/components/calendar-picker-view/arrow-left.tsx
  src/components/calendar-picker-view/calendar-view.en.md
  src/components/calendar-picker-view/calendar-view.less
  src/components/calendar-picker-view/calendar-view.tsx
  src/components/calendar-picker-view/calendar-view.zh.md
  src/components/calendar-picker-view/convert.ts
  src/components/calendar-picker-view/demos/demo1.tsx
  src/components/calendar-picker-view/index.ts
  src/components/calendar-picker-view/tests/__snapshots__/calendar-view.test.tsx.snap
  src/components/calendar-picker-view/tests/calendar-view.test.tsx
  src/components/calendar-picker/calendar.en.md
  src/components/calendar-picker/calendar.tsx
  src/components/calendar-picker/calendar.zh.md
  src/components/calendar-picker/demos/demo1.tsx
  src/components/calendar-picker/demos/demo2.tsx
  src/components/calendar-picker/demos/demo3.less
  src/components/calendar-picker/demos/demo3.tsx
  src/components/calendar-picker/demos/demo4.tsx
  src/components/calendar-picker/index.ts
  src/components/calendar-picker/tests/__snapshots__/calendar.test.tsx.snap
  src/components/calendar-picker/tests/calendar.test.tsx
  src/components/calendar/arrow-left-double.tsx
  src/components/calendar/arrow-left.tsx
  src/components/calendar/calendar.less
  src/components/calendar/calendar.tsx
  src/components/calendar/convert.ts
  src/components/calendar/demos/demo1.tsx
  src/components/calendar/demos/demo2.tsx
  src/components/calendar/demos/demo3.tsx
  src/components/calendar/demos/demo4.less
  src/components/calendar/demos/demo4.tsx
  src/components/calendar/demos/demo5.less
  src/components/calendar/demos/demo5.tsx
  src/components/calendar/tests/__snapshots__/calendar.test.tsx.snap
  src/components/calendar/tests/calendar.test.tsx
  src/index.ts
Due: prettier --write, stylelint --fix

chore: rename
  src/components/calendar-picker/calendar-picker.en.md
  src/components/calendar-picker/calendar-picker.tsx
  src/components/calendar-picker/calendar-picker.zh.md
  src/components/calendar-picker/index.ts
  src/index.ts
Due: prettier --write

chore: move it
  src/components/calendar-picker-view/calendar-picker-view.en.md
  src/components/calendar-picker-view/calendar-picker-view.less
  src/components/calendar-picker-view/calendar-picker-view.tsx
  src/components/calendar-picker-view/calendar-picker-view.zh.md
  src/components/calendar-picker-view/calendar-view.tsx
  src/components/calendar-picker-view/demos/demo1.tsx
  src/components/calendar-picker-view/index.ts
  src/components/calendar-picker-view/tests/calendar-view.test.tsx
  src/components/calendar-picker/calendar-picker.en.md
  src/components/calendar-picker/calendar-picker.tsx
  src/components/calendar-picker/calendar-picker.zh.md
  src/components/calendar-picker/demos/demo1.tsx
  src/components/calendar-picker/demos/demo2.tsx
  src/components/calendar-picker/demos/demo3.tsx
  src/components/calendar-picker/demos/demo4.tsx
  src/components/calendar/calendar.en.md
  src/components/calendar/calendar.tsx
  src/components/calendar/calendar.zh.md
  src/index.ts
Due: prettier --write, stylelint --fix

chore: clean up
  src/components/calendar-picker-view/tests/__snapshots__/calendar-picker-view.test.tsx.snap
  src/components/calendar-picker-view/tests/__snapshots__/calendar-view.test.tsx.snap
  src/components/calendar-picker-view/tests/calendar-picker-view.test.tsx
  src/components/calendar-picker/tests/__snapshots__/calendar-picker.test.tsx.snap
  src/components/calendar-picker/tests/calendar-picker.test.tsx
  src/components/config-provider/tests/config-provider.test.tsx
Due: prettier --write

test: update test
  src/components/calendar-picker-view/tests/calendar-picker-view.test.tsx
  src/components/calendar-picker/tests/calendar-picker.test.tsx
  src/components/config-provider/tests/__snapshots__/config-provider.test.tsx.snap
  src/components/config-provider/tests/config-provider.test.tsx
Due: prettier --write
