Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": ["prettier --write"],
  "src/**/*.{less,css}": ["stylelint --fix"]
}

enhance: rename Picker's context to extend
  src/components/picker-view/demos/basic.tsx
  src/components/picker-view/index.en.md
  src/components/picker-view/index.ts
  src/components/picker-view/index.zh.md
  src/components/picker-view/picker-view.tsx
  src/components/picker-view/use-picker-value-extend.tsx
  src/components/picker/demos/index.tsx
  src/components/picker/index.en.md
  src/components/picker/index.ts
  src/components/picker/index.zh.md
  src/components/picker/picker.tsx
Due: prettier --write

enhance: rename Selector's context to extend
  src/components/selector/demos/demo1.tsx
  src/components/selector/index.en.md
  src/components/selector/index.zh.md
  src/components/selector/selector.tsx
Due: prettier --write

enhance: rename TreeSelect's context to extend
  src/components/tree-select/index.en.md
  src/components/tree-select/index.zh.md
  src/components/tree-select/tree-select.tsx
Due: prettier --write

doc: English version of Popover doc (#4388)
  src/components/popover/index.en.md
Due: none

enhance: (Button) shape implementation
  src/components/button/button.less
  src/components/button/button.tsx
Due: prettier --write, stylelint --fix

doc: remvoe DocSearch
  .dumi/theme/components/SideMenu.tsx
Due: none

feat: DatePickerView
  config/components.ts
  src/components/date-picker-view/date-picker-view.tsx
  src/components/date-picker-view/demos/basic.tsx
  src/components/date-picker-view/index.en.md
  src/components/date-picker-view/index.ts
  src/components/date-picker-view/index.zh.md
  src/components/date-picker/date-picker-utils.ts
  src/components/date-picker/date-picker.tsx
  src/index.ts
Due: prettier --write

doc: (DatePicker) update English doc
  src/components/picker/index.en.md
Due: none

doc: (PickerView) add anchor link to Picker
  src/components/picker-view/index.zh.md
Due: none

doc: move DatePickerView to PickerView doc
  config/components.ts
  src/components/date-picker-view/demos/index.tsx
  src/components/date-picker-view/index.en.md
  src/components/date-picker-view/index.zh.md
  src/components/picker-view/demos/index.tsx
  src/components/picker-view/index.en.md
  src/components/picker-view/index.zh.md
Due: prettier --write

enhance: (Dialog) improve the animation
  src/components/dialog/dialog.less
  src/components/dialog/dialog.tsx
Due: prettier --write, stylelint --fix

doc: PickerView
  src/components/picker-view/index.en.md
  src/components/picker-view/index.zh.md
Due: none

doc: fix typo
  src/components/picker-view/index.en.md
  src/components/picker/index.en.md
Due: none

doc: (Picker) update the code location of demos
  src/components/cascade-picker/demos/index.tsx
  src/components/date-picker/demos/index.tsx
  src/components/picker/demos/date-picker-demo.tsx
  src/components/picker/index.en.md
  src/components/picker/index.zh.md
Due: prettier --write

doc: (Picker) update the code location of demos (#4398)
  src/components/cascade-picker/demos/index.tsx
  src/components/date-picker/demos/index.tsx
  src/components/picker/demos/date-picker-demo.tsx
  src/components/picker/index.en.md
  src/components/picker/index.zh.md
Due: prettier --write

enhance: adjust px tester height to avoid 1px not being converted in some circumstances
  src/global/global.less
  src/utils/convert-px.ts
Due: prettier --write, stylelint --fix

chore: update version
  package.json
Due: none

deploy: c6b4030cb9952d7b4b2d314175a2bc1770e2784b
  umi.css
  umi.js
Due: none

feat: (VirtualInput) add keyboard prop
  src/components/virtual-input/demos/demo1.tsx
  src/components/virtual-input/virtual-input.tsx
Due: prettier --write

fix: 修复shape为rectangular的情况下无效的问题
  src/components/button/button.tsx
Due: prettier --write

feat: (ActionSheet) add `safeArea` prop
  src/components/action-sheet/action-sheet.tsx
  src/components/action-sheet/index.en.md
  src/components/action-sheet/index.zh.md
Due: prettier --write

feat: CascadePickerView
  src/components/cascade-picker-view/cascade-picker-view.tsx
  src/components/cascade-picker-view/demos/async-demo.tsx
  src/components/cascade-picker-view/demos/index.tsx
  src/components/cascade-picker-view/index.ts
  src/components/cascade-picker/cascade-picker-utils.ts
  src/components/cascade-picker/cascade-picker.tsx
  src/components/cascade-picker/demos/async-demo.tsx
  src/components/cascade-picker/demos/index.tsx
  src/components/cascade-picker/use-cascade-picker-options.tsx
  src/components/picker-view/index.en.md
  src/components/picker-view/index.zh.md
  src/index.ts
Due: prettier --write

fix: (CascadePickerView) export props type
  src/components/cascade-picker-view/index.ts
Due: prettier --write

fix: (DatePickerView) export props type
  src/components/date-picker-view/index.ts
Due: prettier --write

fix: (DatePicker) export props type
  src/components/date-picker/index.ts
Due: prettier --write

fix: change some name of `Cacader` to `Cascade`
  src/components/cascade-picker-view/cascade-picker-view.tsx
  src/components/cascade-picker/cascade-picker-utils.ts
  src/components/cascade-picker/cascade-picker.tsx
  src/components/cascade-picker/use-cascade-picker-options.tsx
Due: prettier --write

enhance: button shape
  src/components/button/button.less
  src/components/button/button.tsx
Due: prettier --write, stylelint --fix

fix: (Button) shape rectangular not working (#4401)
  src/components/button/button.less
  src/components/button/button.tsx
Due: prettier --write, stylelint --fix

feat: CascadePickerView (#4404)
  src/components/cascade-picker-view/cascade-picker-view.tsx
  src/components/cascade-picker-view/demos/async-demo.tsx
  src/components/cascade-picker-view/demos/index.tsx
  src/components/cascade-picker-view/index.ts
  src/components/cascade-picker/cascade-picker-utils.ts
  src/components/cascade-picker/cascade-picker.tsx
  src/components/cascade-picker/demos/async-demo.tsx
  src/components/cascade-picker/demos/index.tsx
  src/components/cascade-picker/use-cascade-picker-options.tsx
  src/components/date-picker-view/index.ts
  src/components/date-picker/index.ts
  src/components/picker-view/index.en.md
  src/components/picker-view/index.zh.md
  src/index.ts
Due: prettier --write

refactor(switch): 支持 onBeforeChange
  src/components/switch/demos/index.tsx
  src/components/switch/index.en.md
  src/components/switch/index.zh.md
  src/components/switch/switch.tsx
Due: prettier --write

doc: (Switch) split demos
  src/components/switch/demos/demo1.tsx
  src/components/switch/demos/demo2.tsx
  src/components/switch/demos/index.less
  src/components/switch/demos/index.tsx
  src/components/switch/index.en.md
  src/components/switch/index.zh.md
Due: prettier --write, stylelint --fix

refactor: (Switch) beforeChange
  src/components/switch/demos/demo2.tsx
  src/components/switch/index.en.md
  src/components/switch/index.zh.md
  src/components/switch/switch.tsx
Due: prettier --write

chore: add umi-plugin-mobile-dumi
  package.json
  yarn.lock
Due: none

fix: (Swiper) indicator position in horizontal mode
  src/components/swiper/swiper.less
Due: stylelint --fix

feat: (Input) add `--text-align`
  src/components/input/demos/index.tsx
  src/components/input/index.en.md
  src/components/input/index.zh.md
  src/components/input/input.less
  src/components/input/input.tsx
Due: prettier --write, stylelint --fix

feat: (DatePicker) custom render
  src/components/date-picker-view/date-picker-view.tsx
  src/components/date-picker-view/demos/index.tsx
  src/components/date-picker/date-picker-utils.ts
  src/components/date-picker/date-picker.tsx
  src/components/date-picker/demos/index.tsx
  src/components/picker-view/index.en.md
  src/components/picker-view/index.zh.md
  src/components/picker-view/picker-view.tsx
  src/components/picker/index.en.md
  src/components/picker/index.zh.md
Due: prettier --write

feat: (VirtualInput) add `--text-align`
  src/components/virtual-input/demos/demo1.tsx
  src/components/virtual-input/index.en.md
  src/components/virtual-input/index.zh.md
  src/components/virtual-input/virtual-input.less
  src/components/virtual-input/virtual-input.tsx
Due: prettier --write, stylelint --fix

feat: (VirtualInput) add some CSS variables
  src/components/input/index.en.md
  src/components/virtual-input/demos/demo1.tsx
  src/components/virtual-input/index.en.md
  src/components/virtual-input/index.zh.md
  src/components/virtual-input/virtual-input.less
  src/components/virtual-input/virtual-input.tsx
Due: prettier --write, stylelint --fix

feat: (VirtualInput) add `disabled` prop
  src/components/virtual-input/demos/demo1.tsx
  src/components/virtual-input/virtual-input.less
  src/components/virtual-input/virtual-input.tsx
Due: prettier --write, stylelint --fix

doc: PickerColumnItem
  src/components/picker/index.en.md
  src/components/picker/index.zh.md
Due: none
