Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

feat: prettier fix
  src/components/tabs/tabs.tsx
Due: prettier --write

feat: support RTL
  src/components/tabs/tabs.tsx
Due: prettier --write

feat: update snap
  src/components/cascader-view/tests/__snapshots__/cascader-view.test.tsx.snap
Due: none

feat: auto focus
  src/components/tabs/tabs.tsx
Due: prettier --write

fix: 增加FAQ备注
  src/components/image-viewer/index.en.md
  src/components/image-viewer/index.zh.md
  src/components/image-viewer/slide.tsx
Due: prettier --write

feat(Tabs): support get focus while navigating with keyboard TAB key (#6895)
  src/components/cascader-view/tests/__snapshots__/cascader-view.test.tsx.snap
  src/components/tabs/tabs.tsx
  src/components/tabs/tests/__snapshots__/tabs.test.tsx.snap
  src/components/tabs/tests/tabs.test.tsx
Due: prettier --write

fix: Fixed the issue that the asynchronous setting of enterKeyHint fails when textarea is in autoFocus
  src/components/text-area/text-area.tsx
Due: prettier --write

fix: 无障碍问题修复
  package-lock.json
  src/components/virtual-input/demos/demo1.tsx
  src/components/virtual-input/tests/virtual-input.test.tsx
  src/components/virtual-input/virtual-input.tsx
Due: prettier --write

fix: 注释修改
  src/components/virtual-input/tests/virtual-input.test.tsx
  src/components/virtual-input/virtual-input.tsx
Due: prettier --write

feat: 修改光标相关 props
  src/components/virtual-input/demos/demo1.tsx
  src/components/virtual-input/index.zh.md
  src/components/virtual-input/tests/virtual-input.test.tsx
  src/components/virtual-input/virtual-input.tsx
Due: prettier --write

fix: 无障碍问题修复
  src/components/virtual-input/demos/demo1.tsx
  src/components/virtual-input/tests/virtual-input.test.tsx
  src/components/virtual-input/virtual-input.tsx
Due: prettier --write

fix: 优化ref逻辑处理问题
  src/components/image-viewer/methods.tsx
  src/components/image-viewer/slide.tsx
Due: prettier --write

fix: 优化ref逻辑处理问题
  src/components/image-viewer/slide.tsx
Due: prettier --write

feat: 补充防御逻辑
  src/components/virtual-input/virtual-input.tsx
Due: prettier --write

feat: 默认禁用光标位置可调整，支持通过 touchmove 调整光标位置 (#6897)
  src/components/virtual-input/demos/demo1.tsx
  src/components/virtual-input/index.zh.md
  src/components/virtual-input/tests/virtual-input.test.tsx
  src/components/virtual-input/virtual-input.less
  src/components/virtual-input/virtual-input.tsx
Due: prettier --write, stylelint --fix

chore: bump 5.41.0-alpha.0
  package.json
Due: none

fix: 无障碍问题修复
  src/components/number-keyboard/number-keyboard.tsx
  src/components/virtual-input/demos/demo1.tsx
  src/components/virtual-input/tests/virtual-input.test.tsx
  src/components/virtual-input/virtual-input.tsx
Due: prettier --write

fix: 增加test case
  src/components/image-viewer/index.en.md
  src/components/image-viewer/index.zh.md
  src/components/image-viewer/methods.tsx
  src/components/image-viewer/slide.tsx
  src/components/image-viewer/tests/image-viewer.test.tsx
Due: prettier --write

fix: loop模式渲染，让siper.item裂变改变时导致所有swiper.item渲染一遍问题
  package.json
  src/components/swiper/swiper.tsx
Due: prettier --write

5.43.1
  package-lock.json
  package.json
Due: none

fix: 增加test case
  src/components/image-viewer/tests/image-viewer.test.tsx
Due: prettier --write

fix: 优化注释和代码
  src/components/image-viewer/index.en.md
  src/components/image-viewer/index.zh.md
  src/components/image-viewer/slide.tsx
  src/components/image-viewer/tests/image-viewer.test.tsx
Due: prettier --write

fix: 修改ref逻辑，让用户自行决定是否使用
  src/components/image-viewer/index.en.md
  src/components/image-viewer/index.zh.md
  src/components/image-viewer/slide.tsx
  src/components/image-viewer/tests/image-viewer.test.tsx
Due: prettier --write

fix: 修改ref逻辑，让用户自行决定是否使用
  src/components/image-viewer/image-viewer.tsx
  src/components/image-viewer/index.en.md
  src/components/image-viewer/index.zh.md
  src/components/image-viewer/slide.tsx
  src/components/image-viewer/slides.tsx
  src/components/image-viewer/tests/image-viewer.test.tsx
Due: prettier --write

feat: add props customCellClassName
  src/components/calendar/calendar.tsx
  src/components/calendar/tests/calendar.test.tsx
Due: prettier --write

fix: add root: true to eslint config to avoid parent directory config conflicts
  .eslintrc.js
Due: none

fix: 修复在next.js环境下的报错
  src/components/ellipsis/useMeasure.tsx
Due: prettier --write

feat: delete root
  .eslintrc.js
Due: none

feat: 增加 customCellClassName demo 文件和补充接入文档
  src/components/calendar/calendar.en.md
  src/components/calendar/calendar.zh.md
  src/components/calendar/demos/demo6.less
  src/components/calendar/demos/demo6.tsx
Due: prettier --write, stylelint --fix

feat: lint
  src/components/calendar/calendar.en.md
Due: none

feat: modify md
  src/components/calendar/calendar.en.md
Due: none

feat: modify md file
  src/components/calendar/calendar.en.md
  src/components/calendar/calendar.zh.md
Due: none

feat: add cellRender render props
  src/components/calendar/calendar.en.md
  src/components/calendar/calendar.tsx
  src/components/calendar/calendar.zh.md
  src/components/calendar/demos/demo6.tsx
  src/components/calendar/tests/calendar.test.tsx
Due: prettier --write

fix: 修正输入框读屏时一起读键盘的问题
  src/components/virtual-input/virtual-input.tsx
Due: prettier --write

fix: 修正无障碍下键盘不可点的问题
  src/components/number-keyboard/number-keyboard.tsx
Due: prettier --write

refactor: 优化添加key属性部分代码
  src/components/calendar/calendar.tsx
Due: prettier --write

feat(Calendar): Support cellRender to customize cell component (#6924)
  src/components/calendar/calendar.en.md
  src/components/calendar/calendar.tsx
  src/components/calendar/calendar.zh.md
  src/components/calendar/demos/demo6.less
  src/components/calendar/demos/demo6.tsx
  src/components/calendar/tests/calendar.test.tsx
Due: prettier --write, stylelint --fix

chore: bump 5.41.0-alpha.1
  package.json
Due: none

Path conditions:
  prettier --write: any of: src/**/*.{ts,tsx}
  stylelint --fix: any of: src/**/*.{less,css}
