Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": ["prettier --write"],
  "src/**/*.{less,css}": ["stylelint --fix"]
}

fix: (FloatingBubble) magnetic y not working
  src/components/floating-bubble/floating-bubble.tsx
Due: prettier --write

test: (Form) add some tests
  src/components/form/tests/__snapshots__/form.test.tsx.snap
  src/components/form/tests/form.test.tsx
Due: prettier --write

feat: refactor image-uploader beforeUpload function
  src/components/image-uploader/image-uploader.tsx
Due: prettier --write

Create Sjenica1
  Sjenica1
Due: none

test: (Form) add some tests (#4878)
  src/components/form/tests/__snapshots__/form.test.tsx.snap
  src/components/form/tests/form.test.tsx
Due: prettier --write

Update src/components/image-uploader/image-uploader.tsx
  src/components/image-uploader/image-uploader.tsx
Due: prettier --write

feat: update image-uploader demo and document ,modify beforeUpload method
  src/components/image-uploader/demos/demo1.tsx
  src/components/image-uploader/image-uploader.tsx
  src/components/image-uploader/index.en.md
  src/components/image-uploader/index.zh.md
Due: prettier --write

doc: (Form) add Rule definitions
  src/components/form/index.en.md
  src/components/form/index.zh.md
Due: none

doc: (Form) add warningOnly demo
  src/components/form/demos/demo2.tsx
Due: prettier --write

test: (Form) add warningOnly
  src/components/form/tests/form.test.tsx
Due: prettier --write

feat: the `setState` function returns from usePropsValue can now accept a function updater
  src/utils/use-props-value.ts
Due: prettier --write

refactor: (Popover) replace rc-tooltip with floating-ui
  package.json
  src/components/popover/demos/demo1.tsx
  src/components/popover/demos/demo2.tsx
  src/components/popover/index.ts
  src/components/popover/normalize-placement.ts
  src/components/popover/popover.less
  src/components/popover/popover.tsx
  src/components/popover/wrapper.tsx
  yarn.lock
Due: prettier --write, stylelint --fix

enhance: (Checkbox & Radio) prevent triggering two click events
  src/components/checkbox/checkbox.tsx
  src/components/radio/radio.tsx
Due: prettier --write

chore: (Popover) suppress the lint error of `findDOMNode`
  src/components/popover/wrapper.tsx
Due: prettier --write

fix: (Checkbox & Radio) fix ts errors
  src/components/checkbox/checkbox.tsx
  src/components/radio/radio.tsx
Due: prettier --write

doc: (Popover) update doc for `placement` prop
  src/components/popover/index.en.md
  src/components/popover/index.zh.md
Due: none

chore: upgrade dependencies
  package.json
  yarn.lock
Due: none

doc: add faq about react hot loader
  docs/guide/faq.en.md
  docs/guide/faq.zh.md
Due: none

feat: (Form) add style for warning feedback messages
  src/components/form/demos/demo2.tsx
  src/components/form/form-item.less
  src/components/form/form-item.tsx
Due: prettier --write, stylelint --fix

test: (Form) fix failed tests
  src/components/form/tests/__snapshots__/form.test.tsx.snap
  src/components/form/tests/form.test.tsx
Due: prettier --write

test: (Form) fix
  src/components/form/tests/form.test.tsx
Due: prettier --write

fix: (Popover) fix the check logic of child dom element
  src/components/popover/popover.tsx
  src/components/popover/wrapper.tsx
Due: prettier --write

doc: update experimental mark
  src/components/cascader-view/index.en.md
  src/components/cascader-view/index.zh.md
  src/components/cascader/index.en.md
  src/components/cascader/index.zh.md
Due: none

feat: (ImageUploader) refactor `beforeUpload` function (#4879)
  src/components/image-uploader/demos/demo1.tsx
  src/components/image-uploader/image-uploader.tsx
  src/components/image-uploader/index.en.md
  src/components/image-uploader/index.zh.md
Due: prettier --write

enhance: (CheckList) add active className
  src/components/check-list/check-list-item.tsx
Due: prettier --write

feat: (cascader-view) add isLeaf props
  src/components/cascader-view/cascader-view.tsx
  src/components/cascader-view/use-cascader-value-extend.tsx
  src/components/cascader/index.en.md
  src/components/cascader/index.zh.md
Due: prettier --write

fix: optimizion
  src/components/cascader-view/use-cascader-value-extend.tsx
Due: prettier --write

fix unshift -> push + reverse
  src/components/tree-select/tree-select.tsx
Due: prettier --write

fix: (toast) export ToastShowRef
  src/components/toast/methods.tsx
Due: prettier --write

enhance: (CheckList) add active className (#4885)
  src/components/check-list/check-list-item.tsx
Due: prettier --write

doc: (Toast) fix wrong type import
  src/components/toast/demos/demo1.tsx
Due: prettier --write

fix: 优化
  src/components/cascader-view/use-cascader-value-extend.tsx
Due: prettier --write

doc: add toc
  .dumi/theme/components/slug-list.less
  .dumi/theme/components/slug-list.tsx
  .dumi/theme/layouts/index.tsx
  .dumi/theme/style/layout.less
Due: none

feat: Form.List
  src/components/form/demos/demo-list.tsx
  src/components/form/form-list.tsx
  src/components/form/index.tsx
  src/components/form/index.zh.md
Due: prettier --write

test: (CheckList) add some tests
  src/components/check-list/tests/__snapshots__/check-list.test.tsx.snap
  src/components/check-list/tests/check-list.test.tsx
Due: prettier --write

test: (Cascader & CascaderView) add some tests
  src/components/cascader-view/tests/__snapshots__/cascader-view.test.tsx.snap
  src/components/cascader-view/tests/cascader-view.test.tsx
  src/components/cascader/tests/cascader.test.tsx
Due: prettier --write

test: (Form) adjust some tests
  src/components/form/tests/form.test.tsx
Due: prettier --write
