Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": ["prettier --write"],
  "src/**/*.{less,css}": ["stylelint --fix"]
}

feat: footer use new token (#6109)
  src/components/footer/footer.less
Due: stylelint --fix

fix: replace `runes` with `runes2` & fix text-area maxLength edge cases (#6101)
  package.json
  pnpm-lock.yaml
  src/components/ellipsis/ellipsis.tsx
  src/components/text-area/tests/text-area.test.tsx
  src/components/text-area/text-area.tsx
Due: prettier --write

fix: pin dev node version to node16-lts (#6100)
  .nvmrc
Due: none

fix(Steps): other brother components display progress points (#6094) (#6095)
  src/components/steps/steps.less
Due: stylelint --fix

feat(picker): 扩展PickerColumnItem参数value类型,支持number (#6089)
  src/components/cascade-picker-view/tests/cascade-picker-view.test.tsx
  src/components/date-picker/date-picker-date-utils.ts
  src/components/date-picker/date-picker-utils.ts
  src/components/date-picker/date-picker-week-utils.ts
  src/components/picker-view/picker-view.tsx
  src/components/picker-view/tests/picker-view.test.tsx
Due: prettier --write

feat(form): form export type add Rule & RuleObject & RuleRender
  src/components/form/index.tsx
Due: prettier --write

feat(form): form export type add Rule & RuleObject & RuleRender (#6112)
  src/components/form/index.tsx
Due: prettier --write

feat(PullToRefresh): use more reasonable refresh trigger logic and animation
  src/components/pull-to-refresh/index.en.md
  src/components/pull-to-refresh/index.zh.md
  src/components/pull-to-refresh/pull-to-refresh.less
  src/components/pull-to-refresh/pull-to-refresh.tsx
  src/components/pull-to-refresh/tests/pull-to-refresh.test.tsx
  src/utils/rubberband.ts
Due: prettier --write, stylelint --fix

fix: no more rerender
  src/components/form/form-subscribe.tsx
  src/components/form/tests/form.test.tsx
Due: prettier --write

test: update test case
  src/components/form/tests/form.test.tsx
Due: prettier --write

fix(Form): opt form Form.Subscribe do not call useless rerender (#6113)
  src/components/form/form-subscribe.tsx
  src/components/form/tests/form.test.tsx
Due: prettier --write

fix(PullToRefresh): fix the problem about css variables
  src/components/pull-to-refresh/index.en.md
  src/components/pull-to-refresh/index.zh.md
  src/components/pull-to-refresh/pull-to-refresh.less
Due: stylelint --fix

feat(PullToRefresh): use more reasonable trigger logic and animation
  src/components/pull-to-refresh/pull-to-refresh.less
  src/components/pull-to-refresh/pull-to-refresh.tsx
  src/components/pull-to-refresh/tests/pull-to-refresh.test.tsx
  src/utils/rubberband.ts
Due: prettier --write, stylelint --fix

doc(PullToRefresh): add description about last feature
  src/components/pull-to-refresh/index.en.md
  src/components/pull-to-refresh/index.zh.md
Due: none

fix(Image): onload not triggered in nextjs
  src/components/image/image.tsx
Due: prettier --write

chore: update
  src/components/avatar/tests/avatar.test.tsx
Due: prettier --write

test: update snap
  src/components/image-uploader/tests/__snapshots__/image-uploader.test.tsx.snap
Due: none

fix(Image): onload not triggered in nextjs (#6116)
  src/components/avatar/tests/avatar.test.tsx
  src/components/image-uploader/tests/__snapshots__/image-uploader.test.tsx.snap
  src/components/image/image.tsx
Due: prettier --write

chore: upgrade
  package.json
  pnpm-lock.yaml
Due: none

fix: fix upload
  src/components/date-picker/date-picker-date-utils.ts
  src/components/date-picker/date-picker-utils.ts
  src/components/date-picker/demos/demo1.tsx
  src/components/image-uploader/image-uploader.tsx
Due: prettier --write

feat(Collapse): issues#6068,Collapse.panl类名添加
  src/components/collapse/collapse.tsx
Due: prettier --write

feat(Collapse): add active classname when panel is active (#6124)
  src/components/collapse/collapse.tsx
Due: prettier --write

chore: upgrade (#6121)
  package.json
  pnpm-lock.yaml
Due: none

docs: update next.js transpilepackages config link
  docs/guide/ssr.zh.md
Due: none

docs: update next.js transpilepackages config link (#6125)
  docs/guide/ssr.zh.md
Due: none

fix: add test case
  src/components/image-uploader/tests/__snapshots__/image-uploader.test.tsx.snap
  src/components/image-uploader/tests/image-uploader.test.tsx
Due: prettier --write

fix: update snap
  src/components/image-uploader/tests/__snapshots__/image-uploader.test.tsx.snap
Due: none

fix: clean up
  src/components/image-uploader/image-uploader.tsx
Due: prettier --write

Fix FormItem onClick execute twice bug
  src/components/form/form-item.tsx
Due: prettier --write

fix: upload test
  src/components/image-uploader/tests/__snapshots__/image-uploader.test.tsx.snap
  src/components/image-uploader/tests/image-uploader.test.tsx
Due: prettier --write

fix(Upload): fix the order of upload doesn't correspond to the order of selected images (#6122)
  src/components/date-picker/date-picker-date-utils.ts
  src/components/date-picker/date-picker-utils.ts
  src/components/date-picker/demos/demo1.tsx
  src/components/image-uploader/image-uploader.tsx
  src/components/image-uploader/tests/image-uploader.test.tsx
Due: prettier --write

fix: onIndexChange 和 spring 同步执行
  src/components/swiper/swiper.tsx
Due: prettier --write

fix: 单测
  src/components/swiper/tests/__snapshots__/swiper.test.tsx.snap
Due: none

feat: 补充 swiper 单测
  src/components/swiper/tests/swiper.test.tsx
Due: prettier --write

optimize: swiper onIndexChange 事件 和 react-spring api 同步执行 (#6131)
  src/components/swiper/swiper.tsx
  src/components/swiper/tests/__snapshots__/swiper.test.tsx.snap
  src/components/swiper/tests/swiper.test.tsx
Due: prettier --write

feat(Ellipsis): add icon
  src/components/ellipsis/demos/demo1.tsx
  src/components/ellipsis/ellipsis.tsx
  src/components/ellipsis/index.en.md
  src/components/ellipsis/index.zh.md
Due: prettier --write

chore: bump version 5.30.0
  package.json
Due: none

feat(notice-bar): add click event
  src/components/notice-bar/index.en.md
  src/components/notice-bar/index.zh.md
  src/components/notice-bar/notice-bar.tsx
Due: prettier --write
