Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": ["prettier --write"],
  "src/**/*.{less,css}": ["stylelint --fix"]
}

fix(doc): demo color unchanged when computer switching theme color in auto mode
  .dumi/theme/components/Dark.tsx
Due: none

fix(doc): buttom css variables
  src/components/button/index.en.md
  src/components/button/index.zh.md
Due: none

doc(button): update css variables (#5946)
  src/components/button/index.en.md
  src/components/button/index.zh.md
Due: none

enhance(Popup): imporve a11y
  src/components/popup/popup.tsx
  src/locales/base.ts
  src/locales/zh-CN.ts
Due: prettier --write

fix(doc): 使用 setRenderKey 刷新 iframe
  .dumi/theme/components/Dark.tsx
  .dumi/theme/components/device.tsx
Due: none

enhance: improve
  src/locales/zh-HK.ts
  src/locales/zh-TW.ts
Due: prettier --write

enhance(Popup): imporve a11y (#5949)
  src/components/popup/popup.tsx
  src/locales/base.ts
  src/locales/zh-CN.ts
  src/locales/zh-HK.ts
  src/locales/zh-TW.ts
Due: prettier --write

chore: optimize code
  src/components/nav-bar/nav-bar.tsx
Due: prettier --write

fix: fix badge --color default
  src/components/badge/index.en.md
  src/components/badge/index.zh.md
Due: none

chore: optimize code (#5951)
  src/components/nav-bar/nav-bar.tsx
Due: prettier --write

fix: update side-bar default --width
  src/components/side-bar/index.en.md
  src/components/side-bar/index.zh.md
Due: none

doc: iframe refresh with theme change
  .dumi/theme/components/device.tsx
Due: none

chore: remove unused method
  .dumi/theme/components/device.tsx
Due: none

doc(badge): fix CSS Variables `--color` default value (#5952)
  src/components/badge/index.en.md
  src/components/badge/index.zh.md
Due: none

fix(doc): demo color unchanged when computer switching theme color i… (#5944)
  .dumi/theme/components/device.tsx
Due: none

doc(SideBar): update side-bar default --width (#5954)
  src/components/side-bar/index.en.md
  src/components/side-bar/index.zh.md
Due: none

feat(Ellipsis): support default expand
  src/components/ellipsis/demos/demo1.tsx
  src/components/ellipsis/ellipsis.tsx
Due: prettier --write

test(Ellipsis): add default expand case
  src/components/ellipsis/tests/ellipsis.test.tsx
Due: prettier --write

feat(Ellipsis): support default expand (#5955)
  src/components/ellipsis/demos/demo1.tsx
  src/components/ellipsis/ellipsis.tsx
  src/components/ellipsis/tests/ellipsis.test.tsx
Due: prettier --write

refactor(Swiper): 使用 setTimeout 代替 setInterval
  src/components/swiper/swiper.tsx
Due: prettier --write

refactor(Swiper): 使用 setTimeout 代替 setInterval (#5957)
  src/components/swiper/swiper.tsx
Due: prettier --write

feat: add Popup style for Modal and Dialog
  src/components/dialog/dialog.tsx
  src/components/dialog/index.en.md
  src/components/dialog/index.zh.md
  src/components/modal/index.en.md
  src/components/modal/index.zh.md
  src/components/modal/modal.tsx
Due: prettier --write

feat: add position props to Modal and Dialog
  src/components/dialog/dialog.tsx
  src/components/modal/modal.tsx
Due: prettier --write

fix(TextArea): adjust the height to the prev height
  src/components/text-area/text-area.tsx
Due: prettier --write

fix(TextArea): adjust the height to the prev height (#5968)
  src/components/text-area/text-area.tsx
Due: prettier --write

doc(Dialog): typo
  src/components/dialog/index.zh.md
Due: none

doc(Dialog): typo (#5972)
  src/components/dialog/index.zh.md
Due: none

feat(Steps): icon background color should be unnecessary
  src/components/steps/steps.less
Due: stylelint --fix

fix(Steps): icon background color should be unnecessary (#5978)
  src/components/steps/steps.less
Due: stylelint --fix

feat: when double slider show all popover
  src/components/slider/demos/demo2.tsx
  src/components/slider/slider.tsx
  src/components/slider/tests/slider.test.tsx
  src/components/slider/thumb.tsx
Due: prettier --write

doc: fix ImageViewer onClose Type
  src/components/image-viewer/index.en.md
  src/components/image-viewer/index.zh.md
Due: none

feat: rename popup props to isPopup
  src/components/dialog/dialog.tsx
  src/components/dialog/index.en.md
  src/components/dialog/index.zh.md
  src/components/modal/index.en.md
  src/components/modal/index.zh.md
  src/components/modal/modal.tsx
Due: prettier --write

chore: optimize code
  src/components/infinite-scroll/demos/demo3.less
  src/components/infinite-scroll/demos/demo4.tsx
Due: prettier --write, stylelint --fix

chore: lock react spring version
  package.json
Due: none

chore: update lockfile
  pnpm-lock.yaml
Due: none

chore: lock react spring version (#5989)
  package.json
  pnpm-lock.yaml
Due: none

chore: bump 5.28.1
  package.json
Due: none

Update ssr.zh.md
  docs/guide/ssr.zh.md
Due: none
