Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": ["prettier --write"],
  "src/**/*.{less,css}": ["stylelint --fix"]
}

chore: bump vite
  .gitignore
  package.json
  pnpm-lock.yaml
Due: none

chore: more info
  gulpfile.js
Due: none

chore: fix it
  gulpfile.js
Due: none

chore: bump vite (#6493)
  .gitignore
  gulpfile.js
  package.json
  pnpm-lock.yaml
Due: none

feat: 优化数字键盘及虚拟输入框无障碍
  src/components/mask/mask.tsx
  src/components/number-keyboard/number-keyboard.tsx
  src/components/virtual-input/virtual-input.tsx
Due: prettier --write

feat: extend CSS for selector-item to support text overflow
  src/components/selector/selector.less
Due: stylelint --fix

chore: init
  src/components/tabs/demos/demo1.tsx
  src/components/tabs/tabs.tsx
Due: prettier --write

feat: autoScroll disabled
  src/components/tabs/demos/demo1.tsx
  src/components/tabs/tabs.tsx
Due: prettier --write

chore: comment it
  src/components/tabs/tabs.tsx
Due: prettier --write

fix: 优化test snapshots
  src/components/action-sheet/tests/__snapshots__/action-sheet.test.tsx.snap
  src/components/image-viewer/tests/__snapshots__/image-viewer.test.tsx.snap
  src/components/number-keyboard/tests/number-keyboard.test.tsx
  src/components/virtual-input/tests/virtual-input.test.tsx
Due: prettier --write

enhance(Tabs): Add experimental prop `autoScroll` (#6497)
  src/components/tabs/tabs.tsx
Due: prettier --write

chore: use locale
  src/components/number-keyboard/number-keyboard.tsx
Due: prettier --write

chore: update desc
  src/components/number-keyboard/number-keyboard.tsx
Due: prettier --write

test: fix img part
  src/components/image-viewer/tests/image-viewer.test.tsx
  src/tests/testing.tsx
Due: prettier --write

test: fix img part
  jest.config.js
  src/components/image-viewer/tests/image-viewer.test.tsx
Due: prettier --write

test: fix img part
  src/components/image-viewer/tests/image-viewer.test.tsx
Due: prettier --write

test: fix img test
  src/components/image-viewer/tests/image-viewer.test.tsx
Due: prettier --write

test: rm useless snapshot
  src/components/image-viewer/tests/__snapshots__/image-viewer.test.tsx.snap
  src/components/image-viewer/tests/image-viewer.test.tsx
Due: prettier --write

test: fix modal test
  src/components/modal/tests/modal.test.tsx
Due: prettier --write

test: more test case
  src/components/dialog/tests/dialog.test.tsx
  src/components/number-keyboard/tests/number-keyboard.test.tsx
Due: prettier --write

test: more test case
  src/components/number-keyboard/tests/number-keyboard.test.tsx
Due: prettier --write

test: more test case
  src/components/virtual-input/tests/virtual-input.test.tsx
Due: prettier --write

test: more test case
  src/components/modal/tests/modal.test.tsx
Due: prettier --write

test: role check
  src/components/image-viewer/tests/__snapshots__/image-viewer.test.tsx.snap
  src/components/image-viewer/tests/image-viewer.test.tsx
Due: prettier --write

test: rm fake timer
  src/components/dialog/tests/dialog.test.tsx
Due: prettier --write

enhance: 优化数字键盘及虚拟输入框无障碍 (#6494)
  jest.config.js
  src/components/action-sheet/tests/__snapshots__/action-sheet.test.tsx.snap
  src/components/dialog/tests/dialog.test.tsx
  src/components/image-viewer/tests/__snapshots__/image-viewer.test.tsx.snap
  src/components/image-viewer/tests/image-viewer.test.tsx
  src/components/mask/mask.tsx
  src/components/modal/tests/modal.test.tsx
  src/components/number-keyboard/number-keyboard.tsx
  src/components/number-keyboard/tests/number-keyboard.test.tsx
  src/components/virtual-input/tests/virtual-input.test.tsx
  src/components/virtual-input/virtual-input.tsx
  src/tests/testing.tsx
Due: prettier --write

chore: bump 5.33.2
  package.json
Due: none

chore: build script should not clean prev bundles
  gulpfile.js
Due: none

fix: 使用更优雅的方式
  src/components/checkbox/native-input.tsx
  src/components/radio/radio.less
  src/components/radio/radio.tsx
Due: prettier --write, stylelint --fix

feat: export useConfig
  src/index.ts
Due: prettier --write

feat: support RTL mode
  src/components/swiper/swiper.tsx
Due: prettier --write

docs: add demo
  src/components/swiper/demos/demo8.less
  src/components/swiper/demos/demo8.tsx
  src/components/swiper/index.en.md
  src/components/swiper/index.zh.md
Due: prettier --write, stylelint --fix

refactor: move to activeKey
  package.json
  src/components/stepper/stepper.tsx
  src/components/swiper/demos/demo8.tsx
  src/components/swiper/swiper.tsx
Due: prettier --write

chore: index of it
  src/components/swiper/swiper.tsx
Due: prettier --write

chore: tmp of total
  src/components/swiper/demos/demo8.tsx
  src/components/swiper/swiper.tsx
Due: prettier --write

refactor: render items
  src/components/swiper/demos/demo8.tsx
  src/components/swiper/swiper.tsx
Due: prettier --write

chore: number render
  src/components/swiper/demos/demo8.tsx
  src/components/swiper/swiper.tsx
Due: prettier --write

docs: update docs
  src/components/swiper/demos/demo8.tsx
  src/components/swiper/index.en.md
  src/components/swiper/index.zh.md
  src/components/swiper/swiper.less
  src/components/swiper/swiper.tsx
Due: prettier --write, stylelint --fix

chore: update lock file
  pnpm-lock.yaml
Due: none
