Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

doc(Form): update doc
  src/components/form/index.en.md
  src/components/form/index.zh.md
Due: none

doc(ProgressCircle): update demos
  src/components/progress-circle/demos/demo1.less
  src/components/progress-circle/demos/demo1.tsx
Due: prettier --write, stylelint --fix

test(WaterMark): add error spy to avoid error output
  src/components/water-mark/tests/water-mark.test.tsx
Due: prettier --write

test(PullToRefresh): add some tests
  src/components/pull-to-refresh/tests/pull-to-refresh.test.tsx
Due: prettier --write

enhance(CascaderView): avoid render empty children
  src/components/cascader-view/cascader-view.tsx
  src/components/cascader-view/tests/cascader-view.test.tsx
Due: prettier --write

feat(Cascader): add a new actions param to children render function (#5375)
  src/components/cascader/cascader.tsx
  src/components/cascader/demos/demo1.tsx
  src/components/cascader/index.en.md
  src/components/cascader/index.ts
  src/components/cascader/index.zh.md
Due: prettier --write

chore: change version
  package.json
Due: none

deploy: d068f2182b228b48471186bd36d178acfc77bc81
  404.html
  index.html
  umi.24cd22cd.css
  umi.3a89a740.js
  umi.89a0e681.css
  umi.ddeb481c.js
Due: none

fix(Picker): display incorrect style in dark mode
  src/components/picker-view/picker-view.less
Due: stylelint --fix

fix(Popup): fix Popup default render to body
  src/components/popup/index.en.md
  src/components/popup/index.zh.md
  src/components/popup/popup-base-props.ts
Due: prettier --write

fix: getContainer Prop default value
  src/components/popup/popup-base-props.ts
Due: prettier --write

doc: improve doc load speed and SEO
  config/config.ts
Due: none

doc: add google-site-verification
  config/config.ts
Due: none

fix(CenterPopup): reset the default value of `getContainer` to `null`
  src/components/center-popup/center-popup.tsx
  src/components/popup/index.en.md
  src/components/popup/index.zh.md
Due: prettier --write

enhance: set a redundant `getContainer` default value for Modal and Dialog
  src/components/dialog/dialog.tsx
  src/components/modal/modal.tsx
Due: prettier --write

test: update snapshots
  src/components/action-sheet/tests/__snapshots__/action-sheet.test.tsx.snap
  src/components/config-provider/tests/__snapshots__/config-provider.test.tsx.snap
Due: none

fix(Popup): the default value of `getContainer` should be `() => document.body` instead of `null` (#5388)
  src/components/action-sheet/tests/__snapshots__/action-sheet.test.tsx.snap
  src/components/center-popup/center-popup.tsx
  src/components/config-provider/tests/__snapshots__/config-provider.test.tsx.snap
  src/components/dialog/dialog.tsx
  src/components/modal/modal.tsx
  src/components/popup/index.en.md
  src/components/popup/index.zh.md
  src/components/popup/popup-base-props.ts
Due: prettier --write

feat: add autoprefixer to handle the CSS compatibility issues
  gulpfile.js
  package.json
  yarn.lock
Due: none

fix(checkbox): stop event bubbling on label
  src/components/checkbox/checkbox.tsx
  src/components/checkbox/native-input.tsx
Due: prettier --write

doc: fix surge ignore
  package.json
Due: none

enhance: replace `--adm-color-white` with `--adm-color-background`
  src/components/dropdown/dropdown.less
  src/components/floating-panel/floating-panel.less
  src/components/number-keyboard/number-keyboard.less
  src/components/passcode-input/passcode-input.less
  src/components/result/result.less
Due: stylelint --fix

doc: update dark mode
  docs/components/home-page.less
Due: none

doc: demo adapt to dark mode
  .dumi/theme/builtins/Alert.less
  .dumi/theme/layouts/index.less
  .dumi/theme/style/markdown.less
  docs/components/home-page.less
  src/components/side-bar/demos/demo3.less
  src/components/side-bar/demos/demo4.less
  src/components/swiper/demos/demo3.tsx
  src/components/tab-bar/demos/demo2.less
Due: prettier --write, stylelint --fix

doc: add dark mode
  .dumi/plugin-theme/index.ts
  .dumi/theme/builtins/Previewer.less
  .dumi/theme/components/Dark.less
  .dumi/theme/components/Dark.tsx
  .dumi/theme/components/Navbar.less
  .dumi/theme/components/device.less
  .dumi/theme/components/device.tsx
  .dumi/theme/components/slug-list.less
  .dumi/theme/layouts/index.tsx
  config/config.ts
  docs/components/icon/demo-all.less
Due: none

doc: img dark mode
  .dumi/theme/layouts/index.less
  docs/components/home-page.less
Due: none

doc: update demo style in dark mode
  .dumi/theme/components/SearchBar.less
  src/components/floating-panel/demos/demo3.less
  src/components/pull-to-refresh/demos/demo-nested.less
  src/components/pull-to-refresh/demos/demo3.less
  src/components/stepper/demos/demo2.tsx
Due: prettier --write, stylelint --fix

doc: update
  .dumi/theme/components/Dark.tsx
Due: none

doc: update demo in dark mode
  src/components/error-block/demos/demo-full-page.tsx
Due: prettier --write

doc: update
  .dumi/theme/builtins/ResourceCard.less
  docs/components/home-page.less
  docs/components/home-page.tsx
Due: none

doc: adjust dark mode style
  .dumi/theme/style/markdown.less
  docs/components/home-page.less
Due: none

doc: fix border style in dark mode
  .dumi/theme/builtins/Previewer.less
  .dumi/theme/builtins/preview-default/Previewer.less
  .dumi/theme/components/Navbar.less
  .dumi/theme/components/SearchBar.less
  .dumi/theme/components/SideMenu.less
  .dumi/theme/components/device.less
  .dumi/theme/components/slug-list.less
  .dumi/theme/style/global.less
  .dumi/theme/style/layout-default.less
  .dumi/theme/style/markdown.less
  .dumi/theme/style/variables.less
Due: none

doc(CheckBox): fix demo3
  src/components/checkbox/demos/demo3.tsx
Due: prettier --write

doc(CheckBox): fix demo3 (#5396)
  src/components/checkbox/demos/demo3.tsx
Due: prettier --write

Path conditions:
  prettier --write: any of: src/**/*.{ts,tsx}
  stylelint --fix: any of: src/**/*.{less,css}
