Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": ["prettier --write"],
  "src/**/*.{less,css}": ["stylelint --fix"]
}

enhance: (Stepper) value prop type inference
  src/components/stepper/demos/demo1.tsx
  src/components/stepper/stepper.tsx
Due: prettier --write

chore: upgrade dependencies
  package.json
  yarn.lock
Due: none

fix: getScrollParent ts
  src/utils/get-scroll-parent.ts
Due: prettier --write

test: add style mock for DatePicker tests
  src/components/date-picker/tests/date-picker.test.tsx
Due: prettier --write

chore: downgrade eslint-plugin-react
  package.json
  yarn.lock
Due: none

doc: (Image) update FAQ
  src/components/image/index.en.md
  src/components/image/index.zh.md
Due: none

enhance: measureCSSLength supports vw unit
  src/components/picker-view/index.en.md
  src/components/picker-view/index.zh.md
  src/components/picker/index.en.md
  src/components/picker/index.zh.md
  src/utils/measure-css-length.ts
Due: prettier --write

enhance: replace useUpdateLayoutEffect with useIsomorphicUpdateLayouEffect (#4848)
  src/components/collapse/collapse.tsx
  src/components/tabs/tabs.tsx
  src/utils/use-isomorphic-update-layout-effect.tsx
  src/utils/use-tab-list-scroll.ts
Due: prettier --write

doc: (Tabs) split demos
  src/components/tabs/demos/demo1.tsx
  src/components/tabs/demos/demo2.tsx
  src/components/tabs/index.en.md
  src/components/tabs/index.zh.md
Due: prettier --write

feat: add ShouldRender util component and rename use-should-render.tsx to should-render.tsx
  src/components/collapse/collapse.tsx
  src/components/dropdown/item.tsx
  src/components/mask/mask.tsx
  src/components/popup/popup.tsx
  src/utils/should-render.tsx
  src/utils/use-should-render.tsx
Due: prettier --write

fix: (Tabs & CapsuleTabs & JumboTabs) wrap pane content with ShouldRender
  src/components/capsule-tabs/capsule-tabs.tsx
  src/components/jumbo-tabs/jumbo-tabs.tsx
  src/components/tabs/demos/demo1.tsx
  src/components/tabs/tabs.tsx
Due: prettier --write

feat: (Tabs-like) add `destroyOnClose` props to Tabs.Tab
  src/components/capsule-tabs/capsule-tabs.tsx
  src/components/capsule-tabs/index.en.md
  src/components/capsule-tabs/index.zh.md
  src/components/jumbo-tabs/index.en.md
  src/components/jumbo-tabs/index.zh.md
  src/components/jumbo-tabs/jumbo-tabs.tsx
  src/components/tabs/index.en.md
  src/components/tabs/index.zh.md
  src/components/tabs/tabs.tsx
Due: prettier --write

enhance: (DatePicker) adjust the logic of default selected date when current time is out of bound
  src/components/date-picker/date-picker.tsx
Due: prettier --write

chore: change version
  package.json
Due: none

deploy: 7dd3e4281ab9bed4df90ee07730918898c9bdea1
  404.html
  index.html
  umi.0c61215c.js
  umi.3a8fd526.js
Due: none

enhance: (Popover) simplify arrow icon
  src/components/popover/arrow.tsx
Due: prettier --write

refactor: (Switch) convert svg image to React component
  src/assets/spin.svg
  src/components/switch/spin-icon.tsx
  src/components/switch/switch.less
  src/components/switch/switch.tsx
Due: prettier --write, stylelint --fix

fix: (Form) fix field names of demo
  src/components/form/demos/demo1.tsx
Due: prettier --write

refactor: (Dialog & Modal) refactor the DOM structure of Dialog and Modal to fix: 1. wrong logic of bodyClassName and bodyStyle 2. the imperfect behavior with long image or content
  src/components/dialog/dialog.less
  src/components/dialog/dialog.tsx
  src/components/modal/demos/demo1.tsx
  src/components/modal/modal.less
  src/components/modal/modal.tsx
Due: prettier --write, stylelint --fix

fix: (DatePicker) fix the calculation of fallback value
  src/components/date-picker/date-picker.tsx
Due: prettier --write

chore: update eslint rules
  .eslintrc.js
Due: none

doc: (Form) fix field names of demo (#4854)
  src/components/form/demos/demo1.tsx
Due: prettier --write

fix: (Dropdown) fix height unexpectedly changes when toggling (#4842)
  src/components/dropdown/dropdown.less
Due: stylelint --fix

enhance: (Modal) adjust padding of Modal with no action button
  src/components/modal/demos/demo1.tsx
  src/components/modal/modal.less
  src/components/modal/modal.tsx
Due: prettier --write, stylelint --fix

deploy: 67ed51e57e5f71d8e0a2a35a186d3fa1cead16a5
  404.html
  index.html
  static/spin.a71ffb17.svg
  umi.0c61215c.js
  umi.1a2a2291.js
  umi.393ed806.css
  umi.af9a0a1c.css
Due: none

fix: (Input) fix value NaN when element blur
  src/components/input/input.tsx
Due: prettier --write

doc: update migration
  docs/guide/migration.en.md
  docs/guide/migration.zh.md
Due: none

refactor: (DatePicker) adjust the logic of defaultValue when defaultValue is out of bound
  src/components/date-picker/date-picker.tsx
Due: prettier --write

enhance: (DatePicker) apply bounds to value even if it is not null
  src/components/date-picker/date-picker.tsx
Due: prettier --write

test: (DatePicker) add some tests
  src/components/date-picker/tests/date-picker.test.tsx
Due: prettier --write

fix: (Input) fix value NaN when element blur (#4859)
  src/components/input/input.tsx
Due: prettier --write

doc: replace rc-tabs with antd-mobile Tabs component
  .dumi/theme/builtins/preview-default/Previewer.less
  .dumi/theme/builtins/preview-default/Previewer.tsx
  package.json
  yarn.lock
Due: none

doc: add Experimental badge
  .dumi/theme/builtins/Badge.less
  .dumi/theme/builtins/Experimental.tsx
  src/components/calendar/calendar.en.md
  src/components/calendar/calendar.zh.md
  src/components/dropdown/index.en.md
  src/components/dropdown/index.zh.md
  src/components/ellipsis/index.en.md
  src/components/ellipsis/index.zh.md
  src/components/floating-bubble/index.en.md
  src/components/floating-bubble/index.zh.md
  src/components/image-uploader/index.en.md
  src/components/image-uploader/index.zh.md
  src/components/number-keyboard/index.en.md
  src/components/number-keyboard/index.zh.md
  src/components/passcode-input/index.en.md
  src/components/passcode-input/index.zh.md
  src/components/tree-select/index.en.md
  src/components/tree-select/index.zh.md
  src/components/virtual-input/index.en.md
  src/components/virtual-input/index.zh.md
Due: none

docs: ✏️ add the zh-CN locale for the form component
  src/locales/base.ts
  src/locales/zh-CN.ts
Due: prettier --write

fix: 🐛 support for form component to use locale
  src/components/form/form.tsx
Due: prettier --write

docs: ✏️ update demo to show use case of defaultValidateMessages
  src/components/form/demos/demo1.tsx
Due: prettier --write

feat: (Form) add experimental prop `childElementPosition` to Form.Item
  src/components/form/demos/demo1.tsx
  src/components/form/form-item.less
  src/components/form/form-item.tsx
  src/components/form/index.en.md
  src/components/form/index.zh.md
Due: prettier --write, stylelint --fix

doc: update doc about experimental
  .dumi/theme/builtins/Experimental.tsx
  .dumi/theme/style/markdown.less
  config/components.ts
  config/config.ts
  docs/components/what-is-experimental.en.md
  docs/components/what-is-experimental.zh.md
  docs/guide/what-is-experimental.en.md
  docs/guide/what-is-experimental.zh.md
  tsconfig.json
Due: none
