Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": ["prettier --write"],
  "src/**/*.{less,css}": ["stylelint --fix"]
}

fix: stepper组件button-size过大时候，不会居中
  src/components/stepper/demos/demo2.less
  src/components/stepper/stepper.less
  src/components/stepper/stepper.tsx
Due: prettier --write, stylelint --fix

fix: (Dialog) Triggered the props.afterClose twice
  src/components/dialog/dialog.tsx
Due: prettier --write

doc: (IndexBar) add a debug demo
  src/components/index-bar/demos/demo3.tsx
  src/components/index-bar/index.en.md
  src/components/index-bar/index.zh.md
Due: prettier --write

refactor: (IndexBar) adjust the implementation of update function
  src/components/index-bar/context.tsx
  src/components/index-bar/index-bar.tsx
  src/components/index-bar/panel.tsx
Due: prettier --write

fix: (IndexBar) make sure `update` get called when panel unmounts
  src/components/index-bar/index-bar.tsx
  src/components/index-bar/panel.tsx
Due: prettier --write

feat: 增加Form组件自定义表单控件的例子
  src/components/form/demos/demo4.tsx
  src/components/form/index.en.md
  src/components/form/index.zh.md
Due: prettier --write

doc: (Form)增加自定义表单控件的例子
  src/components/form/demos/demo4.tsx
  src/components/form/index.en.md
  src/components/form/index.zh.md
Due: prettier --write

doc: (Form) add customized form controls document
  src/components/form/index.en.md
  src/components/form/index.zh.md
Due: none

refactor: (IndexBar) remove context and use React.Children.forEach instead
  src/components/index-bar/context.tsx
  src/components/index-bar/index-bar.tsx
  src/components/index-bar/panel.tsx
Due: prettier --write

fix: (IndexBar) gesture not working when pointer moving just above sidebar characters
  src/components/index-bar/index-bar.less
Due: stylelint --fix

doc: (Form) fix customized form controls example code
  src/components/form/demos/demo4.tsx
Due: prettier --write

fix: (Dialog) afterClose get called twice
  src/components/dialog/dialog.tsx
Due: prettier --write

fix: (Stepper) button icon not aligning to center when button size get changed via css variables (#4460)
  src/components/stepper/demos/demo2.less
  src/components/stepper/stepper.less
  src/components/stepper/stepper.tsx
Due: prettier --write, stylelint --fix

doc: (Form) add customized form controls example code
  src/components/form/demos/demo4.tsx
Due: prettier --write

feat: (Tag) add css variables
  src/components/tag/demos/index.tsx
  src/components/tag/index.en.md
  src/components/tag/index.zh.md
  src/components/tag/tag.less
  src/components/tag/tag.tsx
Due: prettier --write, stylelint --fix

doc: Form demo4
  src/components/form/demos/demo4.tsx
Due: prettier --write

doc: (Form) add customized form controls example (#4463)
  src/components/form/demos/demo4.tsx
  src/components/form/index.en.md
  src/components/form/index.zh.md
Due: prettier --write

feat: (Tag) add css variables (#4468)
  src/components/tag/demos/index.tsx
  src/components/tag/index.en.md
  src/components/tag/index.zh.md
  src/components/tag/tag.less
  src/components/tag/tag.tsx
Due: prettier --write, stylelint --fix

feat: (Tabs) add `--content-padding` (#4459)
  src/components/tabs/index.en.md
  src/components/tabs/index.zh.md
  src/components/tabs/tabs.less
  src/components/tabs/tabs.tsx
Due: prettier --write, stylelint --fix

doc: (List) update doc of css variables (#4456)
  src/components/list/index.en.md
  src/components/list/index.zh.md
Due: none

fix: (CheckList & CheckList.Item) native props
  src/components/check-list/check-list-item.tsx
  src/components/check-list/check-list.tsx
Due: prettier --write

fix: (CheckList) update css variables (#4457)
  src/components/check-list/check-list-item.tsx
  src/components/check-list/check-list.tsx
  src/components/check-list/index.en.md
  src/components/check-list/index.zh.md
Due: prettier --write

fix: (Input) enterKeyHint
  src/components/input/input.tsx
Due: prettier --write

fix: (Input) mannually set enterkeyhint due to React compatibility issues
  src/components/input/input.tsx
Due: prettier --write

feat: (Space) add onClick event & (Form) fix customized form controls example code demo4
  src/components/form/demos/demo4.tsx
  src/components/space/space.tsx
  src/components/space/tests/space.test.tsx
Due: prettier --write

enhance: (Picker) improve the performance of Picker series components
  src/components/date-picker/date-picker.tsx
  src/components/picker-view/picker-view.tsx
  src/components/picker/picker.tsx
  src/utils/use-props-value.ts
Due: prettier --write

chore: remove console.log
  src/components/notice-bar/notice-bar.tsx
Due: prettier --write

feat: 添加浮动气泡的css变量
  src/components/floating-bubble/demos/demo.tsx
  src/components/floating-bubble/floating-bubble.less
  src/components/floating-bubble/floating-bubble.tsx
  src/components/floating-bubble/index.en.md
  src/components/floating-bubble/index.zh.md
Due: prettier --write, stylelint --fix

fix: update form demo4 example code
  src/components/form/demos/demo4.tsx
Due: prettier --write

feat: (Space) update document
  src/components/space/index.en.md
  src/components/space/index.zh.md
  src/components/space/space.tsx
Due: prettier --write

feat: (Space) add `onClick` event (#4471)
  src/components/form/demos/demo4.tsx
  src/components/space/index.en.md
  src/components/space/index.zh.md
  src/components/space/space.tsx
  src/components/space/tests/space.test.tsx
Due: prettier --write

doc: FloatingBubble
  src/components/floating-bubble/demos/demo.tsx
Due: prettier --write

feat: (FloatingBubble) add `--border-radius` (#4473)
  src/components/floating-bubble/floating-bubble.less
  src/components/floating-bubble/floating-bubble.tsx
  src/components/floating-bubble/index.en.md
  src/components/floating-bubble/index.zh.md
Due: prettier --write, stylelint --fix

feat: (NumberKeybord) backspace key suports continuous-typing
  src/components/number-keyboard/number-keyboard.tsx
Due: prettier --write

refactor: (DatePicker) recouple date and week utils
  src/components/date-picker/date-picker-date-utils.ts
  src/components/date-picker/date-picker-utils.ts
  src/components/date-picker/date-picker-week-utils.ts
Due: prettier --write

fix: (DatePickerView) week picker unexpected jump
  src/components/date-picker/date-picker-week-utils.ts
Due: prettier --write

refactor: (DatePicker) adjust the import of date/week utils
  src/components/date-picker/date-picker-utils.ts
Due: prettier --write

enhance: DatePicker week mode
  src/components/date-picker/date-picker-utils.ts
  src/components/date-picker/date-picker-week-utils.ts
Due: prettier --write

fix: (Mask) Fix possible errors in toast.show
  src/components/mask/mask.tsx
Due: prettier --write
