Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": ["prettier --write"],
  "src/**/*.{less,css}": ["stylelint --fix"]
}

style: (ActionSheet) delete unused type
  src/components/action-sheet/action-sheet.tsx
Due: prettier --write

doc: (Cascader) add async load data demo
  src/components/cascader/demos/demo2.tsx
Due: prettier --write

enhance: (CascaderView) jump to the last available tab when some tailing tabs get removed
  src/components/cascader-view/cascader-view.tsx
Due: prettier --write

doc: (Cascader) update demo
  src/components/cascader/demos/demo2.tsx
Due: prettier --write

feat: (ActionSheet) add `popupClassName` and `popupStyle` (#4910)
  src/components/action-sheet/action-sheet.tsx
  src/components/action-sheet/index.en.md
  src/components/action-sheet/index.zh.md
Due: prettier --write

refactor: refactor the show methods of some components with renderImperatively util and rename some irregular handler types (#4914)
  src/components/action-sheet/action-sheet.tsx
  src/components/action-sheet/demos/demo1.tsx
  src/components/action-sheet/index.ts
  src/components/dialog/demos/demo2.tsx
  src/components/dialog/index.ts
  src/components/dialog/show.tsx
  src/components/image-uploader/image-uploader.tsx
  src/components/image-viewer/index.ts
  src/components/image-viewer/methods.tsx
  src/components/modal/demos/demo3.tsx
  src/components/modal/index.ts
  src/components/modal/show.tsx
  src/utils/render-imperatively.tsx
Due: prettier --write

chore: change version
  package.json
Due: none

deploy: 2ff6fa845684ab5af1e91256e5140f9184f1d44f
  404.html
  index.html
  umi.2ea5668b.css
  umi.79a58dcc.js
  umi.c077260e.css
  umi.d774b3c3.js
Due: none

enhance: (Popover) add max-width limit
  src/components/popover/popover.less
Due: stylelint --fix

refactor: (renderImperatively & ImageViwer) use a better way to get \`close\`, and refactor \`showMultiImageViewer\`
  src/components/image-viewer/methods.tsx
  src/utils/render-imperatively.tsx
Due: prettier --write

feat: (Form.Item) add `clickable` prop
  src/components/form/form-item.tsx
  src/components/form/index.en.md
  src/components/form/index.zh.md
  src/components/list/index.en.md
  src/components/list/index.zh.md
Due: prettier --write

doc: adjust toc padding
  .dumi/theme/components/slug-list.less
Due: none

test: (ActionSheet) tests wtih `describe`
  src/components/action-sheet/tests/action-sheet.test.tsx
Due: prettier --write

test: (ActionSheet) add some tests
  src/components/action-sheet/tests/__snapshots__/action-sheet.test.tsx.snap
  src/components/action-sheet/tests/action-sheet.test.tsx
Due: prettier --write

refactor: (renderImperatively & ImageViwer) use a better way to get `close`, and refactor `showMultiImageViewer` (#4918)
  src/components/image-viewer/methods.tsx
  src/utils/render-imperatively.tsx
Due: prettier --write

doc: (List) add virtualized List example
  package.json
  src/components/list/demos/demo4.tsx
  src/components/list/index.en.md
  src/components/list/index.zh.md
  yarn.lock
Due: prettier --write

doc: (List) add virtualized List example (#4923)
  package.json
  src/components/list/demos/demo4.tsx
  src/components/list/index.en.md
  src/components/list/index.zh.md
  yarn.lock
Due: prettier --write

chore: add publish-alpha npm script
  package.json
Due: none

refactor: (Empty) convert svg asset file to react component
  src/assets/empty-icon.svg
  src/components/empty/empty-icon.tsx
  src/components/empty/empty.tsx
Due: prettier --write

refactor: (ErrorBlock) convert svg asset files to react component
  src/assets/busy.svg
  src/assets/default.svg
  src/assets/disconnected.svg
  src/assets/empty.svg
  src/components/error-block/error-block.less
  src/components/error-block/error-block.tsx
  src/components/error-block/error.tsx
  src/components/error-block/images/busy.tsx
  src/components/error-block/images/default.tsx
  src/components/error-block/images/disconnected.tsx
  src/components/error-block/images/empty.tsx
  src/components/error-block/images/index.tsx
  src/components/error-block/tests/__snapshots__/error-block.test.tsx.snap
Due: prettier --write, stylelint --fix

chore: update eslint rules
  .eslintrc.js
Due: none

fix: (ErrorBlock) fix img element size
  src/components/error-block/error-block.less
Due: stylelint --fix

chore: update version
  package.json
Due: none

doc: update quick start
  docs/guide/quick-start.en.md
  docs/guide/quick-start.zh.md
Due: none

deploy: 739395b8574218156908baff142ea567f0de9f35
  404.html
  index.html
  static/busy.c4668539.svg
  static/default.1f281972.svg
  static/disconnected.9c7ea75e.svg
  static/empty-icon.0e5fd287.svg
  static/empty.f2b844b2.svg
  umi.2ea5668b.css
  umi.4d348ba6.js
  umi.79a58dcc.js
  umi.ea4379d5.css
Due: none

doc: adjust the style of Alert component
  .dumi/theme/builtins/Alert.less
  docs/guide/import-on-demand.zh.md
Due: none

fix: (Calendar) 日历组件不受控 #4916
  src/components/calendar/calendar.tsx
Due: prettier --write

fix: (Picker) add innerExt to avoid that `extend` is not update when first trigger `onConfirm`
  src/components/cascade-picker/demos/demo1.tsx
  src/components/picker/picker.tsx
Due: prettier --write

refactor: (Picker & PickerView) replace useColumns & usePickerValueExtend with a new set of columns extend utils
  src/components/picker-view/columns-extend.tsx
  src/components/picker-view/picker-view.tsx
  src/components/picker-view/use-columns.tsx
  src/components/picker-view/use-picker-value-extend.tsx
  src/components/picker/picker.tsx
Due: prettier --write

enhance: (Picker & PickerView) add cache for `generateColumnsExtend`
  src/components/cascade-picker/demos/demo1.tsx
  src/components/picker-view/columns-extend.tsx
  src/components/picker-view/picker-view.tsx
  src/components/picker/picker.tsx
  src/utils/with-cache.ts
Due: prettier --write

refactor: (Calendar) reimplement the inner state for better controlled and uncontrolled behavior, also adjust the type of `value` param in `onChange`
  src/components/calendar/calendar.en.md
  src/components/calendar/calendar.tsx
  src/components/calendar/calendar.zh.md
  src/components/calendar/convert.ts
  src/components/calendar/demos/demo1.tsx
Due: prettier --write

feat: (Calendar) add `allowClear` prop
  src/components/calendar/calendar.en.md
  src/components/calendar/calendar.tsx
  src/components/calendar/calendar.zh.md
Due: prettier --write

test: fix ActionSheet tests
  src/components/action-sheet/tests/action-sheet.test.tsx
Due: prettier --write

deploy: 1b58af3d22a4f34d6b3f647fed4852c9b4746741
  404.html
  index.html
  umi.4a994be2.css
  umi.4d348ba6.js
  umi.ea4379d5.css
  umi.eb2b3b82.js
Due: none

test: (PickerView & CascadePickerView) add some tests
  src/components/cascade-picker-view/tests/cascade-picker-view.test.tsx
  src/components/picker-view/tests/picker-view.test.tsx
Due: prettier --write

test: add gesture utils
  src/tests/gesture/utils.ts
Due: prettier --write

doc: (CascadePickerView) update demo
  src/components/cascade-picker-view/demos/demo1.tsx
  src/components/cascade-picker-view/demos/options-data.tsx
Due: prettier --write
