Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

fix(Calendar): replace `CalenderRef` with `CalendarRef`
  src/components/calendar/calendar.tsx
  src/components/calendar/tests/calendar.test.tsx
Due: prettier --write

enhance: refactor `mergeLocale` and `mergeProps` to reduce bundle size
  src/components/config-provider/tests/__snapshots__/config-provider.test.tsx.snap
  src/utils/merge-locale.ts
  src/utils/with-default-props.tsx
Due: prettier --write

fix(Tabs): fix the background color in dark mode
  src/components/tabs/demos/demo4.less
Due: stylelint --fix

fix(calendar): renderLabel type string to ReactNode
  src/components/calendar/calendar.tsx
Due: prettier --write

test: update snapshots
  src/components/config-provider/tests/__snapshots__/config-provider.test.tsx.snap
Due: none

test(Rate): add some tests
  src/components/rate/tests/rate.test.tsx
Due: prettier --write

enhance(Rate): use aria labels to imporve a11y
  src/components/rate/rate.tsx
  src/components/rate/star.tsx
Due: prettier --write

enhance(NoticeBar): adjust the clickable area of close icon (#5448)
  src/components/notice-bar/notice-bar.less
  src/components/notice-bar/notice-bar.tsx
Due: prettier --write, stylelint --fix

feat(Switch): add `onChangeError` prop
  src/components/switch/index.en.md
  src/components/switch/index.zh.md
  src/components/switch/switch.tsx
  src/components/switch/tests/switch.test.tsx
Due: prettier --write

feat(Switch): remove `onChangeError` and `onChange` supports promise
  src/components/switch/demos/demo2.tsx
  src/components/switch/index.en.md
  src/components/switch/index.zh.md
  src/components/switch/switch.tsx
  src/components/switch/tests/switch.test.tsx
  src/utils/use-props-value.ts
Due: prettier --write

test(Switch): adjust test
  src/components/switch/tests/switch.test.tsx
Due: prettier --write

style(Switch): add `@deprecated` comment
  src/components/switch/switch.tsx
Due: prettier --write

chore: change version
  package.json
Due: none

fix(NumberKeyboard): adjust className with prefix
  src/components/number-keyboard/number-keyboard.less
  src/components/number-keyboard/number-keyboard.tsx
Due: prettier --write, stylelint --fix

test(NumberKeyboard): adjust tests
  src/components/number-keyboard/tests/number-keyboard.test.tsx
  src/components/number-keyboard/tests/numberic-keyboard.test.tsx
Due: prettier --write

feat(NumberKeyboard): support multiple customKeys
  src/components/number-keyboard/demos/demo1.tsx
  src/components/number-keyboard/demos/demo2.tsx
  src/components/number-keyboard/index.en.md
  src/components/number-keyboard/index.zh.md
  src/components/number-keyboard/number-keyboard.tsx
  src/components/number-keyboard/tests/number-keyboard.test.tsx
Due: prettier --write

fix(Button): fix React's Bug when the browser translation function is enabled
  src/components/button/button.tsx
Due: prettier --write

test(Button): add test for Button
  src/components/action-sheet/tests/__snapshots__/action-sheet.test.tsx.snap
  src/components/button/tests/button.test.tsx
  src/components/image-viewer/tests/__snapshots__/image-viewer.test.tsx.snap
Due: prettier --write

fix(ImageViewer): scale origin is inaccurate when pinching
  src/components/image-viewer/slide.tsx
  src/components/image-viewer/tests/__snapshots__/image-viewer.test.tsx.snap
  src/utils/matrix.ts
Due: prettier --write

feat(NumberKeyboard): support multiple customKeys (#5458)
  src/components/number-keyboard/demos/demo1.tsx
  src/components/number-keyboard/demos/demo2.tsx
  src/components/number-keyboard/index.en.md
  src/components/number-keyboard/index.zh.md
  src/components/number-keyboard/number-keyboard.tsx
  src/components/number-keyboard/tests/number-keyboard.test.tsx
Due: prettier --write

feat: make CascaderView's activeIcon can be edit
  src/components/cascader-view/cascader-view.tsx
Due: prettier --write

chore: fix `Not implemented: window.computedStyle(elt, pseudoElt)`
  src/components/image-uploader/tests/image-uploader.test.tsx
  src/tests/setup.ts
Due: prettier --write

doc(Calendar): update doc
  src/components/calendar/calendar.en.md
  src/components/calendar/calendar.zh.md
Due: none

fix(Calendar): replace renderLabel type string to ReactNode (#5450)
  src/components/calendar/calendar.en.md
  src/components/calendar/calendar.tsx
  src/components/calendar/calendar.zh.md
Due: prettier --write

test: fix `Not implemented: window.computedStyle(elt, pseudoElt)` (#5464)
  src/components/image-uploader/tests/image-uploader.test.tsx
  src/tests/setup.ts
Due: prettier --write

test(SearchBar): add some tests
  src/components/search-bar/tests/search-bar.test.tsx
Due: prettier --write

enhance(SearchBar & Input): use aria labels to imporve a11y
  src/components/input/input.tsx
  src/components/search-bar/search-bar.tsx
  src/locales/base.ts
  src/locales/zh-CN.ts
Due: prettier --write

chore: add compressed size
  .github/workflows/compressed-size.yml
Due: none

fix(ImageViewer): scale origin is inaccurate when pinching (#5461)
  src/components/image-viewer/slide.tsx
  src/components/image-viewer/tests/__snapshots__/image-viewer.test.tsx.snap
  src/utils/matrix.ts
Due: prettier --write

chore: test
  .github/workflows/check.yml
  .github/workflows/compressed-size.yml
Due: none

chore: add compressed size (#5468)
  .github/workflows/check.yml
Due: none

doc: add figma resource card
  docs/resources.zh.md
Due: none

doc: update sketch file link
  docs/resources.zh.md
Due: none

doc: update en doc for resources
  docs/resources.en.md
Due: none

fix(SearchBar): duplicate value on enter press
  src/components/search-bar/search-bar.tsx
Due: prettier --write

fix(SearchBar): prevent getting duplicated value on enter press with some IMEs (#5466)
  src/components/search-bar/search-bar.tsx
Due: prettier --write

Path conditions:
  prettier --write: any of: src/**/*.{ts,tsx}
  stylelint --fix: any of: src/**/*.{less,css}
