Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": ["prettier --write"],
  "src/**/*.{less,css}": ["stylelint --fix"]
}

chore: add side-bar usage
  src/components/side-bar/demos/index.tsx
Due: prettier --write

chore: code style
  src/components/side-bar/demos/index.tsx
Due: prettier --write

fix: (PickerView) fix class prefix
  src/components/picker-view/picker-view.less
Due: stylelint --fix

chore: upgrade dependencies
  package.json
  yarn.lock
Due: none

chore: change version
  package.json
Due: none

feat: (VirtualInput) support clearable
  src/components/virtual-input/demos/demo1.tsx
  src/components/virtual-input/virtual-input.less
  src/components/virtual-input/virtual-input.tsx
Due: prettier --write, stylelint --fix

deploy: b6be6bf80d7483ca1d93fdbb925a11536d2c8e8b
  404.html
  index.html
  umi.926255c5.css
  umi.9d9125d9.js
  umi.b08d86bc.js
  umi.f4ab974a.css
Due: none

fix: (Mask) All behavior should be stopped when the component is unmounted
  src/components/mask/mask.tsx
Due: prettier --write

fix: (Popup & Dialog) Stop working when the component is unloaded
  src/components/dialog/dialog.tsx
  src/components/mask/mask.tsx
  src/components/popup/popup.tsx
Due: prettier --write

fix: NumberKeyboard
  src/components/number-keyboard/number-keyboard.tsx
Due: prettier --write

feat: (NumberKeybord) backspace key suports continuous-typing (#4477)
  src/components/number-keyboard/number-keyboard.tsx
Due: prettier --write

fix: (Mask & Dialog & Popup) prevent set state after component get unmounted (#4479)
  src/components/dialog/dialog.tsx
  src/components/mask/mask.tsx
  src/components/popup/popup.tsx
Due: prettier --write

chore: add side-bar usage (#4480)
  src/components/side-bar/demos/index.tsx
Due: prettier --write

fix: VirtualInput
  src/components/virtual-input/virtual-input.less
  src/components/virtual-input/virtual-input.tsx
Due: prettier --write, stylelint --fix

feat: (VirtualInput) support clearable & fix problem about auto scrolling (#4483)
  src/components/virtual-input/demos/demo1.tsx
  src/components/virtual-input/virtual-input.less
  src/components/virtual-input/virtual-input.tsx
Due: prettier --write, stylelint --fix

feat: (ActionSheet) Make the 'text' and 'description' attributes of Action support ReactNode
  src/components/action-sheet/action-sheet.tsx
  src/components/action-sheet/index.en.md
  src/components/action-sheet/index.zh.md
Due: prettier --write

feat: (Tag) add css variables
  src/components/tag/demos/index.tsx
  src/components/tag/index.en.md
  src/components/tag/index.zh.md
  src/components/tag/tag.less
  src/components/tag/tag.tsx
Due: prettier --write, stylelint --fix

fix: (ImageUploader) change the deleted logic to delete images by index
  src/components/image-uploader/image-uploader.tsx
Due: prettier --write

feat: (ImageUploader) rename type FileItem to ImageUploadItem and add `key` prop
  src/components/image-uploader/demos/demo1.tsx
  src/components/image-uploader/demos/demo2.tsx
  src/components/image-uploader/demos/utils.tsx
  src/components/image-uploader/image-uploader.tsx
  src/components/image-uploader/index.en.md
  src/components/image-uploader/index.ts
  src/components/image-uploader/index.zh.md
Due: prettier --write

doc: ImageUploader
  src/components/image-uploader/image-uploader.tsx
  src/components/image-uploader/index.en.md
  src/components/image-uploader/index.zh.md
Due: prettier --write

doc: fix ImageUploader doc
  src/components/image-uploader/index.en.md
  src/components/image-uploader/index.zh.md
Due: none

feat: (ImageUploader) supports thumbnailUrl
  src/components/image-uploader/image-uploader.tsx
  src/components/image-uploader/index.en.md
  src/components/image-uploader/index.zh.md
Due: prettier --write

fix: dialog content font size
  src/components/dialog/dialog.less
Due: stylelint --fix

fix: (Toast) font size, align and padding
  src/components/toast/toast.less
  src/components/toast/toast.tsx
Due: prettier --write, stylelint --fix

feat: Cascader
  config/components.ts
  src/components/cascader-view/cascader-view.less
  src/components/cascader-view/cascader-view.tsx
  src/components/cascader-view/demos/index.tsx
  src/components/cascader-view/index.en.md
  src/components/cascader-view/index.ts
  src/components/cascader-view/index.zh.md
  src/components/cascader-view/use-cascader-options.tsx
  src/components/cascader-view/use-cascader-value-extend.tsx
  src/components/cascader/cascader.less
  src/components/cascader/cascader.tsx
  src/components/cascader/demos/data.ts
  src/components/cascader/demos/index.tsx
  src/components/cascader/index.en.md
  src/components/cascader/index.ts
  src/components/cascader/index.zh.md
  src/components/cascader/prompt.tsx
  src/index.ts
Due: prettier --write, stylelint --fix

refactor: Cascader & CascaderView
  src/components/cascader-view/cascader-view.tsx
  src/components/cascader-view/use-cascader-value-extend.tsx
  src/components/cascader/demos/data.ts
Due: prettier --write

chore: add some TODOs
  src/components/cascader-view/cascader-view.tsx
  src/components/cascader-view/index.en.md
  src/components/cascader-view/index.zh.md
Due: prettier --write

feat: (switch) add css variables `--size` & `--border-width` & `--border-color`
  src/components/switch/demos/demo1.tsx
  src/components/switch/index.en.md
  src/components/switch/index.zh.md
  src/components/switch/switch.less
  src/components/switch/switch.tsx
Due: prettier --write, stylelint --fix

feat(getTreeDeep): Replace if else with trot operator
  src/utils/tree.ts
Due: prettier --write

enhance: (CascaderView) update style location
  src/components/cascader-view/cascader-view.less
  src/components/cascader-view/cascader-view.tsx
Due: prettier --write, stylelint --fix

fix: (Cascader) placeholder i18n
  src/components/cascader-view/cascader-view.tsx
  src/components/cascader/cascader.tsx
  src/locales/base.ts
  src/locales/zh-CN.ts
Due: prettier --write

enhance: remove `use-cascader-options`
  src/components/cascader-view/use-cascader-options.tsx
Due: prettier --write

doc: (Cascader) update doc name & update demo
  src/components/cascader-view/demos/demo1.tsx
  src/components/cascader-view/index.en.md
  src/components/cascader-view/index.zh.md
  src/components/cascader/demos/data.ts
  src/components/cascader/demos/demo1.tsx
  src/components/cascader/index.en.md
  src/components/cascader/index.zh.md
Due: prettier --write

enhance: (PickerView) update dom structure
  src/components/cascader-view/cascader-view.less
  src/components/cascader-view/cascader-view.tsx
Due: prettier --write, stylelint --fix

fix: (Cascader) value include `undefined` when canceled
  src/components/cascader-view/cascader-view.tsx
Due: prettier --write

fix: (Swiper) vertical + loop mode not rendering correctly
  src/components/swiper/swiper.tsx
Due: prettier --write

chore: adjust Cascader i18n
  src/locales/base.ts
Due: prettier --write

feat: (ActionSheet) Make the 'text' and 'description' attributes of Action support ReactNode (#4492)
  src/components/action-sheet/action-sheet.tsx
  src/components/action-sheet/index.en.md
  src/components/action-sheet/index.zh.md
Due: prettier --write

fix: (switch) inner no center
  src/components/switch/switch.less
Due: stylelint --fix
