Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": ["prettier --write"],
  "src/**/*.{less,css}": ["stylelint --fix"]
}

doc(Footer): update punctuation
  src/components/footer/index.en.md
  src/components/footer/index.zh.md
Due: none

feat(Slider): add residentPopover prop
  src/components/slider/index.en.md
  src/components/slider/index.zh.md
  src/components/slider/slider.tsx
  src/components/slider/thumb.tsx
Due: prettier --write

enhance(Avatar): adjust `Image` import path
  src/components/avatar/avatar.tsx
Due: prettier --write

fix(Avatar): adjust `Image` import path to prevent issue in HD mode (#5664)
  src/components/avatar/avatar.tsx
Due: prettier --write

feat(Slider): add `residentPopover` prop (#5662)
  src/components/slider/index.en.md
  src/components/slider/index.zh.md
  src/components/slider/slider.tsx
  src/components/slider/thumb.tsx
Due: prettier --write

feat(ImageUploader): update the argument of `onUploadQueueChange`
  src/components/image-uploader/image-uploader.tsx
  src/components/image-uploader/index.en.md
  src/components/image-uploader/index.zh.md
Due: prettier --write

feat(ImageUploader): optimized implementation
  src/components/image-uploader/preview-item.tsx
Due: prettier --write

enhance(ImageUploader): optimize image preview memory (#5627)
  src/components/config-provider/tests/config-provider.test.tsx
  src/components/image-uploader/preview-item.tsx
  src/components/image-uploader/tests/image-uploader.test.tsx
Due: prettier --write

refactor(ImageUploader): rename `itemRender` to `renderItem`
  src/components/image-uploader/image-uploader.tsx
  src/components/image-uploader/index.en.md
  src/components/image-uploader/index.zh.md
  src/components/image-uploader/tests/image-uploader.test.tsx
Due: prettier --write

feat(ImageUploader): add `itemRender` prop (#5642)
  src/components/image-uploader/image-uploader.tsx
  src/components/image-uploader/index.en.md
  src/components/image-uploader/index.zh.md
  src/components/image-uploader/tests/image-uploader.test.tsx
Due: prettier --write

doc: add CONTRIBUTING link
  docs/guide/quick-start.en.md
  docs/guide/quick-start.zh.md
Due: none

feat(ImageUploader): export type
  src/components/image-uploader/image-uploader.tsx
  src/components/image-uploader/index.ts
Due: prettier --write

feat(ImageUploader): resolve conflict
  src/components/image-uploader/index.en.md
  src/components/image-uploader/index.zh.md
Due: none

fix(Picker): fix `getPropertyValue` compatibility issue on iOS 10
  src/components/picker-view/picker-view.less
  src/components/picker-view/wheel.tsx
  src/utils/measure-css-length.ts
Due: prettier --write, stylelint --fix

feat(ImageUploader): add `onUploadQueueChange` prop (#5640)
  src/components/image-uploader/image-uploader.tsx
  src/components/image-uploader/index.en.md
  src/components/image-uploader/index.ts
  src/components/image-uploader/index.zh.md
Due: prettier --write

chore(Picker): fix tests and remove `console.log`
  src/components/picker-view/wheel.tsx
  src/tests/mock-global-styles.ts
Due: prettier --write

feat: (calendar) change props name and add the covertPageToDayjs func
  src/components/calendar/calendar.tsx
  src/components/calendar/convert.ts
Due: prettier --write

feat: (calendar) add demo in demo3
  src/components/calendar/demos/demo3.tsx
Due: prettier --write

feat: (calendar) update docs
  src/components/calendar/calendar.en.md
  src/components/calendar/calendar.zh.md
Due: none

doc: (Form) add --prefix-width
  src/components/form/index.en.md
  src/components/form/index.zh.md
Due: none

style: (Form.Item) delete annotation
  src/components/form/form-item.less
Due: stylelint --fix

feat: (Form) add CSS variables of Form.Item width
  src/components/form/form-item.less
  src/components/form/form.less
  src/components/form/form.tsx
Due: prettier --write, stylelint --fix

doc: (Form) update --prefix-width description
  src/components/form/index.en.md
  src/components/form/index.zh.md
Due: none

chore: change version
  .github/CONTRIBUTING.md
  package.json
Due: none

feat: support nested swiper
  package.json
  pnpm-lock.yaml
  src/components/swiper/demos/demo1.less
  src/components/swiper/swiper.tsx
Due: prettier --write, stylelint --fix

chore: delete test css
  src/components/swiper/demos/demo1.less
Due: stylelint --fix

test: add crypto for jest
  src/components/swiper/tests/swiper.test.tsx
Due: prettier --write

doc: fix table
  src/components/calendar/calendar.en.md
Due: none

feat(Calendar): add props `minPage` and `maxPage` (#5650)
  src/components/calendar/calendar.en.md
  src/components/calendar/calendar.tsx
  src/components/calendar/calendar.zh.md
  src/components/calendar/convert.ts
  src/components/calendar/demos/demo3.tsx
Due: prettier --write

feat(Form): add CSS variable `--prefix-width` of Form.Item label width (#5665)
  src/components/form/form-item.less
  src/components/form/form.less
  src/components/form/form.tsx
  src/components/form/index.en.md
  src/components/form/index.zh.md
Due: prettier --write, stylelint --fix

fix(docs): typo
  docs/guide/reduce-motion.zh.md
Due: none

doc: fix typo (#5674)
  docs/guide/reduce-motion.zh.md
Due: none

enhance(Stepper): add `decimal` input mode
  src/components/stepper/stepper.tsx
Due: prettier --write

fix(Swiper): use {} replace uuid
  package.json
  pnpm-lock.yaml
  src/components/swiper/swiper.tsx
Due: prettier --write

chore: remove useless type define
  package.json
  pnpm-lock.yaml
Due: none

test(Swiper): remove useless code
  src/components/swiper/tests/swiper.test.tsx
Due: prettier --write

enhance(Stepper): default `decimal` input mode (#5676)
  src/components/stepper/stepper.tsx
Due: prettier --write

fix: Popover should close when screen move
  src/components/popover/popover.tsx
  src/components/popover/tests/popover.test.tsx
Due: prettier --write

refactor: Bind popup target instead of stopPop
  src/components/popover/popover.tsx
Due: prettier --write
