Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": ["prettier --write"],
  "src/**/*.{less,css}": ["stylelint --fix"]
}

style(PageIndicator): adjust dot color in white mode (#5607)
  src/components/page-indicator/page-indicator.less
Due: stylelint --fix

chore: upgrade ubuntu (#5606)
  .github/workflows/check.yml
  .github/workflows/doc-site.yml
Due: none

doc(Picker & PickerView): fix loadingContent desc (#5602)
  src/components/picker-view/index.en.md
  src/components/picker-view/index.zh.md
  src/components/picker/demos/demo2.tsx
  src/components/picker/index.en.md
  src/components/picker/index.zh.md
Due: prettier --write

feat: adjust inactive color
  src/components/rate/index.en.md
  src/components/rate/index.zh.md
  src/components/rate/rate.less
Due: stylelint --fix

doc(Mask): adjust the Chinese name for Mask
  src/components/action-sheet/index.zh.md
  src/components/action-sheet/tests/__snapshots__/action-sheet.test.tsx.snap
  src/components/dialog/tests/dialog.test.tsx
  src/components/mask/demos/demo1.tsx
  src/components/mask/index.zh.md
  src/components/modal/index.zh.md
  src/components/modal/tests/modal.test.tsx
  src/components/picker/index.zh.md
  src/components/popup/index.zh.md
  src/locales/zh-CN.ts
Due: prettier --write

doc: update
  src/components/rate/index.zh.md
Due: none

feat(Footer): add footer component
  config/components.ts
  src/components/footer/demos/demo1.tsx
  src/components/footer/footer.less
  src/components/footer/footer.tsx
  src/components/footer/index.en.md
  src/components/footer/index.ts
  src/components/footer/index.zh.md
  src/components/footer/tests/index.tsx
  src/index.ts
Due: prettier --write, stylelint --fix

feat(Footer): add footer component
  src/components/footer/index.en.md
  src/components/footer/index.zh.md
Due: none

fix: lint
  src/components/footer/demos/demo1.tsx
  src/components/footer/footer.tsx
Due: prettier --write

fix: lint
  src/components/footer/footer.tsx
Due: prettier --write

enhance(Rate): optimise the style in half-selected mode (#5601)
  src/components/rate/index.en.md
  src/components/rate/index.zh.md
  src/components/rate/rate.less
  src/components/rate/rate.tsx
Due: prettier --write, stylelint --fix

doc(InfiniteScroll): add usage notes document
  src/components/infinite-scroll/index.en.md
  src/components/infinite-scroll/index.zh.md
Due: none

doc: update
  src/components/infinite-scroll/index.en.md
Due: none

doc(InfiniteScroll): add usage notes document (#5614)
  src/components/infinite-scroll/index.en.md
  src/components/infinite-scroll/index.zh.md
Due: none

fix: delete optional char
  src/components/footer/footer.less
  src/components/footer/footer.tsx
  src/components/footer/index.en.md
Due: prettier --write, stylelint --fix

feat(ImageUploader): add `onUploadQueueChange` prop
  src/components/image-uploader/image-uploader.tsx
Due: prettier --write

feat(Footer): optimize some types
  src/components/footer/footer.tsx
Due: prettier --write

fix: text area focus at end
  src/components/text-area/text-area.tsx
Due: prettier --write

feat(ImageUploader): optimize image preview memory
  src/components/image-uploader/preview-item.tsx
Due: prettier --write

feat(ImageUploader): revert image-uploader
  src/components/image-uploader/image-uploader.tsx
Due: prettier --write

test(ImageUploader): fix test error
  src/components/image-uploader/tests/image-uploader.test.tsx
Due: prettier --write

test(ConfigProvider): fix test error
  src/components/config-provider/tests/config-provider.test.tsx
Due: prettier --write

refactor: trigger focus
  src/components/text-area/text-area.tsx
Due: prettier --write

fix: 修复switch在hd模式下宽度抖动
  src/components/switch/switch.less
Due: stylelint --fix

feat(ImageUploader): optimize the call of `onUploadQueueChange`
  src/components/image-uploader/image-uploader.tsx
Due: prettier --write

feat(ImageViewer): use index as the key
  src/components/image-viewer/slides.tsx
Due: prettier --write

feat(ImageUploader): add `itemRender` prop
  src/components/image-uploader/image-uploader.tsx
  src/components/image-uploader/index.en.md
  src/components/image-uploader/index.zh.md
Due: prettier --write

doc(ImageUploader): add doc for `onUploadQueueChange`
  src/components/image-uploader/image-uploader.tsx
  src/components/image-uploader/index.en.md
  src/components/image-uploader/index.zh.md
Due: prettier --write

test(ImageUploader): add test for `itemRender`
  src/components/image-uploader/tests/image-uploader.test.tsx
Due: prettier --write

feat: (calendar) add props: prevFarthestDate and nextFarthestDate
  src/components/calendar/calendar.tsx
Due: prettier --write

feat: (calendar) remove unused types and optimize the handlePageChange func
  src/components/calendar/calendar.tsx
Due: prettier --write

feat: (calendar) add demo in demo3
  src/components/calendar/demos/demo3.tsx
Due: prettier --write

enhance(ImageViewer): use index as the key (#5641)
  src/components/image-viewer/slides.tsx
Due: prettier --write

feat(ImageUploader): change to `useLayoutEffect`
  src/components/image-uploader/preview-item.tsx
Due: prettier --write

feat(Footer): adjust the API and implementation of Footer component
  src/components/footer/demos/demo1.tsx
  src/components/footer/footer.less
  src/components/footer/footer.tsx
  src/components/footer/index.en.md
  src/components/footer/index.zh.md
Due: prettier --write, stylelint --fix

doc(Footer): update demo
  src/components/footer/demos/demo1.tsx
  src/components/footer/index.en.md
  src/components/footer/index.zh.md
Due: prettier --write

test: remove useless test
  src/components/footer/tests/index.tsx
Due: prettier --write

doc(Footer): update demo
  src/components/footer/demos/demo1.tsx
Due: prettier --write

refactor(Footer): remove `tagProps`
  src/components/footer/demos/demo1.tsx
  src/components/footer/footer.tsx
Due: prettier --write
