Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": ["prettier --write"],
  "src/**/*.{less,css}": ["stylelint --fix"]
}

feat: (List) add `--padding-left`
  src/components/list/index.en.md
  src/components/list/index.zh.md
  src/components/list/list.less
  src/components/list/list.tsx
Due: prettier --write, stylelint --fix

fix: (switch) inner no center
  src/components/switch/switch.less
Due: stylelint --fix

enhance: (Form) adjust required mark style
  src/components/form/form-item.less
  src/components/form/form.less
Due: stylelint --fix

fix: (Tag) height not keeping same when content has Chinese characters
  src/components/tag/demos/index.tsx
  src/components/tag/tag.less
Due: prettier --write, stylelint --fix

fix: (ImageUploader) change the deleted logic to delete images by index (#4494)
  src/components/image-uploader/image-uploader.tsx
Due: prettier --write

fix: (SearchBar) text alignment
  src/components/search-bar/search-bar.less
Due: stylelint --fix

doc: adjust menus
  config/components.ts
  src/components/tree-select/index.en.md
  src/components/tree-select/index.zh.md
Due: none

refactor: (Swiper) `loop` defaults to `false` and `stuckAtBoundary` defaults to `true`
  src/components/swiper/demos/demo1.tsx
  src/components/swiper/demos/demo4.tsx
  src/components/swiper/demos/demo5.tsx
  src/components/swiper/index.en.md
  src/components/swiper/index.zh.md
  src/components/swiper/swiper.tsx
Due: prettier --write

chore: change version
  package.json
Due: none

feat: (Dropdown) Support 'ref' attribute to control closing
  src/components/dropdown/demos/demo1.tsx
  src/components/dropdown/dropdown.tsx
  src/components/dropdown/index.en.md
  src/components/dropdown/index.ts
  src/components/dropdown/index.zh.md
Due: prettier --write

deploy: ea11dd2d63fc1df65d462c309e56f69d11d73ee5
  404.html
  index.html
  umi.5c73cb45.js
  umi.926255c5.css
  umi.b08d86bc.js
  umi.e226fb9d.css
Due: none

doc: (Dropdown) Fix import path
  src/components/dropdown/demos/demo1.tsx
Due: prettier --write

feat: (Form) support the mode property
  src/components/form/form.tsx
  src/components/form/index.en.md
  src/components/form/index.zh.md
Due: prettier --write

enhance: (Toast) line-height
  src/components/toast/toast.less
Due: stylelint --fix

feat: (Icon) doc 2.0
  docs/components/icon/demo-all.less
  docs/components/icon/demo-all.tsx
  docs/components/icon/index.en.md
  docs/components/icon/index.zh.md
Due: none

feat: (Form) support the mode property (#4501)
  src/components/form/form.tsx
  src/components/form/index.en.md
  src/components/form/index.zh.md
Due: prettier --write

refactor: icon doc demo all
  docs/components/icon/demo-all.less
  docs/components/icon/demo-all.tsx
  docs/components/icon/index.en.md
  docs/components/icon/index.zh.md
Due: none

doc: (Icon) fix demo all header style
  docs/components/icon/demo-all.less
  docs/components/icon/demo-all.tsx
Due: none

doc: (Icon) remove unused line
  docs/components/icon/index.en.md
Due: none

doc: (Icon) doc 2.0 (#4505)
  docs/components/icon/demo-all.less
  docs/components/icon/demo-all.tsx
  docs/components/icon/index.en.md
  docs/components/icon/index.zh.md
Due: none

doc: (Dropdown) update demo
  src/components/dropdown/demos/demo1.tsx
Due: prettier --write

refactor: (Dropdown.Item) remove `closeOnContentClick` prop since we can use ref of Dropdown instead
  src/components/dropdown/demos/demo1.tsx
  src/components/dropdown/demos/demo2.tsx
  src/components/dropdown/dropdown.tsx
  src/components/dropdown/index.en.md
  src/components/dropdown/index.zh.md
  src/components/dropdown/item.tsx
Due: prettier --write

feat: (switch) Adjust the default border
  src/components/switch/index.en.md
  src/components/switch/index.zh.md
  src/components/switch/switch.less
Due: stylelint --fix

feat: (switch) Adjust the default size
  src/components/switch/switch.less
Due: stylelint --fix

fix: (NumberKeyboard) long press delete key not working
  config/config.ts
  src/components/number-keyboard/number-keyboard.tsx
Due: prettier --write

doc: avoid 300ms delay
  config/config.ts
  docs/guide/faq.en.md
  docs/guide/faq.zh.md
Due: none

fix(number-keyboard): 快速点击卡顿问题
  src/components/number-keyboard/number-keyboard.tsx
Due: prettier --write

test: 修复 number-keyboard 点击事件改成 touch end 后测试报错问题
  src/components/number-keyboard/tests/numberic-keyboard.test.tsx
Due: prettier --write

fix: (NumberKeyboard) backspace long press
  src/components/number-keyboard/number-keyboard.tsx
Due: prettier --write

fix: (NumberKeyboard) fix the click events may not trigger when pressing fast (#4414)
  src/components/number-keyboard/number-keyboard.tsx
  src/components/number-keyboard/tests/numberic-keyboard.test.tsx
Due: prettier --write

fix: (VirtualInput) only show clear button when focus
  src/components/virtual-input/virtual-input.less
  src/components/virtual-input/virtual-input.tsx
Due: prettier --write, stylelint --fix

chore: update issue templates
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
Due: none

fix: (VirtualInput) Fixed that the keyboard did not really lose focus when it was closed
  src/components/virtual-input/virtual-input.tsx
Due: prettier --write

doc: (VirtualInput) add 'clearable' attribute
  src/components/virtual-input/index.en.md
  src/components/virtual-input/index.zh.md
Due: none

chore: (CascaderView) adjust import order
  src/components/cascader-view/index.ts
Due: prettier --write

fix: (CascaderView) CSS priority
  src/components/cascader-view/cascader-view.less
Due: stylelint --fix

feat: (DatePicker) add `filter` prop
  src/components/date-picker-view/date-picker-view.tsx
  src/components/date-picker-view/demos/demo1.tsx
  src/components/date-picker-view/demos/demo2.tsx
  src/components/date-picker/date-picker-date-utils.ts
  src/components/date-picker/date-picker-utils.ts
  src/components/date-picker/date-picker-week-utils.ts
  src/components/date-picker/date-picker.tsx
  src/components/date-picker/index.ts
  src/components/picker-view/index.en.md
  src/components/picker-view/index.zh.md
  src/components/picker/index.en.md
  src/components/picker/index.zh.md
Due: prettier --write

fix: (DatePicker) type import error
  src/components/date-picker/date-picker-week-utils.ts
Due: prettier --write
