Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": ["prettier --write"],
  "src/**/*.{less,css}": ["stylelint --fix"]
}

feat(DatePicker): add quarter precision (#6664)
  .github/workflows/check.yml
  .github/workflows/compressed-size.yml
  .github/workflows/doc-site.yml
  .github/workflows/preview-build.yml
  src/components/date-picker-view/demos/demo1.tsx
  src/components/date-picker-view/demos/demo2.tsx
  src/components/date-picker/date-picker-quarter-utils.ts
  src/components/date-picker/date-picker-utils.ts
  src/components/date-picker/demos/demo1.tsx
  src/components/date-picker/tests/date-picker.test.tsx
  src/components/picker-view/index.en.md
  src/components/picker-view/index.zh.md
  src/components/picker/index.en.md
  src/components/picker/index.zh.md
Due: prettier --write

docs: remove `--save` flag and fix typos in README.md
  README.md
Due: none

docs: remove `--save` flag and fix typos in README.md (#6669)
  README.md
Due: none

docs(ListItem): add arrowIcon demo
  src/components/list/demos/demo1.tsx
Due: prettier --write

docs(ListItem): use ArrowsAltOutline icon
  src/components/list/demos/demo1.tsx
Due: prettier --write

docs(ListItem): add arrowIcon demo (#6673)
  src/components/list/demos/demo1.tsx
Due: prettier --write

Update demo1.tsx(Switch 添加valuePropName属性)
  src/components/form/demos/demo1.tsx
Due: prettier --write

docs: Update demo1.tsx(Switch 添加valuePropName属性) (#6675)
  src/components/form/demos/demo1.tsx
Due: prettier --write

feat(CalendarPickerView): title support boolean value to control whether to hide
  src/components/calendar-picker-view/calendar-picker-view.tsx
Due: prettier --write

docs(CalendarPickerView): improve the document type of the title
  src/components/calendar-picker-view/calendar-picker-view.en.md
  src/components/calendar-picker-view/calendar-picker-view.zh.md
Due: none

refactor: title boolean type only support false
  src/components/calendar-picker-view/calendar-picker-view.tsx
Due: prettier --write

docs(CalendarPickerView): title boolean type only support false
  src/components/calendar-picker-view/calendar-picker-view.en.md
  src/components/calendar-picker-view/calendar-picker-view.zh.md
Due: none

test(CalendarPickerView): add title false case
  src/components/calendar-picker-view/tests/calendar-picker-view.test.tsx
Due: prettier --write

enhance: showHeader remove useMemo
  src/components/calendar-picker-view/calendar-picker-view.tsx
Due: prettier --write

test: unified class name variable
  src/components/calendar-picker-view/tests/calendar-picker-view.test.tsx
Due: prettier --write

feat(CalendarPickerView): title support boolean value to control whether to hide (#6676)
  src/components/calendar-picker-view/calendar-picker-view.en.md
  src/components/calendar-picker-view/calendar-picker-view.tsx
  src/components/calendar-picker-view/calendar-picker-view.zh.md
  src/components/calendar-picker-view/tests/calendar-picker-view.test.tsx
Due: prettier --write

test: unified class name variable (#6677)
  src/components/calendar-picker-view/tests/calendar-picker-view.test.tsx
Due: prettier --write

feat: add link color
  pnpm-lock.yaml
  src/components/button/button.less
  src/components/button/button.tsx
  src/components/button/demos/demo1.tsx
Due: prettier --write, stylelint --fix

feat: add link color
  src/components/button/tests/button.test.tsx
Due: prettier --write

fix(locale): 修复补充哈萨克语翻译
  src/locales/kk-KZ.ts
Due: prettier --write

fix(locale): 修复补充哈萨克语翻译 (#6680)
  src/locales/kk-KZ.ts
Due: prettier --write

feat(Card): icon prop
  src/components/card/card.less
  src/components/card/card.patch.less
  src/components/card/card.tsx
  src/components/card/demos/demo1.tsx
  src/components/card/index.en.md
  src/components/card/index.zh.md
  src/components/card/tests/card.test.tsx
Due: prettier --write, stylelint --fix

feat(Card): icon prop (#6683)
  src/components/card/card.less
  src/components/card/card.patch.less
  src/components/card/card.tsx
  src/components/card/demos/demo1.tsx
  src/components/card/index.en.md
  src/components/card/index.zh.md
  src/components/card/tests/card.test.tsx
Due: prettier --write, stylelint --fix

feat: add --adm-color-link
  src/components/button/button.less
  src/global/theme-dark.less
  src/global/theme-default.less
Due: stylelint --fix

fix: pnpm lock file
  pnpm-lock.yaml
Due: none

fix: rtl mode change not has init animate
  src/components/tabs/tabs.tsx
Due: prettier --write

fix: watch activeLineMode change init animate
  src/components/tabs/tabs.tsx
Due: prettier --write

fix: rtl mode change not has init animate (#6686)
  src/components/tabs/tabs.tsx
Due: prettier --write

fix: remove aria-hidden
  src/components/image-uploader/image-uploader.tsx
Due: prettier --write

test: update snap
  src/components/image-uploader/image-uploader.tsx
  src/components/image-uploader/tests/__snapshots__/image-uploader.test.tsx.snap
Due: prettier --write

test: update config-provider snap
  src/components/config-provider/tests/__snapshots__/config-provider.test.tsx.snap
Due: none

fix: remove aria-hidden
  src/components/config-provider/tests/__snapshots__/config-provider.test.tsx.snap
  src/components/image-uploader/image-uploader.tsx
  src/components/image-uploader/tests/__snapshots__/image-uploader.test.tsx.snap
Due: prettier --write

fix: remove aria-hidden (#6688)
  src/components/config-provider/tests/__snapshots__/config-provider.test.tsx.snap
  src/components/image-uploader/image-uploader.tsx
  src/components/image-uploader/tests/__snapshots__/image-uploader.test.tsx.snap
Due: prettier --write

chore: :wrench: update test snapshot (#6681)
  src/components/config-provider/tests/__snapshots__/config-provider.test.tsx.snap
Due: none

fix: kk-KZ locale (#6681)
  src/components/config-provider/tests/__snapshots__/config-provider.test.tsx.snap
  src/locales/kk-KZ.ts
Due: prettier --write

chore: upgrade rc-field-form dependencies ~1.27.4 to ^1.34.2
  package.json
Due: none

chore: update lock
  pnpm-lock.yaml
Due: none

feat(alert): new component
  config/components.ts
  package.json
  src/components/alert/alert.less
  src/components/alert/alert.tsx
  src/components/alert/demos/demo1.tsx
  src/components/alert/getFallbackIcon.tsx
  src/components/alert/index.en.md
  src/components/alert/index.ts
  src/components/alert/index.zh.md
  src/components/alert/tests/alert.test.tsx
  src/global/theme-dark.less
  src/global/theme-default.less
  src/index.ts
Due: prettier --write, stylelint --fix

chore: upgrade rc-field-form dependencies ~1.27.4 to ^1.34.2 (#6690)
  package.json
  pnpm-lock.yaml
Due: none

修复某些情况下document.body为null时报错的问题
  src/utils/convert-px.ts
Due: prettier --write
