Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

fix: (Input) only show clear icon when focus
  src/components/input/input.tsx
Due: prettier --write

enhance: (Tabs) adjust style
  src/components/tabs/demos/demo1.tsx
  src/components/tabs/index.en.md
  src/components/tabs/index.zh.md
  src/components/tabs/tabs.less
Due: prettier --write, stylelint --fix

fix: (Badge) elment height in Safari
  src/components/badge/badge.less
Due: stylelint --fix

enhance: (CapsuleTabs) adjust font-size
  src/components/capsule-tabs/capsule-tabs.less
Due: stylelint --fix

enhance: (JumboTabs) adjust gap size
  src/components/jumbo-tabs/demos/demo1.tsx
  src/components/jumbo-tabs/jumbo-tabs.less
Due: prettier --write, stylelint --fix

fix: (Avatar) add nativeProps `--border-radius` (#4719)
  src/components/avatar/avatar.tsx
Due: prettier --write

feat: (SwipeAction) add event param to `onAction`
  src/components/swipe-action/index.en.md
  src/components/swipe-action/index.zh.md
  src/components/swipe-action/swipe-action.tsx
Due: prettier --write

enhance: (Swiper) prevent invalid calls of `onIndexChange`
  src/components/swiper/swiper.tsx
Due: prettier --write

chore: adjust build script
  gulpfile.js
Due: none

doc: update qrcode
  docs/components/home-page.tsx
  docs/guide/quick-start.zh.md
Due: none

fix: getScrollParent does not work when element is `overflow: overlay`
  src/utils/get-scroll-parent.ts
Due: prettier --write

doc: (Input) demos
  src/components/input/demos/demo1.tsx
  src/components/input/demos/demo2.tsx
  src/components/input/index.en.md
  src/components/input/index.zh.md
Due: prettier --write

fix: (Form) extra part not aligning properly
  src/components/form/form.less
Due: stylelint --fix

doc: (Input) update demo with extra
  src/components/input/demos/demo2.less
  src/components/input/demos/demo2.tsx
Due: prettier --write, stylelint --fix

refactor: (Input) adjust the disable style and remove `--disabled-color`
  src/components/input/demos/demo2.less
  src/components/input/index.en.md
  src/components/input/index.zh.md
  src/components/input/input.less
  src/components/input/input.tsx
Due: prettier --write, stylelint --fix

enhance: (Input) adjust clear icon padding
  src/components/input/input.less
  src/components/input/input.tsx
Due: prettier --write, stylelint --fix

fix: replace `lodash` with `lodash-es` (#4175)
  package.json
  src/components/cascader-view/use-cascader-value-extend.tsx
  src/components/picker-view/use-picker-value-extend.tsx
  src/components/picker-view/wheel.tsx
  src/utils/merge-locale.ts
  src/utils/with-default-props.tsx
  yarn.lock
Due: prettier --write

enhance: (Selector) adjust style
  src/components/selector/demos/demo1.tsx
  src/components/selector/selector.less
Due: prettier --write, stylelint --fix

fix: replace `lodash` with `lodash-es` (#4723)
  package.json
  src/components/cascader-view/use-cascader-value-extend.tsx
  src/components/picker-view/use-picker-value-extend.tsx
  src/components/picker-view/wheel.tsx
  src/utils/merge-locale.ts
  src/utils/with-default-props.tsx
  yarn.lock
Due: prettier --write

enhance: (NavBar) adjust style
  src/components/nav-bar/demos/demo1.tsx
  src/components/nav-bar/nav-bar.less
Due: prettier --write, stylelint --fix

feat: (FloatingPanel) add onHeightChange
  src/components/floating-panel/demos/demo1.tsx
  src/components/floating-panel/floating-panel.tsx
  src/components/floating-panel/index.en.md
  src/components/floating-panel/index.zh.md
Due: prettier --write

doc: update popup doc
  src/components/popup/index.en.md
  src/components/popup/index.zh.md
Due: none

fix: (ErrorBlock) perfect `NativeProps`
  src/components/error-block/error-block.tsx
Due: prettier --write

fix: (List) perfect `NativeProps`
  src/components/list/list.tsx
Due: prettier --write

fix: (NoticeBar) perfect `NativeProps`
  src/components/notice-bar/notice-bar.tsx
Due: prettier --write

doc: (Result) add css variables
  src/components/result/index.en.md
  src/components/result/index.zh.md
  src/components/result/result.tsx
Due: prettier --write

Revert "fix: replace `lodash` with `lodash-es` (#4723)"
  package.json
  src/components/cascader-view/use-cascader-value-extend.tsx
  src/components/picker-view/use-picker-value-extend.tsx
  src/components/picker-view/wheel.tsx
  src/utils/merge-locale.ts
  src/utils/with-default-props.tsx
  yarn.lock
Due: prettier --write

fix: some CSS variables (#4728)
  src/components/error-block/error-block.tsx
  src/components/list/list.tsx
  src/components/notice-bar/notice-bar.tsx
Due: prettier --write

doc: update popup doc (#4727)
  src/components/popup/index.en.md
  src/components/popup/index.zh.md
Due: none

refactor: (Input & Stepper) refactor the DOM structure of Input
  src/components/input/input.less
  src/components/input/input.tsx
  src/components/search-bar/search-bar.less
  src/components/stepper/stepper.less
  src/components/stepper/stepper.tsx
Due: prettier --write, stylelint --fix

doc: update qr code image
  README.md
Due: none

enhance: (Checkbox) adjust style
  src/components/checkbox/checkbox.less
  src/components/checkbox/checkbox.tsx
Due: prettier --write, stylelint --fix

enhance: (Tag) adjust style
  src/components/tag/tag.less
Due: stylelint --fix

chore: (Radio) adjust style
  src/components/radio/radio.less
Due: stylelint --fix

feat: (FloatingPanel) add `onHeightChange` prop
  src/components/floating-panel/demos/demo1.tsx
  src/components/floating-panel/floating-panel.tsx
  src/components/floating-panel/index.en.md
  src/components/floating-panel/index.zh.md
Due: prettier --write

feat: (FloatingPanel) add `onHeightChange` prop (#4724)
  src/components/floating-panel/demos/demo1.tsx
  src/components/floating-panel/floating-panel.tsx
  src/components/floating-panel/index.en.md
  src/components/floating-panel/index.zh.md
Due: prettier --write

doc: (InfiniteScroll) update demos
  src/components/infinite-scroll/index.en.md
Due: none

refactor: (SpinLoading) reimplement SpinLoading to prevent bugs on Safari when using rem layout
  src/components/spin-loading/spin-loading.less
  src/components/spin-loading/spin-loading.tsx
Due: prettier --write, stylelint --fix

doc: (ProgressCircle) add FAQ
  src/components/progress-circle/index.en.md
  src/components/progress-circle/index.zh.md
Due: none

chore: upgrade dependencies
  package.json
  yarn.lock
Due: none

Path conditions:
  prettier --write: any of: src/**/*.{ts,tsx}
  stylelint --fix: any of: src/**/*.{less,css}
