Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": ["prettier --write"],
  "src/**/*.{less,css}": ["stylelint --fix"]
}

feat: 添加showPercent API，同时解决display的时候，进度条消失
  src/components/progress-bar/demos/index.tsx
  src/components/progress-bar/index.md
  src/components/progress-bar/progress-bar.tsx
Due: prettier --write

fix: 调整代码
  src/components/progress-bar/progress-bar.tsx
Due: prettier --write

refactor: NumberKeyboard
  src/components/number-keyboard/demos/index.tsx
  src/components/number-keyboard/index.md
  src/components/number-keyboard/number-keyboard.tsx
Due: prettier --write

enhance: NumberKeyboard
  config/components.ts
  src/components/number-keyboard/number-keyboard.less
  src/components/number-keyboard/number-keyboard.tsx
Due: prettier --write, stylelint --fix

fix: List.Item onClick
  src/components/check-list/check-list-item.tsx
  src/components/list/index.md
Due: prettier --write

doc: List
  src/components/list/index.en.md
Due: none

feat: (Input) add `minLength` `max` `min` props
  src/components/input/index.md
  src/components/input/input.tsx
Due: prettier --write

doc: theme
  docs/guide/theme.md
Due: none

doc: add 404
  docs/404.en.md
  docs/404.zh.md
Due: none

doc: quick start
  docs/guide/codesandbox.tsx
  docs/guide/quick-start.md
Due: none

doc: TabBar.Item badge
  src/components/tab-bar/demos/index.tsx
  src/components/tab-bar/index.md
Due: prettier --write

fix: (Swiper) reset Swiper.Item `white-space` to `normal`
  src/components/swiper/swiper.less
Due: stylelint --fix

enhance: prevent Result throwing error
  src/components/result/result.tsx
Due: prettier --write

enhance: Tabbar.Item icon
  src/components/tab-bar/index.md
  src/components/tab-bar/tab-bar.tsx
Due: prettier --write

enhance: Tabbar.Item icon demo
  src/components/tab-bar/demos/index.tsx
Due: prettier --write

chore: update version
  .github/CONTRIBUTING.md
  package.json
Due: none

deploy: 4d7634f81effcd8f8611d37b4e392fba71ee2675
  umi.css
  umi.js
Due: none

chore: pre-commit add shebang
  .husky/pre-commit
Due: none

feat: DatePicker add `title` prop
  src/components/date-picker/date-picker.tsx
  src/components/picker/demos/date-picker-demo.tsx
  src/components/picker/index.md
Due: prettier --write

fix: ellipsis mixcalculated
  src/components/ellipsis/ellipsis.tsx
Due: prettier --write

feat: change PageIndicator CSS variable
  src/components/page-indicator/demos/demo1.tsx
  src/components/page-indicator/index.md
  src/components/page-indicator/page-indicator.less
  src/components/page-indicator/page-indicator.tsx
Due: prettier --write, stylelint --fix

doc: Badge
  src/components/badge/badge.tsx
  src/components/badge/index.md
Due: prettier --write

feat: SideBar
  config/components.ts
  src/components/side-bar/demos/index.tsx
  src/components/side-bar/index.md
  src/components/side-bar/index.ts
  src/components/side-bar/side-bar.less
  src/components/side-bar/side-bar.tsx
  src/index.ts
Due: prettier --write, stylelint --fix

doc: update the order of side-bar
  config/components.ts
Due: none

Update 404.en.md
  docs/404.en.md
Due: none

Translated Experimental Components to English
  docs/components/what-is-experimental.en.md
  docs/components/what-is-experimental.zh.md
Due: none

doc: English version of quick start
  docs/guide/quick-start.en.md
  docs/guide/quick-start.zh.md
Due: none

doc: add google analytics
  config/config.ts
Due: none

deploy: ec3b27feef54b0ce9c8aa1d780e137fcb50623f0
  404.html
  index.html
  umi.js
Due: none

doc: quick start
  docs/guide/quick-start.en.md
Due: none

translated server side rendering documentation to english
  docs/guide/ssr.en.md
  docs/guide/ssr.zh.md
Due: none

action sheet api
  src/components/action-sheet/index.en.md
  src/components/action-sheet/index.zh.md
Due: none

name prop
  src/components/action-sheet/index.en.md
Due: none

badge en
  src/components/badge/index.en.md
  src/components/badge/index.zh.md
Due: none

card en
  src/components/card/index.en.md
  src/components/card/index.zh.md
Due: none

check-list en
  src/components/check-list/index.en.md
  src/components/check-list/index.zh.md
Due: none

checkbox en
  src/components/checkbox/index.en.md
  src/components/checkbox/index.zh.md
Due: none

collapse en
  src/components/collapse/index.en.md
  src/components/collapse/index.zh.md
Due: none

desense-text en
  src/components/desense-text/index.en.md
  src/components/desense-text/index.zh.md
Due: none
