Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": ["prettier --write"],
  "src/**/*.{less,css}": ["stylelint --fix"]
}

style: 触发ci
  src/components/picker-view/wheel.tsx
Due: prettier --write

doc: update TabBar name
  src/components/tab-bar/index.en.md
  src/components/tab-bar/index.zh.md
Due: none

style: repair push(child) type warning (#6163)
  src/components/calendar/convert.ts
  src/components/capsule-tabs/capsule-tabs.tsx
  src/components/collapse/collapse.tsx
  src/components/dropdown/dropdown.tsx
  src/components/jumbo-tabs/jumbo-tabs.tsx
  src/components/rate/star.tsx
  src/components/safe-area/safe-area.tsx
  src/components/side-bar/side-bar.tsx
  src/components/skeleton/skeleton.tsx
  src/components/tab-bar/tab-bar.tsx
  src/components/tabs/tabs.tsx
Due: prettier --write

fix(Input): fix the display issue of numbers starting with 0 (#6217)
  src/components/input/input.tsx
  src/components/input/tests/input.test.tsx
Due: prettier --write

doc: simplified description of destroyOnClose
  src/components/action-sheet/index.en.md
  src/components/action-sheet/index.zh.md
  src/components/capsule-tabs/index.en.md
  src/components/capsule-tabs/index.zh.md
  src/components/cascader/index.en.md
  src/components/cascader/index.zh.md
  src/components/collapse/index.en.md
  src/components/collapse/index.zh.md
  src/components/dialog/index.en.md
  src/components/dialog/index.zh.md
  src/components/dropdown/index.en.md
  src/components/dropdown/index.zh.md
  src/components/jumbo-tabs/index.en.md
  src/components/jumbo-tabs/index.zh.md
  src/components/mask/index.en.md
  src/components/mask/index.zh.md
  src/components/modal/index.en.md
  src/components/modal/index.zh.md
  src/components/number-keyboard/index.en.md
  src/components/number-keyboard/index.zh.md
  src/components/picker/index.en.md
  src/components/picker/index.zh.md
  src/components/popup/index.en.md
  src/components/popup/index.zh.md
  src/components/tabs/index.en.md
  src/components/tabs/index.zh.md
Due: none

doc: update TabBar name (#6219)
  src/components/tab-bar/index.en.md
  src/components/tab-bar/index.zh.md
Due: none

doc: Simplified description of destroyOnClose (#6221)
  src/components/action-sheet/index.en.md
  src/components/action-sheet/index.zh.md
  src/components/capsule-tabs/index.en.md
  src/components/capsule-tabs/index.zh.md
  src/components/cascader/index.en.md
  src/components/cascader/index.zh.md
  src/components/collapse/index.en.md
  src/components/collapse/index.zh.md
  src/components/dialog/index.en.md
  src/components/dialog/index.zh.md
  src/components/dropdown/index.en.md
  src/components/dropdown/index.zh.md
  src/components/jumbo-tabs/index.en.md
  src/components/jumbo-tabs/index.zh.md
  src/components/mask/index.en.md
  src/components/mask/index.zh.md
  src/components/modal/index.en.md
  src/components/modal/index.zh.md
  src/components/number-keyboard/index.en.md
  src/components/number-keyboard/index.zh.md
  src/components/picker/index.en.md
  src/components/picker/index.zh.md
  src/components/popup/index.en.md
  src/components/popup/index.zh.md
  src/components/tabs/index.en.md
  src/components/tabs/index.zh.md
Due: none

feat: add ru-RU
  docs/guide/i18n.en.md
  docs/guide/i18n.zh.md
  src/components/config-provider/tests/__snapshots__/config-provider.test.tsx.snap
  src/components/config-provider/tests/config-provider.test.tsx
Due: prettier --write

doc: infinitescroll组件语义修改&cascaderview骨架屏demo案例修复
  src/components/cascader-view/demos/demo1.tsx
  src/components/cascader/cascader.tsx
  src/components/infinite-scroll/index.en.md
  src/components/infinite-scroll/index.zh.md
Due: prettier --write

feat: russian language support added
  docs/guide/i18n.en.md
  docs/guide/i18n.zh.md
  src/components/config-provider/tests/__snapshots__/config-provider.test.tsx.snap
  src/components/config-provider/tests/config-provider.test.tsx
  src/locales/ru-RU.ts
Due: prettier --write

feat: russian language support added (#6224)
  docs/guide/i18n.en.md
  docs/guide/i18n.zh.md
  src/components/config-provider/tests/__snapshots__/config-provider.test.tsx.snap
  src/components/config-provider/tests/config-provider.test.tsx
  src/locales/ru-RU.ts
Due: prettier --write

doc: 补充casvader的loading属性
  src/components/cascader/index.en.md
  src/components/cascader/index.zh.md
Due: none

test: fix failed test
  src/components/cascade-picker-view/tests/cascade-picker-view.test.tsx
Due: prettier --write

test: fix failed test (#6226)
  src/components/cascade-picker-view/tests/cascade-picker-view.test.tsx
Due: prettier --write

doc: update docs
  src/components/cascader-view/demos/demo1.tsx
Due: prettier --write

test: fix failed test
  src/components/passcode-input/tests/passcode-input.test.tsx
Due: prettier --write

doc: update Cascader&Cascaderview&Infinitescroll docs (#6225)
  src/components/cascader-view/demos/demo1.tsx
  src/components/cascader/cascader.tsx
  src/components/cascader/index.en.md
  src/components/cascader/index.zh.md
  src/components/infinite-scroll/index.en.md
  src/components/infinite-scroll/index.zh.md
Due: prettier --write

enhance: label add stopPropagation
  src/components/radio/radio.tsx
Due: prettier --write

enhance: radio add click event
  src/components/radio/index.en.md
  src/components/radio/index.zh.md
  src/components/radio/radio.tsx
Due: prettier --write

fix: fix placeholder show when value is number 0 on virtual-input
  src/components/virtual-input/virtual-input.tsx
Due: prettier --write

test: add click case
  src/components/radio/tests/radio.test.tsx
Due: prettier --write

enhance: Radio add click event (#6228)
  src/components/radio/index.en.md
  src/components/radio/index.zh.md
  src/components/radio/radio.tsx
  src/components/radio/tests/radio.test.tsx
Due: prettier --write

doc: update SwupeAction doc
  src/components/swipe-action/index.en.md
  src/components/swipe-action/index.zh.md
Due: none

doc: update ProgressBar ProgressCircle doc
  src/components/progress-bar/index.zh.md
  src/components/progress-circle/index.zh.md
Due: none

doc: update Popover doc
  src/components/popover/index.en.md
  src/components/popover/index.zh.md
Due: none

doc: update Switch doc
  src/components/switch/index.en.md
Due: none

docs: update doc of SwipeAction ProgressBar ProgressCircle Popover Switch (#6232)
  src/components/popover/index.en.md
  src/components/popover/index.zh.md
  src/components/progress-bar/index.zh.md
  src/components/progress-circle/index.zh.md
  src/components/swipe-action/index.en.md
  src/components/swipe-action/index.zh.md
  src/components/switch/index.en.md
Due: none

test: fix failed test (#6227)
  src/components/passcode-input/tests/passcode-input.test.tsx
Due: prettier --write

doc: update docs
  src/components/checkbox/index.en.md
  src/components/checkbox/index.zh.md
  src/components/ellipsis/index.en.md
  src/components/ellipsis/index.zh.md
  src/components/picker/index.zh.md
  src/components/radio/index.zh.md
  src/components/selector/index.en.md
  src/components/selector/index.zh.md
  src/components/stepper/index.en.md
  src/components/stepper/index.zh.md
  src/components/switch/index.en.md
Due: none

doc: update doc
  src/components/ellipsis/index.en.md
  src/components/ellipsis/index.zh.md
Due: none

doc: Improve doc descriptions of some components (#6233)
  src/components/checkbox/index.en.md
  src/components/checkbox/index.zh.md
  src/components/picker/index.zh.md
  src/components/radio/index.zh.md
  src/components/selector/index.en.md
  src/components/selector/index.zh.md
  src/components/stepper/index.en.md
  src/components/stepper/index.zh.md
  src/components/switch/index.en.md
Due: none

enhance: checkbox add click event
  src/components/checkbox/checkbox.tsx
  src/components/checkbox/index.en.md
  src/components/checkbox/index.zh.md
Due: prettier --write

test: add click case
  src/components/checkbox/tests/checkbox.test.tsx
Due: prettier --write

enhance: Checkbox add click event (#6235)
  src/components/checkbox/checkbox.tsx
  src/components/checkbox/index.en.md
  src/components/checkbox/index.zh.md
  src/components/checkbox/tests/checkbox.test.tsx
Due: prettier --write

feat(DatePickerView): support till now
  src/components/date-picker-view/date-picker-view.tsx
  src/components/date-picker-view/demos/demo1.tsx
  src/components/date-picker-view/tests/date-picker-view.test.tsx
  src/components/picker-view/index.en.md
  src/components/picker-view/index.zh.md
Due: prettier --write

feat(DatePickerView): support till now (#6236)
  src/components/date-picker-view/date-picker-view.tsx
  src/components/date-picker-view/demos/demo1.tsx
  src/components/date-picker-view/tests/date-picker-view.test.tsx
  src/components/picker-view/index.en.md
  src/components/picker-view/index.zh.md
Due: prettier --write

feat: 变更extra的类型
  src/components/form/form-item.tsx
Due: prettier --write

fix: hidden textarea element is not positioned relative to its parent
  src/components/text-area/text-area.less
Due: stylelint --fix

test: add value `0`
  src/components/virtual-input/tests/virtual-input.test.tsx
Due: prettier --write

fix: virtual input value 0 (#6231)
  src/components/virtual-input/tests/virtual-input.test.tsx
  src/components/virtual-input/virtual-input.tsx
Due: prettier --write
