Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": ["prettier --write"],
  "src/**/*.{less,css}": ["stylelint --fix"]
}

test(SwipeAction): fix failed test
  src/components/swipe-action/tests/swipe-action.test.tsx
Due: prettier --write

fix(ResultPage): btn max-width sometimes failed
  src/components/result-page/result-page.less
Due: stylelint --fix

refactor(SwipeAction): adjust the implementation of `draggingRef` and `dragDownRef`
  src/components/swipe-action/swipe-action.tsx
Due: prettier --write

test(SwipeAction): fix failed test (#5515)
  src/components/swipe-action/tests/swipe-action.test.tsx
Due: prettier --write

fix(SwipeAction): fix long press
  src/components/swipe-action/swipe-action.tsx
Due: prettier --write

test(SwipeAction): fix failed tests and use `mockDrag` util
  src/components/swipe-action/tests/swipe-action.test.tsx
Due: prettier --write

test(SwipeAction): fix failed tests and use `mockDrag` util (#5519)
  src/components/swipe-action/tests/swipe-action.test.tsx
Due: prettier --write

refactor(SwipeAction): adjust the implementation (#5517)
  src/components/swipe-action/swipe-action.tsx
Due: prettier --write

chore: upgrade some dependencies
  package.json
  pnpm-lock.yaml
Due: none

chore: change version to 5.20.0
  package.json
Due: none

chore: fix lockfile
  pnpm-lock.yaml
Due: none

fix(picker-view): wheel is not updated when renderLabel is updated
  src/components/picker-view/wheel.tsx
Due: prettier --write

fix(PickerView): add `mouseWheel` to custom memo compare
  src/components/picker-view/wheel.tsx
Due: prettier --write

fix(Picker): wheel is not updated when `renderLabel` or `mouseWheel` is updated (#5520)
  src/components/picker-view/wheel.tsx
Due: prettier --write

fix(Swiper): add swiper count dependency when autoplay
  src/components/swiper/swiper.tsx
Due: prettier --write

feat: wrapper tap replace click
  src/components/rate/rate.less
  src/components/rate/rate.tsx
Due: prettier --write, stylelint --fix

fix(Swiper): add swiper count dependency when autoplay (#5521)
  src/components/swiper/swiper.tsx
Due: prettier --write

test(Rate): add some test
  src/components/rate/rate.tsx
  src/components/rate/tests/rate.test.tsx
Due: prettier --write

feat(Form): `FormItemProps` complements more `RcFieldProps`
  src/components/form/form-item.tsx
Due: prettier --write

enhance(PullToRefresh): support pull up and then pull down to trigger update
  src/components/pull-to-refresh/pull-to-refresh.tsx
Due: prettier --write

feat(Rate): add transition for star
  src/components/rate/rate.less
Due: stylelint --fix

test(Swiper): add autoplay test when the length of item changes
  src/components/swiper/tests/swiper.test.tsx
Due: prettier --write

test(Swiper): replace `drag` with `mockDrag` util
  src/components/swiper/tests/swiper.test.tsx
Due: prettier --write

fix: babel-plugin-import配置ahooks按需加载后报错
  src/utils/use-isomorphic-update-layout-effect.tsx
Due: prettier --write

doc(Form): `FormItemProps` complements more `RcFieldProps`
  src/components/form/form-item.tsx
  src/components/form/index.en.md
  src/components/form/index.zh.md
Due: prettier --write

test(Rate): improve
  src/components/rate/tests/rate.test.tsx
Due: prettier --write

chore: upgrade `@floating-ui/dom` to `1.0.0`
  package.json
  pnpm-lock.yaml
Due: none

fix(PullToRefresh): fix always trigger update when pull down
  src/components/pull-to-refresh/pull-to-refresh.tsx
Due: prettier --write

enhance(ResultPage): api update
  src/components/result-page/demos/demo2.tsx
  src/components/result-page/demos/demo3.tsx
  src/components/result-page/demos/demo4.tsx
  src/components/result-page/demos/demo5.tsx
  src/components/result-page/index.en.md
  src/components/result-page/index.ts
  src/components/result-page/index.zh.md
  src/components/result-page/result-page-card.tsx
  src/components/result-page/result-page.less
  src/components/result-page/result-page.tsx
Due: prettier --write, stylelint --fix

fix(PullToRefresh): fix can't be released after being pulled down
  src/components/pull-to-refresh/pull-to-refresh.tsx
Due: prettier --write

refactor(ResultPage): adjust some logic
  src/components/result-page/result-page.tsx
Due: prettier --write

doc: move ResultPage to experimental components
  config/components.ts
  src/components/result-page/index.en.md
  src/components/result-page/index.zh.md
Due: none

chore: upgrade ahooks to 3.7.0
  package.json
  pnpm-lock.yaml
Due: none

doc: some Android phones do not support capture
  src/components/image-uploader/index.zh.md
Due: none

doc: gallery page remove body margin
  .dumi/plugin-gallery/gallery.less
Due: none

doc: gallery page remove body margin (#5543)
  .dumi/plugin-gallery/gallery.less
Due: none

chore: upgrade ahooks to 3.7.0 (#5541)
  package.json
  pnpm-lock.yaml
Due: none

chore: change version
  package.json
Due: none
