Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": ["prettier --write"],
  "src/**/*.{less,css}": ["stylelint --fix"]
}

feat(CascaderView): add onTabsChange prop
  src/components/cascader-view/cascader-view.tsx
  src/components/cascader-view/index.en.md
  src/components/cascader-view/index.zh.md
  src/components/mask/mask.tsx
Due: prettier --write

feat(Popover): add `popover` prop
  src/components/slider/demos/demo1.tsx
  src/components/slider/index.en.md
  src/components/slider/index.zh.md
  src/components/slider/slider.tsx
  src/components/slider/thumb.tsx
Due: prettier --write

doc(Slider): split demos
  src/components/slider/demos/demo1.tsx
  src/components/slider/demos/demo2.less
  src/components/slider/demos/demo2.tsx
  src/components/slider/index.en.md
  src/components/slider/index.zh.md
Due: prettier --write, stylelint --fix

chore: remove defining unused code
  src/components/mask/mask.tsx
Due: prettier --write

feat: add test
  src/components/cascader-view/tests/cascader-view.test.tsx
Due: prettier --write

chore: fix lint issue
  src/components/slider/thumb.tsx
Due: prettier --write

feat(Cascader): add onTabsChange prop
  src/components/cascader/cascader.tsx
  src/components/cascader/index.en.md
  src/components/cascader/index.zh.md
  src/components/cascader/tests/cascader.test.tsx
Due: prettier --write

fix(Popover): fix Popover may cause render error in some lower version OSs due to the use of ResizeObserver
  src/components/popover/popover.tsx
Due: prettier --write

chore: change version
  package.json
Due: none

deploy: 321d2684fa2a701276ba172f0d24bfab3922a3b7
  404.html
  index.html
  umi.5811fbd7.css
  umi.6b2d71d9.js
  umi.6b3625e7.css
  umi.c2203773.js
Due: none

deploy: 01228c61175df8021a5d9198bf132994692ab5fe
  404.html
  index.html
  umi.3ad345d9.js
  umi.5811fbd7.css
  umi.6b2d71d9.js
  umi.6b3625e7.css
Due: none

refactor(Cascader & CascaderView): adjust `onTabsChange` params
  src/components/cascader-view/cascader-view.tsx
  src/components/cascader-view/index.en.md
  src/components/cascader-view/index.zh.md
  src/components/cascader/cascader.tsx
  src/components/cascader/index.en.md
  src/components/cascader/index.zh.md
Due: prettier --write

doc: update FAQ
  docs/guide/faq.en.md
  docs/guide/faq.zh.md
Due: none

enhance(Swiper): adjust ts definition
  src/components/swiper/swiper.tsx
Due: prettier --write

test(Swiper): add some tests
  src/components/swiper/tests/__snapshots__/swiper.test.tsx.snap
  src/components/swiper/tests/swiper.test.tsx
Due: prettier --write

test(SwipeAction): add some tests
  src/components/swipe-action/tests/swipe-action.test.tsx
Due: prettier --write

test(SwipeAction): add some tests (#5272)
  src/components/swipe-action/tests/swipe-action.test.tsx
Due: prettier --write

test(Button): async onClick when throw error
  src/components/button/tests/button.test.tsx
Due: prettier --write

refactor(Swiper & SwipeAction): adjust className
  src/components/swipe-action/swipe-action.tsx
  src/components/swiper/swiper.tsx
Due: prettier --write

--initial-position-right描述错误
  src/components/floating-bubble/index.zh.md
Due: none

test(Button): async onClick when throw error (#5273)
  src/components/button/tests/button.test.tsx
Due: prettier --write

refactor(Swiper & SwipeAction): adjust className (#5274)
  src/components/swipe-action/swipe-action.tsx
  src/components/swiper/swiper.tsx
Due: prettier --write

chore: add codecov config yaml
  codecov.yml
Due: none

enhance(List): fix List extra style
  src/components/list/list.less
Due: stylelint --fix

fix: fix style
  src/components/list/list.less
Due: stylelint --fix

test(Input): add some tests
  src/components/action-sheet/tests/action-sheet.test.tsx
  src/components/avatar/tests/avatar.test.tsx
  src/components/button/tests/button.test.tsx
  src/components/calendar/tests/calendar.test.tsx
  src/components/capsule-tabs/tests/capsule-tabs.test.tsx
  src/components/cascade-picker-view/tests/cascade-picker-view.test.tsx
  src/components/cascader-view/tests/cascader-view.test.tsx
  src/components/cascader/tests/cascader.test.tsx
  src/components/check-list/tests/check-list.test.tsx
  src/components/config-provider/tests/config-provider.test.tsx
  src/components/dialog/tests/dialog.test.tsx
  src/components/ellipsis/tests/ellipsis.test.tsx
  src/components/error-block/tests/error-block.test.tsx
  src/components/floating-panel/tests/floating-panel.test.tsx
  src/components/image-uploader/tests/image-uploader.test.tsx
  src/components/index-bar/tests/index-bar.test.tsx
  src/components/infinite-scroll/tests/infinite-scroll.test.tsx
  src/components/input/tests/input.test.tsx
  src/components/jumbo-tabs/tests/jumbo-tabs.test.tsx
  src/components/mask/tests/mask.test.tsx
  src/components/modal/tests/modal.test.tsx
  src/components/notice-bar/tests/notice-bar.test.tsx
  src/components/picker-view/tests/picker-view.test.tsx
  src/components/side-bar/tests/side-bar.test.tsx
  src/components/switch/tests/switch.test.tsx
  src/components/tab-bar/tests/tab-bar.test.tsx
  src/components/tabs/tests/tabs.test.tsx
  src/components/tag/tests/tag.test.tsx
Due: prettier --write

feat: expose some new global CSS variables for theming
  docs/guide/theming.en.md
  docs/guide/theming.zh.md
  src/global/theme-dark.less
  src/global/theme-default.less
Due: stylelint --fix

fix(SearchBar): fix misused global theme token
  src/components/search-bar/search-bar.less
Due: stylelint --fix

feat: dark mode
  .dumi/theme/style/demo-global.less
  .dumi/theme/style/global.less
  config/config.ts
  config/menus.tsx
  docs/guide/dark-mode.en.md
  docs/guide/dark-mode.zh.md
  src/demos/demo-block/index.less
  src/global/demos/dark-mode/demo1.tsx
  src/global/global.less
  src/global/theme-dark.less
Due: prettier --write, stylelint --fix

test(Slider): add some tests
  src/components/slider/tests/__snapshots__/slider.test.tsx.snap
  src/components/slider/tests/slider.test.tsx
Due: prettier --write

fix(Slider): passing in popover function is not render
  src/components/slider/thumb.tsx
Due: prettier --write

test(Sidebar): update snapshot
  src/components/side-bar/tests/__snapshots__/side-bar.test.tsx.snap
Due: none

test: update snapshots
  src/components/side-bar/tests/__snapshots__/side-bar.test.tsx.snap
Due: none

test(Input): add some tests (#5279)
  src/components/action-sheet/tests/action-sheet.test.tsx
  src/components/avatar/tests/avatar.test.tsx
  src/components/button/tests/button.test.tsx
  src/components/calendar/tests/calendar.test.tsx
  src/components/capsule-tabs/tests/capsule-tabs.test.tsx
  src/components/cascade-picker-view/tests/cascade-picker-view.test.tsx
  src/components/cascader-view/tests/cascader-view.test.tsx
  src/components/cascader/tests/cascader.test.tsx
  src/components/check-list/tests/check-list.test.tsx
  src/components/config-provider/tests/config-provider.test.tsx
  src/components/dialog/tests/dialog.test.tsx
  src/components/ellipsis/tests/ellipsis.test.tsx
  src/components/error-block/tests/error-block.test.tsx
  src/components/floating-panel/tests/floating-panel.test.tsx
  src/components/image-uploader/tests/image-uploader.test.tsx
  src/components/index-bar/tests/index-bar.test.tsx
  src/components/infinite-scroll/tests/infinite-scroll.test.tsx
  src/components/input/tests/input.test.tsx
  src/components/jumbo-tabs/tests/jumbo-tabs.test.tsx
  src/components/mask/tests/mask.test.tsx
  src/components/modal/tests/modal.test.tsx
  src/components/notice-bar/tests/notice-bar.test.tsx
  src/components/picker-view/tests/picker-view.test.tsx
  src/components/side-bar/tests/side-bar.test.tsx
  src/components/switch/tests/switch.test.tsx
  src/components/tab-bar/tests/tab-bar.test.tsx
  src/components/tabs/tests/tabs.test.tsx
  src/components/tag/tests/tag.test.tsx
Due: prettier --write

fix(List): fix `extra` content can not break lines (#5277)
  src/components/list/list.less
Due: stylelint --fix

test(TextArea): add some tests
  src/components/text-area/tests/textarea.test.tsx
Due: prettier --write
