Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": ["prettier --write"],
  "src/**/*.{less,css}": ["stylelint --fix"]
}

feat: Swiper
  config/config.ts
  src/components/swiper/demos/demo1.less
  src/components/swiper/demos/demo1.tsx
  src/components/swiper/index.md
  src/components/swiper/index.ts
  src/components/swiper/page-indicator.less
  src/components/swiper/page-indicator.tsx
  src/components/swiper/swiper-item.tsx
  src/components/swiper/swiper.less
  src/components/swiper/swiper.tsx
  src/index.ts
Due: prettier --write, stylelint --fix

feat: Swiper index defaultIndex 相关
  src/components/swiper/swiper.tsx
Due: prettier --write

refactor: Swiper.Item 去掉 --height 和 --width
  src/components/swiper/index.md
  src/components/swiper/swiper-item.tsx
  src/components/swiper/swiper.less
Due: prettier --write, stylelint --fix

enhance: Swiper 限制一次最多只能滚动一格
  src/components/swiper/swiper.tsx
Due: prettier --write

enhance: Swiper 增加 count 校验
  package.json
  src/components/swiper/swiper.tsx
  yarn.lock
Due: prettier --write

feat: Swiper loop
  src/components/swiper/demos/demo1.tsx
  src/components/swiper/swiper.tsx
Due: prettier --write

feat: Swiper loop
  src/components/swiper/swiper.less
  src/components/swiper/swiper.tsx
Due: prettier --write, stylelint --fix

feat: Swiper 支持 autoplay
  src/components/swiper/demos/demo1.tsx
  src/components/swiper/swiper.tsx
Due: prettier --write

enhance: Swiper count 计算逻辑优化
  src/components/swiper/demos/demo1.less
  src/components/swiper/swiper.tsx
Due: prettier --write, stylelint --fix

doc: 更新 Swiper demo
  src/components/swiper/demos/demo1.tsx
  src/components/swiper/page-indicator.less
  src/components/swiper/swiper.tsx
Due: prettier --write, stylelint --fix

feat: Swiper 支持 Ref，同时修复了 swipeTo 在非循环模式下的判断逻辑
  src/components/swiper/demos/demo1.tsx
  src/components/swiper/index.ts
  src/components/swiper/swiper.tsx
  src/utils/attach-properties-to-component.ts
Due: prettier --write

doc: ImageUploader 文档勘误
  src/components/image-uploader/index.md
Due: none

chore: 更新版本号
  package.json
Due: none

chore: 代码风格优化
  src/components/swiper/swiper.tsx
Due: prettier --write

chore: CI 规则调整
  .github/workflows/check.yml
Due: none

fix: lint issues
  src/components/swiper/swiper-item.tsx
Due: prettier --write

feat: Swiper.Item add onClick prop
  src/components/swiper/demos/demo1.tsx
  src/components/swiper/swiper-item.tsx
  src/components/swiper/swiper.less
  src/components/swiper/swiper.tsx
Due: prettier --write, stylelint --fix

enhance: pause autoplay while dragging
  src/components/swiper/swiper.tsx
Due: prettier --write

test: date-picker
  package.json
  src/components/date-picker/tests/date-picker.test.tsx
Due: prettier --write

fix: fix dragging state in Swiper with useRefState
  src/components/swiper/swiper.tsx
  src/utils/use-ref-state.tsx
Due: prettier --write

ref: Swiper add --slide-width and --border-radius
  src/components/swiper/demos/demo1.tsx
  src/components/swiper/index.md
  src/components/swiper/swiper.less
  src/components/swiper/swiper.tsx
  src/utils/use-ref-state.tsx
Due: prettier --write, stylelint --fix

fix: Swiper doc
  src/components/swiper/index.md
Due: none

fix: bug with Swiper defaultIndex and border-radius on iOS
  src/components/swiper/demos/demo1.tsx
  src/components/swiper/swiper.less
  src/components/swiper/swiper.tsx
Due: prettier --write, stylelint --fix

feat: add PageIndicator
  config/config.ts
  src/components/page-indicator/demos/demo1.tsx
  src/components/page-indicator/index.md
  src/components/page-indicator/index.tsx
  src/components/page-indicator/page-indicator.less
  src/components/page-indicator/page-indicator.tsx
  src/components/swiper/page-indicator.less
  src/components/swiper/swiper.tsx
  src/index.ts
Due: prettier --write, stylelint --fix

feat: Swiper add indicatorProps
  src/components/swiper/demos/demo1.tsx
  src/components/swiper/index.md
  src/components/swiper/swiper.tsx
Due: prettier --write

feat: Swiper add indicator
  src/components/swiper/demos/demo1.less
  src/components/swiper/demos/demo1.tsx
  src/components/swiper/swiper.tsx
Due: prettier --write, stylelint --fix

fix: Swiper
  src/components/swiper/swiper.tsx
Due: prettier --write

refactor: merge the logic of getNativeAttributes into withElementProps
  src/components/button/button.tsx
  src/components/tabs/tabs.tsx
  src/utils/element-props.ts
  src/utils/get-native-attributes.ts
Due: prettier --write

enhance: limit the props of Input to only a subset of natvie input element props
  src/components/input/index.md
  src/components/input/input.tsx
Due: prettier --write

fix: remove some unused imports
  src/components/checkbox/tests/checkbox.test.tsx
  src/components/ellipsis/ellipsis.tsx
  src/components/floating-panel/floating-panel.tsx
  src/components/form/demos/demo-error.tsx
  src/components/form/form.tsx
  src/components/grid/grid.tsx
  src/components/image/image.tsx
  src/components/index-bar/panel.tsx
  src/components/input/input.tsx
  src/components/picker/picker.tsx
  src/components/progress-circle/progress-circle.tsx
Due: prettier --write

fix(selector): value 增加 number ts 类型 & 对齐 antd select 做成泛型组件
  src/components/selector/selector.tsx
Due: prettier --write

enhance: limit the props of TextArea to only a subset of natvie input element props
  src/components/input/index.md
  src/components/text-area/index.md
  src/components/text-area/text-area.tsx
Due: prettier --write

enhance: add id prop to textarea, checkbox and radio
  src/components/checkbox/checkbox.tsx
  src/components/checkbox/index.md
  src/components/radio/index.md
  src/components/radio/radio.tsx
  src/components/text-area/text-area.tsx
Due: prettier --write

feat: Search support ref
  src/components/input/index.md
  src/components/search/demos/demo1.tsx
  src/components/search/index.md
  src/components/search/index.ts
  src/components/search/search.tsx
Due: prettier --write

chore: update version
  package.json
Due: none

feat: CheckList
  config/config.ts
  src/components/check-list/check-list-item.tsx
  src/components/check-list/check-list.less
  src/components/check-list/check-list.tsx
  src/components/check-list/context.tsx
  src/components/check-list/demos/demo1.tsx
  src/components/check-list/index.md
  src/components/check-list/index.tsx
  src/components/list/list.tsx
  src/index.ts
Due: prettier --write, stylelint --fix

doc: CheckList
  src/components/check-list/demos/demo1.tsx
  src/components/check-list/index.md
  src/components/list/list.tsx
  src/components/selector/index.md
Due: prettier --write

doc: adjust CheckList demo
  src/components/check-list/demos/demo1.tsx
Due: prettier --write
