Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

Update src/components/rate/demos/demo1.tsx
  src/components/rate/demos/demo1.tsx
Due: prettier --write

Update src/components/rate/index.en.md
  src/components/rate/index.en.md
Due: none

Update src/components/rate/index.zh.md
  src/components/rate/index.zh.md
Due: none

enhance: (Radio) usage warning when use with Radio.Group (#4778)
  src/components/radio/radio.tsx
Due: prettier --write

enhance: (Checkbox & Radio) adjust warnings about `checked` and `defaultChecked`
  src/components/checkbox/checkbox.tsx
  src/components/radio/radio.tsx
Due: prettier --write

feat: (Rate) add `--inactive-color` (#4776)
  src/components/rate/index.en.md
  src/components/rate/index.zh.md
  src/components/rate/rate.less
  src/components/rate/rate.tsx
Due: prettier --write, stylelint --fix

feat: form item add description
  src/components/form/form-item.tsx
  src/components/form/index.en.md
  src/components/form/index.zh.md
Due: prettier --write

doc: (Radio) update
  src/components/radio/index.en.md
Due: none

test: (Checkbox) group checkbox tests with `describe`
  src/components/checkbox/tests/checkbox.test.tsx
Due: prettier --write

doc: (Radio) update (#4777)
  src/components/radio/index.en.md
  src/components/radio/index.zh.md
Due: none

test: (Checkbox) group checkbox tests with `describe` (#4783)
  src/components/checkbox/tests/checkbox.test.tsx
Due: prettier --write

refactor: (Slider) make thumb icon as a svg React component
  src/assets/slider-thumb.svg
  src/components/slider/slider.less
  src/components/slider/thumb-icon.tsx
  src/components/slider/thumb.tsx
Due: prettier --write, stylelint --fix

doc: fix typo
  src/components/input/index.en.md
  src/components/input/index.zh.md
Due: none

feat: (Input) add `min-height`
  src/components/input/input.less
Due: stylelint --fix

feat: (Form) form item add `description` prop (#4781)
  src/components/form/form-item.tsx
  src/components/form/index.en.md
  src/components/form/index.zh.md
Due: prettier --write

enhance: (Input) add `min-height` style (#4787)
  src/components/input/input.less
Due: stylelint --fix

feat:(Calendar) add onPageChange (#4725)
  src/components/calendar/calendar.en.md
  src/components/calendar/calendar.tsx
  src/components/calendar/calendar.zh.md
Due: prettier --write

feat:(Calendar) add onPageChange (#4725) (#4786)
  src/components/calendar/calendar.en.md
  src/components/calendar/calendar.tsx
  src/components/calendar/calendar.zh.md
Due: prettier --write

refactor: (ProgressCircle) remove unused prop `strokeColor`
  src/components/progress-circle/progress-circle.tsx
Due: prettier --write

feat: (ProgressCircle) add some CSS variable globals
  src/components/progress-circle/index.en.md
  src/components/progress-circle/index.zh.md
  src/components/progress-circle/progress-circle.less
Due: stylelint --fix

refactor: (ProgressBar) replace CSS Variables `--fill-color` default value
  src/components/progress-bar/index.en.md
  src/components/progress-bar/index.zh.md
  src/components/progress-bar/progress-bar.less
Due: stylelint --fix

refactor: (ProgressBar) replace CSS Variables `--fill-color` default value (#4793)
  src/components/progress-bar/index.en.md
  src/components/progress-bar/index.zh.md
  src/components/progress-bar/progress-bar.less
Due: stylelint --fix

refactor: (ProgressCircle) remove unused prop `strokeColor` (#4791)
  src/components/progress-circle/progress-circle.tsx
Due: prettier --write

feat: (ProgressCircle) add some CSS variable globals (#4792)
  src/components/progress-circle/index.en.md
  src/components/progress-circle/index.zh.md
  src/components/progress-circle/progress-circle.less
Due: stylelint --fix

fix: (Icon) selector of copy type must have state
  docs/components/icon/demo-all.tsx
Due: none

doc: update home page
  docs/components/home-page.tsx
Due: none

doc: (Icon) selector of copy type must have state (#4794)
  docs/components/icon/demo-all.tsx
Due: none

refactor: (Form) add `Form.Item` layout style
  src/components/form/form-item.less
  src/components/form/form-item.tsx
  src/components/form/form.less
Due: prettier --write, stylelint --fix

chore: remove @types/classnames
  package.json
Due: none

feat: (Form.Item) add help popover and icon
  src/components/form/demos/demo1.tsx
  src/components/form/form-item.less
  src/components/form/form-item.tsx
Due: prettier --write, stylelint --fix

fix: (ImageViewer) zoom out of bounds
  src/components/image-viewer/slide.tsx
Due: prettier --write

doc: update the name of Checkbox in Chinese
  src/components/checkbox/demos/demo1.tsx
  src/components/checkbox/index.zh.md
  src/components/radio/demos/demo1.tsx
Due: prettier --write

fix: (Tabs) animation does not work when some tabs dynamically changed when switching
  src/components/tabs/tabs.tsx
Due: prettier --write

doc: update
  .dumi/theme/components/Navbar.less
  src/components/search-bar/index.zh.md
Due: none

doc: update logo and banner
  .dumi/plugin-gallery/gallery.tsx
  README.md
  config/config.ts
Due: none

update yarn lock
  yarn.lock
Due: none

fix: (PullToRefresh) prevent jitter when pulling down
  src/components/pull-to-refresh/pull-to-refresh.tsx
Due: prettier --write

feat: (Form.Item) add help popover and icon (#4799)
  src/components/form/demos/demo1.tsx
  src/components/form/form-item.less
  src/components/form/form-item.tsx
Due: prettier --write, stylelint --fix

Path conditions:
  prettier --write: any of: src/**/*.{ts,tsx}
  stylelint --fix: any of: src/**/*.{less,css}
