Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": ["prettier --write"],
  "src/**/*.{less,css}": ["stylelint --fix"]
}

test: 补充单元测试
  src/components/calendar-picker-view/tests/__snapshots__/calendar-picker-view.test.tsx.snap
  src/components/calendar-picker-view/tests/calendar-picker-view.test.tsx
  src/components/calendar-picker/calendar-picker.tsx
  src/components/calendar-picker/tests/calendar-picker.test.tsx
Due: prettier --write

fix: 修复 calendar-picker-view 的一些问题 (#6760)
  src/components/calendar-picker-view/calendar-picker-view.tsx
  src/components/calendar-picker-view/demos/demo1.tsx
  src/components/calendar-picker-view/tests/__snapshots__/calendar-picker-view.test.tsx.snap
  src/components/calendar-picker-view/tests/calendar-picker-view.test.tsx
  src/components/calendar-picker/calendar-picker.tsx
  src/components/calendar-picker/demos/demo4.tsx
  src/components/calendar-picker/tests/calendar-picker.test.tsx
  src/tests/testing.tsx
Due: prettier --write

refactor: add type assertion
  src/components/calendar-picker-view/calendar-picker-view.tsx
Due: prettier --write

refactor: optimize code structure
  src/components/calendar-picker-view/calendar-picker-view.tsx
Due: prettier --write

chore: fix surge preview workflow
  .github/workflows/preview-deploy.yml
Due: none

Update preview-build.yml
  .github/workflows/preview-build.yml
Due: none

Create preview-start.yml
  .github/workflows/preview-start.yml
Due: none

Apply suggestions from code review
  .github/workflows/preview-build.yml
  .github/workflows/preview-deploy.yml
  .github/workflows/preview-start.yml
Due: none

Update .github/workflows/preview-deploy.yml
  .github/workflows/preview-deploy.yml
Due: none

Update .github/workflows/preview-build.yml
  .github/workflows/preview-build.yml
Due: none

Apply suggestions from code review
  .github/workflows/preview-build.yml
Due: none

chore: fix surge preview workflow (#6764)
  .github/workflows/preview-build.yml
  .github/workflows/preview-deploy.yml
  .github/workflows/preview-start.yml
Due: none

chore: Update .gitignore
  .gitignore
Due: none

chore: Update preview-build.yml
  .github/workflows/preview-build.yml
Due: none

chore: Update preview-deploy.yml
  .github/workflows/preview-deploy.yml
Due: none

fix(CanlendarPicker): component freezes when the time interval is too large, using virtual scrolling optimization
  package.json
  src/components/calendar-picker-view/calendar-picker-view.less
  src/components/calendar-picker-view/calendar-picker-view.tsx
Due: prettier --write, stylelint --fix

feat(CanlendarPicker): calculate virtual scroll height and organize code
  src/components/calendar-picker-view/calendar-picker-view.tsx
Due: prettier --write

chore: bump 5.38.0
  package.json
Due: none

fix: ellipsis cut break
  src/components/ellipsis/demos/demo1.tsx
  src/components/ellipsis/ellipsis.tsx
  src/components/ellipsis/useMeasure.tsx
Due: prettier --write

Update segmented.less
  src/components/segmented/segmented.less
Due: stylelint --fix

test: add test case
  src/components/ellipsis/tests/__snapshots__/ellipsis.test.tsx.snap
  src/components/ellipsis/tests/ellipsis.test.tsx
  src/components/ellipsis/useMeasure.tsx
Due: prettier --write

fix: useResizeEffect ref
  src/components/ellipsis/ellipsis.tsx
Due: prettier --write

fix(Ellipsis): Use React life cycle hooks to avoid render not correct in Suspense (#6770)
  src/components/ellipsis/demos/demo1.tsx
  src/components/ellipsis/ellipsis.tsx
  src/components/ellipsis/tests/__snapshots__/ellipsis.test.tsx.snap
  src/components/ellipsis/tests/ellipsis.test.tsx
  src/components/ellipsis/useMeasure.tsx
Due: prettier --write

fix(Ellipsis): fix english not break
  src/components/ellipsis/ellipsis.less
Due: stylelint --fix

fix(Ellipsis): fix english not break (#6771)
  src/components/ellipsis/ellipsis.less
Due: stylelint --fix

chore: bump 5.38.1
  .github/workflows/doc-site.yml
  package.json
Due: none

fix: not return
  src/components/calendar-picker-view/calendar-picker-view.tsx
Due: prettier --write

fix: keep the UI consistent
  src/components/calendar-picker-view/calendar-picker-view.tsx
Due: prettier --write

feat(CalendarPickerView): add renderTop and renderBottom hide logic (#6735)
  src/components/calendar-picker-view/calendar-picker-view.en.md
  src/components/calendar-picker-view/calendar-picker-view.tsx
  src/components/calendar-picker-view/calendar-picker-view.zh.md
  src/components/calendar-picker-view/tests/calendar-picker-view.test.tsx
Due: prettier --write

fix: unable to jump page
  docs/components/components/Main/MainSection/index.tsx
  docs/components/components/Main/index.tsx
  docs/utils/index.ts
Due: none

fix: unable to jump page (#6772)
  docs/components/components/Main/MainSection/index.tsx
  docs/components/components/Main/index.tsx
  docs/utils/index.ts
Due: none

fix: 兼容在 React 19 环境下的 Toast 组件
  src/utils/render.ts
Due: prettier --write

fix: 同时兼容 React 19 和 React 16
  src/utils/render.ts
Due: prettier --write

chore: fix surge preview
  .github/workflows/preview-deploy.yml
Due: none

Update preview-deploy.yml
  .github/workflows/preview-deploy.yml
Due: none

Apply suggestions from code review
  .github/workflows/preview-build.yml
  .github/workflows/preview-deploy.yml
Due: none

chore: fix surge preview (#6776)
  .github/workflows/preview-deploy.yml
Due: none
