Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

test: add some tests
  src/components/empty/tests/empty.test.tsx
  src/components/grid/tests/grid.test.tsx
  src/components/progress-bar/tests/progress-bar.test.tsx
  src/components/progress-circle/tests/progress-circle.test.tsx
  src/components/result/tests/result.test.tsx
  src/components/skeleton/tests/skeleton.test.tsx
  src/components/steps/tests/steps.test.tsx
Due: prettier --write

test(Empty): add test
  src/components/empty/tests/empty.test.tsx
Due: prettier --write

fix(Result): status add default value
  src/components/result/index.en.md
  src/components/result/index.zh.md
  src/components/result/result.tsx
Due: prettier --write

feat: omit `destroyOnClose` and `forceRender` types in imperatively show mode
  src/components/action-sheet/action-sheet.tsx
  src/components/dialog/show.tsx
  src/components/modal/show.tsx
Due: prettier --write

refactor(PasscodeInput): adjust className with prefix
  src/components/passcode-input/passcode-input.less
  src/components/passcode-input/passcode-input.tsx
Due: prettier --write, stylelint --fix

enhance(PasscodeInput): use aria labels to imporve a11y
  src/components/passcode-input/passcode-input.tsx
  src/locales/base.ts
  src/locales/zh-CN.ts
Due: prettier --write

feat(Modal & Dialog & ActionSheet): omit `destroyOnClose` and `forceRender` types in imperatively show mode (#5475)
  src/components/action-sheet/action-sheet.tsx
  src/components/dialog/show.tsx
  src/components/modal/show.tsx
Due: prettier --write

fix: update id-ID locale
  src/locales/id-ID.ts
Due: prettier --write

feat(rate): support slide
  src/components/rate/rate.less
  src/components/rate/rate.tsx
Due: prettier --write, stylelint --fix

test(rate): update allowHalf should be work
  src/components/rate/rate.tsx
  src/components/rate/tests/rate.test.tsx
Due: prettier --write

Grammar fixes to make it make sense in English
  docs/guide/migration.en.md
Due: none

feat(rate): use slider replace input range
  src/components/rate/rate.less
  src/components/rate/rate.tsx
  src/components/rate/tests/rate.test.tsx
Due: prettier --write, stylelint --fix

enhance(Result): add default value for `status` prop (#5480)
  src/components/result/index.en.md
  src/components/result/index.zh.md
  src/components/result/result.tsx
Due: prettier --write

doc: Grammar fixes to make it make sense in English (#5481)
  docs/guide/migration.en.md
Due: none

feat(Cascader): add `activeIcon` prop
  src/components/cascader/cascader.tsx
Due: prettier --write

doc: update doc of Cascader and CascaderView
  src/components/cascader-view/index.en.md
  src/components/cascader-view/index.zh.md
  src/components/cascader/index.en.md
  src/components/cascader/index.zh.md
Due: none

chore: upgrade vite to v3
  package.json
  pnpm-lock.yaml
Due: none

test(PasscodeInput): add some tests
  src/components/passcode-input/tests/passcode-input.test.tsx
Due: prettier --write

enhance(PasscodeInput): export type `PasscodeInputRef`
  src/components/passcode-input/index.ts
Due: prettier --write

feat: add `.umd.js` and `.compatible.umd.js` bundles
  gulpfile.js
Due: none

doc: add doc for pre-built bundles
  config/menus.tsx
  docs/guide/faq.en.md
  docs/guide/faq.zh.md
  docs/guide/pre-built-bundles.en.md
  docs/guide/pre-built-bundles.zh.md
Due: none

feat(swipeAction): add onActionsReveal props
  src/components/swipe-action/demos/demo1.tsx
  src/components/swipe-action/index.en.md
  src/components/swipe-action/index.zh.md
  src/components/swipe-action/swipe-action.tsx
Due: prettier --write

chore: change version
  package.json
Due: none

feat(swipeAction): trigger onActionsReveal when call show
  src/components/swipe-action/swipe-action.tsx
Due: prettier --write

fix: update snapshots
  src/components/config-provider/tests/__snapshots__/config-provider.test.tsx.snap
Due: none

doc: update onActionsReveal description
  src/components/swipe-action/index.en.md
Due: none

feat(form): add new requiredMarkStyle option
  src/components/form/context.tsx
  src/components/form/demos/demo5.tsx
  src/components/form/form-item.tsx
  src/components/form/index.en.md
  src/components/form/index.zh.md
Due: prettier --write

feat(Result): add some props for issues ant-design#5470
  src/components/result/demos/demo1.tsx
  src/components/result/index.en.md
  src/components/result/index.zh.md
  src/components/result/result.less
  src/components/result/result.tsx
  src/global/theme-default.less
Due: prettier --write, stylelint --fix

feat(SwipeAction): add onActionsReveal prop
  src/components/swipe-action/index.en.md
  src/components/swipe-action/index.zh.md
  src/components/swipe-action/swipe-action.tsx
  src/components/swipe-action/tests/swipe-action.test.tsx
Due: prettier --write

doc: fix
  src/components/swipe-action/index.zh.md
Due: none

doc: update result doc
  src/components/result/index.en.md
  src/components/result/index.zh.md
Due: none

enhance: update id-ID locale (#5485)
  src/components/config-provider/tests/__snapshots__/config-provider.test.tsx.snap
  src/locales/id-ID.ts
Due: prettier --write

feat(Form): add new `requiredMarkStyle` option `none` (#5486)
  src/components/form/context.tsx
  src/components/form/demos/demo5.tsx
  src/components/form/form-item.tsx
  src/components/form/index.en.md
  src/components/form/index.zh.md
Due: prettier --write

Path conditions:
  prettier --write: any of: src/**/*.{ts,tsx}
  stylelint --fix: any of: src/**/*.{less,css}
