Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

doc: fix popover doc use wrong type for props.children (#4274)
  src/components/popover/index.en.md
  src/components/popover/index.zh.md
Due: none

chore: update version
  package.json
Due: none

deploy: e7337f5e45cb7c01aede7317806e21d701d6775d
  umi.css
  umi.js
Due: none

chore: upgrade dependencies
  package.json
  src/components/image-viewer/demos/index.tsx
  yarn.lock
Due: prettier --write

chore: remove @types/react-transition-group
  package.json
  yarn.lock
Due: none

enhance: (ImageViewer) improve the gesture dragging experience
  src/components/image-viewer/slides.tsx
Due: prettier --write

fix: (ImageViewer) count exceed bounds
  src/components/image-viewer/slides.tsx
Due: prettier --write

chore: update "check" workflow and add bundle size checking
  .github/workflows/check.yml
Due: none

chore: add bundle size workflow
  .github/workflows/bundle-size.yml
  gulpfile.js
  package.json
Due: none

chore: update bundle size badge
  .github/workflows/bundle-size.yml
  README.md
Due: none

fix: (Tabs) prevent animation when initialized
  src/components/tabs/demos/index.tsx
  src/components/tabs/tabs.tsx
Due: prettier --write

enhance: (Tabs) use mutation observer
  src/components/tabs/demos/index.tsx
  src/components/tabs/tabs.tsx
  src/utils/use-mutation-effect.tsx
Due: prettier --write

feat: useResizeEffect
  src/components/ellipsis/ellipsis.tsx
  src/components/tabs/tabs.tsx
  src/utils/use-resize-effect.tsx
Due: prettier --write

fix: eslint issues
  .dumi/theme/components/SideMenu.tsx
  .dumi/theme/layouts/layout.tsx
  .eslintrc.js
  src/components/badge/badge.tsx
  src/components/checkbox/group.tsx
  src/components/collapse/demos/index.tsx
  src/components/date-picker/tests/date-picker.test.tsx
  src/components/dropdown/dropdown.tsx
  src/components/ellipsis/ellipsis.tsx
  src/components/floating-panel/floating-panel.tsx
  src/components/image-viewer/slide.tsx
  src/components/pull-to-refresh/pull-to-refresh.tsx
  src/components/slider/slider.tsx
  src/components/tabs/demos/index.tsx
  src/utils/use-resize-effect.tsx
Due: prettier --write

fix: eslint issues
  src/components/slider/slider.tsx
  src/components/slider/thumb.tsx
Due: prettier --write

feat: (InfiniteScroll) prevent `doLoadMore` when hidden
  src/components/infinite-scroll/infinite-scroll.tsx
Due: prettier --write

feat: add SafeArea component (experimental)
  config/components.ts
  package.json
  src/components/safe-area/demos/demo1.tsx
  src/components/safe-area/index.en.md
  src/components/safe-area/index.tsx
  src/components/safe-area/index.zh.md
  src/components/safe-area/safe-area.less
  src/components/safe-area/safe-area.tsx
  src/index.ts
  yarn.lock
Due: prettier --write, stylelint --fix

fix: (InfiniteScroll) with display none parent
  src/components/infinite-scroll/infinite-scroll.tsx
Due: prettier --write

fix: (InfiniteScroll) prevent `doLoadMore` when hidden (#4276)
  src/components/infinite-scroll/infinite-scroll.tsx
Due: prettier --write

feat: (Picker) `onSelect` `onConfirm` add `context` param
  src/components/picker/index.en.md
  src/components/picker/index.zh.md
  src/components/picker/picker.tsx
  src/utils/use-lazy-memo.tsx
Due: prettier --write

deploy: 88b788f537c3fb87dddc17f97968517c93f4acf6
  umi.css
  umi.js
Due: none

style:(popover & dropdown) variable name is not semantic
  src/components/dropdown/dropdown.tsx
  src/components/popover/popover.tsx
Due: prettier --write

refactor:(button) remove unused empty tag
  src/components/button/button.tsx
Due: prettier --write

refactor:(dropdown & popover) variable name is not semantic
  src/components/dropdown/dropdown.tsx
  src/components/popover/popover.tsx
Due: prettier --write

refactor: (button & dropdown & popover) semantic variable name & remove unused tag (#4282)
  src/components/button/button.tsx
  src/components/dropdown/dropdown.tsx
  src/components/popover/popover.tsx
Due: prettier --write

feat: (Tabs.TabPane) add disabled prop
  src/components/tabs/demos/index.tsx
  src/components/tabs/index.en.md
  src/components/tabs/index.zh.md
  src/components/tabs/tabs.less
  src/components/tabs/tabs.tsx
Due: prettier --write, stylelint --fix

fix: (lodash) avoid import full lodash in bundle
  src/utils/merge-locale.ts
  src/utils/use-lazy-memo.tsx
Due: prettier --write

feat: (Tabs) add active line mode
  src/components/tabs/demos/index.tsx
  src/components/tabs/index.en.md
  src/components/tabs/index.zh.md
  src/components/tabs/tabs.tsx
Due: prettier --write

fix: InfiniteScroll loadmore threshold
  src/components/infinite-scroll/infinite-scroll.tsx
Due: prettier --write

refactor:(space) use mergeProps replace withDefaultProps
  src/components/space/space.tsx
Due: prettier --write

fix:(space) justify-content does not take baseline values
  src/components/space/index.en.md
  src/components/space/index.zh.md
  src/components/space/space.less
  src/components/space/space.tsx
  src/components/space/tests/space.test.tsx
Due: prettier --write, stylelint --fix

refactor:(badge) use mergeProps replace withDefaultProps
  src/components/badge/badge.tsx
Due: prettier --write

refactor:(image) should render immediately when loaded
  src/components/image/image.tsx
Due: prettier --write

fix: (lodash) avoid import full lodash in bundle (#4285)
  src/utils/merge-locale.ts
  src/utils/use-lazy-memo.tsx
Due: prettier --write

fix: NoticeBar content does not scroll beyond the container width when it is dynamically modified
  src/components/notice-bar/notice-bar.tsx
Due: prettier --write

doc: English version of SideBar doc
  src/components/side-bar/index.en.md
  src/components/side-bar/index.zh.md
Due: none

refactor: (space) use `mergeProps` to replace `withDefaultProps` (#4292)
  src/components/space/space.tsx
Due: prettier --write

doc: Tabs
  src/components/tabs/index.en.md
  src/components/tabs/index.zh.md
Due: none

feat: (Tabs) add `activeLineMode` prop (#4288)
  src/components/tabs/demos/index.tsx
  src/components/tabs/index.en.md
  src/components/tabs/index.zh.md
  src/components/tabs/tabs.tsx
Due: prettier --write

Path conditions:
  prettier --write: any of: src/**/*.{ts,tsx}
  stylelint --fix: any of: src/**/*.{less,css}
