Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": ["prettier --write"],
  "src/**/*.{less,css}": ["stylelint --fix"]
}

chore: change version
  package.json
Due: none

deploy: 96d5981e6b4464a6f5efb8fe1b7e425ca16d45f9
  404.html
  index.html
  umi.0fb6b09b.css
  umi.2c6b8cac.js
  umi.44c275c2.js
  umi.8e1a2599.css
Due: none

chore: add ding group qr code
  README.md
  docs/components/home-page.tsx
  docs/guide/quick-start.zh.md
Due: none

refactor: (Picker) rename Column to Wheel
  src/components/picker-view/picker-view.tsx
  src/components/picker-view/wheel.tsx
Due: prettier --write

feat: (TabBar) support safe area
  src/components/tab-bar/index.en.md
  src/components/tab-bar/index.zh.md
  src/components/tab-bar/tab-bar.less
  src/components/tab-bar/tab-bar.tsx
Due: prettier --write, stylelint --fix

chore: (TabBar) update demo
  src/components/tab-bar/demos/demo1.tsx
Due: prettier --write

fix: (TabBar) less prefix name
  src/components/tab-bar/tab-bar.less
Due: stylelint --fix

feat: (Stepper) add readOnly props
  src/components/stepper/demos/demo1.tsx
  src/components/stepper/index.en.md
  src/components/stepper/index.zh.md
  src/components/stepper/stepper.tsx
Due: prettier --write

feat: (Stepper) add inputReadOnly props
  src/components/stepper/demos/demo1.tsx
  src/components/stepper/index.en.md
  src/components/stepper/index.zh.md
  src/components/stepper/stepper.tsx
Due: prettier --write

chore: (TabBar) safeArea 默认值 true -> false
  src/components/tab-bar/demos/demo1.tsx
  src/components/tab-bar/index.en.md
  src/components/tab-bar/index.zh.md
  src/components/tab-bar/tab-bar.tsx
Due: prettier --write

fix: (Picker) error occurs when dragging an empty column
  src/components/picker-view/wheel.tsx
Due: prettier --write

doc: (Picker) update demos
  src/components/date-picker/demos/demo2.tsx
  src/components/picker/demos/demo1.tsx
Due: prettier --write

fix: (Picker) Wheel props compare
  src/components/picker-view/wheel.tsx
Due: prettier --write

feat: (Stepper) add inputReadOnly props (#4591)
  src/components/stepper/demos/demo1.tsx
  src/components/stepper/index.en.md
  src/components/stepper/index.zh.md
  src/components/stepper/stepper.tsx
Due: prettier --write

fix: (Mask) Allow to override background and opacity
  src/components/mask/mask.tsx
Due: prettier --write

fix: (Mask) Allow to override background and opacity (#4595)
  src/components/mask/mask.tsx
Due: prettier --write

fix: (Radio) Support text wrapping
  src/components/radio/radio.less
Due: stylelint --fix

doc(Modal): add primary for Action
  src/components/modal/index.en.md
  src/components/modal/index.zh.md
Due: none

fix: (ImageUploader) Fix `onChange` to support the `extra` parameter
  src/components/image-uploader/image-uploader.tsx
Due: prettier --write

feat: add Skeleton component
  config/components.ts
  src/components/skeleton/demos/demo1.less
  src/components/skeleton/demos/demo1.tsx
  src/components/skeleton/index.ts
  src/components/skeleton/skeleton.en.md
  src/components/skeleton/skeleton.less
  src/components/skeleton/skeleton.tsx
  src/components/skeleton/skeleton.zh.md
  src/index.ts
Due: prettier --write, stylelint --fix

doc: Skeleton
  src/components/skeleton/skeleton.en.md
  src/components/skeleton/skeleton.zh.md
Due: none

doc: (Modal) add primary for Action (#4599)
  src/components/modal/index.en.md
  src/components/modal/index.zh.md
Due: none

fix: (ImageUploader) Fix `onChange` to support the `extra` parameter (#4598)
  src/components/image-uploader/image-uploader.tsx
Due: prettier --write

fix: (Checkbox) Support text wrapping
  src/components/checkbox/checkbox.less
Due: stylelint --fix

fix: (Radio & Checkbox) support text wrapping (#4596)
  src/components/checkbox/checkbox.less
  src/components/radio/radio.less
Due: stylelint --fix

fix: (ImageViewer) pinch gesture not working properly
  src/components/image-viewer/slide.tsx
Due: prettier --write

fix: Popover 气泡弹出框的箭头遮挡内容的问题
  src/components/popover/popover.less
  src/components/popover/popover.tsx
Due: prettier --write, stylelint --fix

feat: upgrade ahooks to v3
  .dumi/theme/components/LocaleSelect.tsx
  package.json
  src/components/date-picker/date-picker.tsx
  src/components/image-uploader/image-uploader.tsx
  src/components/image/lazy-detector.tsx
  src/components/infinite-scroll/infinite-scroll.tsx
  src/components/number-keyboard/number-keyboard.tsx
  src/components/picker/picker.tsx
  src/components/switch/demos/demo1.tsx
  src/utils/use-mutation-effect.tsx
  src/utils/use-props-value.ts
  src/utils/use-resize-effect.tsx
  yarn.lock
Due: prettier --write

feat: upgrade ahooks to v3 (#4604)
  .dumi/theme/components/LocaleSelect.tsx
  package.json
  src/components/date-picker/date-picker.tsx
  src/components/image-uploader/image-uploader.tsx
  src/components/image/lazy-detector.tsx
  src/components/infinite-scroll/infinite-scroll.tsx
  src/components/number-keyboard/number-keyboard.tsx
  src/components/picker/picker.tsx
  src/components/switch/demos/demo1.tsx
  src/utils/use-mutation-effect.tsx
  src/utils/use-props-value.ts
  src/utils/use-resize-effect.tsx
  yarn.lock
Due: prettier --write

fix: index-bar.less
  src/components/index-bar/index-bar.less
Due: stylelint --fix

fix: #4609
  src/components/popover/popover.less
  src/components/popover/popover.tsx
Due: prettier --write, stylelint --fix

fix: #4606
  src/components/index-bar/index-bar.less
Due: stylelint --fix

fix: (IndexBar) side bar position(#4611)
  src/components/index-bar/index-bar.less
Due: stylelint --fix

chore: upgrade dependencies
  package.json
  yarn.lock
Due: none

deploy: d7b842e8d6f4665e0674d427a81cb56b65ef7643
  404.html
  index.html
  umi.0fb6b09b.css
  umi.2c6b8cac.js
  umi.53916118.css
  umi.8c96bcd2.js
Due: none

doc: (Tabs) --fixed-active-line-width
  src/components/tabs/index.en.md
  src/components/tabs/index.zh.md
Due: none

fix: (SideBar) fix title type
  src/components/side-bar/side-bar.tsx
Due: prettier --write

fix: (SideBar) fix title type (#4613)
  src/components/side-bar/side-bar.tsx
Due: prettier --write

enhance: (Picker & Cascader) change confirmText & cancelText type to ReactNode
  src/components/cascader/cascader.tsx
  src/components/cascader/index.en.md
  src/components/cascader/index.zh.md
  src/components/picker/index.en.md
  src/components/picker/index.zh.md
  src/components/picker/picker.tsx
Due: prettier --write
