Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": ["prettier --write"],
  "src/**/*.{less,css}": ["stylelint --fix"]
}

chore(Mask): adjust animation config
  src/components/mask/mask.tsx
Due: prettier --write

refactor(Modal & Dialog): remove the whole DOM element after hidden if `destroyOnClose` is `true`
  src/components/dialog/dialog.tsx
  src/components/mask/mask.tsx
  src/components/modal/modal.tsx
  src/utils/use-inner-visible.ts
Due: prettier --write

test: update snapshots
  src/components/image-viewer/tests/__snapshots__/image-viewer.test.tsx.snap
Due: none

fix: downgrade `@use-gesture/react` to 10.2.12
  package.json
  yarn.lock
Due: none

chore: change version
  package.json
Due: none

deploy: 7650e4128c0495d932aeaaeab3829771f9417c7d
  404.html
  index.html
  umi.79d73aa1.js
  umi.9cecf46d.js
Due: none

chore: update gulpfile
  .prettierrc.js
  gulpfile.js
Due: none

doc: add some note in quick start
  docs/guide/quick-start.en.md
  docs/guide/quick-start.zh.md
Due: none

feat(ImageViewer): add renderFooter prop
  src/components/image-viewer/demos/demo1.tsx
  src/components/image-viewer/image-viewer.tsx
  src/components/image-viewer/tests/__snapshots__/image-viewer.test.tsx.snap
  src/components/image-viewer/tests/image-viewer.test.tsx
Due: prettier --write

chore: update github issue templates config
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/question.yml
Due: none

chore: update issue templates
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/general.yml
Due: none

Update ssr.en.md
  docs/guide/ssr.en.md
Due: none

doc: update ssr.en.md (#5230)
  docs/guide/ssr.en.md
Due: none

doc: update ssr guide
  docs/guide/ssr.zh.md
Due: none

doc: remix useage #5231
  docs/guide/ssr.zh.md
Due: none

fix(ImageViewer): footer cannot update after swipe image
  src/components/image-viewer/image-viewer.less
  src/components/image-viewer/image-viewer.tsx
Due: prettier --write, stylelint --fix

doc: add en
  docs/guide/ssr.en.md
  docs/guide/ssr.zh.md
Due: none

doc: add usage in remix projects (#5234)
  docs/guide/ssr.en.md
  docs/guide/ssr.zh.md
Due: none

feat(ImageViewer): add `renderFooter` prop (#5228)
  src/components/image-viewer/demos/demo1.tsx
  src/components/image-viewer/image-viewer.less
  src/components/image-viewer/image-viewer.tsx
  src/components/image-viewer/tests/__snapshots__/image-viewer.test.tsx.snap
  src/components/image-viewer/tests/image-viewer.test.tsx
Due: prettier --write, stylelint --fix

doc(ImageViewer): update demo and API table
  src/components/image-viewer/demos/demo1.less
  src/components/image-viewer/demos/demo1.tsx
  src/components/image-viewer/index.en.md
  src/components/image-viewer/index.zh.md
Due: prettier --write, stylelint --fix

fix(ImageViewer): remove unused `max-height: -webkit-fill-available` style to prevent eslint errors
  src/components/image-viewer/image-viewer.less
Due: stylelint --fix

test(SideBar): add some tests
  src/components/side-bar/side-bar.tsx
  src/components/side-bar/tests/__snapshots__/side-bar.test.tsx.snap
  src/components/side-bar/tests/side-bar.test.tsx
Due: prettier --write

test(TabBar): add some tests
  src/components/tab-bar/tab-bar.tsx
  src/components/tab-bar/tests/__snapshots__/tab-bar.test.tsx.snap
  src/components/tab-bar/tests/tab-bar.test.tsx
Due: prettier --write

test(InfiniteScroll): add some tests
  src/components/infinite-scroll/tests/infinite-scroll.test.tsx
Due: prettier --write

test(InfiniteScroll): add some tests (#5241)
  src/components/infinite-scroll/tests/infinite-scroll.test.tsx
Due: prettier --write

doc(ImageUploader): update API table
  src/components/image-uploader/index.zh.md
Due: none

doc(ImageUploader): update API table (#5244)
  src/components/image-uploader/index.zh.md
Due: none

fix(Input): may can't use Chinese input method to enter values, when click the clear button in ios
  src/components/input/input.tsx
Due: prettier --write

fix(Input): may can't enter values when click the clear button in ios (#5247)
  src/components/input/input.tsx
Due: prettier --write

doc(Input): update FAQ
  src/components/input/index.en.md
  src/components/input/index.zh.md
Due: none

chore: add DISABLE_CSS_VAR env variable
  config/config.ts
Due: none

docs: typo
  src/components/dialog/index.en.md
Due: none

doc: fix typo (#5248)
  src/components/dialog/index.en.md
Due: none

feat(Ellipsis): move Ellipsis out of experimental components
  config/components.ts
  src/components/ellipsis/index.en.md
  src/components/ellipsis/index.zh.md
Due: none

feat(ErrorBlock): add `createErrorBlock` function for generating more light-weighted or customized ErrorBlock
  src/components/error-block/create-error-block.tsx
  src/components/error-block/demos/demo-3.tsx
  src/components/error-block/demos/demo-4.less
  src/components/error-block/demos/demo-4.tsx
  src/components/error-block/error-block.tsx
  src/components/error-block/images/index.tsx
  src/components/error-block/index.en.md
  src/components/error-block/index.ts
  src/components/error-block/index.zh.md
  src/index.ts
Due: prettier --write, stylelint --fix

chore: adjust postcss-disable-css-vars
  package.json
  scripts/postcss-disable-css-vars.js
  yarn.lock
Due: none

chore: upgrade dependencies
  package.json
  yarn.lock
Due: none

chore: upgrade `@use-gesture/react` to `10.2.15`
  package.json
  yarn.lock
Due: none
