Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

refactor: Form.Array
  src/components/form/demos/demo-array.tsx
  src/components/form/demos/demo-list.tsx
  src/components/form/form-array.tsx
  src/components/form/form-list.tsx
  src/components/form/form.less
  src/components/form/form.tsx
  src/components/form/index.tsx
  src/components/form/index.zh.md
Due: prettier --write, stylelint --fix

doc: Form.Array
  src/components/form/demos/demo-array.tsx
  src/components/form/form-array.tsx
  src/components/form/form.tsx
  src/components/form/index.en.md
  src/components/form/index.tsx
  src/components/form/index.zh.md
Due: prettier --write

chore: fix type import
  src/components/form/form-array.tsx
Due: prettier --write

feat: (CascaderView & Cascader) add `isLeaf` to extend data in onChange event (#4886)
  src/components/cascader-view/cascader-view.tsx
  src/components/cascader-view/use-cascader-value-extend.tsx
  src/components/cascader/index.en.md
  src/components/cascader/index.zh.md
Due: prettier --write

enhance: (PullToRefresh) improve behavior when content has nested scroll areas
  src/components/pull-to-refresh/demos/demo-nested.less
  src/components/pull-to-refresh/demos/demo-nested.tsx
  src/components/pull-to-refresh/demos/demo1.tsx
  src/components/pull-to-refresh/demos/demo2.tsx
  src/components/pull-to-refresh/index.en.md
  src/components/pull-to-refresh/index.zh.md
  src/components/pull-to-refresh/pull-to-refresh.tsx
Due: prettier --write, stylelint --fix

chore: change version
  package.json
Due: none

fix: (Modal & Dialog) doesn't close when trigger too fast
  src/components/dialog/show.tsx
  src/components/modal/demos/demo3.tsx
  src/components/modal/show.tsx
Due: prettier --write

deploy: 36bb79177175762dd66cdbf93821d0c47d128852
  404.html
  index.html
  umi.1f3b1ce6.js
  umi.a3dabafe.js
  umi.c077260e.css
  umi.d21a1dfb.css
Due: none

fix: (Popover) explicitly import umd version of @floating-ui/dom to avoid incompatibility with babel-transform-runtime
  src/components/popover/popover.tsx
  src/components/popover/temp-floating-ui.d.ts
Due: prettier --write

fix: localize @floating-ui/dom umd code
  src/components/popover/popover.tsx
  src/components/popover/temp-floating-ui.d.ts
  src/components/popover/temp-floating-ui.min.d.ts
  src/components/popover/temp-floating-ui.min.js
Due: prettier --write

fix: adjust build scripts for floating-ui temp import
  gulpfile.js
Due: none

deploy: 8c970e71c6d2cdff1f7deb7aeed5c732ab794f25
  404.html
  index.html
  umi.1f3b1ce6.js
  umi.d774b3c3.js
Due: none

chore: update coverage config to exclude `.umi`
  jest.config.js
Due: none

feat: (Badge) content supports the digit 0
  src/components/badge/badge.tsx
Due: prettier --write

fix: (Checkbox & Radio) adjust the behavior of onClick events to make sure inner element event can propagate to outer
  src/components/checkbox/checkbox.tsx
  src/components/checkbox/native-input.tsx
  src/components/checkbox/tests/checkbox.test.tsx
  src/components/popover/demos/demo3.tsx
  src/components/popover/index.en.md
  src/components/popover/index.zh.md
  src/components/popover/popover.tsx
  src/components/radio/radio.tsx
  src/components/radio/tests/radio.test.tsx
Due: prettier --write

chore: update coverage config to exclude `.umi` (#4905)
  jest.config.js
Due: none

fix: (Badge) content supports the digit 0 (#4906)
  src/components/badge/badge.tsx
Due: prettier --write

enhance: (TreeSelect) unshift -> push + reverse (#4889)
  src/components/tree-select/tree-select.tsx
Due: prettier --write

refactor: (Switch) remove error throw
  src/components/switch/switch.tsx
Due: prettier --write

fix: (Modal & Dialog) doesn't close when trigger too fast (#4897)
  src/components/dialog/show.tsx
  src/components/modal/demos/demo3.tsx
  src/components/modal/show.tsx
Due: prettier --write

fix: (modal & dialog & image-viewer & action-sheet) doesn't close when trigger too fast
  src/components/action-sheet/action-sheet.tsx
  src/components/dialog/show.tsx
  src/components/image-viewer/methods.tsx
  src/components/modal/show.tsx
Due: prettier --write

chore: update prettier config
  .prettierignore
  src/components/popover/temp-floating-ui.min.js
Due: none

chore: remove unused dependencies
  package.json
  src/tests/testing.tsx
  yarn.lock
Due: prettier --write

feat: (ActionSheet) add `popupClassName` and `popupStyle`
  src/components/action-sheet/action-sheet.tsx
Due: prettier --write

enhance: ([TabBar.Item]) title support Function
  src/components/tab-bar/index.en.md
  src/components/tab-bar/index.zh.md
  src/components/tab-bar/tab-bar.tsx
Due: prettier --write

feat: (FloatingBubble) add CSS variable
  src/components/floating-bubble/floating-bubble.less
  src/components/floating-bubble/floating-bubble.tsx
  src/components/floating-bubble/index.en.md
  src/components/floating-bubble/index.zh.md
Due: prettier --write, stylelint --fix

enhance: support `afterClose` and unmount when quickly closed
  src/components/action-sheet/action-sheet.tsx
  src/components/dialog/show.tsx
  src/components/image-viewer/methods.tsx
  src/components/modal/show.tsx
Due: prettier --write

enhance: (ErrorBlock) add alt
  src/components/error-block/error-block.tsx
Due: prettier --write

test: add some tests
  src/components/dot-loading/tests/dot-loading.test.tsx
  src/components/error-block/tests/__snapshots__/error-block.test.tsx.snap
  src/components/error-block/tests/error-block.test.tsx
  src/components/mask/tests/mask.test.tsx
  src/components/switch/tests/switch.test.tsx
  src/components/tag/tests/__snapshots__/tag.test.tsx.snap
  src/components/tag/tests/tag.test.tsx
Due: prettier --write

fix: (dot-loading) remove svg id
  src/components/dot-loading/dot-loading.tsx
Due: prettier --write

chore: update jest config to transform images
  fileTransformer.js
  jest.config.js
Due: none

fix: (Modal & Dialog & ImageViewer & ActionSheet) doesn't close when trigger too fast (#4909)
  src/components/action-sheet/action-sheet.tsx
  src/components/dialog/show.tsx
  src/components/image-viewer/methods.tsx
  src/components/modal/show.tsx
Due: prettier --write

refactor: refactor the show methods of some components with renderImperatively util and rename some irregular handler types
  src/components/action-sheet/action-sheet.tsx
  src/components/action-sheet/demos/demo1.tsx
  src/components/action-sheet/index.ts
  src/components/dialog/demos/demo2.tsx
  src/components/dialog/index.ts
  src/components/dialog/show.tsx
  src/components/image-uploader/image-uploader.tsx
  src/components/image-viewer/index.ts
  src/components/image-viewer/methods.tsx
  src/components/modal/demos/demo3.tsx
  src/components/modal/index.ts
  src/components/modal/show.tsx
  src/utils/render-imperatively.tsx
Due: prettier --write

chore: update CONTRIBUTING
  .github/CONTRIBUTING.md
Due: none

fix: 优化
  src/components/floating-bubble/index.en.md
Due: none

fix: fix
  src/components/floating-bubble/index.en.md
  src/components/floating-bubble/index.zh.md
Due: none

feat: (TabBar.Item) `title` supports render function (#4911)
  src/components/tab-bar/index.en.md
  src/components/tab-bar/index.zh.md
  src/components/tab-bar/tab-bar.tsx
Due: prettier --write

feat: (FloatingBubble) add --background CSS variable (#4912)
  src/components/floating-bubble/floating-bubble.less
  src/components/floating-bubble/floating-bubble.tsx
  src/components/floating-bubble/index.en.md
  src/components/floating-bubble/index.zh.md
Due: prettier --write, stylelint --fix

fix: (ActionSheet) change props type and update doc
  src/components/action-sheet/action-sheet.tsx
  src/components/action-sheet/index.en.md
  src/components/action-sheet/index.zh.md
Due: prettier --write

Path conditions:
  prettier --write: any of: src/**/*.{ts,tsx}
  stylelint --fix: any of: src/**/*.{less,css}
