Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": ["prettier --write"],
  "src/**/*.{less,css}": ["stylelint --fix"]
}

test(Toast): add some tests
  src/components/toast/tests/toast.test.tsx
  src/components/toast/toast.tsx
Due: prettier --write

feat(Toast): add icon classname
  src/components/toast/toast.tsx
Due: prettier --write

test(Toast): adjust tests
  src/components/toast/tests/toast.test.tsx
Due: prettier --write

fix(InfiniteScroll): fix `loadMore` can not be triggered after retry from failed state
  src/components/infinite-scroll/demos/demo4.tsx
  src/components/infinite-scroll/infinite-scroll.tsx
Due: prettier --write

chore: update eslint config
  .eslintrc.js
  package.json
Due: none

test(VirtualInput): add some tests (#5301)
  src/components/virtual-input/tests/virtual-input.test.tsx
Due: prettier --write

chore: change version
  package.json
Due: none

chore: add jest-canvas-mock
  jest.config.js
  package.json
  yarn.lock
Due: none

test(WaterMark): add some tests
  src/components/water-mark/tests/__snapshots__/water-mark.test.tsx.snap
  src/components/water-mark/tests/water-mark.test.tsx
  src/components/water-mark/water-mark.tsx
Due: prettier --write

deploy: d8a4b2b5bbec6d7dcca65ff25f536e91fccdfd7e
  404.html
  index.html
  umi.58b3d07c.js
  umi.c0741609.js
Due: none

feat(badge): add wrapperClassName & wrapperStyle props
  src/components/badge/badge.tsx
  src/components/badge/index.en.md
  src/components/badge/index.zh.md
  src/components/badge/tests/badge.test.tsx
Due: prettier --write

feat(badge): add `wrapperClassName` and `wrapperStyle` props (#5302)
  src/components/badge/badge.tsx
  src/components/badge/index.en.md
  src/components/badge/index.zh.md
  src/components/badge/tests/badge.test.tsx
Due: prettier --write

refactor(Badge): change the class name of the wrapper element to `adm-badge-wrapper` (used to be `adm-badge-wrap`)
  src/components/badge/badge.less
  src/components/badge/badge.tsx
  src/components/badge/tests/__snapshots__/badge.test.tsx.snap
Due: prettier --write, stylelint --fix

doc: replace "暗黑模式" with "深色模式"
  config/menus.tsx
  docs/guide/css-variables.zh.md
  docs/guide/dark-mode.zh.md
Due: none

test: update snapshots
  src/components/side-bar/tests/__snapshots__/side-bar.test.tsx.snap
  src/components/tab-bar/tests/__snapshots__/tab-bar.test.tsx.snap
Due: none

feat(textArea): support nativeElement ref & update docs
  src/components/text-area/index.en.md
  src/components/text-area/index.zh.md
  src/components/text-area/tests/textarea.test.tsx
  src/components/text-area/text-area.tsx
Due: prettier --write

feat(textArea): support nativeElement ref & update docs (#5307)
  src/components/text-area/index.en.md
  src/components/text-area/index.zh.md
  src/components/text-area/tests/textarea.test.tsx
  src/components/text-area/text-area.tsx
Due: prettier --write

test(ActionSheet): add click cancel button test
  src/components/action-sheet/tests/action-sheet.test.tsx
Due: prettier --write

test(ActionSheet): add click cancel button test (#5308)
  src/components/action-sheet/tests/action-sheet.test.tsx
Due: prettier --write

test(Card): test card without children
  src/components/card/tests/card.test.tsx
Due: prettier --write

chore: upgrade dumi related dependencies to render demo with React 18
  yarn.lock
Due: none

chore: revert "test(Button & Switch): add some test coverage throw error (#5298)"
  src/components/button/tests/button.test.tsx
  src/components/switch/tests/switch.test.tsx
  src/tests/setup.ts
Due: prettier --write

fix(Toast): `currentHandler` should be null when call `close`
  src/components/toast/methods.tsx
Due: prettier --write

refactor: `renderImperatively` supports `replace` method and refactor the implementation of Toast
  src/components/toast/methods.tsx
  src/utils/render-imperatively.tsx
  src/utils/render-to-body.ts
Due: prettier --write

fix(Toast): `afterClose` should be called when replacing a toast content
  src/components/toast/methods.tsx
  src/utils/render-imperatively.tsx
Due: prettier --write

refactor(Toast): refactor method show with renderImperatively
  src/components/toast/methods.tsx
  src/utils/render-imperatively.tsx
  src/utils/render-to-body.ts
Due: prettier --write

test(Card): test card without children (#5309)
  src/components/card/tests/card.test.tsx
Due: prettier --write

test(InfiniteScroll): adjust some tests
  src/components/infinite-scroll/tests/infinite-scroll.test.tsx
Due: prettier --write

refactor(Form): refactor `Form.Subscribe` with `useContext(FieldContext)`
  package.json
  src/components/form/form-subscribe.tsx
  yarn.lock
Due: prettier --write

fix(ImageUploader): fix some images may be skipped when multiple images accomplish upload process at the same time
  src/utils/use-props-value.ts
Due: prettier --write

enhance(Icon): upgrade `antd-mobile-icons` to 0.3.0 so that the svg elements won't have the nonsense titles
  package.json
  yarn.lock
Due: none

test(InfiniteScroll): adjust some tests (#5311)
  src/components/infinite-scroll/tests/infinite-scroll.test.tsx
Due: prettier --write

test: update snapshots
  src/components/cascader-view/tests/__snapshots__/cascader-view.test.tsx.snap
  src/components/check-list/tests/__snapshots__/check-list.test.tsx.snap
  src/components/config-provider/tests/__snapshots__/config-provider.test.tsx.snap
  src/components/image-uploader/tests/__snapshots__/image-uploader.test.tsx.snap
  src/components/notice-bar/tests/__snapshots__/notice-bar.test.tsx.snap
  src/components/tab-bar/tests/__snapshots__/tab-bar.test.tsx.snap
Due: none

fix(InfiniteScroll): prevent dropping into the infinite loop trap for React 18 apps
  src/components/infinite-scroll/infinite-scroll.tsx
Due: prettier --write

enhance(InfiniteScroll): add throttle logic for scroll position check to have better performance
  src/components/infinite-scroll/infinite-scroll.tsx
Due: prettier --write

feat(SafeArea): remove `--adm-hd` and replace with the CSS variables of SafeArea itself: `--multiple` and `--adm-safe-area-multiple`
  gulpfile.js
  src/components/safe-area/index.en.md
  src/components/safe-area/index.zh.md
  src/components/safe-area/safe-area.less
  src/global/theme-default.less
Due: stylelint --fix

test(InfiniteScroll): fix failed tests
  src/components/infinite-scroll/tests/infinite-scroll.test.tsx
Due: prettier --write

test(Picker): test onMaskClick and render children
  src/components/picker/tests/picker.test.tsx
Due: prettier --write

test(InfiniteScroll): fix failed tests (#5315)
  src/components/infinite-scroll/tests/infinite-scroll.test.tsx
Due: prettier --write
