Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

refactor: wrapper
  src/components/popover/wrapper.tsx
Due: prettier --write

fix: iso week selection
  src/components/date-picker/date-picker-week-utils.ts
Due: prettier --write

test: add test case
  src/components/date-picker/tests/date-picker.test.tsx
Due: prettier --write

fix(DatePicker): week select with year edge week not working as expect (#6808)
  src/components/date-picker/date-picker-week-utils.ts
  src/components/date-picker/tests/date-picker.test.tsx
Due: prettier --write

feat(SwipeAction): support onClose action
  src/components/swipe-action/index.en.md
  src/components/swipe-action/index.zh.md
  src/components/swipe-action/swipe-action.tsx
  src/components/swipe-action/tests/swipe-action.test.tsx
Due: prettier --write

feat(SwipeAction): support onClose action (#6812)
  src/components/swipe-action/index.en.md
  src/components/swipe-action/index.zh.md
  src/components/swipe-action/swipe-action.tsx
  src/components/swipe-action/tests/swipe-action.test.tsx
Due: prettier --write

fix: dropdown 关闭没有动画效果
  src/components/dropdown/item.tsx
Due: prettier --write

Fix translation "get start" -> "Get Started"
  docs/components/components/Main/MainSection/index.tsx
Due: none

Fix translation "get start" -> "Get Started" (#6819)
  docs/components/components/Main/MainSection/index.tsx
Due: none

fix: upload type
  src/components/image-uploader/image-uploader.tsx
Due: prettier --write

fix: 修复状态更新不同步问题
  src/components/ellipsis/useMeasure.tsx
Due: prettier --write

feat(ImageViewer): 支持自定义预览
  src/components/image-viewer/demos/demo1.less
  src/components/image-viewer/demos/demo1.tsx
  src/components/image-viewer/demos/images.tsx
  src/components/image-viewer/image-viewer.tsx
  src/components/image-viewer/index.zh.md
  src/components/image-viewer/slide.tsx
  src/components/image-viewer/slides.tsx
Due: prettier --write, stylelint --fix

Revert "feat(ImageViewer): 支持自定义预览"
  src/components/image-viewer/demos/demo1.less
  src/components/image-viewer/demos/demo1.tsx
  src/components/image-viewer/demos/images.tsx
  src/components/image-viewer/image-viewer.tsx
  src/components/image-viewer/index.zh.md
  src/components/image-viewer/slide.tsx
  src/components/image-viewer/slides.tsx
Due: prettier --write, stylelint --fix

feat(ImageViewer): support custom preview
  src/components/image-viewer/demos/demo1.less
  src/components/image-viewer/demos/demo1.tsx
  src/components/image-viewer/image-viewer.less
  src/components/image-viewer/image-viewer.tsx
  src/components/image-viewer/index.zh.md
Due: prettier --write, stylelint --fix

fix: en api
  src/components/image-viewer/index.en.md
Due: none

fix: 多张支持预览
  src/components/image-viewer/demos/demo1.less
  src/components/image-viewer/demos/demo1.tsx
  src/components/image-viewer/image-viewer.less
  src/components/image-viewer/image-viewer.tsx
  src/components/image-viewer/index.en.md
  src/components/image-viewer/index.zh.md
  src/components/image-viewer/slide.tsx
  src/components/image-viewer/slides.tsx
Due: prettier --write, stylelint --fix

fix: imageRender接受一下当前 image 的 url
  src/components/image-viewer/image-viewer.tsx
  src/components/image-viewer/index.en.md
  src/components/image-viewer/index.zh.md
  src/components/image-viewer/slide.tsx
Due: prettier --write

feat(FloatingPanel): support position attribute
  src/components/floating-panel/floating-panel.less
  src/components/floating-panel/floating-panel.tsx
  src/components/floating-panel/index.en.md
  src/components/floating-panel/index.zh.md
Due: prettier --write, stylelint --fix

feat(FloatingPanel): support position attribute
  src/components/floating-panel/floating-panel.tsx
  src/components/floating-panel/index.en.md
  src/components/floating-panel/index.zh.md
Due: prettier --write

chore: reset toast config
  src/components/config-provider/config-provider.tsx
  src/components/toast/toast.tsx
  src/utils/render-imperatively.tsx
Due: prettier --write

docs(Toast): remove unimplemented configuration
  src/components/config-provider/index.en.md
  src/components/config-provider/index.zh.md
Due: none

docs(Toast): remove unimplemented configuration (#6831)
  src/components/config-provider/index.en.md
  src/components/config-provider/index.zh.md
Due: none

fix: imageViewer demo
  src/components/image-viewer/demos/demo1.tsx
  src/components/image-viewer/image-viewer.tsx
Due: prettier --write

fix: change imagerender parmas index to {index:number}
  src/components/image-viewer/demos/demo1.tsx
  src/components/image-viewer/image-viewer.tsx
  src/components/image-viewer/index.en.md
  src/components/image-viewer/index.zh.md
  src/components/image-viewer/slide.tsx
  src/components/image-viewer/slides.tsx
Due: prettier --write

fix: ts 类型优化
  src/components/image-viewer/image-viewer.tsx
  src/components/image-viewer/index.en.md
  src/components/image-viewer/index.zh.md
  src/components/image-viewer/slide.tsx
Due: prettier --write

fix: add imageRender test case
  src/components/image-viewer/tests/__snapshots__/image-viewer.test.tsx.snap
  src/components/image-viewer/tests/image-viewer.test.tsx
Due: prettier --write

chore: clean up
  src/components/floating-panel/demos/demo4.tsx
  src/components/floating-panel/floating-panel.less
  src/components/floating-panel/floating-panel.tsx
  src/components/floating-panel/index.en.md
  src/components/floating-panel/index.zh.md
Due: prettier --write, stylelint --fix

fix: imageViewer test case simplify
  src/components/image-viewer/tests/image-viewer.test.tsx
Due: prettier --write

chore: simplify
  src/components/floating-panel/floating-panel.tsx
Due: prettier --write

feat(FloatingPanel): support position attribute (#6829)
  src/components/floating-panel/demos/demo4.tsx
  src/components/floating-panel/floating-panel.less
  src/components/floating-panel/floating-panel.tsx
  src/components/floating-panel/index.en.md
  src/components/floating-panel/index.zh.md
Due: prettier --write, stylelint --fix

fix: ci failed
  src/components/image-viewer/tests/__snapshots__/image-viewer.test.tsx.snap
Due: none

ImageViewer preview component supports self-defined preview content (#6825)
  src/components/image-viewer/demos/demo1.less
  src/components/image-viewer/demos/demo1.tsx
  src/components/image-viewer/image-viewer.tsx
  src/components/image-viewer/index.en.md
  src/components/image-viewer/index.zh.md
  src/components/image-viewer/slide.tsx
  src/components/image-viewer/slides.tsx
  src/components/image-viewer/tests/image-viewer.test.tsx
Due: prettier --write, stylelint --fix

chore: update comment
  src/components/ellipsis/demos/demo1.tsx
  src/components/ellipsis/useMeasure.tsx
Due: prettier --write

chore: back of demo
  src/components/ellipsis/demos/demo1.tsx
Due: prettier --write

fix(Ellipsis): Handle some post-update issues (#6797)
  src/components/ellipsis/tests/ellipsis.test.tsx
  src/components/ellipsis/useMeasure.tsx
Due: prettier --write

chore: bump 3.39.0
  package.json
Due: none

feat(Locale): update russian locale
  src/components/config-provider/tests/__snapshots__/config-provider.test.tsx.snap
  src/locales/ru-RU.ts
Due: prettier --write

docs: update imageRender prop since version
  src/components/image-viewer/index.en.md
  src/components/image-viewer/index.zh.md
Due: none

Path conditions:
  prettier --write: any of: src/**/*.{ts,tsx}
  stylelint --fix: any of: src/**/*.{less,css}
