Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": ["prettier --write"],
  "src/**/*.{less,css}": ["stylelint --fix"]
}

feat(Button & Switch): remove throw e
  src/components/button/button.tsx
  src/components/button/tests/button.test.tsx
  src/components/switch/switch.tsx
  src/components/switch/tests/switch.test.tsx
Due: prettier --write

test: import act from testing
  src/components/text-area/tests/textarea.test.tsx
Due: prettier --write

chore: update codecov config
  codecov.yml
Due: none

doc(FloatingBubble): update index.zh.md
  src/components/floating-bubble/index.zh.md
Due: none

fix(Picker): body height error in ios 11.4 safari
  src/components/picker/picker.less
Due: stylelint --fix

feat: add some css vars patch less files
  src/components/button/button.patch.less
  src/components/capsule-tabs/capsule-tabs.less
  src/components/center-popup/center-popup.patch.less
  src/components/error-block/error-block.patch.less
  src/components/image/image.patch.less
  src/components/image/image.tsx
  src/components/jumbo-tabs/jumbo-tabs.less
  src/components/mask/mask.patch.less
  src/components/modal/modal.patch.less
  src/components/page-indicator/page-indicator.patch.less
  src/components/popover/popover-menu.patch.less
  src/components/popover/popover.patch.less
  src/components/scroll-mask/scroll-mask.less
  src/components/scroll-mask/scroll-mask.patch.less
  src/components/space/space.patch.less
  src/components/spin-loading/spin-loading.less
  src/components/spin-loading/spin-loading.patch.less
  src/components/swiper/swiper.patch.less
  src/components/tabs/tabs.patch.less
  src/components/toast/toast.patch.less
  src/global/css-vars-patch.less
  src/global/index.ts
Due: prettier --write, stylelint --fix

feat: build script for bundle/css-vars-patch.css
  gulpfile.js
Due: none

feat: adjust build script to output a 2x css-vars-patch.css
  gulpfile.js
Due: none

feat: auto-detect the browser environment and conditionally activate the patch css
  src/global/css-vars-patch.less
Due: stylelint --fix

doc: add doc for `css-vars-patch.css`
  docs/guide/css-variables.en.md
  docs/guide/css-variables.zh.md
Due: none

doc: update compatibility guide
  docs/guide/css-variables.en.md
  docs/guide/css-variables.zh.md
  docs/guide/quick-start.en.md
  docs/guide/quick-start.zh.md
Due: none

doc(FloatingBubble): update index.zh.md (#5285)
  src/components/floating-bubble/index.zh.md
Due: none

fix(Picker): fix Picker body height over-exceeds in iOS 11.4 Safari (#5287)
  src/components/picker/picker.less
Due: stylelint --fix

feat(InfiniteScroll): supports retry when load more failed and `children` supports render function
  src/components/infinite-scroll/demos/demo4.tsx
  src/components/infinite-scroll/index.en.md
  src/components/infinite-scroll/index.zh.md
  src/components/infinite-scroll/infinite-scroll.less
  src/components/infinite-scroll/infinite-scroll.tsx
  src/locales/base.ts
  src/locales/zh-CN.ts
Due: prettier --write, stylelint --fix

test(InfiniteScroll): fix test
  src/components/infinite-scroll/tests/infinite-scroll.test.tsx
Due: prettier --write

chore(eslint): update eslint rules
  .eslintrc.js
Due: none

chore(tsconfig): update tsconfig rule
  tsconfig.json
Due: none

chore: change version
  package.json
Due: none

deploy: 55660cd814347cc21d76e822c69ccc5aabbedd5f
  404.html
  index.html
  umi.3560409d.css
  umi.3ad345d9.js
  umi.6b3625e7.css
  umi.8c25b06a.js
Due: none

feat: unhandledRejection process continue
  src/components/button/button.tsx
  src/components/button/tests/button.test.tsx
  src/tests/setup.ts
Due: prettier --write

fix: change switch test
  src/components/switch/switch.tsx
  src/components/switch/tests/switch.test.tsx
Due: prettier --write

fix: remove process.on useless code
  src/tests/setup.ts
Due: prettier --write

fix(Modal & Dialog): fix `className` and `style` props doesn't take effect
  src/components/dialog/dialog.tsx
  src/components/modal/modal.tsx
Due: prettier --write

deploy: bfbc8f3ae14dc3bc6e51a192fa2e7807533c6e8a
  404.html
  index.html
  umi.09b3a1be.js
  umi.8c25b06a.js
Due: none

chore: upgrade dependencies related to jest
  package.json
  yarn.lock
Due: none

test: fix Modal and Dialog failed tests
  src/components/dialog/tests/dialog.test.tsx
  src/components/modal/tests/modal.test.tsx
  src/tests/testing.tsx
Due: prettier --write

chore: remove unused imports
  src/components/modal/tests/modal.test.tsx
Due: prettier --write

chore: upgrade dependencies
  package.json
  yarn.lock
Due: none

test(VirtualInput): add some tests
  src/components/virtual-input/tests/virtual-input.test.tsx
Due: prettier --write

fix: `css-vars-patch.css` in 2x directory should be multiplied
  gulpfile.js
Due: none

deploy: 854ba4d003bb388f2f03bb3ccfca7128f241fe9a
  404.html
  index.html
  umi.09b3a1be.js
  umi.58b3d07c.js
Due: none

chore: update tsconfig.json
  tsconfig.json
Due: none

chore(tsconfig): update tsconfig rule (#5295)
  tsconfig.json
Due: none

doc: fix form demo style problem
  src/components/form/demos/demo3.tsx
Due: prettier --write

fix(Form): `setFieldsValue` should trigger the rerender of `Form.Subscribe` now
  src/components/form/form-subscribe.tsx
Due: prettier --write
