Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": ["prettier --write"],
  "src/**/*.{less,css}": ["stylelint --fix"]
}

enhance: Stepper use self Input and Button Component
  src/components/stepper/stepper.less
  src/components/stepper/stepper.tsx
Due: prettier --write, stylelint --fix

feat: ConfigProvider
  README.md
  config/config.ts
  docs/index.md
  src/components/config-provider/config-provider.tsx
  src/components/config-provider/demos/demo1.tsx
  src/components/config-provider/index.md
  src/components/config-provider/index.tsx
  src/components/search/search.tsx
  src/demos/demo-block/index.tsx
  src/index.ts
  src/locales/base.ts
  src/locales/en-US.ts
  src/locales/zh-CN.ts
  src/utils/merge-locale.ts
Due: prettier --write

chore: remove unused code in Input
  src/components/input/input.tsx
Due: prettier --write

feat: ConfigProvider add `global` prop
  config/config.ts
  src/components/config-provider/config-provider.tsx
  src/components/config-provider/demos/demo1.tsx
  src/components/config-provider/index.tsx
  src/components/dialog/alert.tsx
  src/demos/demo-block/index.tsx
  src/locales/base.ts
  src/locales/zh-CN.ts
Due: prettier --write

fix: lint issues
  src/components/config-provider/config-provider.tsx
Due: prettier --write

enhance: optimize Stepper component styles
  src/components/stepper/stepper.less
  src/components/stepper/stepper.tsx
Due: prettier --write, stylelint --fix

enhance: form & form-item css class prefix reuse
  src/components/form/form-item.less
  src/components/form/form.less
  src/components/form/form.tsx
Due: prettier --write, stylelint --fix

enhance: notice-bar css class prefix reuse
  src/components/notice-bar/notice-bar.less
  src/components/notice-bar/notice-bar.tsx
Due: prettier --write, stylelint --fix

enhance: Button css class prefix reuse
  src/components/button/button.less
Due: stylelint --fix

enhance: Collapse css class prefix reuse
  src/components/collapse/collapse.less
  src/components/collapse/collapse.tsx
Due: prettier --write, stylelint --fix

enhance: Step & DesensText css class prefix reuse
  src/components/desense-text/desense-text.tsx
  src/components/steps/step.tsx
  src/components/steps/steps.less
Due: prettier --write, stylelint --fix

enhance: Dropdown css class prefix reuse
  src/components/dropdown/dropdown.less
Due: stylelint --fix

refactor: fork a copy of dumi-theme-mobile
  .dumi/theme/builtins/Previewer.less
  .dumi/theme/builtins/Previewer.tsx
  .dumi/theme/components/device.less
  .dumi/theme/components/device.tsx
  .dumi/theme/global.d.ts
  .dumi/theme/layouts/demo.tsx
  .dumi/theme/layouts/index.tsx
  .dumi/theme/style/layout.less
  .dumi/theme/style/variables.less
  package.json
  yarn.lock
Due: none

chore: update version
  package.json
Due: none

doc: build a new device previewer
  .dumi/theme/builtins/Previewer.less
  .dumi/theme/builtins/Previewer.tsx
  .dumi/theme/components/device.less
  .dumi/theme/components/device.tsx
Due: none

fix: DataPicker.prompt onConfirm not trigger
  src/components/date-picker/prompt.tsx
Due: prettier --write

fix: DatePicker.prompt onConfirm not trigger
  src/components/date-picker/prompt.tsx
Due: prettier --write

enhance: When used with Checkbox.Group add some warnings
  src/components/checkbox/checkbox.tsx
Due: prettier --write

feat:新增numbericKeyboard组件
  config/config.ts
  src/assets/backspace.svg
  src/components/numberic-keyboard/demos/index.tsx
  src/components/numberic-keyboard/index.md
  src/components/numberic-keyboard/index.ts
  src/components/numberic-keyboard/numberic-keyboard.less
  src/components/numberic-keyboard/numberic-keyboard.tsx
  src/index.ts
  src/utils/shuffle.ts
Due: prettier --write, stylelint --fix

doc: fork a copy of dumi theme default
  .dumi/theme/builtins/Alert.less
  .dumi/theme/builtins/Alert.tsx
  .dumi/theme/builtins/Badge.less
  .dumi/theme/builtins/Badge.tsx
  .dumi/theme/builtins/Previewer.less
  .dumi/theme/builtins/Previewer.tsx
  .dumi/theme/builtins/SourceCode.less
  .dumi/theme/builtins/SourceCode.tsx
  .dumi/theme/builtins/preview-default/Previewer.less
  .dumi/theme/builtins/preview-default/Previewer.tsx
  .dumi/theme/components/LocaleSelect.less
  .dumi/theme/components/LocaleSelect.tsx
  .dumi/theme/components/Navbar.less
  .dumi/theme/components/Navbar.tsx
  .dumi/theme/components/SearchBar.less
  .dumi/theme/components/SearchBar.tsx
  .dumi/theme/components/SideMenu.less
  .dumi/theme/components/SideMenu.tsx
  .dumi/theme/components/SlugList.less
  .dumi/theme/components/SlugList.tsx
  .dumi/theme/layouts/demo.tsx
  .dumi/theme/layouts/index.tsx
  .dumi/theme/layouts/layout.tsx
  .dumi/theme/style/layout-default.less
  .dumi/theme/style/layout.less
  .dumi/theme/style/markdown.less
  package.json
  yarn.lock
Due: none

chore: upgrade dumi
  package.json
  yarn.lock
Due: none

doc: add version info and change the icon
  .dumi/theme/components/Navbar.less
  .dumi/theme/components/Navbar.tsx
  .dumi/theme/style/variables.less
  config/config.ts
  tsconfig.json
Due: none

enhance: Checkbox usage warning when using with Checkbox.Group
  src/components/checkbox/checkbox.tsx
Due: prettier --write

enhance: optimize Checkbox dev warning
  src/components/checkbox/checkbox.tsx
Due: prettier --write

feat: Picker add `title` prop
  src/components/picker/demos/index.tsx
  src/components/picker/index.md
  src/components/picker/picker.less
  src/components/picker/picker.tsx
Due: prettier --write, stylelint --fix

doc: SideMenu
  .dumi/theme/components/Navbar.less
  .dumi/theme/components/SideMenu.less
  .dumi/theme/components/SideMenu.tsx
  .dumi/theme/components/SlugList.less
  .dumi/theme/components/SlugList.tsx
  .dumi/theme/style/markdown.less
  config/config.ts
Due: none

doc: style
  .dumi/theme/components/Navbar.less
  .dumi/theme/style/markdown.less
  .dumi/theme/style/variables.less
  package.json
Due: none

feat: ConfigProvider
  config/config.ts
  src/components/config-provider/config-provider.tsx
  src/components/config-provider/demos/demo1.tsx
  src/components/config-provider/demos/demo2.tsx
  src/components/config-provider/index.md
  src/components/config-provider/index.tsx
  src/components/dialog/alert.tsx
  src/components/error-block/error-block.tsx
  src/components/error-block/error.tsx
  src/index.ts
  src/locales/base.ts
  src/locales/zh-CN.ts
Due: prettier --write

fix: ErrorBlock style and update doc demos
  src/components/error-block/demos/demo-basic.tsx
  src/components/error-block/demos/demo-full-page.tsx
  src/components/error-block/demos/demo1.tsx
  src/components/error-block/error-block.less
  src/components/error-block/error-block.tsx
  src/components/error-block/index.md
Due: prettier --write, stylelint --fix

doc: ConfigProvider demo
  src/components/config-provider/demos/demo2.tsx
Due: prettier --write

doc: ErrorBlock demo
  src/components/error-block/demos/demo2.tsx
Due: prettier --write

feat: NavBar
  config/config.ts
  src/components/nav-bar/demos/index.less
  src/components/nav-bar/demos/index.tsx
  src/components/nav-bar/index.md
  src/components/nav-bar/index.ts
  src/components/nav-bar/nav-bar.less
  src/components/nav-bar/nav-bar.tsx
  src/index.ts
Due: prettier --write, stylelint --fix

enhance: NavBar style
  config/config.ts
  src/components/nav-bar/demos/index.tsx
  src/components/nav-bar/nav-bar.less
  src/components/nav-bar/nav-bar.tsx
  src/index.ts
Due: prettier --write, stylelint --fix

doc: NavBar
  src/components/nav-bar/index.md
Due: none

feat: add cancelText prop to Search
  src/components/search/search.tsx
Due: prettier --write

doc: Search
  src/components/search/index.md
Due: none

fix: custom Navbar back icon failure
  src/components/nav-bar/nav-bar.tsx
Due: prettier --write

Update index-cn.html
  index-cn.html
Due: none
