Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

fix: remove exports field (#5013)
  package.json
Due: none

enhance: (Modal) support disableBodyScroll prop for Mask (#5019)
  src/components/modal/index.en.md
  src/components/modal/index.zh.md
  src/components/modal/modal.tsx
Due: prettier --write

feat: (Dialog) add `disableBodyScroll` prop
  src/components/dialog/dialog.tsx
  src/components/dialog/index.en.md
  src/components/dialog/index.zh.md
  src/components/modal/modal.tsx
Due: prettier --write

chore: change version
  package.json
Due: none

deploy: bddb740e1e2ef5d04518c7f2d6400bc2808f61d1
  404.html
  index.html
  umi.6ad6fab8.js
  umi.ddf2ead9.js
Due: none

feat: support children of fragement wrap
  package.json
  src/components/collapse/collapse.tsx
  src/utils/toArray.ts
  yarn.lock
Due: prettier --write

fix: type error
  src/components/collapse/index.ts
Due: prettier --write

fix: missing react-is types
  package.json
  yarn.lock
Due: none

doc: add stackblitz demo link
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug-report.yml
  docs/guide/quick-start.en.md
  docs/guide/quick-start.zh.md
Due: none

doc: adjust doc style
  .dumi/theme/builtins/Previewer.less
  .dumi/theme/builtins/preview-default/Previewer.less
  .dumi/theme/components/device.less
  .dumi/theme/components/device.tsx
  .dumi/theme/components/slug-list.less
  .dumi/theme/style/markdown.less
  .dumi/theme/style/variables.less
  config/config.ts
  src/demos/demo-block/index.less
Due: stylelint --fix

doc: adjust the style of side menu
  .dumi/theme/components/SearchBar.less
  .dumi/theme/components/SideMenu.less
  .dumi/theme/components/SideMenu.tsx
  .dumi/theme/style/variables.less
Due: none

test: (NumberKeyboard) adjust tests with `describe`
  src/components/number-keyboard/tests/numberic-keyboard.test.tsx
Due: prettier --write

refactor: (NumberKeyboard) remove `onMouseUp`
  src/components/number-keyboard/number-keyboard.tsx
Due: prettier --write

doc: adjust the layout style
  .dumi/theme/components/Navbar.less
  .dumi/theme/components/Navbar.tsx
  .dumi/theme/components/SideMenu.less
  .dumi/theme/components/slug-list.less
  .dumi/theme/layouts/index.less
  .dumi/theme/layouts/index.tsx
  .dumi/theme/style/layout.less
  .dumi/theme/style/variables.less
Due: none

doc: remove unused style
  .dumi/theme/layouts/index.tsx
  .dumi/theme/style/global.less
  .dumi/theme/style/layout.less
Due: none

refactor: (NumberKeyboard) remove onMouseUp to prevent backspace key to be triggered redundantly (#4996)
  src/components/number-keyboard/number-keyboard.tsx
  src/components/number-keyboard/tests/numberic-keyboard.test.tsx
Due: prettier --write

feat: (ImageUploader) add `imageFit` prop
  src/components/image-uploader/image-uploader.tsx
  src/components/image-uploader/index.en.md
  src/components/image-uploader/index.zh.md
  src/components/image-uploader/preview-item.tsx
Due: prettier --write

fix: (Form) Change the default value
  src/components/form/form-item.tsx
Due: prettier --write

refactor: (Form.Item) undefinedFallback
  src/components/form/form-item.tsx
  src/utils/tests/undefined-fallback.test.ts
  src/utils/undefined-fallback.ts
Due: prettier --write

doc: adjust the code font size
  .dumi/theme/builtins/SourceCode.less
Due: none

deploy: 55324a49a7e2ec3dbcef4ba8dc997e3b7357fe3f
  404.html
  index.html
  umi.08e93c64.css
  umi.27a3bfbf.css
  umi.55339e4f.js
  umi.ddf2ead9.js
Due: none

feat: (ImageUploader) add `imageFit` prop (#5028)
  src/components/image-uploader/image-uploader.tsx
  src/components/image-uploader/index.en.md
  src/components/image-uploader/index.zh.md
  src/components/image-uploader/preview-item.tsx
Due: prettier --write

doc: adjust style
  .dumi/theme/builtins/Previewer.less
  .dumi/theme/builtins/SourceCode.less
  .dumi/theme/components/Navbar.less
  .dumi/theme/components/Navbar.tsx
Due: none

docs: rename to CollapsePanelInternalProps
  src/components/collapse/collapse-panel.tsx
Due: prettier --write

feat: divider vertical
  src/components/divider/demos/demo1.tsx
  src/components/divider/divider.less
  src/components/divider/divider.tsx
  src/components/divider/index.zh.md
Due: prettier --write, stylelint --fix

enhance: (Picker) PickerColumnItem add key props
  src/components/picker-view/picker-view.tsx
  src/components/picker-view/wheel.tsx
  src/components/picker/index.en.md
  src/components/picker/index.zh.md
Due: prettier --write

enhance: (Collapse) support Collapse.Panel wrapped within React.Fragment
  package.json
  src/components/collapse/collapse.tsx
  src/utils/traverse-react-node.tsx
  yarn.lock
Due: prettier --write

doc: fix search bar style
  .dumi/theme/components/Navbar.less
  .dumi/theme/components/Navbar.tsx
  .dumi/theme/components/SearchBar.less
Due: none

docs: en docs
  src/components/divider/index.en.md
Due: none

fix: fix code
  src/components/picker-view/wheel.tsx
Due: prettier --write

refactor: (Divider) style isolation
  src/components/divider/divider.less
Due: stylelint --fix

refactor: (Divider) rename `type` prop to `direction`
  src/components/divider/demos/demo1.tsx
  src/components/divider/divider.tsx
  src/components/divider/index.en.md
  src/components/divider/index.zh.md
Due: prettier --write

doc: (Divider) fix doc
  src/components/divider/index.en.md
Due: none

feat: divider vertical (#5034)
  src/components/divider/demos/demo1.tsx
  src/components/divider/divider.less
  src/components/divider/divider.tsx
  src/components/divider/index.en.md
  src/components/divider/index.zh.md
Due: prettier --write, stylelint --fix

feat: (Picker) PickerColumnItem add `key` prop (#5037)
  src/components/picker-view/picker-view.tsx
  src/components/picker-view/wheel.tsx
  src/components/picker/index.en.md
  src/components/picker/index.zh.md
Due: prettier --write

chore: remove defining unused code
  src/components/form/demos/demo3.tsx
  src/components/form/demos/demo5.tsx
  src/components/image-viewer/methods.tsx
Due: prettier --write

fix: remove code
  src/components/index-bar/panel.tsx
  src/components/popover/popover-menu.tsx
  src/components/popover/wrapper.tsx
  src/components/pull-to-refresh/demos/demo-nested.tsx
  src/components/pull-to-refresh/demos/demo1.tsx
  src/components/pull-to-refresh/demos/demo2.tsx
  src/components/tree-select/multiple.tsx
Due: prettier --write

fix: remove code
  src/utils/undefined-fallback.ts
  src/utils/use-props-value.ts
Due: prettier --write

chore: remove defining unused code (#5038)
  src/components/form/demos/demo3.tsx
  src/components/form/demos/demo5.tsx
  src/components/image-viewer/methods.tsx
  src/components/index-bar/panel.tsx
  src/components/popover/popover-menu.tsx
  src/components/popover/wrapper.tsx
  src/components/pull-to-refresh/demos/demo-nested.tsx
  src/components/pull-to-refresh/demos/demo1.tsx
  src/components/pull-to-refresh/demos/demo2.tsx
  src/components/tree-select/multiple.tsx
  src/utils/undefined-fallback.ts
  src/utils/use-props-value.ts
Due: prettier --write

Path conditions:
  prettier --write: any of: src/**/*.{ts,tsx}
  stylelint --fix: any of: src/**/*.{less,css}
