Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": ["prettier --write"],
  "src/**/*.{less,css}": ["stylelint --fix"]
}

test: fix test case
  src/components/dialog/tests/dialog.test.tsx
Due: prettier --write

feat(i18n): add in-ID and update others (#6632)
  docs/guide/i18n.en.md
  docs/guide/i18n.zh.md
  src/components/config-provider/tests/__snapshots__/config-provider.test.tsx.snap
  src/components/config-provider/tests/config-provider.test.tsx
  src/components/dialog/tests/dialog.test.tsx
  src/locales/ar-SA.ts
  src/locales/de-DE.ts
  src/locales/es-ES.ts
  src/locales/fr-FR.ts
  src/locales/in-ID.ts
  src/locales/ja-JP.ts
  src/locales/th-TH.ts
Due: prettier --write

chore: bump 5.36.1
  package.json
Due: none

feat(card): css variables for border and padding
  src/components/card/card.less
  src/components/card/card.patch.less
  src/components/card/index.en.md
  src/components/card/index.zh.md
Due: stylelint --fix

feat(card): css variables for border and padding (#6583)
  src/components/card/card.less
  src/components/card/card.patch.less
  src/components/card/index.en.md
  src/components/card/index.zh.md
Due: stylelint --fix

chore: fix default
  src/components/notice-bar/notice-bar.tsx
Due: prettier --write

chore: rollback
  src/components/toast/toast.less
  src/components/toast/toast.tsx
Due: prettier --write, stylelint --fix

fix: virtualInput icon
  src/components/virtual-input/virtual-input.tsx
Due: prettier --write

test: adjust test case
  src/components/number-keyboard/number-keyboard.tsx
  src/components/number-keyboard/tests/number-keyboard.test.tsx
Due: prettier --write

test: test driven
  src/components/number-keyboard/tests/number-keyboard.test.tsx
Due: prettier --write

test: update test case
  src/components/number-keyboard/number-keyboard.tsx
Due: prettier --write

fix(NumberKeyboard): fix IOS missing the touch event when finger trigger the scale case (#6651)
  src/components/number-keyboard/number-keyboard.tsx
  src/components/number-keyboard/tests/number-keyboard.test.tsx
Due: prettier --write

chore: bump 5.37.0
  package.json
Due: none

fix: nav_bar backIcon attribute is compatible with backArrow attribute
  src/components/nav-bar/nav-bar.tsx
Due: prettier --write

refactor: use mergeProp instead
  src/components/nav-bar/nav-bar.tsx
  src/components/nav-bar/tests/nav-bar.test.tsx
Due: prettier --write

fix: nav_bar backIcon attribute is compatible with backArrow attribute (#6657)
  src/components/nav-bar/nav-bar.tsx
  src/components/nav-bar/tests/nav-bar.test.tsx
Due: prettier --write

chore: jumpTo should also jump to the view
  .gitignore
  package.json
  src/components/calendar-picker-view/calendar-picker-view.tsx
  src/components/calendar-picker-view/tests/useSyncScroll.ts
  src/components/calendar-picker/calendar-picker.tsx
  src/components/calendar-picker/demos/demo2.tsx
Due: prettier --write

test: add test case
  src/components/calendar-picker/tests/calendar-picker.test.tsx
Due: prettier --write

chore: rollback package.json
  package.json
Due: none

chore: back of ignore
  .gitignore
Due: none

test: update snapshot
  src/components/calendar-picker-view/calendar-picker-view.tsx
  src/components/calendar-picker-view/tests/__snapshots__/calendar-picker-view.test.tsx.snap
  src/components/calendar-picker-view/useSyncScroll.ts
Due: prettier --write

chore: fix import
  src/components/calendar-picker/tests/calendar-picker.test.tsx
Due: prettier --write

test: update snapshot
  src/components/config-provider/tests/__snapshots__/config-provider.test.tsx.snap
Due: none

fix(CalendarPicker): fix `jumpTo` & `jumpToToday` not trigger panel scroll (#6660)
  src/components/calendar-picker-view/calendar-picker-view.tsx
  src/components/calendar-picker-view/tests/__snapshots__/calendar-picker-view.test.tsx.snap
  src/components/calendar-picker-view/useSyncScroll.ts
  src/components/calendar-picker/calendar-picker.tsx
  src/components/calendar-picker/demos/demo2.tsx
  src/components/calendar-picker/tests/calendar-picker.test.tsx
  src/components/config-provider/tests/__snapshots__/config-provider.test.tsx.snap
Due: prettier --write

test: update snapshot
  src/components/calendar-picker-view/calendar-picker-view.tsx
  src/components/calendar-picker-view/tests/__snapshots__/calendar-picker-view.test.tsx.snap
  src/components/calendar-picker-view/tests/calendar-picker-view.test.tsx
  src/components/calendar-picker/demos/demo1.tsx
Due: prettier --write

fix(CalendarPickerView): Fix empty header cell for some month (#6661)
  src/components/calendar-picker-view/calendar-picker-view.tsx
  src/components/calendar-picker-view/tests/__snapshots__/calendar-picker-view.test.tsx.snap
  src/components/calendar-picker-view/tests/calendar-picker-view.test.tsx
  src/components/calendar-picker/demos/demo1.tsx
  src/components/config-provider/tests/__snapshots__/config-provider.test.tsx.snap
Due: prettier --write

chore: bump 5.37.1
  package.json
Due: none

docs: revert demo
  src/components/calendar-picker/demos/demo1.tsx
Due: prettier --write

docs: revert demo (#6662)
  src/components/calendar-picker/demos/demo1.tsx
Due: prettier --write

feat(DatePicker): add quarter precision
  src/components/date-picker-view/demos/demo1.tsx
  src/components/date-picker-view/demos/demo2.tsx
  src/components/date-picker/date-picker-quarter-utils.ts
  src/components/date-picker/date-picker-utils.ts
  src/components/date-picker/demos/demo1.tsx
  src/components/picker-view/index.en.md
  src/components/picker-view/index.zh.md
  src/components/picker/index.en.md
  src/components/picker/index.zh.md
Due: prettier --write

test(DatePicker): add test case for quarter precision
  src/components/date-picker/tests/date-picker.test.tsx
Due: prettier --write

chore: upgrade pnpm/action-setup to v4 to prevent ci failures
  .github/workflows/check.yml
  .github/workflows/compressed-size.yml
  .github/workflows/doc-site.yml
  .github/workflows/preview-build.yml
Due: none

docs: remove unnecessary `--save` flag from npm install command in README.md
  README.md
Due: none

feat(DatePicker): add quarter precision (#6664)
  .github/workflows/check.yml
  .github/workflows/compressed-size.yml
  .github/workflows/doc-site.yml
  .github/workflows/preview-build.yml
  src/components/date-picker-view/demos/demo1.tsx
  src/components/date-picker-view/demos/demo2.tsx
  src/components/date-picker/date-picker-quarter-utils.ts
  src/components/date-picker/date-picker-utils.ts
  src/components/date-picker/demos/demo1.tsx
  src/components/date-picker/tests/date-picker.test.tsx
  src/components/picker-view/index.en.md
  src/components/picker-view/index.zh.md
  src/components/picker/index.en.md
  src/components/picker/index.zh.md
Due: prettier --write
