Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

refactor: stepper use new design token
  src/components/stepper/stepper.less
Due: stylelint --fix

refactor: stepper use new design token (#6041)
  src/components/stepper/stepper.less
Due: stylelint --fix

chore: extract motion subscribe into single fn (#6038)
  src/utils/reduce-and-restore-motion.ts
Due: prettier --write

refactor: switch use new design token
  src/components/switch/switch.less
Due: stylelint --fix

feat: use common css variable
  src/components/popover/popover.less
Due: stylelint --fix

feat: Support customizable arrow-size
  src/components/popover/popover.tsx
Due: prettier --write

feat: (Avatar) add `onLoad`
  src/components/avatar/avatar.tsx
Due: prettier --write

feat: part gesture
  src/components/popup/demos/demo1.tsx
  src/components/popup/popup.tsx
Due: prettier --write

fix(PullToRefresh): cannot back to pulling status after complete in reduceMotion mode (#6040)
  src/components/pull-to-refresh/pull-to-refresh.tsx
  src/components/pull-to-refresh/tests/pull-to-refresh.test.tsx
Due: prettier --write

refactor: action-sheet use new design token
  src/components/action-sheet/action-sheet.less
Due: stylelint --fix

refactor: action-sheet use new design token (#6050)
  src/components/action-sheet/action-sheet.less
Due: stylelint --fix

doc: fix ImageViewer onClose Type (#5982)
  src/components/image-viewer/index.en.md
  src/components/image-viewer/index.zh.md
Due: none

doc: --doc-border-color replace @c-border-inner (#6016)
  .dumi/theme/builtins/preview-default/Previewer.less
Due: none

feat: svg aspect ratio adapt
  src/components/popover/popover.less
Due: stylelint --fix

feat: color reset
  src/components/popover/popover.less
Due: stylelint --fix

enhance: add css vars patch
  src/components/popover/popover.patch.less
Due: stylelint --fix

enhance(Popover): use global css variables to control font color (#6045)
  src/components/popover/popover.less
  src/components/popover/popover.patch.less
Due: stylelint --fix

feat: use css variable insteadof getcomputedstyle
  src/components/popover/popover.tsx
Due: prettier --write

feat: omit transform to fixed nested fixed position
  src/components/action-sheet/tests/__snapshots__/action-sheet.test.tsx.snap
  src/components/action-sheet/tests/action-sheet.test.tsx
  src/components/popup/popup.tsx
Due: prettier --write

feat: add getContainer for Dropdown
  src/components/dropdown/dropdown.tsx
  src/components/dropdown/index.en.md
  src/components/dropdown/index.zh.md
Due: prettier --write

feat(popup): close when swipe
  src/components/popup/demos/demo1.tsx
  src/components/popup/popup.less
  src/components/popup/popup.tsx
Due: prettier --write, stylelint --fix

fix(Popup): recover popup animation
  src/components/popup/popup.tsx
Due: prettier --write

feat(popup doc): add prop description
  src/components/popup/index.en.md
  src/components/popup/index.zh.md
  src/components/popup/popup.tsx
Due: prettier --write

test(Popup): add test for closeWhenSwipe
  src/components/popup/tests/popup.test.tsx
Due: prettier --write

fix(TextArea): fix the height not adapting when setting `autoSize`
  src/components/text-area/tests/text-area.test.tsx
  src/components/text-area/text-area.less
  src/components/text-area/text-area.tsx
Due: prettier --write, stylelint --fix

fix(Toast): toast cannot be closed when calling `Toast.show` and immediately calling `Toast.clear`
  src/components/toast/tests/toast.test.tsx
  src/utils/render-imperatively.tsx
Due: prettier --write

fix(TextArea): fix the height not adapting when setting `autoSize` (#6059)
  src/components/text-area/tests/text-area.test.tsx
  src/components/text-area/text-area.less
  src/components/text-area/text-area.tsx
Due: prettier --write, stylelint --fix

fix(Toast): toast cannot be closed when calling `Toast.show` and immediately calling `Toast.clear` (#6060)
  src/components/toast/tests/toast.test.tsx
  src/utils/render-imperatively.tsx
Due: prettier --write

refactor: adjust design token
  src/components/side-bar/side-bar.less
Due: stylelint --fix

refactor: adjust design token
  src/components/notice-bar/notice-bar.less
Due: stylelint --fix

refactor: sidebar use new design token (#6061)
  src/components/side-bar/side-bar.less
Due: stylelint --fix

refactor: notice bar use new design token (#6062)
  src/components/notice-bar/notice-bar.less
Due: stylelint --fix

22
  umd.html
Due: none

chore: ensure Dropdown getContainer is body
  src/components/dropdown/dropdown.tsx
Due: prettier --write

chore: bump 5.28.2
  package.json
Due: none

enhance(CheckList): add extra props
  src/components/check-list/check-list-item.tsx
  src/components/check-list/check-list.tsx
  src/components/check-list/context.tsx
  src/components/check-list/demos/demo1.tsx
  src/components/check-list/index.en.md
  src/components/check-list/index.zh.md
  src/components/check-list/tests/__snapshots__/check-list.test.tsx.snap
  src/components/check-list/tests/check-list.test.tsx
Due: prettier --write

chore: 增加actionSheet、number-keyborad、selector、tabs和virtual-input组件的无障碍提示
  src/components/action-sheet/action-sheet.tsx
  src/components/number-keyboard/number-keyboard.tsx
  src/components/selector/selector.tsx
  src/components/tabs/tabs.tsx
  src/components/virtual-input/virtual-input.tsx
Due: prettier --write

chore: 增加actionSheet、number-keyborad、selector、tabs和virtual-input组件的无障碍提示
  umd.html
Due: none

chore: 增加actionSheet、number-keyborad、selector、tabs和virtual-input组件的无障碍提示
  src/components/virtual-input/virtual-input.tsx
Due: prettier --write

Path conditions:
  prettier --write: any of: src/**/*.{ts,tsx}
  stylelint --fix: any of: src/**/*.{less,css}
