Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

doc: code block style
  .dumi/theme/builtins/SourceCode.less
  .dumi/theme/components/SideMenu.tsx
Due: none

refactor: implement Loading with svg element
  src/components/loading/loading.less
  src/components/loading/loading.tsx
Due: prettier --write, stylelint --fix

feat: Loading svg animation
  docs/components/icon/demo-all.tsx
  src/components/loading/index.md
  src/components/loading/loading.tsx
Due: prettier --write

refactor: Loading accepts native props and adjust other components using it
  src/components/button/button.tsx
  src/components/button/demos/index.tsx
  src/components/image-uploader/preview-item.tsx
  src/components/infinite-scroll/demos/content.tsx
  src/components/infinite-scroll/infinite-scroll.tsx
  src/components/loading/demos/index.tsx
  src/components/loading/loading.tsx
Due: prettier --write

doc: fix side menu style
  .dumi/theme/components/SideMenu.less
Due: none

refactor: refactor the implementation of Toast.show and fix the problem of `afterClosing` being called duplicatedly
  src/components/toast/demos/index.tsx
  src/components/toast/methods.tsx
Due: prettier --write

doc: adjust doc style and add `createPropsTable`
  .dumi/theme/builtins/SourceCode.less
  .dumi/theme/components/device.less
  .dumi/theme/layouts/index.tsx
  .dumi/theme/style/markdown.less
  .dumi/theme/style/variables.less
  config/config.ts
  src/components/button/button.tsx
  src/components/button/demos/index.tsx
  src/components/button/docs/props.tsx
  src/components/button/index.md
  src/demos/create-props-table.tsx
  src/demos/index.ts
Due: prettier --write

doc: Button
  src/components/button/docs/props.tsx
  src/components/button/index.md
Due: prettier --write

doc: adjust imports in demos
  .dumi/theme/builtins/preview-default/Previewer.tsx
  .dumi/theme/builtins/preview-default/use-code-sandbox.tsx
  config/config.ts
  src/components/config-provider/demos/demo1.tsx
  src/components/config-provider/demos/demo2.tsx
  src/components/image-uploader/demos/demo1.tsx
  src/components/index-bar/demos/demo2.tsx
  src/components/infinite-scroll/demos/content.tsx
  src/components/infinite-scroll/demos/index.tsx
  src/components/picker/demos/index.tsx
  src/components/pull-to-refresh/demos/index.tsx
  src/components/search/demos/demo1.tsx
  src/components/swipe-action/demos/demo1.tsx
  src/components/swiper/demos/demo1.tsx
  tsconfig.json
Due: prettier --write

feat: Ellipsis direction add 'middle'
  src/components/ellipsis/demos/index.tsx
  src/components/ellipsis/ellipsis.tsx
  src/components/ellipsis/index.md
Due: prettier --write

doc: add Stepper to Form demo
  src/components/form/demos/demo1.tsx
Due: prettier --write

fix: Stepper state not equal to input value
  src/components/stepper/stepper.tsx
Due: prettier --write

doc(Space): fix the inversion of main axis and cross axis
  src/components/space/demos/index.tsx
  src/components/space/index.md
Due: prettier --write

doc: add English documentation
  config/components.ts
  config/config.ts
  docs/index.en.md
  docs/index.zh.md
  package.json
  yarn.lock
Due: none

doc: update doc
  config/config.ts
  docs/guide/faq.md
Due: none

doc: update doc
  docs/guide/faq.md
  docs/guide/quick-start.md
Due: none

feat: 走马灯当前滑块增加 .adm-swiper-slide-current
  src/components/swiper/swiper.tsx
Due: prettier --write

doc: update Button doc format
  src/components/button/index.md
Due: none

doc: update List doc format
  src/components/list/index.md
Due: none

doc: update Space doc format
  src/components/space/index.md
Due: none

doc: update Badge doc format
  src/components/badge/index.md
Due: none

doc: update Card doc format
  src/components/card/index.md
Due: none

doc: update Ellipsis doc format
  src/components/ellipsis/index.md
Due: none

doc: update Image doc format
  src/components/image/index.md
Due: none

doc: update ImageViewer doc format
  src/components/image-viewer/index.md
Due: none

doc: update InfiniteScroll doc format
  src/components/infinite-scroll/index.md
Due: none

doc: update NoticeBar doc format
  src/components/notice-bar/index.md
Due: none

doc: update PageIndicator doc format
  src/components/page-indicator/index.md
Due: none

refactor: use react-spring to implement the animation of Mask
  src/components/mask/mask.less
  src/components/mask/mask.tsx
Due: prettier --write, stylelint --fix

doc: update Popover doc format
  src/components/popover/index.md
Due: none

doc: update Steps doc format
  src/components/steps/index.md
Due: none

doc: update Swiper doc format
  src/components/swiper/index.md
Due: none

doc: update Tag doc format
  src/components/tag/index.md
Due: none

doc: update WaterMark doc format
  src/components/water-mark/index.md
Due: none

fix: Mask afterClose and destroyOnClose
  src/components/mask/index.md
  src/components/mask/mask.tsx
  src/utils/get-container.ts
Due: prettier --write

doc: update CheckList doc format
  src/components/check-list/index.md
Due: none

doc: update Checkbox doc format
  src/components/checkbox/index.md
Due: none

doc: update DatePicker doc format
  src/components/date-picker/index.md
Due: none

Path conditions:
  prettier --write: any of: src/**/*.{ts,tsx}
  stylelint --fix: any of: src/**/*.{less,css}
