Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": ["prettier --write"],
  "src/**/*.{less,css}": ["stylelint --fix"]
}

docs: update imageRender prop since version (#6839)
  src/components/image-viewer/index.en.md
  src/components/image-viewer/index.zh.md
Due: none

feat(Locale): update russian locale (#6838)
  src/components/config-provider/tests/__snapshots__/config-provider.test.tsx.snap
  src/locales/ru-RU.ts
Due: prettier --write

fix(Space): 水平排列时右侧多余留白问题
  src/components/space/space.less
  src/components/space/space.patch.less
Due: stylelint --fix

style(Space): css选择器添加子元素非空条件
  src/components/space/space.less
Due: stylelint --fix

style(Space): 去掉patch间距
  src/components/space/space.patch.less
Due: stylelint --fix

fix(Space): 水平排列时右侧多余留白问题 (#6841)
  src/components/space/space.less
Due: stylelint --fix

feat: 支持点击切换光标位置
  src/components/virtual-input/virtual-input.less
  src/components/virtual-input/virtual-input.tsx
Due: prettier --write, stylelint --fix

feat: 数字键盘支持修改安全区缩放系数
  src/components/number-keyboard/number-keyboard.tsx
Due: prettier --write

feat: 数字键盘支持修改安全区缩放系数 (#6844)
  src/components/number-keyboard/number-keyboard.tsx
Due: prettier --write

[Bugfix]Popover.Menu 在深色模式下， 背景颜色错误
  src/components/popover/popover.less
Due: stylelint --fix

feat(MultiImageViewer): implement RTL support for MultiImageViewer component
  src/components/image-viewer/image-viewer.less
  src/components/image-viewer/image-viewer.tsx
  src/components/image-viewer/slides.tsx
  src/utils/get-is-rtl.ts
Due: prettier --write, stylelint --fix

docs: 修改过期的钉梯群二维码
  README.md
  docs/guide/quick-start.en.md
  docs/guide/quick-start.zh.md
Due: none

docs: 修改过期的钉钉群二维码 (#6850)
  README.md
  docs/guide/quick-start.en.md
  docs/guide/quick-start.zh.md
Due: none

fix: fix isRtl import error
  src/components/image-viewer/slides.tsx
Due: prettier --write

fix: lint
  src/components/virtual-input/virtual-input.tsx
Due: prettier --write

feat: picker增加resistance属性，以支持通过鼠标滚轮进行选择时产生段落感
  src/components/date-picker-view/date-picker-view.tsx
  src/components/date-picker/date-picker.tsx
  src/components/picker-view/index.zh.md
  src/components/picker-view/picker-view.tsx
  src/components/picker-view/wheel.tsx
  src/components/picker/index.zh.md
  src/components/picker/picker.tsx
Due: prettier --write

fix: picker组件resistance属性改为wheelResistance，并完善英文文档
  src/components/date-picker-view/date-picker-view.tsx
  src/components/date-picker/date-picker.tsx
  src/components/picker-view/index.en.md
  src/components/picker-view/index.zh.md
  src/components/picker-view/picker-view.tsx
  src/components/picker-view/wheel.tsx
  src/components/picker/index.en.md
  src/components/picker/index.zh.md
  src/components/picker/picker.tsx
Due: prettier --write

test: 补充单测
  src/components/virtual-input/tests/virtual-input.test.tsx
  src/components/virtual-input/virtual-input.tsx
Due: prettier --write

fix: 修正无内容时高度坍塌问题
  src/components/virtual-input/virtual-input.less
Due: stylelint --fix

feat: 点击切换光标时判断是否偏右
  src/components/virtual-input/tests/virtual-input.test.tsx
  src/components/virtual-input/virtual-input.tsx
Due: prettier --write

feat: add form attribute for Button component
  src/components/button/button.tsx
Due: prettier --write

docs: update supported attribute
  src/components/button/index.en.md
  src/components/button/index.zh.md
Due: none

fix: remove console.log
  src/components/virtual-input/virtual-input.tsx
Due: prettier --write

feat: 拆分方法
  src/components/virtual-input/tests/virtual-input.test.tsx
  src/components/virtual-input/virtual-input.tsx
Due: prettier --write

feat: add form attribute for Button component (#6855)
  src/components/button/button.tsx
  src/components/button/index.en.md
  src/components/button/index.zh.md
Due: prettier --write

feat: 支持点击切换光标位置 (#6843)
  src/components/virtual-input/tests/virtual-input.test.tsx
  src/components/virtual-input/virtual-input.less
  src/components/virtual-input/virtual-input.tsx
Due: prettier --write, stylelint --fix

fix: 修正 defaultProps warning
  src/demos/demo-block/index.tsx
Due: prettier --write

fix: 修正 defaultProps warning (#6858)
  src/demos/demo-block/index.tsx
Due: prettier --write

compatible: react19
  src/index.ts
  src/utils/unstable-render.tsx
Due: prettier --write

chore: equivalence
  src/utils/render-to-body.ts
  src/utils/render.ts
Due: prettier --write

fixup! compatible: react19
  src/utils/unstable-render.tsx
Due: prettier --write

chore: update link
  src/utils/unstable-render.tsx
Due: prettier --write

chore: revert change
  src/index.ts
Due: prettier --write

docs: update
  docs/guide/v5-for-19.en.md
  docs/guide/v5-for-19.zh.md
Due: none

chore: update nav
  config/menus.tsx
Due: none

Update src/utils/unstable-render.tsx
  src/utils/unstable-render.tsx
Due: prettier --write

enhance: React 19 compatible (#6860)
  config/menus.tsx
  docs/guide/v5-for-19.en.md
  docs/guide/v5-for-19.zh.md
  src/index.ts
  src/utils/render-to-body.ts
  src/utils/render.ts
  src/utils/unstable-render.tsx
Due: prettier --write

fix: update unstableSetRender to handle optional render parameter
  src/utils/unstable-render.tsx
Due: prettier --write
