Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

chore: add dev and prod bundle
  gulpfile.js
Due: none

chore: update Compressed Size pattern
  .github/workflows/check.yml
Due: none

chore: add dev and prod bundle (#5576)
  .github/workflows/check.yml
  gulpfile.js
Due: none

fix: actionsheet style
  src/components/action-sheet/action-sheet.less
  src/components/action-sheet/action-sheet.tsx
  src/components/action-sheet/demos/demo1.tsx
  src/components/action-sheet/index.en.md
  src/components/action-sheet/index.zh.md
Due: prettier --write, stylelint --fix

feat(ActionSheet): add new property `bold` to type `Action` and adjust some styles (#5582)
  src/components/action-sheet/action-sheet.less
  src/components/action-sheet/action-sheet.tsx
  src/components/action-sheet/demos/demo1.tsx
  src/components/action-sheet/index.en.md
  src/components/action-sheet/index.zh.md
Due: prettier --write, stylelint --fix

chore: change version
  package.json
Due: none

chore: exclude some paths for jest
  jest.config.js
Due: none

enhance: (Dialog) Action text support ReactNode
  src/components/dialog/dialog-action-button.tsx
  src/components/dialog/index.en.md
  src/components/dialog/index.zh.md
Due: prettier --write

doc: update doc for dev and prod bundles
  docs/guide/pre-built-bundles.en.md
  docs/guide/pre-built-bundles.zh.md
Due: none

enhance(Dialog): Action text support ReactNode (#5584)
  src/components/dialog/dialog-action-button.tsx
  src/components/dialog/index.en.md
  src/components/dialog/index.zh.md
Due: prettier --write

chore: upgrade some dev dependencies
  package.json
  pnpm-lock.yaml
Due: none

doc: update doc for dev and prod bundles (#5585)
  docs/guide/pre-built-bundles.en.md
  docs/guide/pre-built-bundles.zh.md
Due: none

chore: mark Empty as deprecated
  src/components/empty/empty.tsx
  src/components/empty/index.en.md
  src/components/empty/index.zh.md
Due: prettier --write

chore: compressed-size split into separate workflows
  .github/workflows/check.yml
  .github/workflows/compressed-size.yml
Due: none

fix(Slider): crash when using `range` property
  src/components/slider/slider.tsx
Due: prettier --write

fix(Slider): prevent dragging when range and value do not match
  src/components/slider/slider.tsx
Due: prettier --write

feat(Slider): update disabled style
  src/components/slider/slider.less
  yarn.lock
Due: stylelint --fix

feat(Slider): update disabled style
  yarn.lock
Due: none

fix(Slider): crash when using range property
  src/components/slider/demos/demo2.tsx
  src/components/slider/slider.tsx
Due: prettier --write

fix(Slider): update the path of importing 'devWarning'
  src/components/slider/slider.tsx
Due: prettier --write

feat(toast): adjust some styles
  src/components/toast/toast.less
Due: stylelint --fix

fix(Slider): fix crash when `range` and `value` don't match (#5591)
  src/components/slider/demos/demo2.tsx
  src/components/slider/slider.tsx
Due: prettier --write

chore: compressed-size split into separate workflows (#5587)
  .github/workflows/check.yml
  .github/workflows/compressed-size.yml
Due: none

feat(toast): adjust min width
  src/components/toast/toast.less
Due: stylelint --fix

style(Toast): adjust some styles (#5595)
  src/components/toast/toast.less
Due: stylelint --fix

feat(ActionSheet): adjust text delete to save
  src/components/action-sheet/demos/demo1.tsx
Due: prettier --write

doc(ActionSheet): adjust text delete to save (#5596)
  src/components/action-sheet/demos/demo1.tsx
Due: prettier --write

refactor(Slider): adjust the implementation of disabled style
  src/components/slider/slider.less
Due: stylelint --fix

feat(Slider): add `box-shadow` for thumb
  src/components/slider/slider.less
Due: stylelint --fix

feat(Footer): add new component Footer
  config/components.ts
  src/components/footer/demos/demo1.tsx
  src/components/footer/footer.less
  src/components/footer/footer.tsx
  src/components/footer/index.en.md
  src/components/footer/index.ts
  src/components/footer/index.zh.md
  src/index.ts
Due: prettier --write, stylelint --fix

doc(Picker & PickerView): fix loadingContent desc
  src/components/picker-view/index.en.md
  src/components/picker-view/index.zh.md
  src/components/picker/demos/demo2.tsx
  src/components/picker/index.en.md
  src/components/picker/index.zh.md
Due: prettier --write

test(PickerView): adjust a11y test
  src/components/picker-view/tests/picker-view.test.tsx
Due: prettier --write

feat(Slider): update disabled style (#5589)
  src/components/slider/slider.less
Due: stylelint --fix

test(PickerView): adjust a11y test (#5603)
  src/components/picker-view/tests/picker-view.test.tsx
Due: prettier --write

feat(pageindicator): adjust dot coloron demo
  src/components/page-indicator/demos/demo1.tsx
Due: prettier --write

enhance(Rate): optimise the style in half-selected mode
  src/components/rate/index.en.md
  src/components/rate/index.zh.md
  src/components/rate/rate.less
  src/components/rate/rate.tsx
Due: prettier --write, stylelint --fix

chore: upgrade ubuntu
  .github/workflows/check.yml
  .github/workflows/doc-site.yml
Due: none

feat(pageindicator): adjust dot coloron demo
  src/components/page-indicator/demos/demo1.tsx
  src/components/page-indicator/page-indicator.less
Due: prettier --write, stylelint --fix

Path conditions:
  prettier --write: any of: src/**/*.{ts,tsx}
  stylelint --fix: any of: src/**/*.{less,css}
