Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": ["prettier --write"],
  "src/**/*.{less,css}": ["stylelint --fix"]
}

test: add Dropdown getContainer test case
  src/components/dropdown/tests/dropdown.test.tsx
Due: prettier --write

feat(Dropdown): add getContainer for Dropdown (#6053)
  src/components/dropdown/dropdown.tsx
  src/components/dropdown/index.en.md
  src/components/dropdown/index.zh.md
  src/components/dropdown/tests/dropdown.test.tsx
Due: prettier --write

feat(locale): add it-IT locale
  src/components/config-provider/tests/__snapshots__/config-provider.test.tsx.snap
  src/components/config-provider/tests/config-provider.test.tsx
  src/locales/it-IT.ts
Due: prettier --write

feat(locale): add da-DK locale
  src/components/config-provider/tests/__snapshots__/config-provider.test.tsx.snap
  src/components/config-provider/tests/config-provider.test.tsx
  src/locales/da-DK.ts
Due: prettier --write

feat(locale): add nb-NO locale
  src/components/config-provider/tests/__snapshots__/config-provider.test.tsx.snap
  src/components/config-provider/tests/config-provider.test.tsx
  src/locales/nb-NO.ts
Due: prettier --write

feat(locale): add nl-NL locale
  src/components/config-provider/tests/__snapshots__/config-provider.test.tsx.snap
  src/components/config-provider/tests/config-provider.test.tsx
  src/locales/nb-NO.ts
  src/locales/nl-NL.ts
Due: prettier --write

feat(SearchBar): support `onCompositionStart` `onCompositionEnd`
  src/components/search-bar/index.en.md
  src/components/search-bar/index.zh.md
  src/components/search-bar/search-bar.tsx
Due: prettier --write

test: updated test snapshot for config provider
  src/components/config-provider/tests/__snapshots__/config-provider.test.tsx.snap
Due: none

doc(i18n): add new locales to doc
  docs/guide/i18n.en.md
  docs/guide/i18n.zh.md
Due: none

feat(picker): 扩展PickerColumnItem参数value类型,支持number
  src/components/picker-view/picker-view.tsx
Due: prettier --write

chore: optimizing code
  src/components/calendar/calendar.tsx
Due: prettier --write

chore: 🤖 fix help link ant-design-mini => ant-design-mobile
  docs/components/components/Footer/index.tsx
Due: none

feat(SearchBar): support `onCompositionStart` `onCompositionEnd` (#6086)
  src/components/search-bar/index.en.md
  src/components/search-bar/index.zh.md
  src/components/search-bar/search-bar.tsx
Due: prettier --write

feat: Adding Italian, Danish, Norwegian and Dutch locales (#6085)
  docs/guide/i18n.en.md
  docs/guide/i18n.zh.md
  src/components/config-provider/tests/__snapshots__/config-provider.test.tsx.snap
  src/components/config-provider/tests/config-provider.test.tsx
  src/locales/da-DK.ts
  src/locales/it-IT.ts
  src/locales/nb-NO.ts
  src/locales/nl-NL.ts
Due: prettier --write

fix(Popup): remove useless prop
  src/components/popup/popup.tsx
Due: prettier --write

chore: 🤖 fix help link ant-design-mini => ant-design-mobile (#6091)
  docs/components/components/Footer/index.tsx
Due: none

feat: 补充PickerValue的number类型
  src/components/date-picker/date-picker-date-utils.ts
  src/components/date-picker/date-picker-utils.ts
  src/components/date-picker/date-picker-week-utils.ts
  src/components/picker-view/picker-view.tsx
  src/components/picker-view/tests/picker-view.test.tsx
Due: prettier --write

chore: optimizing code (#6090)
  src/components/calendar/calendar.tsx
Due: prettier --write

feat(Popup): support gesture close (#6056)
  src/components/popup/demos/demo1.tsx
  src/components/popup/popup.less
  src/components/popup/popup.tsx
  src/components/popup/tests/popup.test.tsx
Due: prettier --write, stylelint --fix

feat: 补充test的number类型
  src/components/cascade-picker-view/tests/cascade-picker-view.test.tsx
Due: prettier --write

fix(TextArea): set `rows` to hidden textarea
  src/components/text-area/tests/text-area.test.tsx
  src/components/text-area/text-area.tsx
Due: prettier --write

fix(TextArea): set `rows` to hidden textarea (#6092)
  src/components/text-area/tests/text-area.test.tsx
  src/components/text-area/text-area.tsx
Due: prettier --write

fix: fixed virtualInput can not click OK to close the keyboard
  src/components/number-keyboard/number-keyboard.tsx
  src/components/virtual-input/demos/demo1.tsx
  src/components/virtual-input/virtual-input.tsx
Due: prettier --write

fix: fixed virtualInput can not click OK to close the keyboard (#6093)
  src/components/number-keyboard/number-keyboard.tsx
  src/components/virtual-input/demos/demo1.tsx
  src/components/virtual-input/virtual-input.tsx
Due: prettier --write

chore: bump 5.29.1
  package.json
Due: none

fix(Steps): other brother components display progress points (#6094)
  src/components/steps/steps.less
Due: stylelint --fix

Revert "feat: omit transform to fixed nested fixed position"
  src/components/action-sheet/tests/__snapshots__/action-sheet.test.tsx.snap
  src/components/action-sheet/tests/action-sheet.test.tsx
  src/components/popup/popup.tsx
Due: prettier --write

Revert "feat: omit transform to fixed nested fixed position" (#6097)
  src/components/action-sheet/tests/__snapshots__/action-sheet.test.tsx.snap
  src/components/action-sheet/tests/action-sheet.test.tsx
  src/components/popup/popup.tsx
Due: prettier --write

fix: pin dev node version to node16-lts
  .nvmrc
Due: none

fix: replace `runes` with `runes2` & fix text-area maxLength edge cases
  package.json
  pnpm-lock.yaml
  src/components/ellipsis/ellipsis.tsx
  src/components/text-area/tests/text-area.test.tsx
  src/components/text-area/text-area.tsx
Due: prettier --write

doc: --cell-size default changed to 40px
  src/components/passcode-input/index.en.md
  src/components/passcode-input/index.zh.md
Due: none

doc: --cell-size default changed to 40px (#6105)
  src/components/passcode-input/index.en.md
  src/components/passcode-input/index.zh.md
Due: none

fix: form context disabled props for es6
  src/components/form/form.tsx
Due: prettier --write

fix: form context disabled props for es6 (#6106)
  src/components/form/form.tsx
Due: prettier --write

feat: page-indicator use new token
  src/components/page-indicator/page-indicator.less
Due: stylelint --fix

feat: footer use new token
  src/components/footer/footer.less
Due: stylelint --fix

feat: page-indicator use new token (#6108)
  src/components/page-indicator/page-indicator.less
Due: stylelint --fix
