Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

refactor: (Image) revert to `loaded` and `failed` states
  src/components/image/demos/demo2.tsx
  src/components/image/image.tsx
Due: prettier --write

doc: (Image) mark demo2 as debug only
  src/components/image/index.en.md
  src/components/image/index.zh.md
Due: none

doc: fix debug block previewer style
  .dumi/theme/builtins/preview-default/Previewer.less
  .dumi/theme/builtins/preview-default/Previewer.tsx
Due: none

chore: add a seperated tsconfig for `.dumi`
  .dumi/tsconfig.json
  tsconfig.json
Due: none

fix: update `sideEffects` config in package.json
  package.json
Due: none

fix:修复弹窗demo交互和弹窗键盘被遮挡问题
  src/components/number-keyboard/demos/index.tsx
  src/components/number-keyboard/number-keyboard.less
Due: prettier --write, stylelint --fix

fix(list): 点击 list 时会显示 border-top 问题
  src/components/list/list.less
Due: stylelint --fix

doc: debug only demo previewer border color
  .dumi/theme/builtins/Previewer.less
  .dumi/theme/builtins/Previewer.tsx
  .dumi/theme/builtins/preview-default/Previewer.less
  .dumi/theme/components/device.less
Due: none

feat: Form.Item 增加 extra 属性
  src/components/form/demos/demo3.tsx
  src/components/form/form-item.tsx
  src/components/form/index.en.md
  src/components/form/index.zh.md
Due: prettier --write

feat: (Form.Item) add `extra` prop (#4348)
  src/components/form/demos/demo3.tsx
  src/components/form/form-item.tsx
  src/components/form/index.en.md
  src/components/form/index.zh.md
Due: prettier --write

feat: (Form) add labelLayout prop for Form.Item
  src/components/form/demos/demo1.tsx
  src/components/form/form-item.less
  src/components/form/form-item.tsx
  src/components/form/index.en.md
  src/components/form/index.zh.md
Due: prettier --write, stylelint --fix

fix: lock `@use-gesture/react` version due to bugs in its new version
  package.json
  yarn.lock
Due: none

feat: stepper组件添加部分css变量
  src/components/stepper/demos/index.less
  src/components/stepper/demos/index.tsx
  src/components/stepper/stepper.less
  src/components/stepper/stepper.tsx
Due: prettier --write, stylelint --fix

chore: update version
  package.json
Due: none

deploy: f4c9b2d7987d9c3b523fe67087f41c553b8ddecb
  umi.css
  umi.js
Due: none

feat: init VirtualInput
  config/components.ts
  src/components/number-keyboard/number-keyboard.tsx
  src/components/virtual-input/demos/demo1.tsx
  src/components/virtual-input/index.en.md
  src/components/virtual-input/index.tsx
  src/components/virtual-input/index.zh.md
  src/components/virtual-input/virtual-input.less
  src/components/virtual-input/virtual-input.tsx
  src/index.ts
  src/utils/native-props.ts
Due: prettier --write, stylelint --fix

feat: VirtualInput
  src/components/virtual-input/demos/demo1.tsx
  src/components/virtual-input/index.tsx
  src/components/virtual-input/virtual-input.less
  src/components/virtual-input/virtual-input.tsx
Due: prettier --write, stylelint --fix

doc: (Picker) add anchor link
  src/components/picker/index.zh.md
Due: none

docs: 补充文档
  src/components/stepper/index.en.md
  src/components/stepper/index.zh.md
Due: none

style: 调整新增demo位置
  src/components/stepper/demos/index.tsx
Due: prettier --write

doc: (Picker) add anchor link (#4354)
  src/components/picker/index.zh.md
Due: none

doc: VirtualInput
  src/components/input/index.en.md
  src/components/input/index.zh.md
  src/components/virtual-input/index.en.md
  src/components/virtual-input/index.zh.md
Due: none

doc: NumberKeyboard and its demo (#4331)
  src/components/number-keyboard/demos/index.tsx
  src/components/number-keyboard/index.zh.md
  src/components/number-keyboard/number-keyboard.less
Due: prettier --write, stylelint --fix

enhance: Stepper
  src/components/stepper/demos/index.less
  src/components/stepper/index.en.md
  src/components/stepper/index.zh.md
  src/components/stepper/stepper.less
  src/components/stepper/stepper.tsx
Due: prettier --write, stylelint --fix

feat: (Search) add clearOnCancel prop
  src/components/search/index.en.md
  src/components/search/index.zh.md
  src/components/search/search.tsx
Due: prettier --write

style: 调整stepper组件demo的样式
  src/components/stepper/demos/demo.tsx
  src/components/stepper/index.en.md
  src/components/stepper/index.zh.md
Due: prettier --write

chore: 修改demo文件名称
  src/components/stepper/demos/demo1.tsx
  src/components/stepper/demos/demo2.tsx
  src/components/stepper/index.en.md
  src/components/stepper/index.zh.md
Due: prettier --write

chore: 修改demo文件名称
  src/components/stepper/demos/demo2.less
  src/components/stepper/demos/demo2.tsx
Due: prettier --write, stylelint --fix

feat: (Search) add clearOnCancel prop (#4360)
  src/components/search/index.en.md
  src/components/search/index.zh.md
  src/components/search/search.tsx
Due: prettier --write

doc: add InfiniteScroll demo3
  src/components/infinite-scroll/demos/demo3.less
  src/components/infinite-scroll/demos/demo3.tsx
  src/components/infinite-scroll/index.zh.md
Due: prettier --write, stylelint --fix

fix: (NumberKeyboard) unexpectedly trigger `onClose`
  src/components/number-keyboard/demos/index.tsx
  src/components/number-keyboard/number-keyboard.tsx
Due: prettier --write

doc: add algolia doc search
  .dumi/theme/components/Navbar.less
  .dumi/theme/components/Navbar.tsx
  .dumi/theme/components/SideMenu.less
  .dumi/theme/components/SideMenu.tsx
  .dumi/theme/layouts/layout.tsx
  package.json
  yarn.lock
Due: none

feat: add new component CapsuleTabs
  config/components.ts
  src/components/capsule-tabs/capsule-tabs.less
  src/components/capsule-tabs/capsule-tabs.tsx
  src/components/capsule-tabs/demos/index.tsx
  src/components/capsule-tabs/index.en.md
  src/components/capsule-tabs/index.ts
  src/components/capsule-tabs/index.zh.md
  src/index.ts
Due: prettier --write, stylelint --fix

feat: add new component JumboTabs
  config/components.ts
  src/components/jumbo-tabs/demos/index.tsx
  src/components/jumbo-tabs/index.en.md
  src/components/jumbo-tabs/index.ts
  src/components/jumbo-tabs/index.zh.md
  src/components/jumbo-tabs/jumbo-tabs.less
  src/components/jumbo-tabs/jumbo-tabs.tsx
  src/index.ts
Due: prettier --write, stylelint --fix

refactor: (SwipeAction) rename `closeOnTouchAway` to `closeOnTouchOutside`
  src/components/swipe-action/demos/demo1.tsx
  src/components/swipe-action/index.en.md
  src/components/swipe-action/index.zh.md
  src/components/swipe-action/swipe-action.tsx
Due: prettier --write

refactor: (NumberKeyboard) remove `onBlur` `closeOnBlur` props
  src/components/number-keyboard/demos/index.tsx
  src/components/number-keyboard/index.en.md
  src/components/number-keyboard/index.zh.md
  src/components/number-keyboard/number-keyboard.tsx
Due: prettier --write

feat: tag 增加 onclick 事件
  src/components/tag/index.en.md
  src/components/tag/index.zh.md
  src/components/tag/tag.tsx
Due: prettier --write

doc: 修改 tag readme
  src/components/tag/index.zh.md
Due: none

doc: 更新 tag readme
  src/components/tag/index.en.md
  src/components/tag/index.zh.md
  src/components/tag/tag.tsx
Due: prettier --write

Path conditions:
  prettier --write: any of: src/**/*.{ts,tsx}
  stylelint --fix: any of: src/**/*.{less,css}
