Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": ["prettier --write"],
  "src/**/*.{less,css}": ["stylelint --fix"]
}

feature: tabs add css variables
  src/components/tabs/index.en.md
  src/components/tabs/index.zh.md
  src/components/tabs/tabs.less
  src/components/tabs/tabs.tsx
Due: prettier --write, stylelint --fix

feature: pull-to-refresh add disabled property
  src/components/pull-to-refresh/index.en.md
  src/components/pull-to-refresh/index.zh.md
  src/components/pull-to-refresh/pull-to-refresh.tsx
Due: prettier --write

fix: 修复在 FormItem 中 hasFeedback 属性无效的问题
  src/components/form/form-item.tsx
Due: prettier --write

feat: (PullToRefresh) add disabled property (#4619)
  src/components/pull-to-refresh/index.en.md
  src/components/pull-to-refresh/index.zh.md
  src/components/pull-to-refresh/pull-to-refresh.tsx
Due: prettier --write

fix: (Form) `hasFeedback` prop of FormItem may not works (#4622)
  src/components/form/form-item.tsx
Due: prettier --write

--active-line-border-radius The default value is 0
  src/components/tabs/index.en.md
  src/components/tabs/index.zh.md
  src/components/tabs/tabs.less
Due: stylelint --fix

feat: (Tabs) add `--active-line-height` and `--active-line-border-radius` (#4618)
  src/components/tabs/index.en.md
  src/components/tabs/index.zh.md
  src/components/tabs/tabs.less
  src/components/tabs/tabs.tsx
Due: prettier --write, stylelint --fix

enhance: (Picker & Cascader) change confirmText & cancelText type to ReactNode (#4614)
  src/components/cascader/cascader.tsx
  src/components/cascader/index.en.md
  src/components/cascader/index.zh.md
  src/components/picker/index.en.md
  src/components/picker/index.zh.md
  src/components/picker/picker.tsx
Due: prettier --write

fix: (ImageUploader) ImageUploadItem returning from `upload` not being fully copied
  src/components/image-uploader/image-uploader.tsx
Due: prettier --write

doc：English version of FloatingBubble doc
  src/components/floating-bubble/index.en.md
Due: none

doc: (Dropdown) English version of doc
  src/components/dropdown/index.en.md
Due: none

fix: (Form.Item) label and item not aligning correctly on Safari
  src/components/form/form-item.less
Due: stylelint --fix

doc: (Picker) selected item custom style
  src/components/picker/index.en.md
  src/components/picker/index.zh.md
Due: none

chore: change version
  package.json
Due: none

deploy: d4d69f9b6ce37b10e8d0ab4a17dc3eaffc49146f
  404.html
  index.html
  umi.48f2a989.js
  umi.53916118.css
  umi.8c96bcd2.js
  umi.f80c85da.css
Due: none

doc: (FloatingBubble) English version of doc (#4627)
  src/components/floating-bubble/index.en.md
Due: none

doc: (Dropdown) English version of doc (#4629)
  src/components/dropdown/index.en.md
Due: none

feat: init calendar
  config/components.ts
  src/components/calendar/calendar.en.md
  src/components/calendar/calendar.less
  src/components/calendar/calendar.tsx
  src/components/calendar/calendar.zh.md
  src/components/calendar/demos/demo1.tsx
  src/components/calendar/index.ts
  src/index.ts
Due: prettier --write, stylelint --fix

feat: (Calendar) cells
  src/components/calendar/calendar.less
  src/components/calendar/calendar.tsx
Due: prettier --write, stylelint --fix

feat: (Calendar) marks
  src/components/calendar/calendar.less
  src/components/calendar/calendar.tsx
Due: prettier --write, stylelint --fix

featrue: (ImageUploader) add preview type
  src/components/image-uploader/image-uploader.tsx
  src/components/image-uploader/index.en.md
  src/components/image-uploader/index.zh.md
Due: prettier --write

docs: 文档修复
  src/components/image-uploader/index.en.md
Due: none

feat: (ImageUploader) add `preview` prop (#4631)
  src/components/image-uploader/image-uploader.tsx
  src/components/image-uploader/index.en.md
  src/components/image-uploader/index.zh.md
Due: prettier --write

feat: (Calendar) header
  src/components/calendar/arrow-left-double.tsx
  src/components/calendar/arrow-left.tsx
  src/components/calendar/calendar.less
  src/components/calendar/calendar.tsx
Due: prettier --write, stylelint --fix

feat: (Calendar) selection
  src/components/calendar/calendar.less
  src/components/calendar/calendar.tsx
  src/components/calendar/demos/demo1.tsx
Due: prettier --write, stylelint --fix

feat: (Calendar) renderLabel
  src/components/calendar/calendar.less
  src/components/calendar/calendar.tsx
  src/components/calendar/demos/demo1.tsx
Due: prettier --write, stylelint --fix

doc: (Calendar) demos
  src/components/calendar/calendar.less
  src/components/calendar/calendar.tsx
  src/components/calendar/demos/demo1.tsx
Due: prettier --write, stylelint --fix

doc: Calendar
  src/components/calendar/calendar.en.md
  src/components/calendar/calendar.zh.md
  src/components/calendar/demos/demo1.tsx
  src/components/calendar/demos/demo2.tsx
  src/components/calendar/demos/demo3.tsx
Due: prettier --write

fix: (Toast) fix max-width
  src/components/toast/toast.less
  src/components/toast/toast.tsx
Due: prettier --write, stylelint --fix

fix: (Popover) arrow style (#4610)
  src/components/popover/popover.less
  src/components/popover/popover.tsx
Due: prettier --write, stylelint --fix

fix: (Toast) max-width: 70% not work
  src/components/toast/toast.less
Due: stylelint --fix

fix: revert "enhance: make List inner border fully covered by click active area"
  src/components/list/list.less
  src/components/list/list.tsx
Due: prettier --write, stylelint --fix

fix: (ActionSheet) click effect
  src/components/action-sheet/action-sheet.less
  src/components/action-sheet/action-sheet.tsx
Due: prettier --write, stylelint --fix

feat: (Calendar) i18n
  src/components/calendar/calendar.tsx
  src/components/calendar/demos/demo1.tsx
  src/locales/base.ts
  src/locales/zh-CN.ts
Due: prettier --write

deploy: ccb3afdd7d38bea3f45a2df95a2da120abad98a4
  404.html
  index.html
  umi.48f2a989.js
  umi.54105feb.js
  umi.d1e993d0.css
  umi.f80c85da.css
Due: none

fix: (Toast) fix max-width (#4638)
  src/components/toast/toast.less
  src/components/toast/toast.tsx
Due: prettier --write, stylelint --fix

deploy: f1ec6c2f29183a93a0f3cd8da5de7a3a88c13ab9
  404.html
  index.html
  umi.006694a9.js
  umi.2d0ca266.css
  umi.54105feb.js
  umi.d1e993d0.css
Due: none
