Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

5.43.0
  package-lock.json
  package.json
Due: none

docs: picker info parameter add version doc
  src/components/picker/index.en.md
  src/components/picker/index.zh.md
Due: none

docs: adjust minor version
  src/components/picker/index.en.md
  src/components/picker/index.zh.md
Due: none

docs: adjust minor version
  docs/guide/v5-for-19.en.md
  docs/guide/v5-for-19.zh.md
Due: none

docs: picker info parameter add version doc (#6881)
  docs/guide/v5-for-19.en.md
  docs/guide/v5-for-19.zh.md
  src/components/picker/index.en.md
  src/components/picker/index.zh.md
Due: none

fix: 修复Swiper纵向虚拟滚动Bug
  src/components/swiper/swiper.tsx
Due: prettier --write

feat: 增加纵向虚拟滚动debug Demo
  src/components/swiper/demos/demo9.tsx
Due: prettier --write

fix: the semantic error in Calendar description (#6886)
  src/components/calendar-picker-view/calendar-picker-view.tsx
  src/locales/ar-SA.ts
  src/locales/base.ts
  src/locales/cnr-ME.ts
  src/locales/de-DE.ts
  src/locales/hr-HR.ts
  src/locales/in-ID.ts
  src/locales/ms-MY.ts
  src/locales/ru-RU.ts
  src/locales/sr-RS.ts
  src/locales/th-TH.ts
  src/locales/vi-VN.ts
  src/locales/zh-CN.ts
Due: prettier --write

chore: bump version 5.40.0
  package-lock.json
  package.json
Due: none

fix: 修复VirtualInput光标位置错误
  src/components/virtual-input/virtual-input.tsx
Due: prettier --write

fix: 支持受控逻辑下的光标调整
  src/components/virtual-input/demos/demo1.tsx
  src/components/virtual-input/virtual-input.tsx
Due: prettier --write

feat: 修复光标
  src/components/virtual-input/demos/demo1.tsx
  src/components/virtual-input/virtual-input.tsx
Due: prettier --write

test: 补充单测
  src/components/virtual-input/tests/virtual-input.test.tsx
Due: prettier --write

fix: 移除调试代码
  src/components/virtual-input/virtual-input.tsx
Due: prettier --write

chore: update branch
  src/components/ellipsis/demos/demo1.tsx
  src/components/ellipsis/ellipsis.tsx
  src/components/ellipsis/index.en.md
  src/components/ellipsis/index.zh.md
  src/components/ellipsis/tests/ellipsis.test.tsx
Due: prettier --write

feat: add onEllipsis callback to Ellipsis component
  src/components/ellipsis/demos/demo1.tsx
  src/components/ellipsis/ellipsis.tsx
  src/components/ellipsis/index.en.md
  src/components/ellipsis/index.zh.md
  src/components/ellipsis/tests/ellipsis.test.tsx
Due: prettier --write

chore: ci remove bun
  .github/workflows/check.yml
  .github/workflows/preview-build.yml
  package.json
Due: none

chore: update ci
  .github/workflows/check.yml
  .github/workflows/preview-build.yml
Due: none

chore: add ingore
  .github/workflows/check.yml
  .github/workflows/preview-build.yml
Due: none

chore: use --ignore-scripts --strict-peer-dependencies=false
  .github/workflows/check.yml
  .github/workflows/preview-build.yml
Due: none

chore: update ci install script
  .github/workflows/check.yml
  package.json
Due: none

chore: force trigger
  package.json
Due: none

chore: ci remove bun (#6894)
  .github/workflows/check.yml
  .github/workflows/preview-build.yml
  package.json
Due: none

feat: 完善 demo 让最下面输入框可滚至上半区
  src/components/virtual-input/demos/demo1.tsx
Due: prettier --write

fix: 删除无用代码
  src/components/virtual-input/virtual-input.tsx
Due: prettier --write

feat: support get focus while navigating with keyboard TAB key and onKey event
  src/components/tabs/tabs.tsx
  src/components/tabs/tests/__snapshots__/tabs.test.tsx.snap
  src/components/tabs/tests/tabs.test.tsx
Due: prettier --write

feat: support RTL
  src/components/tabs/tabs.tsx
Due: prettier --write

fix: 支持 VirtualInput 受控逻辑下的光标调整 (#6891)
  src/components/virtual-input/demos/demo1.tsx
  src/components/virtual-input/tests/virtual-input.test.tsx
  src/components/virtual-input/virtual-input.tsx
Due: prettier --write

feat: update snap
  src/components/cascader-view/tests/__snapshots__/cascader-view.test.tsx.snap
Due: none

feat: update demo and onEllipsis
  src/components/ellipsis/demos/demo1.tsx
  src/components/ellipsis/ellipsis.tsx
  src/components/ellipsis/index.en.md
  src/components/ellipsis/index.zh.md
Due: prettier --write

feat: 默认禁用光标位置可调整，支持通过 touchmove 调整光标位置
  src/components/virtual-input/index.zh.md
  src/components/virtual-input/virtual-input.less
  src/components/virtual-input/virtual-input.tsx
Due: prettier --write, stylelint --fix

feat: 完善 ts 类型与 demo
  src/components/virtual-input/demos/demo1.tsx
  src/components/virtual-input/index.zh.md
  src/components/virtual-input/virtual-input.tsx
Due: prettier --write

feat(react-spring): update
  package.json
  pnpm-lock.yaml
Due: none

chore(typescript): update
  package.json
  pnpm-lock.yaml
Due: none

test: 补充单测
  src/components/virtual-input/demos/demo1.tsx
  src/components/virtual-input/tests/virtual-input.test.tsx
  src/components/virtual-input/virtual-input.tsx
Due: prettier --write

feat: 统一修改属性名
  src/components/virtual-input/demos/demo1.tsx
  src/components/virtual-input/index.zh.md
  src/components/virtual-input/tests/virtual-input.test.tsx
  src/components/virtual-input/virtual-input.tsx
Due: prettier --write

fix: react19 peer dependencies warn
  package.json
Due: none

Path conditions:
  prettier --write: any of: src/**/*.{ts,tsx}
  stylelint --fix: any of: src/**/*.{less,css}
