Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

docs: fix demo tyeps
  src/components/slider/demos/demo1.tsx
Due: prettier --write

chore: update issue templates
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/ISSUE_TEMPLATE/general.yml
Due: none

feat: (Input & TextArea) add `autoFocus` prop
  src/components/input/index.en.md
  src/components/input/index.zh.md
  src/components/input/input.tsx
  src/components/text-area/index.en.md
  src/components/text-area/index.zh.md
  src/components/text-area/text-area.tsx
Due: prettier --write

fix: fix code
  src/components/slider/demos/demo1.less
  src/components/slider/demos/demo1.tsx
  src/components/slider/index.en.md
  src/components/slider/index.zh.md
  src/components/slider/slider.less
  src/components/slider/thumb.tsx
Due: prettier --write, stylelint --fix

Update src/components/slider/index.en.md
  src/components/slider/index.en.md
Due: none

feat: (Slider) support icon Props (#4957)
  src/components/slider/demos/demo1.tsx
  src/components/slider/index.en.md
  src/components/slider/index.zh.md
  src/components/slider/slider.less
  src/components/slider/slider.tsx
  src/components/slider/thumb.tsx
Due: prettier --write, stylelint --fix

chore: exports cjs dir
  package.json
Due: none

chore: add mockdate
  package.json
  yarn.lock
Due: none

test: (ConfigProvider) add locale tests
  src/components/config-provider/tests/__snapshots__/config-provider.test.tsx.snap
  src/components/config-provider/tests/config-provider.test.tsx
  src/locales/base.ts
  src/locales/fa-IR.ts
  src/locales/zh-CN.ts
  src/locales/zh-HK.ts
  src/locales/zh-TW.ts
Due: prettier --write

doc: add i18n
  config/config.ts
  docs/guide/i18n.en.md
  docs/guide/i18n.zh.md
Due: none

doc: (Popover) add faq
  src/components/popover/index.en.md
  src/components/popover/index.zh.md
Due: none

fix: (Input) convert nativeElement property to a getter function
  src/components/input/input.tsx
Due: prettier --write

feat: (Input & TextArea) add `autoFocus` prop (#4959)
  src/components/input/index.en.md
  src/components/input/index.zh.md
  src/components/input/input.tsx
  src/components/text-area/index.en.md
  src/components/text-area/index.zh.md
  src/components/text-area/text-area.tsx
Due: prettier --write

fix: (SearchBar) proxy the nativeElement of input ref
  src/components/search-bar/search-bar.tsx
Due: prettier --write

chore: update doc
  config/config.ts
  docs/guide/quick-start.en.md
  docs/guide/quick-start.zh.md
Due: none

doc: minor fix
  docs/guide/i18n.en.md
  docs/guide/i18n.zh.md
Due: none

enhance: (Form) make `children` prop of Form.Item optional
  src/components/form/form-item.tsx
Due: prettier --write

fix(image-uploader):  修复图片上传未换行时底部多余间距问题
  src/components/image-uploader/image-uploader.less
Due: stylelint --fix

refactor: (Popover) reset the import method of floating ui
  src/components/popover/popover.tsx
  src/components/popover/temp-floating-ui.min.d.ts
  src/components/popover/temp-floating-ui.min.js
Due: prettier --write

chore: change version
  package.json
Due: none

fix: remove unused gulp script for copying floating ui
  gulpfile.js
Due: none

deploy: 59653a9cb23b832e3840dd57a8efa99b86993c66
  404.html
  index.html
  umi.4a994be2.css
  umi.5f6231cd.js
  umi.9d720d00.js
  umi.a60b2bbe.css
Due: none

chore: upgrade dependencies
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/releases/yarn-3.1.1.cjs
  .yarn/releases/yarn-3.2.0.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: none

chore: regenerate lockfile due to the upgrade of yarn
  .yarnrc.yml
  yarn.lock
Due: none

docs: add docs
  docs/guide/faq.en.md
  docs/guide/faq.zh.md
Due: none

fix: fix
  docs/guide/faq.en.md
  docs/guide/faq.zh.md
Due: none

doc: (ImageViewer) add FAQ
  src/components/image-viewer/index.en.md
  src/components/image-viewer/index.zh.md
Due: none

chore(image-uploader): 多余间距改用Space的block处理
  src/components/image-uploader/image-uploader.less
  src/components/image-uploader/image-uploader.tsx
Due: prettier --write, stylelint --fix

feat: 添加 onAdd
  src/components/form/demos/demo-array.tsx
  src/components/form/form-array.tsx
Due: prettier --write

feat: doc
  src/components/form/index.en.md
  src/components/form/index.zh.md
Due: none

feat: (Form.Array) add `onAdd` prop (#4969)
  src/components/form/demos/demo-array.tsx
  src/components/form/form-array.tsx
  src/components/form/index.en.md
  src/components/form/index.zh.md
Due: prettier --write

deploy: c081d002e67b6a8638457d034afcc31127ea41cd
  404.html
  index.html
  umi.5f6231cd.js
  umi.d36c6a70.js
Due: none

Create es-SP.ts
  src/locales/es-SP.ts
Due: prettier --write

docs: add docs (#4968)
  docs/guide/faq.en.md
  docs/guide/faq.zh.md
Due: none

fix: add an extra check for measureCSSLength
  src/utils/measure-css-length.ts
Due: prettier --write

fix: (ImageUploader) remove the extra space on the bottom (#4965)
  src/components/image-uploader/image-uploader.tsx
Due: prettier --write

Path conditions:
  prettier --write: any of: src/**/*.{ts,tsx}
  stylelint --fix: any of: src/**/*.{less,css}
