Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

refactor: nearest
  src/components/floating-panel/index.tsx
  src/components/slider/index.tsx
  src/utils/nearest.ts
Due: prettier --write

feat: FloatingPanel支持ref
  src/components/floating-panel/index.md
  src/components/floating-panel/index.tsx
Due: prettier --write

feat: add test-utils and button tests
  .husky/pre-commit
  jest.config.js
  package.json
  src/components/button/tests/button.test.tsx
  src/utils/test-utils.tsx
  tsconfig.json
  yarn.lock
Due: prettier --write

chore: dead code
  .husky/pre-commit
Due: none

fix: 调整prettier配置
  .prettierrc.js
  src/components/floating-panel/index.md
Due: none

doc: 更新文档
  docs/guide/faq.md
  src/components/tabs/index.md
Due: none

chore: umd name调整
  gulpfile.js
Due: none

doc: 更新Selector demo
  docs/index.md
  src/components/selector/demos/demo1.tsx
Due: prettier --write

refactor: mergeProps
  package.json
  src/components/divider/demos/index.tsx
  src/components/divider/index.tsx
  src/utils/with-default-props.tsx
  yarn.lock
Due: prettier --write

fix: mergeProps
  src/components/divider/demos/index.tsx
  src/components/divider/index.tsx
  src/utils/with-default-props.tsx
Due: prettier --write

fix: Tag border
  src/components/tag/index.less
Due: stylelint --fix

fix: Selector激活状态的样式
  src/components/selector/index.less
Due: stylelint --fix

doc: 更改进度
  src/components/image-uploader/index.md
  src/components/image-uploader/index.tsx
Due: prettier --write

feat：增加 loading 和 oversize
  src/components/image-uploader/demos/demo1.tsx
  src/components/image-uploader/index.less
  src/components/image-uploader/index.md
  src/components/image-uploader/index.tsx
  src/components/image-uploader/util.ts
Due: prettier --write, stylelint --fix

feat: DatePicker支持通过children渲染所选值
  src/components/date-picker/demos/index.tsx
  src/components/date-picker/index.tsx
  src/components/picker/column.tsx
  src/components/picker/demos/index.tsx
Due: prettier --write

feat；增加 onChange 事件，增加文档
  src/components/image-uploader/demos/demo2.tsx
  src/components/image-uploader/index.less
  src/components/image-uploader/index.md
  src/components/image-uploader/index.tsx
  src/components/image-uploader/preview-item.tsx
  src/components/image-uploader/util.ts
Due: prettier --write, stylelint --fix

chore: 调整test相关的配置
  gulpfile.js
  jest.config.js
  src/components/button/tests/button.test.tsx
  src/tests/testing.tsx
  tsconfig.json
Due: prettier --write

chore: 移除了一些依赖
  package.json
  yarn.lock
Due: none

chore: 更新CI
  .github/workflows/check.yml
  .github/workflows/gh-pages-next.yml
  .github/workflows/gh-pages.yml
Due: none

chore: 更新CI配置
  .github/workflows/check.yml
Due: none

feat: Image支持onClick
  src/components/image/index.tsx
Due: prettier --write

feat: Popup支持mask和afterShow属性
  src/components/popup/index.tsx
Due: prettier --write

feat: Picker增加了prompt方法
  src/components/picker/demos/index.tsx
  src/components/picker/index.md
  src/components/picker/index.tsx
Due: prettier --write

feat: Picker.Cascader和DatePicker支持prompt方法
  src/components/date-picker/index.md
  src/components/date-picker/index.tsx
  src/components/picker/index.md
  src/components/picker/index.tsx
Due: prettier --write

feat(watermark): 增加水印防篡改逻辑
  .eslintrc.js
  src/components/water-mark/demos/demo1.less
  src/components/water-mark/demos/demo1.tsx
  src/components/water-mark/index.md
  src/components/water-mark/index.tsx
  src/typings/global/index.d.ts
Due: prettier --write, stylelint --fix

test: badge
  src/components/badge/tests/badge.test.tsx
Due: prettier --write

feat: Collapse
  config/config.ts
  src/components/collapse/demos/index.tsx
  src/components/collapse/index.less
  src/components/collapse/index.md
  src/components/collapse/index.tsx
  src/index.less
  src/index.ts
Due: prettier --write, stylelint --fix

test: action-sheet
  src/components/action-sheet/demos/index.tsx
  src/components/action-sheet/tests/action-sheet.test.tsx
Due: prettier --write

fix: 修复了Picker在value和columns同时变化时的定位异常问题
  src/components/picker/column.tsx
Due: prettier --write

fix: Picker在value频繁变化时显示异常
  src/components/picker/column.tsx
  src/components/picker/index.tsx
Due: prettier --write

fix: children区域把Button替换为div
  src/components/collapse/index.less
  src/components/collapse/index.tsx
Due: prettier --write, stylelint --fix

fix: lint修复
  src/components/collapse/index.tsx
Due: prettier --write

chore: 更新依赖
  package.json
  yarn.lock
Due: none

chore: 更新版本号
  package.json
  src/components/button/tests/button.test.tsx
  src/components/date-picker/index.tsx
  src/components/picker/demos/index.tsx
Due: prettier --write

test: action-sheet
  src/components/action-sheet/demos/index.tsx
  src/components/action-sheet/index.tsx
  src/components/action-sheet/tests/action-sheet.test.tsx
Due: prettier --write

chore: 调整Picker demo
  src/components/picker/demos/index.tsx
Due: prettier --write

fix: checkbox error when initialValues is no a array
  src/components/checkbox/index.tsx
Due: prettier --write

fix: text-area showCount warning
  src/components/text-area/index.tsx
Due: prettier --write

fix: 拖动选项，但最终值未变更不用触发 onSelect
  src/components/picker/index.tsx
Due: prettier --write

doc: 补文档
  src/components/image-uploader/demos/demo1.tsx
  src/components/image-uploader/index.md
  src/components/image-uploader/index.tsx
Due: prettier --write

Path conditions:
  prettier --write: any of: src/**/*.{ts,tsx}
  stylelint --fix: any of: src/**/*.{less,css}
