Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

doc: IndexBar demo
  config/config.ts
  src/components/index-bar/demos/demo1.tsx
  src/demos/demo-block/index.tsx
Due: prettier --write

enhance: Search 组件样式调整 & 支持了一些 CSS 变量
  src/components/input/index.less
  src/components/search/demos/demo1.tsx
  src/components/search/index.less
  src/components/search/index.md
  src/components/search/index.tsx
Due: prettier --write, stylelint --fix

doc: 什么是试验性组件
  config/config.ts
  docs/components/what-is-experimental.md
Due: none

feat: 打包构建调整，支持 babel-plugin-import
  gulpfile.js
  src/components/_common/style.ts
  src/components/_common/style@2x.ts
  src/global.less
  src/index.less
Due: prettier --write, stylelint --fix

doc: 按需加载
  docs/guide/quick-start.md
Due: none

fix: 补全 index.less
  src/components/date-picker/index.less
  src/components/progress-bar/index.less
  src/components/water-mark/index.less
Due: stylelint --fix

chore: 更新版本号
  package.json
Due: none

fix: style.ts
  package.json
  src/components/_common/style.ts
Due: prettier --write

chore: 更新文档
  docs/guide/faq.md
Due: none

doc: CSS 变量
  config/config.ts
  docs/guide/css-variables.md
  docs/guide/quick-start.md
Due: none

fix: 修复了 Steps 在标题为多行时的样式问题
  src/components/steps/index.less
  src/components/steps/index.md
Due: stylelint --fix

fix: 修复了 Badge offset 属性实际逻辑和文档不一致的问题
  src/components/badge/demos/index.tsx
  src/components/badge/index.less
  src/components/badge/index.md
  src/components/badge/index.tsx
Due: prettier --write, stylelint --fix

fix: Badge test
  src/components/badge/tests/badge.test.tsx
Due: prettier --write

feat: TabBar.Item 增加了 badge 属性，同时去掉了对 children 属性的支持
  src/components/tab-bar/demos/index.less
  src/components/tab-bar/demos/index.tsx
  src/components/tab-bar/index.less
  src/components/tab-bar/index.md
  src/components/tab-bar/index.tsx
Due: prettier --write, stylelint --fix

chore: 更新版本号
  docs/guide/quick-start.md
  package.json
Due: none

fix: radio value is 0
  src/components/radio/index.tsx
Due: prettier --write

fix: checked value is 0
  src/components/checkbox/index.tsx
Due: prettier --write

test: add collapse test
  src/components/collapse/tests/collapse.test.tsx
Due: prettier --write

fix: 调整构建脚本
  gulpfile.js
  package.json
  yarn.lock
Due: none

fix: mock css import
  jest.config.js
  src/tests/mocks/style-mock.js
Due: none

feat: 提供单独的 global 文件 & 更新文档
  config/config.ts
  docs/guide/hd.md
  docs/guide/import-on-demand.md
  docs/guide/quick-start.md
  package.json
  src/global/global.less
  src/global/index.ts
  src/index.ts
Due: prettier --write, stylelint --fix

fix: 文档 Tree Shaking 错误
  package.json
Due: none

feat: sideEffects
  gulpfile.js
  package.json
  umd.html
Due: none

refactor: NoticeBar type 属性改为 color，default 调整为灰色，增加 alert 配色
  gulpfile.js
  src/components/notice-bar/demos/index.less
  src/components/notice-bar/demos/index.tsx
  src/components/notice-bar/index.md
  src/components/notice-bar/notice-bar.less
  src/components/notice-bar/notice-bar.tsx
Due: prettier --write, stylelint --fix

fix: gulpfile
  gulpfile.js
Due: none

feat: 增加 isDev
  src/components/notice-bar/notice-bar.tsx
  src/utils/isDev.ts
Due: prettier --write

refactor: Toast 的 success fail loading 方法合并到 show 方法中
  src/components/toast/demos/index.less
  src/components/toast/demos/index.tsx
  src/components/toast/index.md
  src/components/toast/toast.tsx
Due: prettier --write, stylelint --fix

feat: Toast 移除了 updateConfig 返回函数，支持了直接传入 string
  src/components/dialog/demos/index.tsx
  src/components/toast/demos/index.tsx
  src/components/toast/index.md
  src/components/toast/index.ts
  src/components/toast/methods.tsx
  src/components/toast/toast.tsx
Due: prettier --write

chore: 调整 demo 中 Toast 的用法
  src/components/action-sheet/demos/index.tsx
  src/components/card/demos/index.tsx
  src/components/date-picker/demos/index.tsx
  src/components/popover/demos/index.tsx
  src/components/rate/demos/index.tsx
  src/components/search/demos/demo1.tsx
  src/components/slider/demos/index.tsx
  src/components/toast/methods.tsx
Due: prettier --write

doc: 增加主题配置的文档
  config/config.ts
  docs/guide/theme.md
  src/global/global.less
  src/global/theme.less
Due: stylelint --fix

fix: fix missing await in dialog demo
  src/components/dialog/demos/index.tsx
Due: prettier --write

refactor: useControllableValue
  src/components/input/input.tsx
  src/utils/use-controllable-value.ts
Due: prettier --write

doc: 优化 Mask demo
  src/components/mask/demos/demo1.less
  src/components/mask/demos/demo1.tsx
  src/components/mask/mask.less
Due: prettier --write, stylelint --fix

doc: 优化 Dropdown demo
  src/components/dropdown/demos/demo1.tsx
  src/components/dropdown/dropdown.less
Due: prettier --write, stylelint --fix

Path conditions:
  prettier --write: any of: src/**/*.{ts,tsx}
  stylelint --fix: any of: src/**/*.{less,css}
