Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": ["prettier --write"],
  "src/**/*.{less,css}": ["stylelint --fix"]
}

deploy: 2660a3ec0b8ec2b35200b528e53e7a8aa3230aba
  404.html
  index.html
  umi.003bbef7.js
  umi.4f719a94.css
  umi.74d2bfbd.css
  umi.95533d98.js
Due: none

feat: (Button) add `loadingIcon` prop
  src/components/button/button.tsx
  src/components/button/index.en.md
  src/components/button/index.zh.md
  src/components/button/tests/button.test.tsx
Due: prettier --write

feat: (Button) add `loadingIcon` prop (#5106)
  src/components/button/button.tsx
  src/components/button/index.en.md
  src/components/button/index.zh.md
  src/components/button/tests/button.test.tsx
Due: prettier --write

doc: gallery add searchbar
  .dumi/plugin-gallery/gallery.less
  .dumi/plugin-gallery/gallery.tsx
Due: none

enhance: add `children` prop
  src/components/index-bar/panel.tsx
Due: prettier --write

enhance: (IndexBar.Panel) add `children` prop (#5109)
  src/components/index-bar/panel.tsx
Due: prettier --write

doc: gallery add searchbar (#5108)
  .dumi/plugin-gallery/gallery.less
  .dumi/plugin-gallery/gallery.tsx
Due: none

doc: (FloatingPanel) add demo
  src/components/floating-panel/demos/demo2.tsx
  src/components/floating-panel/index.en.md
  src/components/floating-panel/index.zh.md
Due: prettier --write

doc: (FloatingPanel) add demo (#5113)
  src/components/floating-panel/demos/demo2.tsx
  src/components/floating-panel/index.en.md
  src/components/floating-panel/index.zh.md
Due: prettier --write

feat: (button) loading add auto mode
  src/components/button/button.tsx
  src/components/button/demos/demo2.tsx
  src/components/button/index.en.md
  src/components/button/index.zh.md
Due: prettier --write

feat: (button) loading add auto mode (#5114)
  src/components/button/button.tsx
  src/components/button/demos/demo2.tsx
  src/components/button/index.en.md
  src/components/button/index.zh.md
Due: prettier --write

refactor: (Modal, Dialog) action loading state
  src/components/dialog/dialog-action-button.tsx
  src/components/modal/modal-action-button.tsx
Due: prettier --write

test: (Button) add auto loading test
  src/components/button/tests/button.test.tsx
Due: prettier --write

doc: (FloatingPanel) add demo
  src/components/floating-panel/demos/demo3.less
  src/components/floating-panel/demos/demo3.tsx
  src/components/floating-panel/index.en.md
  src/components/floating-panel/index.zh.md
Due: prettier --write, stylelint --fix

doc: (FloatingPanel) add demo (#5117)
  src/components/floating-panel/demos/demo3.less
  src/components/floating-panel/demos/demo3.tsx
  src/components/floating-panel/index.en.md
  src/components/floating-panel/index.zh.md
Due: prettier --write, stylelint --fix

doc: (FloatingPanel) update map demo
  src/components/floating-panel/demos/demo3.less
  src/components/floating-panel/demos/demo3.tsx
Due: prettier --write, stylelint --fix

doc: fix device iframe border radius
  .dumi/theme/components/device.less
Due: none

doc: (FloatingPanel) update demo2
  src/components/floating-panel/demos/demo2.tsx
  src/components/floating-panel/floating-panel.tsx
  src/components/floating-panel/index.en.md
  src/components/floating-panel/index.zh.md
Due: prettier --write

fix: (Input) fix opacity when input is disabled on iOS Safari
  src/components/input/input.less
Due: stylelint --fix

enhance: (Form.Item) adjust prefix-width in horizontal mode to 6.8em (102px)
  src/components/form/form-item.less
Due: stylelint --fix

feat: (Input & SearchBar) add `onlyShowClearWhenFocus` prop and adjust the clear icon display condition of SearchBar
  src/components/input/index.en.md
  src/components/input/index.zh.md
  src/components/input/input.tsx
  src/components/search-bar/index.en.md
  src/components/search-bar/index.zh.md
  src/components/search-bar/search-bar.tsx
Due: prettier --write

doc: (FloatingPanel) update demo3
  src/components/floating-panel/demos/demo3.less
  src/components/floating-panel/demos/demo3.tsx
Due: prettier --write, stylelint --fix

chore: add some comment
  src/global/index.ts
Due: prettier --write

doc: (FloatingPanel) update demo3 (#5119)
  src/components/floating-panel/demos/demo3.less
  src/components/floating-panel/demos/demo3.tsx
Due: prettier --write, stylelint --fix

feat: (Calendar) add `min` `max` props
  src/components/calendar/calendar.en.md
  src/components/calendar/calendar.less
  src/components/calendar/calendar.tsx
  src/components/calendar/calendar.zh.md
  src/components/calendar/demos/demo3.tsx
Due: prettier --write, stylelint --fix

test: update snapshots
  src/components/calendar/tests/__snapshots__/calendar.test.tsx.snap
  src/components/config-provider/tests/__snapshots__/config-provider.test.tsx.snap
Due: none

doc: (Icon) update en doc
  docs/components/icon/demo-all.tsx
Due: none

doc: (Icon) update en doc (#5122)
  docs/components/icon/demo-all.tsx
Due: none

doc: update Tabs doc
  src/components/capsule-tabs/index.en.md
  src/components/capsule-tabs/index.zh.md
  src/components/jumbo-tabs/index.en.md
  src/components/jumbo-tabs/index.zh.md
  src/components/tabs/index.en.md
  src/components/tabs/index.zh.md
Due: none

test: (FloatingPanel) add some tests
  src/components/floating-panel/tests/floating-panel.test.tsx
Due: prettier --write

test: (FloatingPanel) add some tests (#5128)
  src/components/floating-panel/tests/floating-panel.test.tsx
Due: prettier --write

fix: (DatePicker) closeOnMaskClick not working
  src/components/date-picker/date-picker.tsx
Due: prettier --write

feat: (Form) add `disabled` props
  src/components/form/context.tsx
  src/components/form/form-item.tsx
  src/components/form/form.tsx
  src/components/form/index.en.md
  src/components/form/index.zh.md
Due: prettier --write

chore: fix typo
  src/components/form/tests/form.test.tsx
Due: prettier --write

feat: (Form) add `disabled` props (#5129)
  src/components/form/context.tsx
  src/components/form/form-item.tsx
  src/components/form/form.tsx
  src/components/form/index.en.md
  src/components/form/index.zh.md
Due: prettier --write

chore: fix typo (#5130)
  src/components/form/tests/form.test.tsx
Due: prettier --write

test: (FloatingPanel) fix failed test
  src/components/floating-panel/tests/floating-panel.test.tsx
Due: prettier --write

test: (FloatingPanel) fix failed test (#5131)
  src/components/floating-panel/tests/floating-panel.test.tsx
Due: prettier --write

chore: change version
  package.json
Due: none

deploy: f5b09ef814a379ebd823c357fe5ea4bd72818a23
  404.html
  index.html
  umi.209b1087.css
  umi.74d2bfbd.css
  umi.902ecc52.js
  umi.95533d98.js
Due: none
