Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

test: add exclude warning
  src/tests/excludeWarning.ts
Due: prettier --write

test(ImageViewer): fix failed tests
  src/components/image-viewer/tests/image-viewer.test.tsx
Due: prettier --write

fix(TextArea): input Chinese in firefox when maxLength is set
  src/components/text-area/text-area.tsx
Due: prettier --write

chore: fix lint
  src/components/text-area/text-area.tsx
Due: prettier --write

test(ImageViewer): fix failed tests (#5207)
  src/components/image-viewer/tests/image-viewer.test.tsx
Due: prettier --write

fix(TextArea): input Chinese in firefox when maxLength is set (#5209)
  src/components/text-area/text-area.tsx
Due: prettier --write

test: add setup and exclude warning (#5208)
  jest.config.js
  src/tests/excludeWarning.ts
  src/tests/setup.ts
Due: prettier --write

fix(Form): fallback label to empty string in validation messages
  src/components/form/form-item.tsx
Due: prettier --write

doc(InfiniteScroll): fix virtualizedList demo error
  src/components/infinite-scroll/demos/demo2.tsx
Due: prettier --write

doc(InfiniteScroll): fix virtualizedList demo error (#5210)
  src/components/infinite-scroll/demos/demo2.tsx
Due: prettier --write

fix(Popover): fix position not correct when target element is position fixed and popover content is very long
  src/components/popover/popover.less
Due: stylelint --fix

chore: upgrade dependencies (including upgrade @floating-ui/dom to 0.5.0)
  package.json
  yarn.lock
Due: none

test: upgrade jest to 28
  package.json
  src/components/image-uploader/tests/image-uploader.test.tsx
  yarn.lock
Due: prettier --write

test: fix ImageUploader test
  src/components/image-uploader/tests/__snapshots__/image-uploader.test.tsx.snap
  src/components/image-uploader/tests/image-uploader.test.tsx
Due: prettier --write

chore: downgrade jest-axe to 5.x
  package.json
  yarn.lock
Due: none

chore: upgrade @floating-ui/dom
  package.json
  yarn.lock
Due: none

doc: adjust menus
  config/components.ts
  config/config.ts
Due: none

chore: change version
  package.json
Due: none

deploy: c3038d8d8ce53e4ccd4b76c299edc8b417dd3350
  404.html
  index.html
  umi.1730d8c1.js
  umi.5811fbd7.css
  umi.79d73aa1.js
  umi.d18ced0c.css
Due: none

feat: add fr-FR locale
  src/locales/fr-FR.ts
Due: prettier --write

feat: add fr-FR locale (#5216)
  src/locales/fr-FR.ts
Due: prettier --write

feat: modal Dialog add destoryOnClose
  src/components/dialog/dialog.tsx
  src/components/modal/modal.tsx
Due: prettier --write

doc: add FAQ about umd bundle
  docs/guide/faq.en.md
  docs/guide/faq.zh.md
Due: none

doc: update badges
  README.md
Due: none

doc: add badge
  README.md
Due: none

chore: add some github actions
  .github/workflows/close-inactive-pending-issues.yml
  .github/workflows/comment-when-pending-label-added.yml
Due: none

chore: update github actions
  .github/workflows/comment-when-pending-label-added.yml
Due: none

test(IndexBar): add some tests
  src/components/index-bar/tests/index-bar.test.tsx
Due: prettier --write

test(ConfigProvider): add locale tests
  src/components/config-provider/tests/__snapshots__/config-provider.test.tsx.snap
  src/components/config-provider/tests/config-provider.test.tsx
Due: prettier --write

feat(Modal & Dialog): add `destroyOnClose` and `forceRender` props (#5217)
  src/components/dialog/dialog.tsx
  src/components/modal/modal.tsx
Due: prettier --write

doc: update modal and dialog props doc
  src/components/dialog/dialog.tsx
  src/components/dialog/index.en.md
  src/components/dialog/index.zh.md
  src/components/modal/index.en.md
  src/components/modal/index.zh.md
  src/components/modal/modal.tsx
Due: prettier --write

docs(popover): action 增加 onClick
  src/components/popover/index.en.md
  src/components/popover/index.zh.md
Due: none

feat: add onIndexChange prop on IndexBar component
  src/components/index-bar/index-bar.tsx
  src/components/index-bar/index.en.md
  src/components/index-bar/index.zh.md
Due: prettier --write

feat(IndexBar): add `onIndexChange` prop (#5223)
  src/components/index-bar/index-bar.tsx
  src/components/index-bar/index.en.md
  src/components/index-bar/index.zh.md
Due: prettier --write

doc(Popover): add doc for `Action.onClick` (#5222)
  src/components/popover/index.en.md
  src/components/popover/index.zh.md
Due: none

Path conditions:
  prettier --write: any of: src/**/*.{ts,tsx}
  stylelint --fix: any of: src/**/*.{less,css}
