Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": ["prettier --write"],
  "src/**/*.{less,css}": ["stylelint --fix"]
}

fix: fix the style of Swiper and add a demo with Popup
  src/components/swiper/demos/demo1.less
  src/components/swiper/demos/demo1.tsx
  src/components/swiper/swiper.less
  src/components/swiper/swiper.tsx
Due: prettier --write, stylelint --fix

feat: add some css variables to Button
  src/components/button/button.less
  src/components/button/button.tsx
  src/components/button/index.md
Due: prettier --write, stylelint --fix

feat: SwipeAction
  src/components/swipe-action/demos/demo1.tsx
  src/components/swipe-action/index.md
  src/components/swipe-action/index.tsx
  src/components/swipe-action/swipe-action.less
  src/components/swipe-action/swipe-action.tsx
  src/index.ts
Due: prettier --write, stylelint --fix

feat: SwipeAction closeOnTouchAway
  src/components/swipe-action/demos/demo1.tsx
  src/components/swipe-action/swipe-action.tsx
Due: prettier --write

feat: SwipeAction closeOnAction
  src/components/swipe-action/demos/demo1.tsx
  src/components/swipe-action/swipe-action.tsx
Due: prettier --write

enhance: the click events of SwipeAction
  src/components/swipe-action/demos/demo1.tsx
  src/components/swipe-action/swipe-action.tsx
Due: prettier --write

feat: SwipeAction ref
  src/components/swipe-action/demos/demo1.tsx
  src/components/swipe-action/index.tsx
  src/components/swipe-action/swipe-action.tsx
Due: prettier --write

doc: SwipeAction
  config/config.ts
  src/components/swipe-action/demos/demo1.tsx
  src/components/swipe-action/index.md
  src/components/swipe-action/swipe-action.tsx
  src/components/swiper/index.md
Due: prettier --write

chore: update version
  package.json
Due: none

fix: demo gray background
  config/config.ts
  src/demos/demo-block/index.tsx
Due: prettier --write

fix: floating can not be dragged in desktop browsers
  src/components/floating-panel/demos/index.tsx
  src/components/floating-panel/floating-panel.less
  src/components/floating-panel/floating-panel.tsx
Due: prettier --write, stylelint --fix

feat: add all-components display
  package.json
  yarn.lock
Due: none

chore: remove resolutions
  package.json
Due: none

chore: update plugin
  package.json
  yarn.lock
Due: none

fix: FloatingPanel
  src/components/floating-panel/floating-panel.tsx
Due: prettier --write

enhance: Selector generic types
  src/components/selector/index.md
  src/components/selector/selector.tsx
Due: prettier --write

doc: DatePicker
  src/components/date-picker/index.md
Due: none

feat: Stepper组件
  config/config.ts
  src/components/stepper/demos/index.tsx
  src/components/stepper/index.md
  src/components/stepper/index.ts
  src/components/stepper/stepper.less
  src/components/stepper/stepper.tsx
  src/index.ts
Due: prettier --write, stylelint --fix

fix: capture 默认值问题
  src/components/image-uploader/image-uploader.tsx
Due: prettier --write

doc: ImageUploader
  src/components/image-uploader/image-uploader.tsx
  src/components/image-uploader/index.md
Due: prettier --write

feat: Swiper support --track-padding
  src/components/swiper/demos/demo1.tsx
  src/components/swiper/index.md
  src/components/swiper/swiper.less
  src/components/swiper/swiper.tsx
Due: prettier --write, stylelint --fix

chore: upgrade dependencies
  package.json
  yarn.lock
Due: none

update
  config/config.ts
  package.json
  src/components/button/button.less
  src/components/button/button.tsx
  src/components/button/index.md
  src/components/date-picker/index.md
  src/components/floating-panel/demos/index.tsx
  src/components/floating-panel/floating-panel.less
  src/components/floating-panel/floating-panel.tsx
  src/components/image-uploader/image-uploader.tsx
  src/components/image-uploader/index.md
  src/components/selector/index.md
  src/components/selector/selector.tsx
  src/components/swipe-action/demos/demo1.tsx
  src/components/swipe-action/index.md
  src/components/swipe-action/index.tsx
  src/components/swipe-action/swipe-action.less
  src/components/swipe-action/swipe-action.tsx
  src/components/swiper/demos/demo1.less
  src/components/swiper/demos/demo1.tsx
  src/components/swiper/index.md
  src/components/swiper/swiper.less
  src/components/swiper/swiper.tsx
  src/demos/demo-block/index.tsx
  src/index.ts
  yarn.lock
Due: prettier --write, stylelint --fix

fix: typo in doc
  src/components/selector/index.md
Due: none

feat: Stepper 步进器
  config/config.ts
  src/components/stepper/demos/index.tsx
  src/components/stepper/index.md
  src/components/stepper/index.ts
  src/components/stepper/stepper.less
  src/components/stepper/stepper.tsx
  src/index.ts
Due: prettier --write, stylelint --fix

fix: the cjs files built using less imports
  .babelrc.json
  babel-transform-less-to-css.js
  gulpfile.js
  package.json
  yarn.lock
Due: none

feat: Switch with content
  src/components/switch/demos/index.tsx
  src/components/switch/index.md
  src/components/switch/switch.less
  src/components/switch/switch.tsx
Due: prettier --write, stylelint --fix

chore: add cnzz
  config/config.ts
Due: none

chore: update cnzz config
  .dumi/theme/layout.tsx
  config/config.ts
  src/components/button/index.md
  src/components/tabs/index.md
Due: none

fix: doc
  .dumi/theme/layout.tsx
Due: none

feat: Empty 支持自定义图片
  src/components/empty/empty.less
  src/components/empty/empty.tsx
  src/components/empty/index.md
Due: prettier --write, stylelint --fix

doc: PullToRefresh
  src/components/pull-to-refresh/index.md
Due: none

feat: Picker add `precision` prop
  src/components/date-picker/date-picker.tsx
  src/components/date-picker/demos/index.tsx
  src/components/date-picker/index.md
  src/components/picker/column.tsx
  src/components/picker/index.md
  src/components/picker/picker.less
Due: prettier --write, stylelint --fix

chore: update prettier config
  .prettierrc.js
Due: none

doc: DatePicker
  src/components/date-picker/demos/index.tsx
  src/components/date-picker/index.md
Due: prettier --write

fix: DatePicker lint issues
  src/components/date-picker/date-picker.tsx
Due: prettier --write

feat: IndexBar ref
  src/components/index-bar/index-bar.tsx
  src/components/index-bar/index.ts
Due: prettier --write

feat: IndexBar ref
  src/components/index-bar/demos/demo2.tsx
  src/components/index-bar/index-bar.tsx
  src/components/index-bar/index.md
  src/components/index-bar/index.ts
Due: prettier --write
