Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": ["prettier --write"],
  "src/**/*.{less,css}": ["stylelint --fix"]
}

feat: 补充demo6
  src/components/calendar/calendar.en.md
Due: none

feat: 接受cr建议
  src/components/calendar/calendar.tsx
  src/components/calendar/tests/calendar.test.tsx
Due: prettier --write

feat: 接受cr建议
  package.json
Due: none

feat: 渲染处条件处理
  src/components/calendar/calendar.tsx
  src/components/calendar/tests/calendar.test.tsx
Due: prettier --write

feat: 渲染处条件处理
  src/components/calendar/calendar.tsx
Due: prettier --write

feat: 单元测试调整
  src/components/calendar/tests/calendar.test.tsx
Due: prettier --write

feat: 删除无用测试code
  src/components/calendar/tests/calendar.test.tsx
Due: prettier --write

feat: 按钮配置不存在时 不支持点击 (#6944)
  package-lock.json
  src/components/calendar/calendar.en.md
  src/components/calendar/calendar.tsx
  src/components/calendar/calendar.zh.md
  src/components/calendar/demos/demo7.tsx
  src/components/calendar/tests/calendar.test.tsx
Due: prettier --write

chore: bump 6.0.0-alpha.3
  package.json
Due: none

refactor(DatePicker): 增加columns列，用于控制列显示
  src/components/date-picker/date-picker-date-utils.ts
  src/components/date-picker/date-picker-utils.ts
  src/components/date-picker/date-picker.tsx
  src/components/date-picker/demos/demo1.tsx
  src/components/date-picker/index.ts
  src/components/date-picker/util.ts
Due: prettier --write

test(DatePicker): 增加测试用例
  src/components/date-picker/date-picker-date-utils.ts
  src/components/date-picker/demos/demo1.tsx
  src/components/date-picker/tests/date-picker.test.tsx
Due: prettier --write

refactor(DatePicker): 将列常量类型定义为常量，优化导入方式
  src/components/date-picker/demos/demo1.tsx
  src/components/date-picker/util.ts
Due: prettier --write

feat(DatePicker): 增强日期选择器，支持自定义列和默认值处理
  src/components/date-picker/date-picker-date-utils.ts
  src/components/date-picker/date-picker-utils.ts
  src/components/date-picker/date-picker.tsx
Due: prettier --write

fix(DatePicker): 优化日期选择器列生成逻辑，确保列精度正确过滤
  src/components/date-picker/date-picker-date-utils.ts
  src/components/date-picker/date-picker-utils.ts
Due: prettier --write

fix: 纠正遮罩层事件名
  src/components/image-viewer/image-viewer.tsx
  src/components/image-viewer/index.en.md
  src/components/image-viewer/index.zh.md
Due: prettier --write

fix: error 6945, antd-mobile slide calculation error
  src/components/image-viewer/image-viewer.tsx
  src/components/image-viewer/slides.tsx
Due: prettier --write

refactor(DatePicker): 优化生成日期选择器列的逻辑，使用映射关系简化代码
  src/components/date-picker/date-picker-date-utils.ts
Due: prettier --write

fix: 修改文档和属性
  src/components/image-viewer/image-viewer.tsx
  src/components/image-viewer/index.en.md
  src/components/image-viewer/index.zh.md
Due: prettier --write

feat: test
  README.md
Due: none

fix: 修改光标定位样式，使其在 safari flex 布局下也能显示
  src/components/virtual-input/virtual-input.less
Due: stylelint --fix

fix: style
  src/components/virtual-input/virtual-input.less
Due: stylelint --fix

fix: 让样式更健壮
  src/components/virtual-input/virtual-input.less
Due: stylelint --fix

fix: 修改光标定位样式，使其在 safari flex 布局下也能显示 (#6948)
  src/components/virtual-input/virtual-input.less
Due: stylelint --fix

chore: bump 5.41.0-alpha.4
  package.json
Due: none

fix: 调整事件代码相关
  src/components/image-viewer/methods.tsx
Due: prettier --write

refactor: 优化日期选择器日期转换逻辑
  src/components/date-picker/date-picker-date-utils.ts
  src/components/date-picker/date-picker-utils.ts
Due: prettier --write

fix: 修复日期选择器列生成逻辑
  src/components/date-picker/date-picker-date-utils.ts
Due: prettier --write

refactor: 优化日期选择器列生成逻辑
  src/components/date-picker/date-picker-date-utils.ts
Due: prettier --write

feat: 输入框留一点 padding-right，让右对齐时光标不被遮挡
  src/components/virtual-input/virtual-input.less
Due: stylelint --fix

feat(follow up): Add additional padding right to keep caret space (#6949)
  src/components/virtual-input/virtual-input.less
Due: stylelint --fix

chore: bump 5.41.0-alpha.5
  package.json
Due: none

refactor: 优化日期选择器工具函数逻辑
  src/components/date-picker/date-picker-date-utils.ts
Due: prettier --write

chore: bump 5.41.0
  package.json
Due: none

fix(Tabs): programmatic control should not auto focus
  src/components/tabs/tabs.tsx
  src/components/tabs/tests/tabs.test.tsx
Due: prettier --write

chore: bump 5.41.1-alpha.0
  package.json
Due: none

fix(Tabs): programmatic control should not auto focus (#6952)
  src/components/tabs/tabs.tsx
  src/components/tabs/tests/tabs.test.tsx
Due: prettier --write

chore: bump 5.41.1-alpha.1
  package.json
Due: none
