Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

feat(Picker PickerView): unified provision of custom prefixCls
  src/components/picker-view/picker-view.tsx
  src/components/picker/picker.tsx
  src/components/picker/tests/picker.test.tsx
Due: prettier --write

feat: pickerView
  src/components/picker-view/picker-view.tsx
Due: prettier --write

feat: date-picker
  src/components/date-picker/date-picker.tsx
  src/components/date-picker/tests/date-picker.test.tsx
Due: prettier --write

Update src/components/picker-view/picker-view.tsx
  src/components/picker-view/picker-view.tsx
Due: prettier --write

feat: date-picker-view
  src/components/date-picker-view/date-picker-view.tsx
  src/components/date-picker-view/tests/date-picker-view.test.tsx
Due: prettier --write

feat(Dialog): unified provision of custom prefixCls
  src/components/dialog/dialog.tsx
  src/components/dialog/tests/dialog.test.tsx
Due: prettier --write

feat: dm-plain-anchor -> getPrefixCls('plain-anchor')
  src/components/center-popup/center-popup.tsx
  src/components/popup/popup.tsx
Due: prettier --write

fix: 修改无障碍模式下，点击其他位置焦点状态异常问题
  src/components/virtual-input/virtual-input.tsx
Due: prettier --write

fix: 解决无障碍输入框读屏两次问题 (#6977)
  src/components/virtual-input/virtual-input.tsx
Due: prettier --write

feat(Divider): unified provision of custom prefixCls
  src/components/divider/divider.tsx
Due: prettier --write

feat(DotLoading): unified provision of custom
  src/components/dot-loading/dot-loading.tsx
Due: prettier --write

feat(Dropdown): unified provision of custom prefixCls
  src/components/dropdown/dropdown.tsx
  src/components/dropdown/item.tsx
  src/components/dropdown/tests/dropdown.test.tsx
Due: prettier --write

Update src/components/divider/divider.tsx
  src/components/divider/divider.tsx
Due: prettier --write

feat: less class variable
  src/components/divider/divider.less
Due: stylelint --fix

fix typo: Props header from 'Description' to 'Default'
  src/components/floating-panel/index.en.md
Due: none

docs(Form): add a demo of getValueProps-normalize
  src/components/form/demos/getValueProps-normalize.tsx
  src/components/form/index.zh.md
  src/components/virtual-input/virtual-input.tsx
Due: prettier --write

Update src/components/form/demos/getValueProps-normalize.tsx
  src/components/form/demos/getValueProps-normalize.tsx
Due: prettier --write

chore: bump version
  package.json
Due: none

feat: limit count include uploading
  src/components/image-uploader/image-uploader.tsx
Due: prettier --write

fix: limit count uninclude uploading
  src/components/image-uploader/image-uploader.tsx
Due: prettier --write

feat: onchange
  src/components/image-uploader/image-uploader.tsx
Due: prettier --write

test: add limit test
  src/components/image-uploader/tests/image-uploader.test.tsx
Due: prettier --write

fix: 修改点击输入框事件处理逻辑和焦点管理
  src/components/virtual-input/virtual-input.tsx
Due: prettier --write

fix(Uploader): count uploading files in maxCount limit (#6989)
  src/components/image-uploader/image-uploader.tsx
  src/components/image-uploader/tests/image-uploader.test.tsx
Due: prettier --write

docs(form): add getvalueprops-normalize example
  pnpm-lock.yaml
  src/components/form/demos/getvalueprops-normalize.tsx
  src/components/form/index.en.md
  src/components/form/index.zh.md
Due: prettier --write

docs(form): add getvalueprops-normalize example
  pnpm-lock.yaml
Due: none

docs(form): add getvalueprops-normalize example (#6991)
  src/components/form/demos/getvalueprops-normalize.tsx
  src/components/form/index.en.md
  src/components/form/index.zh.md
Due: prettier --write

fix(VirtualInput): Screen reader read content twice (#6990)
  src/components/virtual-input/virtual-input.tsx
Due: prettier --write

fix: 去掉不必要的 min-height，修正右对齐时光标位置
  src/components/virtual-input/virtual-input.less
Due: stylelint --fix

fix（VirtualInput）: 去掉不必要的 min-height，修正右对齐时光标位置 (#6994)
  src/components/virtual-input/virtual-input.less
Due: stylelint --fix

fix: 修复 Space 组件最后一个子项的边距问题
  src/components/space/space.less
Due: stylelint --fix

style: 移除Space组件多余的底部间距样式
  src/components/space/space.less
Due: stylelint --fix

fix: 修正点击键盘后密码输入框会失焦的问题
  src/components/number-keyboard/number-keyboard.tsx
Due: prettier --write

fix: 与 passcode-input 配合时，点击键盘后不再失焦 (#7004)
  src/components/number-keyboard/number-keyboard.tsx
Due: prettier --write

chore: bump 5.42.1
  package.json
Due: none

Path conditions:
  prettier --write: any of: src/**/*.{ts,tsx}
  stylelint --fix: any of: src/**/*.{less,css}
