Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": ["prettier --write"],
  "src/**/*.{less,css}": ["stylelint --fix"]
}

chore: change version
  package.json
Due: none

deploy: 145280c23cb7bfc5b83617944eb4b1a62bb9e9cf
  404.html
  index.html
  umi.061b4551.css
  umi.0de52609.css
  umi.a55b764e.js
  umi.c6742de5.js
Due: none

chore: upgrade dependencies
  package.json
  yarn.lock
Due: none

doc: (Form) update demo
  src/components/form/demos/demo2.tsx
Due: prettier --write

doc: PullToRefresh and InfiniteScroll FAQ
  src/components/infinite-scroll/index.en.md
  src/components/infinite-scroll/index.zh.md
  src/components/pull-to-refresh/index.en.md
  src/components/pull-to-refresh/index.zh.md
Due: none

doc: (InfiniteScroll) fix demo css
  src/components/infinite-scroll/demos/demo3.less
Due: stylelint --fix

fix: (ImageViewer) calling ref.current.swipeTo before initialization
  jest.config.js
  src/components/image-viewer/demos/demo1.tsx
  src/components/image-viewer/demos/images.tsx
  src/components/image-viewer/image-viewer.tsx
  src/components/image-viewer/slides.tsx
  src/components/image-viewer/tests/__snapshots__/image-viewer.test.tsx.snap
  src/components/image-viewer/tests/image-viewer.test.tsx
  src/tests/testing.tsx
Due: prettier --write

doc: (ImageViewer) update demo
  src/components/image-viewer/demos/demo1.tsx
Due: prettier --write

fix: fix failed tests
  jest.config.js
  src/components/image-viewer/slide.tsx
  src/components/image-viewer/tests/__snapshots__/image-viewer.test.tsx.snap
Due: prettier --write

chore: update coverage config to include all source files
  jest.config.js
Due: none

fix: (InfiniteScroll) loadMore may not be triggered when the style of body element is modified
  src/utils/get-scroll-parent.ts
Due: prettier --write

doc: (InfiniteScroll) update demos
  src/components/infinite-scroll/demos/content.tsx
  src/components/infinite-scroll/demos/demo1.tsx
  src/components/infinite-scroll/demos/demo3.tsx
  src/components/infinite-scroll/demos/mock-request.tsx
Due: prettier --write

enhance: replace useLayoutEffect with useIsomorphicLayoutEffect
  src/components/calendar/calendar.tsx
  src/components/ellipsis/ellipsis.tsx
  src/components/image-uploader/image-uploader.tsx
  src/components/input/input.tsx
  src/components/picker-view/wheel.tsx
  src/components/swiper/swiper.tsx
  src/components/tabs/tabs.tsx
  src/components/virtual-input/virtual-input.tsx
  src/utils/use-ref-state.tsx
  src/utils/use-resize-effect.tsx
  src/utils/use-tab-list-scroll.ts
Due: prettier --write

enhance: (Button) adjust the font size of middle sized button
  src/components/button/button.less
Due: stylelint --fix

doc: fix migration guide
  docs/guide/migration.en.md
  docs/guide/migration.zh.md
Due: none

fix: (Input) prevent showing clear icon when input is read only
  src/components/input/input.tsx
Due: prettier --write

chore: update doc-site CI workflow
  .github/workflows/doc-site.yml
Due: none

feat: (Form) add `initialValue` prop to Form.Item
  src/components/form/form-item.tsx
  src/components/form/index.en.md
  src/components/form/index.zh.md
Due: prettier --write

doc: (Checkbox & Radio) update demos
  src/components/checkbox/demos/demo1.tsx
  src/components/radio/demos/demo1.tsx
Due: prettier --write

doc: (Selector) update demos
  src/components/selector/demos/demo1.less
  src/components/selector/demos/demo1.tsx
  src/components/selector/demos/demo2.tsx
  src/components/selector/demos/options.tsx
  src/components/selector/index.en.md
  src/components/selector/index.zh.md
Due: prettier --write, stylelint --fix

feat: (Selector) add some CSS variables
  src/components/selector/demos/demo2.tsx
  src/components/selector/index.en.md
  src/components/selector/index.zh.md
  src/components/selector/selector.less
  src/components/selector/selector.tsx
Due: prettier --write, stylelint --fix

feat: (Selector) add `showCheckMark` prop
  src/components/selector/demos/demo2.tsx
  src/components/selector/index.en.md
  src/components/selector/index.zh.md
  src/components/selector/selector.tsx
Due: prettier --write

feat: (FloatingPanel) add `handleDraggingOfContent` prop
  src/components/floating-panel/floating-panel.tsx
  src/components/floating-panel/index.en.md
  src/components/floating-panel/index.zh.md
Due: prettier --write

enhance: (FloatingPanel) prevent body scroll
  src/components/floating-panel/floating-panel.tsx
Due: prettier --write

deploy: 3af4cb426e9c7d053cb052a036766e6676cdeca7
  404.html
  index.html
  umi.0de52609.css
  umi.240e1bf4.css
  umi.a55b764e.js
  umi.bc1cc277.js
Due: none

doc: update home page
  docs/components/home-page.tsx
Due: none

doc: duplicate a copy of umi-plugin-mobile-dumi
  .dumi/plugin-gallery/display.tsx
  .dumi/plugin-gallery/index.ts
  .dumi/tsconfig.json
  config/config.ts
  package.json
  yarn.lock
Due: none

fix: (IndexBar) z-index
  src/components/index-bar/index-bar.less
Due: stylelint --fix

doc: refactor gallery
  .dumi/plugin-gallery/display.tsx
  .dumi/plugin-gallery/gallery.less
  .dumi/plugin-gallery/gallery.tsx
  .dumi/plugin-gallery/index.ts
  .dumi/typings/global/index.d.ts
Due: none

doc: auto jump to gallery page on mobile devices
  .dumi/plugin-gallery/gallery.tsx
  .dumi/theme/layouts/index.tsx
Due: none

style: 调整 active 一定会高亮的逻辑
  src/components/dropdown/dropdown.less
  src/components/dropdown/item.tsx
Due: prettier --write, stylelint --fix

doc: change buttons on home page
  .dumi/theme/layouts/index.tsx
  docs/components/home-page.tsx
Due: none

doc: gallery scroll bar style
  .dumi/plugin-gallery/gallery.less
Due: none

doc: gallery
  .dumi/plugin-gallery/gallery.less
  .dumi/plugin-gallery/gallery.tsx
  .dumi/theme/layouts/index.tsx
Due: none

fix: (Dropdown) adjust the priority of `active` and `highlight` props (#4761)
  src/components/dropdown/dropdown.less
  src/components/dropdown/item.tsx
Due: prettier --write, stylelint --fix

doc: update gallery
  .dumi/plugin-gallery/gallery.less
  .dumi/plugin-gallery/gallery.tsx
Due: none

fix: (Popover.Menu) fix type definitions about `actions`
  src/components/popover/popover-menu.tsx
Due: prettier --write

doc: update gallery
  .dumi/plugin-gallery/gallery.tsx
Due: none
