Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

doc: move ellipsis and dropdown to experimental components
  config/components.ts
Due: none

refactor: (Space) remove the size prop and add some css variables
  src/components/space/demos/index.tsx
  src/components/space/index.en.md
  src/components/space/index.zh.md
  src/components/space/space.less
  src/components/space/space.tsx
Due: prettier --write, stylelint --fix

fix: Space related components
  src/components/badge/demos/index.tsx
  src/components/image-uploader/image-uploader.less
  src/components/image-uploader/image-uploader.tsx
  src/components/notice-bar/demos/index.tsx
  src/components/progress-circle/demos/index.tsx
  src/components/space/tests/space.test.tsx
Due: prettier --write, stylelint --fix

chore: update version
  package.json
Due: none

deploy: 719baa4922525579d6de7edd1776560fa0e535b6
  umi.css
  umi.js
Due: none

feat: (Card) add custom style for header and body
  src/components/card/card.tsx
  src/components/card/demos/index.less
  src/components/card/demos/index.tsx
  src/components/card/index.en.md
  src/components/card/index.zh.md
Due: prettier --write, stylelint --fix

fix: Swiper animation
  src/components/swiper/swiper.tsx
Due: prettier --write

refactor: (TreeSelect & Selector) adjust the second context param of onChange
  src/components/selector/selector.tsx
  src/components/tree-select/index.en.md
  src/components/tree-select/index.zh.md
  src/components/tree-select/tree-select.tsx
Due: prettier --write

refactor: rename Desens to Desense
  src/components/desense-text/demos/index.tsx
  src/components/desense-text/index.en.md
  src/components/desense-text/index.zh.md
  src/index.ts
Due: prettier --write

fix(docs):list & navbar have redundant statement
  src/components/list/index.zh.md
  src/components/list/list-item.tsx
  src/components/nav-bar/index.en.md
  src/components/nav-bar/index.zh.md
  src/components/nav-bar/nav-bar.tsx
Due: prettier --write

doc: (Selector) update doc
  src/components/selector/demos/demo1.tsx
  src/components/selector/index.en.md
  src/components/selector/index.zh.md
Due: prettier --write

fix: loading size in rem layout projects
  src/components/image-uploader/preview-item.tsx
  src/components/toast/toast.less
  src/components/toast/toast.tsx
Due: prettier --write, stylelint --fix

feat: ErrorBlock add --image-height and --image-height-full-page
  src/components/error-block/demos/demo2.tsx
  src/components/error-block/error-block.less
  src/components/error-block/error-block.tsx
  src/components/error-block/index.en.md
  src/components/error-block/index.zh.md
Due: prettier --write, stylelint --fix

refactor: (NoticeBar) remove duplicate logic code
  src/components/notice-bar/notice-bar.tsx
Due: prettier --write

fix: (InfiniteScroll) the locking logic of load more function
  src/components/infinite-scroll/infinite-scroll.tsx
Due: prettier --write

fix: (InfiniteScroll) load more being triggered unexpectedly
  src/components/infinite-scroll/demos/content.tsx
  src/components/infinite-scroll/demos/index.tsx
  src/components/infinite-scroll/index.en.md
  src/components/infinite-scroll/index.zh.md
  src/components/infinite-scroll/infinite-scroll.tsx
Due: prettier --write

chore: upgrade version
  package.json
Due: none

refactor: (PageIndicator) class prefix reuse
  src/components/page-indicator/page-indicator.tsx
Due: prettier --write

deploy: d3432e0c51a9f33883522b4d9b96539a7ff15feb
  umi.css
  umi.js
Due: none

fix: swiper item tap failed
  src/components/swiper/swiper.tsx
Due: prettier --write

feat: (Steps & Step) add style/className prop
  src/components/steps/step.tsx
  src/components/steps/steps.tsx
Due: prettier --write

doc: (Stepper) update the default value of `defaultValue` prop
  src/components/stepper/index.en.md
  src/components/stepper/index.zh.md
Due: none

feat: (Loading) remove unused `size` property from `defaultProps`
  src/components/loading/loading.tsx
Due: prettier --write

feat: Image supports lazy loading
  src/components/image/demos/index.tsx
  src/components/image/image.tsx
  src/components/image/index.en.md
  src/components/image/index.zh.md
Due: prettier --write

feat: (Grid) remove `any` type
  src/components/grid/grid.tsx
Due: prettier --write

enhance: Collapse.Panel `title` prop supports `ReactNode` type
  src/components/collapse/collapse.tsx
  src/components/collapse/index.en.md
  src/components/collapse/index.zh.md
Due: prettier --write

fix(CheckList): `style` and `className` prop don't work
  src/components/check-list/check-list.tsx
Due: prettier --write

enhance(tabs): auto scroll and switch animation
  src/components/tabs/tabs.less
  src/components/tabs/tabs.tsx
Due: prettier --write, stylelint --fix

feat: (TabBar) update some prop type
  src/components/tab-bar/tab-bar.tsx
Due: prettier --write

doc: (Tabs) update the type of `activeKey` and `defaultActiveKey` prop
  src/components/tabs/index.en.md
  src/components/tabs/index.zh.md
Due: none

feat: (IndexBar) remove `any` type and remove duplicate className prop
  src/components/index-bar/index-bar.tsx
Due: prettier --write

fix: (Tabs) controllable value
  src/components/tabs/tabs.tsx
Due: prettier --write

feat: (Form.Item) `onClick` is not trigger when disabled
  src/components/form/form-item.tsx
Due: prettier --write

doc: update FAQ url
  README.md
Due: none

fix: (Tabs) update useDrag option
  src/components/tabs/tabs.tsx
Due: prettier --write

feat: (List.Item) add disabled prop
  src/components/list/demos/index.tsx
  src/components/list/index.en.md
  src/components/list/index.zh.md
  src/components/list/list-item.tsx
  src/components/list/list.less
Due: prettier --write, stylelint --fix

doc: (Mask) update the `visible` and `opacity` prop
  src/components/mask/index.en.md
  src/components/mask/index.zh.md
Due: none

feat: (Loading) remove unused `size` property from `defaultProps` (#4194)
  src/components/loading/loading.tsx
Due: prettier --write

feat: (Grid) remove `any` type (#4196)
  src/components/grid/grid.tsx
Due: prettier --write

refactor: (PageIndicator) class prefix reuse (#4181)
  src/components/page-indicator/page-indicator.tsx
Due: prettier --write

Path conditions:
  prettier --write: any of: src/**/*.{ts,tsx}
  stylelint --fix: any of: src/**/*.{less,css}
