Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

enhance: replace missing colors with css variables. fix #6319
  src/components/action-sheet/action-sheet.less
  src/components/form/form.less
  src/components/image-uploader/image-uploader.less
  src/components/notice-bar/notice-bar.less
  src/components/popover/popover-menu.less
  src/components/progress-bar/progress-bar.less
  src/components/tag/tag.tsx
Due: prettier --write, stylelint --fix

enhance: replace black color with css variable
  src/components/button/button.less
  src/components/error-block/error-block.less
  src/components/number-keyboard/number-keyboard.less
Due: stylelint --fix

chore: update tag snapshots for css var
  src/components/tag/tests/__snapshots__/tag.test.tsx.snap
Due: none

fix: performance optimization
  src/components/tabs/tabs.tsx
Due: prettier --write

fix(Dropdown): 修复CI异常路径错误
  src/components/dropdown/dropdown.tsx
Due: prettier --write

enhance: replace missing colors with css variables. fix #6319 (#6320)
  src/components/action-sheet/action-sheet.less
  src/components/button/button.less
  src/components/error-block/error-block.less
  src/components/form/form.less
  src/components/image-uploader/image-uploader.less
  src/components/notice-bar/notice-bar.less
  src/components/number-keyboard/number-keyboard.less
  src/components/popover/popover-menu.less
  src/components/progress-bar/progress-bar.less
  src/components/tag/tag.tsx
  src/components/tag/tests/__snapshots__/tag.test.tsx.snap
Due: prettier --write, stylelint --fix

fix: remove imageUploaderRef openPhoto #6316
  src/components/image-uploader/demos/demo2.tsx
  src/components/image-uploader/image-uploader.tsx
  src/components/image-uploader/index.en.md
  src/components/image-uploader/index.ts
  src/components/image-uploader/index.zh.md
  src/components/image-uploader/tests/image-uploader.test.tsx
Due: prettier --write

fix: remove log ref:#6316
  src/components/image-uploader/tests/image-uploader.test.tsx
Due: prettier --write

doc: update
  src/components/image-uploader/index.en.md
  src/components/image-uploader/index.zh.md
Due: none

feat: export image upload ref
  src/index.ts
Due: prettier --write

doc: update demo
  src/components/image-uploader/demos/demo2.tsx
Due: prettier --write

feat: support for incoming ref to image-uploader (#6316)
  src/components/image-uploader/demos/demo2.tsx
  src/components/image-uploader/image-uploader.tsx
  src/components/image-uploader/index.en.md
  src/components/image-uploader/index.ts
  src/components/image-uploader/index.zh.md
  src/components/image-uploader/tests/image-uploader.test.tsx
  src/index.ts
Due: prettier --write

fix: (WaterMark) when not set zIndex props, --adm-water-mark-z-index and --z-index support
  src/components/water-mark/tests/__snapshots__/water-mark.test.tsx.snap
  src/components/water-mark/water-mark.tsx
Due: prettier --write

fix: (WaterMark) backgroundImage error when content is ''
  src/components/water-mark/water-mark.tsx
Due: prettier --write

refactor: (WaterMark) zIndex type remove 'var(--z-index)'
  src/components/water-mark/water-mark.tsx
Due: prettier --write

feat(Tabs): support RTL mode (#6314)
  src/components/cascader-view/tests/__snapshots__/cascader-view.test.tsx.snap
  src/components/tabs/demos/demo5.tsx
  src/components/tabs/index.en.md
  src/components/tabs/index.zh.md
  src/components/tabs/tabs.tsx
  src/components/tabs/tests/__snapshots__/tabs.test.tsx.snap
  src/components/tabs/tests/tabs.test.tsx
Due: prettier --write

feat(CheckList): allow using number as value
  src/components/check-list/check-list-item.tsx
  src/components/check-list/check-list.tsx
  src/components/check-list/context.tsx
  src/components/check-list/index.tsx
Due: prettier --write

修复SwipeAction按钮点击事件里setState后子组件无法点击的问题
  src/components/swipe-action/swipe-action.tsx
Due: prettier --write

refactor(FloatingBubble): zIndex props default undefined
  src/components/water-mark/tests/__snapshots__/water-mark.test.tsx.snap
  src/components/water-mark/water-mark.tsx
Due: prettier --write

fix: (WaterMark) when not set zIndex props, --adm-water-mark-z-index … (#6330)
  src/components/water-mark/tests/__snapshots__/water-mark.test.tsx.snap
  src/components/water-mark/water-mark.tsx
Due: prettier --write

chore: bump 5.32.1
  package.json
Due: none

refactor(CheckList): move value type to component
  src/components/check-list/check-list.tsx
  src/components/check-list/index.tsx
Due: prettier --write

fix(CascaderView): update CascaderValue type
  src/components/cascader-view/cascader-view.tsx
Due: prettier --write

refactor(CheckList): update type import path
  src/components/check-list/check-list-item.tsx
  src/components/check-list/context.tsx
Due: prettier --write

feat: hard-coded colors to use variables instead
  src/components/badge/badge.less
  src/components/badge/index.en.md
  src/components/badge/index.zh.md
  src/components/checkbox/checkbox.less
  src/components/empty/empty-icon.tsx
  src/components/footer/footer.less
  src/components/image-viewer/image-viewer.less
  src/components/notice-bar/index.zh.md
  src/components/notice-bar/notice-bar.less
  src/components/page-indicator/index.en.md
  src/components/page-indicator/index.zh.md
  src/components/page-indicator/page-indicator.less
  src/components/passcode-input/index.en.md
  src/components/passcode-input/index.zh.md
  src/components/passcode-input/passcode-input.less
  src/components/progress-bar/index.en.md
  src/components/progress-bar/index.zh.md
  src/components/progress-bar/progress-bar.less
  src/components/progress-circle/index.en.md
  src/components/progress-circle/index.zh.md
  src/components/progress-circle/progress-circle.less
  src/components/radio/radio.less
  src/components/rate/index.en.md
  src/components/rate/index.zh.md
  src/components/rate/rate.less
  src/components/selector/index.en.md
  src/components/selector/index.zh.md
  src/components/selector/selector.less
  src/components/steps/steps.less
  src/components/tree-select/tree-select.less
  src/global/theme-dark.less
  src/global/theme-default.less
Due: prettier --write, stylelint --fix

chore: revert color in svg
  src/components/empty/empty-icon.tsx
Due: prettier --write

doc(notice-bar): update default values of css var in the document
  src/components/notice-bar/index.en.md
  src/components/notice-bar/index.zh.md
Due: none

fix(Ellipsis): the `whiteSpace` style of the calc container should be the same as Ellipsis
  src/components/ellipsis/ellipsis.tsx
  src/components/ellipsis/tests/ellipsis.test.tsx
Due: prettier --write

fix(Ellipsis): the `whiteSpace` style of the calc container should be the same as Ellipsis (#6342)
  src/components/ellipsis/ellipsis.tsx
  src/components/ellipsis/tests/ellipsis.test.tsx
Due: prettier --write

fix(toast): toast content textAlign
  src/components/toast/demos/demo1.tsx
  src/components/toast/toast.less
Due: prettier --write, stylelint --fix

fix: page background in dark theme
  .dumi/plugin-gallery/gallery.less
  src/global/global.less
Due: stylelint --fix

doc(icon): add margin
  docs/components/icon/demo-all.tsx
Due: none

doc(icon): add margin (#6347)
  docs/components/icon/demo-all.tsx
Due: none

chore: remove unused stye
  .dumi/plugin-gallery/gallery.less
Due: none

fix: home page text color in dark theme
  docs/components/components/Main/index.local.less
Due: none

fix: page background in dark theme (#6346)
  .dumi/plugin-gallery/gallery.less
  docs/components/components/Main/index.local.less
  src/global/global.less
Due: stylelint --fix

feat(CheckList): allow using number as value (#6335)
  src/components/cascader-view/cascader-view.tsx
  src/components/check-list/check-list-item.tsx
  src/components/check-list/check-list.tsx
  src/components/check-list/context.tsx
  src/components/check-list/index.tsx
Due: prettier --write

feat(Text): add Text component
  config/components.ts
  src/components/text/demos/demo1.less
  src/components/text/demos/demo1.tsx
  src/components/text/index.en.md
  src/components/text/index.ts
  src/components/text/tests/text.test.tsx
  src/components/text/text.less
  src/components/text/text.tsx
  src/index.ts
Due: prettier --write, stylelint --fix

Path conditions:
  prettier --write: any of: src/**/*.{ts,tsx}
  stylelint --fix: any of: src/**/*.{less,css}
