Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

feat: add --adm-color-highlight css var to represent highlight color
  src/components/badge/badge.less
  src/components/badge/index.en.md
  src/components/badge/index.zh.md
  src/global/theme-default.less
Due: stylelint --fix

feat: hard-coded colors to use variables instead (#6340)
  src/components/badge/badge.less
  src/components/badge/index.en.md
  src/components/badge/index.zh.md
  src/components/checkbox/checkbox.less
  src/components/footer/footer.less
  src/components/image-viewer/image-viewer.less
  src/components/notice-bar/index.en.md
  src/components/notice-bar/index.zh.md
  src/components/notice-bar/notice-bar.less
  src/components/page-indicator/index.en.md
  src/components/page-indicator/index.zh.md
  src/components/page-indicator/page-indicator.less
  src/components/passcode-input/index.en.md
  src/components/passcode-input/index.zh.md
  src/components/passcode-input/passcode-input.less
  src/components/progress-bar/index.en.md
  src/components/progress-bar/index.zh.md
  src/components/progress-bar/progress-bar.less
  src/components/progress-circle/index.en.md
  src/components/progress-circle/index.zh.md
  src/components/progress-circle/progress-circle.less
  src/components/radio/radio.less
  src/components/rate/index.en.md
  src/components/rate/index.zh.md
  src/components/rate/rate.less
  src/components/selector/index.en.md
  src/components/selector/index.zh.md
  src/components/selector/selector.less
  src/components/steps/steps.less
  src/components/tree-select/tree-select.less
  src/global/theme-dark.less
  src/global/theme-default.less
Due: stylelint --fix

chore: bump 5.32.2
  package.json
Due: none

fix(result-page): allow details to be null
  src/components/result-page/result-page.tsx
Due: prettier --write

fix: footer not align to center
  src/components/result-page/result-page.less
Due: stylelint --fix

fix: enhance details type
  src/components/result-page/result-page.tsx
Due: prettier --write

fix(toast): toast content textAlign (#6345)
  src/components/toast/demos/demo1.tsx
  src/components/toast/toast.less
Due: prettier --write, stylelint --fix

doc: update doc
  src/components/cascader-view/index.en.md
  src/components/cascader-view/index.zh.md
Due: none

fix(CenterPopup): set pointer-events none while animating
  src/components/center-popup/center-popup.tsx
Due: prettier --write

doc: update
  src/components/cascader-view/index.en.md
  src/components/cascader-view/index.zh.md
Due: none

test: add test
  pnpm-lock.yaml
  src/components/image-viewer/tests/image-viewer.test.tsx
Due: prettier --write

enhance: delete drag lock. add leave view back to zoom (#6317)
  pnpm-lock.yaml
  src/components/image-viewer/image-viewer.tsx
  src/components/image-viewer/slide.tsx
  src/components/image-viewer/slides.tsx
  src/components/image-viewer/tests/image-viewer.test.tsx
Due: prettier --write

Revert "enhance: delete drag lock. add leave view back to zoom (#6317)"
  pnpm-lock.yaml
  src/components/image-viewer/image-viewer.tsx
  src/components/image-viewer/slide.tsx
  src/components/image-viewer/slides.tsx
  src/components/image-viewer/tests/image-viewer.test.tsx
Due: prettier --write

Revert "enhance: delete drag lock. add leave view back to zoom" (#6361)
  pnpm-lock.yaml
  src/components/image-viewer/image-viewer.tsx
  src/components/image-viewer/slide.tsx
  src/components/image-viewer/slides.tsx
  src/components/image-viewer/tests/image-viewer.test.tsx
Due: prettier --write

doc: update slogan
  docs/components/components/Main/MainSection/index.tsx
Due: none

doc: update slogan (#6362)
  docs/components/components/Main/MainSection/index.tsx
Due: none

chore: all override background
  src/global/global.less
Due: stylelint --fix

enhance: move background color from body to html to enable developer override (#6364)
  src/global/global.less
Due: stylelint --fix

chore: bump 5.32.3
  package.json
Due: none

fix: bg color inter
  src/global/global.less
  src/global/theme-dark.less
  src/global/theme-default.less
Due: stylelint --fix

chore: rm light token
  src/global/theme-default.less
Due: stylelint --fix

enhance: reset html bg color with transparent (#6368)
  src/global/global.less
  src/global/theme-dark.less
Due: stylelint --fix

test: add test case
  src/components/water-mark/tests/water-mark.test.tsx
  src/components/water-mark/water-mark.tsx
Due: prettier --write

test: adjust order
  src/components/water-mark/tests/water-mark.test.tsx
Due: prettier --write

fix: (WaterMark) content 设置空值时，控制台存在错误提示 (#6331)
  src/components/water-mark/tests/water-mark.test.tsx
  src/components/water-mark/water-mark.tsx
Due: prettier --write

fix(result-page): footer not align to center (#6355)
  src/components/result-page/result-page.less
Due: stylelint --fix

fix(CenterPopup): set pointer-events none while animating (#6358)
  src/components/center-popup/center-popup.tsx
Due: prettier --write

chore: bump 5.32.4
  package.json
Due: none

fix: details type
  src/components/result-page/result-page.tsx
Due: prettier --write

fix: hide footer when no btn text
  src/components/result-page/result-page.tsx
Due: prettier --write

feat: update @use-gesture/react
  package.json
Due: none

feat: update name
  package.json
Due: none

chore: add comment
  src/components/image-viewer/slide.tsx
Due: prettier --write

fix: remove buffer
  src/components/image-viewer/slide.tsx
Due: prettier --write

feat: add maxCount to Popover.Menu
  pnpm-lock.yaml
  src/components/popover/demos/demo2.tsx
  src/components/popover/index.en.md
  src/components/popover/index.zh.md
  src/components/popover/popover-menu.less
  src/components/popover/popover-menu.tsx
Due: prettier --write, stylelint --fix

Path conditions:
  prettier --write: any of: src/**/*.{ts,tsx}
  stylelint --fix: any of: src/**/*.{less,css}
