Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": ["prettier --write"],
  "src/**/*.{less,css}": ["stylelint --fix"]
}

doc: add some experimental icons
  docs/guide/hd.en.md
  docs/guide/hd.zh.md
  docs/guide/ssr.en.md
  docs/guide/ssr.zh.md
Due: none

doc: add experimental link to components page menu
  config/components.ts
Due: none

refactor: (PullToRefresh) replace `pageYOffset` with `scrollY`
  src/components/pull-to-refresh/pull-to-refresh.tsx
Due: prettier --write

enhance: (Input) hide clear icon when blur
  src/components/input/input.tsx
Due: prettier --write

enhance: (Form) merge validateMessages with lodash `merge`
  src/components/form/form.tsx
Due: prettier --write

feat: (Ellipsis) add `stopPropagation` props
  src/components/ellipsis/ellipsis.tsx
  src/components/ellipsis/index.en.md
  src/components/ellipsis/index.zh.md
Due: prettier --write

refactor: (PullToRefresh) replace `pageYOffset` with `scrollY` (#4866)
  src/components/pull-to-refresh/pull-to-refresh.tsx
Due: prettier --write

test: (DatePicker) add some tests (#4861)
  src/components/date-picker/tests/date-picker.test.tsx
Due: prettier --write

chore: fix tsconfig
  .dumi/tsconfig.json
Due: none

doc: update navbar style
  .dumi/theme/components/Navbar.less
  .dumi/theme/components/SearchBar.less
Due: none

feat: (picker-view) support more type (#4864)
  src/components/picker-view/demos/columns-data.tsx
  src/components/picker-view/demos/demo1.tsx
  src/components/picker-view/picker-view.tsx
  src/components/picker-view/use-columns.tsx
  src/components/picker-view/wheel.tsx
Due: prettier --write

fix lint
  src/components/picker-view/demos/demo1.tsx
Due: prettier --write

feat: (Ellipsis) update props name
  src/components/ellipsis/ellipsis.tsx
  src/components/ellipsis/index.en.md
  src/components/ellipsis/index.zh.md
Due: prettier --write

refactor: (Ellipsis) rename stopPropagationForExpandButtons to stopPropagationForActionButtons
  src/components/ellipsis/ellipsis.tsx
  src/components/ellipsis/index.en.md
  src/components/ellipsis/index.zh.md
Due: prettier --write

feat: (Ellipsis) add `stopPropagationForActionButtons` props (#4867)
  src/components/ellipsis/ellipsis.tsx
  src/components/ellipsis/index.en.md
  src/components/ellipsis/index.zh.md
Due: prettier --write

doc: split some large demos
  src/components/button/demos/demo1.tsx
  src/components/button/demos/demo2.tsx
  src/components/button/index.en.md
  src/components/button/index.zh.md
  src/components/collapse/demos/demo1.tsx
  src/components/collapse/demos/demo2.tsx
  src/components/collapse/index.en.md
  src/components/collapse/index.zh.md
  src/components/dialog/demos/demo1.tsx
  src/components/dialog/demos/demo2.tsx
  src/components/dialog/demos/demo3.tsx
  src/components/dialog/index.en.md
  src/components/dialog/index.zh.md
  src/components/modal/demos/demo1.tsx
  src/components/modal/demos/demo2.tsx
  src/components/modal/demos/demo3.tsx
  src/components/modal/index.en.md
  src/components/modal/index.zh.md
  src/components/popup/demos/demo1.tsx
  src/components/popup/demos/demo2.tsx
  src/components/popup/index.en.md
  src/components/popup/index.zh.md
  src/components/stepper/demos/demo1.tsx
  src/components/stepper/demos/demo2.tsx
  src/components/stepper/index.en.md
  src/components/stepper/index.zh.md
  src/components/steps/demos/demo1.tsx
  src/components/steps/demos/demo2.tsx
  src/components/steps/index.en.md
  src/components/steps/index.zh.md
Due: prettier --write

fix type
  src/components/date-picker/date-picker.tsx
  src/components/date-picker/index.ts
  src/components/picker-view/picker-view.tsx
  src/components/picker/picker.tsx
Due: prettier --write

doc: update Form doc
  src/components/form/index.en.md
  src/components/form/index.zh.md
Due: none

doc: (Form) fix doc
  src/components/form/demos/demo1.tsx
  src/components/form/index.en.md
  src/components/form/index.zh.md
Due: prettier --write

feat: (Form) add `requiredMarkStyle` prop
  src/components/form/context.tsx
  src/components/form/demos/demo1.tsx
  src/components/form/demos/demo2.tsx
  src/components/form/demos/demo5.tsx
  src/components/form/form-item.less
  src/components/form/form-item.tsx
  src/components/form/form.tsx
  src/components/form/index.en.md
  src/components/form/index.zh.md
  src/locales/base.ts
  src/locales/zh-CN.ts
Due: prettier --write, stylelint --fix

chore: upgrade dependencies
  package.json
  yarn.lock
Due: none

chore: change version
  package.json
Due: none

fix: (Ellipsis) wrong import with alias
  src/components/ellipsis/ellipsis.tsx
Due: prettier --write

chore: adjust publish script
  package.json
Due: none

deploy: d880197ebd3cdf86e7e28bf8095baf2ac459681d
  404.html
  index.html
  umi.1a2a2291.js
  umi.7542df29.js
  umi.940d1aa5.css
  umi.af9a0a1c.css
Due: none

chore: external ReactDOM for umd bundle
  .gitignore
  gulpfile.js
Due: none

fix: (avatar) #4871
  src/components/avatar/avatar.tsx
Due: prettier --write

fix: (Avatar) `fit` prop not working (#4872)
  src/components/avatar/avatar.tsx
Due: prettier --write

fix: (Calendar) jump to the selected month when mounted
  src/components/calendar/calendar.tsx
Due: prettier --write

deploy: c4fb43a3e645984046aaa0ab574c369545ee8e6b
  404.html
  index.html
  umi.7542df29.js
  umi.e99b7186.js
Due: none

feat: (TextArea) add `--text-align`, `--count-text-align` CSS variable
  src/components/text-area/index.en.md
  src/components/text-area/index.zh.md
  src/components/text-area/text-area.less
  src/components/text-area/text-area.tsx
Due: prettier --write, stylelint --fix

feat: (TextArea) add `--text-align`, `--count-text-align` CSS variable (#4875)
  src/components/text-area/index.en.md
  src/components/text-area/index.zh.md
  src/components/text-area/text-area.less
  src/components/text-area/text-area.tsx
Due: prettier --write, stylelint --fix

chore: remove some unused variables
  .dumi/theme/components/SideMenu.tsx
  .dumi/theme/components/device.tsx
  .dumi/theme/layouts/index.tsx
  src/components/date-picker/demos/demo2.tsx
  src/components/form/form.tsx
  src/components/modal/modal.tsx
  src/components/notice-bar/notice-bar.tsx
  src/components/search-bar/search-bar.tsx
  src/components/swiper/swiper.tsx
Due: prettier --write

chore: change report folder
  .gitignore
  gulpfile.js
Due: none

doc: (Tabs) add demo about combining Tabs with Swiper
  src/components/tabs/demos/demo3.less
  src/components/tabs/demos/demo3.tsx
  src/components/tabs/index.en.md
  src/components/tabs/index.zh.md
Due: prettier --write, stylelint --fix

feat: (FloatingBubble) add `axis` and `magnetic` props
  src/components/floating-bubble/demos/demo2.tsx
  src/components/floating-bubble/demos/demo3.tsx
  src/components/floating-bubble/floating-bubble.tsx
  src/components/floating-bubble/index.en.md
  src/components/floating-bubble/index.zh.md
Due: prettier --write

enhance: (InfiniteScroll) improve the logic of `check`
  src/components/infinite-scroll/infinite-scroll.tsx
Due: prettier --write

deploy: 8ff5703568593d407fdcfa69a66ba75f1c0295fc
  404.html
  index.html
  umi.940d1aa5.css
  umi.a3dabafe.js
  umi.d21a1dfb.css
  umi.e99b7186.js
Due: none
