Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": ["prettier --write"],
  "src/**/*.{less,css}": ["stylelint --fix"]
}

feat: List 支持 --prefix-width
  src/components/input/demos/index.tsx
  src/components/list/index.less
  src/components/list/index.md
  src/components/list/index.tsx
Due: prettier --write, stylelint --fix

refactor: ElementProps
  src/components/floating-panel/index.tsx
  src/components/list/index.tsx
  src/components/rate/index.tsx
  src/utils/element-props.ts
Due: prettier --write

test: checkbox
  src/components/checkbox/tests/checkbox.test.tsx
Due: prettier --write

feat: Input 支持 --font-size
  src/components/input/index.less
  src/components/input/index.md
  src/components/input/index.tsx
  src/demos/demo-block/index.less
  src/demos/demo-block/index.tsx
Due: prettier --write, stylelint --fix

doc: 更新文档
  src/components/input/index.md
  src/components/space/index.md
Due: none

feat: Checkbox 和 Radio 支持 block 属性
  src/components/checkbox/demos/index.tsx
  src/components/checkbox/index.less
  src/components/checkbox/index.md
  src/components/checkbox/index.tsx
  src/components/radio/demos/index.tsx
  src/components/radio/index.less
  src/components/radio/index.md
  src/components/radio/index.tsx
Due: prettier --write, stylelint --fix

refactor: Form 底层布局改用 List 组件
  src/components/form/demos/demo1.tsx
  src/components/form/demos/demo2.tsx
  src/components/form/form-item.less
  src/components/form/form-item.tsx
  src/components/form/form.less
  src/components/form/form.tsx
Due: prettier --write, stylelint --fix

feat: Form 和 Form.Item 增加 layout 属性，支持水平布局
  src/components/form/context.tsx
  src/components/form/demos/demo1.tsx
  src/components/form/form-item.tsx
  src/components/form/form.tsx
  src/components/form/index.md
  src/components/form/index.tsx
  src/components/list/index.less
  src/components/list/index.tsx
  src/components/text-area/index.less
  src/utils/element-props.ts
Due: prettier --write, stylelint --fix

feat: 试验性地增加了 FormImperativeItem
  config/config.ts
  src/components/form/demos/demo1.tsx
  src/components/form/form-imperative-item.tsx
  src/components/form/form-item.less
  src/components/form/form-item.tsx
  src/components/form/form.tsx
  src/components/input/demos/index.tsx
Due: prettier --write, stylelint --fix

fix: List 的 arrow 在 align-items 为 stretch 时保持居中
  src/components/form/demos/demo1.tsx
  src/components/list/index.less
Due: prettier --write, stylelint --fix

feat: Popup Picker Picker.Cascader DatePicker 支持了 onClick 属性
  src/components/date-picker/index.md
  src/components/date-picker/index.tsx
  src/components/form/demos/demo1.tsx
  src/components/picker/index.md
  src/components/picker/index.tsx
  src/components/popup/index.md
  src/components/popup/index.tsx
Due: prettier --write

fix: DatePicker 在 value 为 null 时行为异常的问题
  src/components/date-picker/index.tsx
  src/components/form/demos/demo1.tsx
  src/components/picker/index.tsx
Due: prettier --write

fix: Picker column 更新但 value 不更新时滚轮位置异常的 bug
  src/components/picker/column.tsx
Due: prettier --write

chore: 更新版本号
  package.json
Due: none

doc: 更新文档
  src/components/form/index.md
Due: none

enhance: 优化 svg 文件
  src/assets/busy.svg
  src/assets/default.svg
  src/assets/disconnected.svg
  src/assets/empty-icon.svg
  src/assets/empty.svg
  src/assets/selector-check-mark.svg
  src/assets/slider-thumb.svg
  src/assets/spin.svg
Due: none

feat: umd 打包时对静态资源进行 inline 处理
  gulpfile.js
  package.json
  yarn.lock
Due: none

feat: Input 和 TextArea 增加了一些 CSS 变量
  src/components/input/index.less
  src/components/input/index.md
  src/components/input/index.tsx
  src/components/text-area/index.less
  src/components/text-area/index.md
  src/components/text-area/index.tsx
Due: prettier --write, stylelint --fix

doc: 更新文档
  src/components/input/index.md
  src/components/text-area/index.md
Due: none

doc: 文档嵌入 codesandbox
  docs/guide/codesandbox.tsx
  docs/guide/quick-start.md
Due: none

enhance: Dialog 样式优化
  src/components/dialog/index.less
  src/components/dialog/index.md
  src/components/dialog/index.tsx
Due: prettier --write, stylelint --fix

refactor: ActionSheet 的 onSelect 属性改名为 onAction
  src/components/action-sheet/demos/index.tsx
  src/components/action-sheet/index.md
  src/components/action-sheet/index.tsx
Due: prettier --write

refactor: ActionSheet closeOnSelect -> closeOnAction
  src/components/action-sheet/index.md
  src/components/action-sheet/index.tsx
Due: prettier --write

refactor: Dialog
  src/components/dialog/alert.tsx
  src/components/dialog/confirm.tsx
  src/components/dialog/demos/index.less
  src/components/dialog/demos/index.tsx
  src/components/dialog/index.less
  src/components/dialog/index.md
  src/components/dialog/index.tsx
  src/components/dialog/show.tsx
Due: prettier --write, stylelint --fix

refactor: Dialog
  src/components/dialog/demos/index.tsx
  src/components/dialog/dialog.tsx
  src/components/dialog/index.tsx
  src/components/dialog/show.tsx
Due: prettier --write

refactor: DialogActionButton loading
  src/components/dialog/demos/index.tsx
  src/components/dialog/dialog-action-button.tsx
  src/components/dialog/dialog.tsx
  src/components/dialog/index.tsx
  src/utils/is-promise.ts
Due: prettier --write

refactor: Dialog confirmText cancelText
  src/components/dialog/alert.tsx
  src/components/dialog/confirm.tsx
  src/components/dialog/demos/index.tsx
  src/components/dialog/dialog.tsx
Due: prettier --write

refactor: Dialog headerImage 使用 Image 组件
  src/components/dialog/dialog.tsx
  src/components/dialog/index.less
  src/components/dialog/index.tsx
Due: prettier --write, stylelint --fix

refactor: Dialog onConfirm & onCancel
  src/components/dialog/alert.tsx
  src/components/dialog/confirm.tsx
  src/components/dialog/demos/index.tsx
  src/components/dialog/index.less
Due: prettier --write, stylelint --fix

doc: DemoDescription
  src/components/dialog/demos/index.tsx
  src/demos/demo-description/index.less
  src/demos/demo-description/index.tsx
Due: prettier --write, stylelint --fix

enhance: Space 组件自动忽略 null 和 undefined 从而避免无效的空白
  src/components/space/index.tsx
Due: prettier --write

fix: Popup 文档
  src/components/popup/index.md
Due: none

doc: Dialog
  package.json
  src/components/dialog/demos/index.tsx
  src/components/dialog/dialog.tsx
  src/components/dialog/index.less
  src/demos/utils/lorem.ts
  yarn.lock
Due: prettier --write, stylelint --fix

doc: Dialog
  src/components/dialog/demos/index.tsx
Due: prettier --write

enhance: 优化 Dialog API 细节 & 完善文档
  src/components/action-sheet/index.md
  src/components/dialog/demos/index.tsx
  src/components/dialog/dialog-action-button.tsx
  src/components/dialog/dialog.tsx
  src/components/dialog/index.md
  src/components/dialog/index.tsx
  src/components/dialog/show.tsx
Due: prettier --write

fix: export FormProps
  src/components/form/form.tsx
  src/components/form/index.tsx
Due: prettier --write
