Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

fix: (List) keep one &
  src/components/list/list.less
Due: stylelint --fix

fix: (Step) style
  src/components/steps/demos/demo1.tsx
  src/components/steps/steps.less
Due: prettier --write, stylelint --fix

fix: (Steps) style
  src/components/steps/demos/demo1.tsx
  src/components/steps/steps.less
Due: prettier --write, stylelint --fix

fix: (List & CheckList) style
  src/components/check-list/check-list.less
  src/components/list/list.less
Due: stylelint --fix

enhance: (Collapse) style
  src/components/collapse/collapse.less
  src/components/collapse/collapse.tsx
  src/components/collapse/demos/demo1.tsx
Due: prettier --write, stylelint --fix

fix: (List) make click mask cover both top and bottom border
  src/components/list/list.less
Due: stylelint --fix

fix: (Popover) `Popover.Menu` add `stopPropagation`
  src/components/popover/pop-menu.tsx
  src/components/popover/popover.tsx
Due: prettier --write

enhance: (List) style
  src/components/collapse/demos/demo1.tsx
  src/components/list/list-item.tsx
  src/components/list/list.less
Due: prettier --write, stylelint --fix

chore: change version
  package.json
Due: none

deploy: 15279814189f37e0223db3961a657d5bd7f482da
  404.html
  index.html
  umi.540262b8.js
  umi.567c3559.css
  umi.5cfb962a.css
  umi.c762bab4.js
Due: none

feat: (NoticeBar) adjust style and add some CSS variables
  src/components/notice-bar/index.en.md
  src/components/notice-bar/index.zh.md
  src/components/notice-bar/notice-bar.less
  src/components/notice-bar/notice-bar.tsx
Due: prettier --write, stylelint --fix

enhance: (NoticeBar) style
  src/components/notice-bar/demos/demo1.tsx
  src/components/notice-bar/index.zh.md
  src/components/notice-bar/notice-bar.less
  src/components/notice-bar/notice-bar.tsx
Due: prettier --write, stylelint --fix

fix: (Popover) stopPropagation
  src/components/popover/popover.tsx
Due: prettier --write

enhance: (Picker) adjust style
  src/components/picker-view/picker-view.less
  src/components/picker/picker.less
  src/components/picker/picker.tsx
Due: prettier --write, stylelint --fix

feat: (Image) add `onLoad`
  src/components/image/image.tsx
  src/components/image/index.en.md
  src/components/image/index.zh.md
Due: prettier --write

enhance: (SideBar) adjust font size
  src/components/side-bar/side-bar.less
Due: stylelint --fix

fix: (List) padding left
  src/components/form/form.less
  src/components/list/list.less
Due: stylelint --fix

feat: (List) add `--padding-right`
  src/components/list/index.en.md
  src/components/list/index.zh.md
  src/components/list/list.less
Due: stylelint --fix

deploy: 0124cf6c63b316418749021c10ff760030911519
  404.html
  index.html
  umi.567c3559.css
  umi.bcc9ccfc.css
  umi.c762bab4.js
  umi.d871ce2c.js
Due: none

fix: (Button) --border-width adapts to both 0 and 0px
  src/components/button/button.less
Due: stylelint --fix

chore: upgrade dependencies
  package.json
  yarn.lock
Due: none

enhance: (SideBar) adjust badge position
  src/components/side-bar/side-bar.less
  src/components/side-bar/side-bar.tsx
Due: prettier --write, stylelint --fix

doc: (SideBar) demos
  src/components/side-bar/demos/demo1.tsx
  src/components/side-bar/demos/demo2.tsx
  src/components/side-bar/demos/demo3.less
  src/components/side-bar/demos/demo3.tsx
  src/components/side-bar/demos/tabs.ts
  src/components/side-bar/index.en.md
  src/components/side-bar/index.zh.md
  src/components/side-bar/side-bar.less
Due: prettier --write, stylelint --fix

refactor: (SideBar) refactor the implementation of round corner for active items
  src/components/side-bar/corner.tsx
  src/components/side-bar/side-bar.less
  src/components/side-bar/side-bar.tsx
Due: prettier --write, stylelint --fix

refactor: (SideBar) refactor round corner implementation to avoid overflow
  src/components/side-bar/demos/demo2.tsx
  src/components/side-bar/side-bar.less
  src/components/side-bar/side-bar.tsx
Due: prettier --write, stylelint --fix

refactor: (SideBar) corner
  src/components/side-bar/side-bar.less
  src/components/side-bar/side-bar.tsx
Due: prettier --write, stylelint --fix

chore: (SideBar) demo
  src/components/side-bar/demos/demo2.less
  src/components/side-bar/demos/demo2.tsx
Due: prettier --write, stylelint --fix

feat: (Image) add `onLoad` (#4708)
  src/components/image/image.tsx
  src/components/image/index.en.md
  src/components/image/index.zh.md
Due: prettier --write

fix: fix a bug when click plus and minus button in the stepper component, the mask shadow display incorrectly.
  src/components/stepper/stepper.less
Due: stylelint --fix

feat: (DatePicker) value and defaultValue support `null`
  src/components/date-picker/date-picker.tsx
Due: prettier --write

enhance: (Dialog & Modal) allow image to scroll when it is too high
  src/components/dialog/dialog.less
  src/components/dialog/dialog.tsx
  src/components/modal/modal.less
  src/components/modal/modal.tsx
Due: prettier --write, stylelint --fix

fix: (Stepper & Dialog) button shape
  src/components/dialog/dialog-action-button.tsx
  src/components/stepper/stepper.tsx
Due: prettier --write

fix: (Form) horizontal mode label position
  src/components/form/form-item.less
  src/components/form/form.less
  src/components/form/form.tsx
Due: prettier --write, stylelint --fix

enhance: (List) adjust vertical padding to 12px
  src/components/check-list/check-list.less
  src/components/list/list-item.tsx
  src/components/list/list.less
Due: prettier --write, stylelint --fix

doc: CascaderView
  src/components/cascader-view/index.en.md
  src/components/cascader-view/index.zh.md
Due: none

deploy: 5e7dc1dd8bd76da5886dc67530fd15e0315b6066
  404.html
  index.html
  umi.9079594c.css
  umi.bcc9ccfc.css
  umi.d26da5b1.js
  umi.d871ce2c.js
Due: none

fix: (Avatar) add nativeProps `--border-radius`
  src/components/avatar/avatar.tsx
Due: prettier --write

enhance: (Search & Input) adjust style
  src/components/input/input.less
  src/components/input/input.tsx
  src/components/search-bar/demos/demo1.tsx
  src/components/search-bar/index.en.md
  src/components/search-bar/index.zh.md
  src/components/search-bar/search-bar.less
Due: prettier --write, stylelint --fix

Path conditions:
  prettier --write: any of: src/**/*.{ts,tsx}
  stylelint --fix: any of: src/**/*.{less,css}
