Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

doc: (Tabs) update the type of `activeKey` and `defaultActiveKey` prop (#4202)
  src/components/tabs/index.en.md
  src/components/tabs/index.zh.md
Due: none

doc: (Mask) update the `visible` and `opacity` prop (#4214)
  src/components/mask/index.en.md
  src/components/mask/index.zh.md
Due: none

feat: (List.Item) show arrow when disabled
  src/components/list/list-item.tsx
Due: prettier --write

fix: (Picker) touchmove event is blocked
  src/components/picker-view/column.tsx
Due: prettier --write

feat: (List.Item) optimize styles when disabled
  src/components/list/list-item.tsx
  src/components/list/list.less
Due: prettier --write, stylelint --fix

enhance: (Image) lazy loading performance
  src/components/image/demos/index.tsx
  src/components/image/image.tsx
Due: prettier --write

feat: (IndexBar) remove `any` type and remove duplicate className prop (#4203)
  src/components/index-bar/index-bar.tsx
Due: prettier --write

feat: (TabBar) update some prop type (#4201)
  src/components/tab-bar/tab-bar.tsx
Due: prettier --write

enhance: (List) disabled style
  src/components/list/list-item.tsx
  src/components/list/list.less
Due: prettier --write, stylelint --fix

feat: CheckList add `activeIcon` prop
  src/components/check-list/check-list-item.tsx
  src/components/check-list/check-list.tsx
  src/components/check-list/context.tsx
  src/components/check-list/demos/demo1.tsx
  src/components/check-list/index.en.md
  src/components/check-list/index.zh.md
Due: prettier --write

fix: (List) disabled
  src/components/list/list-item.tsx
Due: prettier --write

fix: useLockScroll unexceptedly stop the propagation of events
  src/utils/get-scroll-parent.ts
  src/utils/in-browser.ts
  src/utils/supports-passive.ts
  src/utils/use-lock-scroll.ts
  src/utils/validate.ts
Due: prettier --write

feat: (PullToRefresh) add `renderText` prop
  src/components/pull-to-refresh/demos/demo1.tsx
  src/components/pull-to-refresh/demos/demo2.tsx
  src/components/pull-to-refresh/index.en.md
  src/components/pull-to-refresh/index.ts
  src/components/pull-to-refresh/index.zh.md
  src/components/pull-to-refresh/pull-to-refresh.tsx
Due: prettier --write

feat: Mask Popup Toast Dialog add stopPropagation prop
  src/components/dialog/dialog.tsx
  src/components/dialog/index.en.md
  src/components/dialog/index.zh.md
  src/components/mask/index.en.md
  src/components/mask/index.zh.md
  src/components/mask/mask.tsx
  src/components/popup/index.en.md
  src/components/popup/index.zh.md
  src/components/popup/popup.tsx
  src/components/toast/index.en.md
  src/components/toast/index.zh.md
  src/components/toast/toast.tsx
  src/utils/with-stop-propagation.tsx
Due: prettier --write

feat: Picker DatePicker CascadePicker NumberKeyboard add stopPropagation prop
  src/components/date-picker/date-picker.tsx
  src/components/form/demos/demo1.tsx
  src/components/number-keyboard/index.en.md
  src/components/number-keyboard/index.zh.md
  src/components/number-keyboard/number-keyboard.tsx
  src/components/picker/index.en.md
  src/components/picker/index.zh.md
  src/components/picker/picker.tsx
Due: prettier --write

fix: swiper item tap failed (#4183)
  src/components/swiper/swiper.tsx
Due: prettier --write

enhance: ImageUploader i18n
  src/components/image-uploader/image-uploader.tsx
  src/components/image-uploader/preview-item.tsx
  src/locales/base.ts
  src/locales/zh-CN.ts
Due: prettier --write

enhance: Picker i18n & refactor mergeProps
  src/components/picker/picker.tsx
  src/locales/base.ts
  src/locales/zh-CN.ts
  src/utils/with-default-props.tsx
Due: prettier --write

fix: mergeProps
  src/components/dialog/dialog.tsx
  src/utils/with-default-props.tsx
Due: prettier --write

chore: update version
  package.json
Due: none

deploy: d27a2b31ba5ea2ee3a98697b871c6743d3630100
  umi.css
  umi.js
Due: none

chore: remove react-transition-group from dependencies
  package.json
Due: none

chore: upgrade dependencies
  package.json
  yarn.lock
Due: none

refactor: (List.Item) update class prefix
  src/components/list/list-item.tsx
Due: prettier --write

refactor: (List.Item) update class prefix (#4221)
  src/components/list/list-item.tsx
Due: prettier --write

feat(ImageUploader): add `style` `className` props and `cell-size` css variable
  src/components/image-uploader/demos/demo1.tsx
  src/components/image-uploader/image-uploader.tsx
  src/components/image-uploader/index.en.md
  src/components/image-uploader/index.zh.md
Due: prettier --write

feat: ImageUploader `children` prop supports custom upload button
  src/components/image-uploader/demos/demo1.tsx
  src/components/image-uploader/image-uploader.less
  src/components/image-uploader/image-uploader.tsx
  src/components/image-uploader/index.en.md
  src/components/image-uploader/index.zh.md
Due: prettier --write, stylelint --fix

enhance: disable portal render in SSR environments
  src/utils/render-to-container.ts
Due: prettier --write

feat: (List) add `--active-background-color`
  src/components/list/index.en.md
  src/components/list/index.zh.md
  src/components/list/list-item.tsx
  src/components/list/list.less
  src/components/list/list.tsx
Due: prettier --write, stylelint --fix

feat: (Image) add `--width` `--height` CSS variables
  src/components/image/demos/demo1.less
  src/components/image/demos/demo1.tsx
  src/components/image/image.less
  src/components/image/image.tsx
  src/components/image/index.en.md
  src/components/image/index.zh.md
  src/utils/to-css-length.ts
Due: prettier --write, stylelint --fix

feat: (Button) add some CSS variable globals
  src/components/button/button.less
  src/components/button/index.en.md
  src/components/button/index.zh.md
Due: stylelint --fix

doc: theming and css variables
  config/config.ts
  docs/guide/css-variables.en.md
  docs/guide/css-variables.zh.md
  docs/guide/theming.en.md
  docs/guide/theming.zh.md
Due: none

feat: Dropdown.Item add `closeOnContentClick` prop
  src/components/dropdown/demos/demo1.tsx
  src/components/dropdown/dropdown.tsx
  src/components/dropdown/index.en.md
  src/components/dropdown/index.zh.md
  src/components/dropdown/item.tsx
Due: prettier --write

fix: button css variables default value not resolved
  src/components/button/button.less
Due: stylelint --fix

fix: button css variables default value not resolved (#4226)
  src/components/button/button.less
Due: stylelint --fix

enhance: optimize string & literal union type
  src/components/loading/loading.tsx
  src/components/tag/tag.tsx
Due: prettier --write

refactor: (Dropdown) closeOnContentClick
  src/components/dropdown/dropdown.tsx
  src/components/dropdown/index.en.md
  src/components/dropdown/index.zh.md
  src/components/dropdown/item.tsx
Due: prettier --write

fix: (Dropdown) remove closeOnContentClick usage in item
  src/components/dropdown/item.tsx
Due: prettier --write

enhance: optimize string & literal union type (#4227)
  src/components/loading/loading.tsx
  src/components/tag/tag.tsx
Due: prettier --write

Path conditions:
  prettier --write: any of: src/**/*.{ts,tsx}
  stylelint --fix: any of: src/**/*.{less,css}
