Repository ant-design/ant-design-mobile: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": ["prettier --write"],
  "src/**/*.{less,css}": ["stylelint --fix"]
}

doc: (SideBar) add demo4
  src/components/side-bar/demos/demo4.less
  src/components/side-bar/demos/demo4.tsx
  src/components/side-bar/index.en.md
  src/components/side-bar/index.zh.md
Due: prettier --write, stylelint --fix

doc: fix slug list style
  .dumi/theme/components/slug-list.less
Due: none

doc: (List) add drag & sort example
  package.json
  src/components/list/demos/demo5.tsx
  src/components/list/index.en.md
  src/components/list/index.zh.md
  yarn.lock
Due: prettier --write

refactor: (PickerView) refactor useWheel
  src/components/picker-view/wheel.tsx
  src/utils/use-lock-scroll.ts
Due: prettier --write

doc: (PickerView) update mouseWheel doc
  src/components/picker-view/demos/demo1.tsx
  src/components/picker-view/index.en.md
  src/components/picker-view/index.zh.md
  src/components/picker-view/picker-view.tsx
  src/components/picker-view/wheel.tsx
  src/components/picker/index.en.md
  src/components/picker/index.zh.md
Due: prettier --write

fix: remove unused imports
  src/components/picker-view/wheel.tsx
Due: prettier --write

feat:support i18n of infinite-scroll
  src/components/infinite-scroll/infinite-scroll.tsx
  src/components/pull-to-refresh/pull-to-refresh.tsx
  src/locales/base.ts
  src/locales/es-ES.ts
  src/locales/ko-KR.ts
  src/locales/zh-CN.ts
  src/locales/zh-HK.ts
  src/locales/zh-TW.ts
Due: prettier --write

fix: (Calendar) add first date of month when use jumpTo
  src/components/calendar/calendar.tsx
Due: prettier --write

Update src/components/infinite-scroll/infinite-scroll.tsx
  src/components/infinite-scroll/infinite-scroll.tsx
Due: prettier --write

feat: support i18n in infiniteScroll and change loading text in pullToRefresh (#5068)
  src/components/infinite-scroll/infinite-scroll.tsx
  src/components/pull-to-refresh/pull-to-refresh.tsx
  src/locales/base.ts
  src/locales/es-ES.ts
  src/locales/ko-KR.ts
  src/locales/zh-CN.ts
  src/locales/zh-HK.ts
  src/locales/zh-TW.ts
Due: prettier --write

doc: (List) update demo with dnd
  src/components/list/demos/demo2.tsx
  src/components/list/demos/demo5.tsx
  src/components/list/demos/users.ts
  src/components/list/list.less
Due: prettier --write, stylelint --fix

doc: (List) add drag & sort demo (#5065)
  package.json
  src/components/list/demos/demo2.tsx
  src/components/list/demos/demo5.tsx
  src/components/list/demos/users.ts
  src/components/list/index.en.md
  src/components/list/index.zh.md
  src/components/list/list.less
  yarn.lock
Due: prettier --write, stylelint --fix

fix: (Calendar) add first date of month when use jumpTo (#5069)
  src/components/calendar/calendar.tsx
Due: prettier --write

fix:import useConfig
  src/components/infinite-scroll/infinite-scroll.tsx
Due: prettier --write

fix: (InfiniteScroll) missing imports
  src/components/infinite-scroll/infinite-scroll.tsx
Due: prettier --write

doc: (List) fix demo
  package.json
  src/components/list/demos/demo4.tsx
  yarn.lock
Due: prettier --write

chore: add build process to CI
  .github/workflows/check.yml
Due: none

doc: (Cascader) update doc
  src/components/cascader/index.en.md
  src/components/cascader/index.zh.md
Due: none

feat: add useWatch
  package.json
  src/components/form/demos/demo-use-watch.tsx
  src/components/form/index.en.md
  src/components/form/index.tsx
  src/components/form/index.zh.md
  yarn.lock
Due: prettier --write

feat: 1.26.1
  package.json
  src/components/form/index.tsx
  yarn.lock
Due: prettier --write

feat: 1.26.2
  package.json
  yarn.lock
Due: none

test: (Calendar) add some tests
  src/components/calendar/tests/__snapshots__/calendar.test.tsx.snap
  src/components/calendar/tests/calendar.test.tsx
Due: prettier --write

test: (Calendar) add some tests (#5075)
  src/components/calendar/tests/__snapshots__/calendar.test.tsx.snap
  src/components/calendar/tests/calendar.test.tsx
Due: prettier --write

feat: (Input & TextArea) add onClick props
  src/components/input/index.en.md
  src/components/input/index.zh.md
  src/components/input/input.tsx
  src/components/text-area/index.en.md
  src/components/text-area/index.zh.md
  src/components/text-area/text-area.tsx
Due: prettier --write

fix: fix eslint warning
  src/components/side-bar/demos/demo4.tsx
Due: prettier --write

fix: 修复滑动 swiper 时点击屏幕任意区域会中断滑动的问题
  src/components/swipe-action/swipe-action.tsx
  src/components/swiper/swiper.tsx
Due: prettier --write

Update ko-KR.ts
  src/locales/ko-KR.ts
Due: prettier --write

fix: update ko-KR.ts (#5087)
  src/locales/ko-KR.ts
Due: prettier --write

test: update snapshots
  src/components/config-provider/tests/__snapshots__/config-provider.test.tsx.snap
Due: none

chore: update @type/react
  package.json
  yarn.lock
Due: none

feat: add `children` prop
  src/components/auto-center/auto-center.tsx
  src/components/badge/badge.tsx
  src/components/capsule-tabs/capsule-tabs.tsx
  src/components/card/card.tsx
  src/components/check-list/check-list.tsx
  src/components/checkbox/checkbox.tsx
  src/components/checkbox/group.tsx
  src/components/collapse/collapse.tsx
  src/components/config-provider/config-provider.tsx
  src/components/divider/divider.tsx
  src/components/dropdown/item.tsx
  src/components/error-block/error-block.tsx
  src/components/floating-bubble/floating-bubble.tsx
  src/components/form/form-item.tsx
  src/components/form/header.tsx
  src/components/grid/grid.tsx
  src/components/image-uploader/image-uploader.tsx
  src/components/infinite-scroll/infinite-scroll.tsx
  src/components/jumbo-tabs/jumbo-tabs.tsx
  src/components/list/list.tsx
  src/components/mask/mask.tsx
  src/components/nav-bar/nav-bar.tsx
  src/components/popover/wrapper.tsx
  src/components/popup/popup.tsx
  src/components/pull-to-refresh/pull-to-refresh.tsx
  src/components/radio/group.tsx
  src/components/radio/radio.tsx
  src/components/side-bar/side-bar.tsx
  src/components/space/space.tsx
  src/components/steps/steps.tsx
  src/components/swiper/swiper-item.tsx
  src/components/tab-bar/tab-bar.tsx
  src/components/tabs/tabs.tsx
  src/components/tag/tag.tsx
  src/demos/demo-block/index.tsx
  src/demos/demo-description/index.tsx
Due: prettier --write

chore: compatible for @types/react18
  src/components/date-picker/date-picker.tsx
  src/components/form/form.tsx
  src/utils/render-to-container.ts
Due: prettier --write

chore: change version
  package.json
Due: none

deploy: a734b24e396d281ff9d81bcbf276a510ee9bc4ab
  404.html
  index.html
  umi.003bbef7.js
  umi.249e710a.js
  umi.2ed2f0cd.css
  umi.4f719a94.css
Due: none

feat: (Form) add className for error item
  src/components/form/form-item.tsx
  src/components/form/tests/form.test.tsx
Due: prettier --write

refactor: (Form) replace justify-content `right` with `flex-end`
  src/components/form/form-item.less
Due: stylelint --fix

refactor: (Form) replace justify-content `right` with `flex-end` (#5102)
  src/components/form/form-item.less
Due: stylelint --fix

fix: adjust the logic of getScrollParent to prevent returning body or html element
  src/utils/get-scroll-parent.ts
Due: prettier --write

feat: (Form) add className for error item (#5101)
  src/components/form/form-item.tsx
  src/components/form/tests/form.test.tsx
Due: prettier --write
